### ChatGPT was used to generate some of the code in this file. 
In this notebook we will train a JFK Mdoel

In [556]:
TRAIN_PATH = '/projectnb/cs640grp/projects/noahark/preprocess/train'
TEST_PATH = '/projectnb/cs640grp/projects/noahark/preprocess/test'

from pathlib import Path
file_paths = [str(f) for f in Path(TRAIN_PATH).rglob("*") if f.is_file()]


def get_partquet(airport_code, file_type, train = True): 
    base_path = ""
    if train: 
        base_path = TRAIN_PATH 
    else: 
        base_path = TEST_PATH 

airport_codes = ['KJFK','KATL', 'KCLT', 'KDEN', 'KDFW',  'KMEM', 'KMIA', 'KORD', 'KPHX', 'KSEA']

BASE  = 'train'
ACODE = airport_codes[9]

In [557]:
import os
import glob

def get_correct_file(base_dir=BASE, airport_code=ACODE, file_name="MFS_df.parquet"):
    """
    Retrieve the correct file from a given directory based on the airport code and file name.

    Args:
        base_dir (str): The base directory containing the files (default is "train").
        airport_code (str): The airport code, e.g., 'KMEM', 'KMIA' (default is "KMEM").
        file_name (str): The specific file name, e.g., 'MFS_df.parquet' (default is "MFS_df.parquet").

    Returns:
        str: The full path to the matching file or None if not found.
    """
    root_dir = "/projectnb/cs640grp/projects/noahark/preprocess"
    search_pattern = os.path.join(root_dir, base_dir, "fuser", airport_code, file_name)
    matching_files = glob.glob(search_pattern)

    if matching_files:
        return matching_files[0]  # Return the first matching file
    else:
        return None

# Example usage
file_to_find = "MFS_df.parquet"
airport = "KMEM"

# Using the default base directory ("train")
result = get_correct_file(airport_code=airport, file_name=file_to_find)

if result:
    print(f"File found: {result}")
else:
    print("File not found.")


custom_base_dir = "test"
result_custom = get_correct_file(base_dir=custom_base_dir, airport_code=airport, file_name=file_to_find)

if result_custom:
    print(f"File found in custom base directory: {result_custom}")
else:
    print("File not found in custom base directory.")

File found: /projectnb/cs640grp/projects/noahark/preprocess/train/fuser/KMEM/MFS_df.parquet
File found in custom base directory: /projectnb/cs640grp/projects/noahark/preprocess/test/fuser/KMEM/MFS_df.parquet

In [558]:
FD =  {
    "MFS": "MFS_df.parquet",
    "TBFM": "TBFM_df.parquet",
    "RNWY": "runway_df.parquet",
    "FPOS": "first_position.parquet",
    "LMAP": "lamp.parquet",
    "TFM": "tfm_df.parquet",
}
# A helpful dictionary to make it easier

In [559]:
get_correct_file(base_dir="train", airport_code="KJFK", file_name="MFS_df.parquet")

'/projectnb/cs640grp/projects/noahark/preprocess/train/fuser/KJFK/MFS_df.parquet'

## Let's look at some of this data

In [560]:
import pandas as pd
def load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name="MFS_df.parquet"):
    """
    Load a Parquet file into a DataFrame and display its contents.

    Args:
        base_dir (str): The base directory containing the files (default is "train").
        airport_code (str): The airport code, e.g., 'KMEM' (default is "KMEM").
        file_name (str): The specific file name, e.g., 'MFS_df.parquet' (default is "MFS_df.parquet").
    """
    # Use the function to get the file path
    file_path = get_correct_file(base_dir=base_dir, airport_code=airport_code, file_name=file_name)
    
    if file_path:
        try:
            # Load the Parquet file into a DataFrame
            df = pd.read_parquet(file_path)
            
            # Display the DataFrame
            display(df)
            return df 
        except Exception as e:
            print(f"An error occurred while loading the Parquet file: {e}")
    else:
        print(f"File not found: {base_dir}/{airport_code}/{file_name}")
        return None

# Example usage
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["MFS"])

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
DAL81.CDG.SEA.230822.1340.0076.TFM                     JET          A333                        KSEA           DAL  SCHEDULED_AIR_TRANSPORT
SKW3955.PDX.SEA.230822.2025.0126.TFM                   JET          E75L                        KSEA           DAL  SCHEDULED_AIR_TRANSPORT
SKW3360.YVR.SEA.230823.0320.0016.TFM                   JET          E75L                        KSEA          None  SCHEDULED_AIR_TRANSPORT
QXE2160.SEA.MSO.230823.0020.0055.TFM                   JET          E75L                        KMSO          None  SCHEDULED_AIR_TRANSPORT
SKW3697.SEA.BOI.230823.0050.0153.TFM                   JET          E75L                        KBOI           DAL  SCHEDULED_AIR_TRANSPORT
...                                                    ...           ...                         ...           ...                      ...
KAL20.SEA.ICN.221008.2000.0144.TFM                     JET          B789                        RKSI          None  SCHEDULED_AIR_TRANSPORT
AFR355.SEA.CDG.221008.2330.0120.TFM                    JET          B772                        LFPG          None  SCHEDULED_AIR_TRANSPORT
KAL260.SEA.ICN.221009.1620.0001.TFM                    JET          B744                        RKSI          None                     None
AAR271.SEA.ICN.221008.2100.0188.TFM                    JET          B772                        RKSI          None  SCHEDULED_AIR_TRANSPORT
QXE2262.RDM.SEA.221008.2300.0202.TFM                   JET          E75L                        KSEA          None  SCHEDULED_AIR_TRANSPORT

[387781 rows x 5 columns]

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
DAL81.CDG.SEA.230822.1340.0076.TFM                     JET          A333                        KSEA           DAL  SCHEDULED_AIR_TRANSPORT
SKW3955.PDX.SEA.230822.2025.0126.TFM                   JET          E75L                        KSEA           DAL  SCHEDULED_AIR_TRANSPORT
SKW3360.YVR.SEA.230823.0320.0016.TFM                   JET          E75L                        KSEA          None  SCHEDULED_AIR_TRANSPORT
QXE2160.SEA.MSO.230823.0020.0055.TFM                   JET          E75L                        KMSO          None  SCHEDULED_AIR_TRANSPORT
SKW3697.SEA.BOI.230823.0050.0153.TFM                   JET          E75L                        KBOI           DAL  SCHEDULED_AIR_TRANSPORT
...                                                    ...           ...                         ...           ...                      ...
KAL20.SEA.ICN.221008.2000.0144.TFM                     JET          B789                        RKSI          None  SCHEDULED_AIR_TRANSPORT
AFR355.SEA.CDG.221008.2330.0120.TFM                    JET          B772                        LFPG          None  SCHEDULED_AIR_TRANSPORT
KAL260.SEA.ICN.221009.1620.0001.TFM                    JET          B744                        RKSI          None                     None
AAR271.SEA.ICN.221008.2100.0188.TFM                    JET          B772                        RKSI          None  SCHEDULED_AIR_TRANSPORT
QXE2262.RDM.SEA.221008.2300.0202.TFM                   JET          E75L                        KSEA          None  SCHEDULED_AIR_TRANSPORT

[387781 rows x 5 columns]

In [561]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["MFS"])

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
DAL81.CDG.SEA.230822.1340.0076.TFM                     JET          A333                        KSEA           DAL  SCHEDULED_AIR_TRANSPORT
SKW3955.PDX.SEA.230822.2025.0126.TFM                   JET          E75L                        KSEA           DAL  SCHEDULED_AIR_TRANSPORT
SKW3360.YVR.SEA.230823.0320.0016.TFM                   JET          E75L                        KSEA          None  SCHEDULED_AIR_TRANSPORT
QXE2160.SEA.MSO.230823.0020.0055.TFM                   JET          E75L                        KMSO          None  SCHEDULED_AIR_TRANSPORT
SKW3697.SEA.BOI.230823.0050.0153.TFM                   JET          E75L                        KBOI           DAL  SCHEDULED_AIR_TRANSPORT
...                                                    ...           ...                         ...           ...                      ...
KAL20.SEA.ICN.221008.2000.0144.TFM                     JET          B789                        RKSI          None  SCHEDULED_AIR_TRANSPORT
AFR355.SEA.CDG.221008.2330.0120.TFM                    JET          B772                        LFPG          None  SCHEDULED_AIR_TRANSPORT
KAL260.SEA.ICN.221009.1620.0001.TFM                    JET          B744                        RKSI          None                     None
AAR271.SEA.ICN.221008.2100.0188.TFM                    JET          B772                        RKSI          None  SCHEDULED_AIR_TRANSPORT
QXE2262.RDM.SEA.221008.2300.0202.TFM                   JET          E75L                        KSEA          None  SCHEDULED_AIR_TRANSPORT

[387781 rows x 5 columns]

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
DAL81.CDG.SEA.230822.1340.0076.TFM                     JET          A333                        KSEA           DAL  SCHEDULED_AIR_TRANSPORT
SKW3955.PDX.SEA.230822.2025.0126.TFM                   JET          E75L                        KSEA           DAL  SCHEDULED_AIR_TRANSPORT
SKW3360.YVR.SEA.230823.0320.0016.TFM                   JET          E75L                        KSEA          None  SCHEDULED_AIR_TRANSPORT
QXE2160.SEA.MSO.230823.0020.0055.TFM                   JET          E75L                        KMSO          None  SCHEDULED_AIR_TRANSPORT
SKW3697.SEA.BOI.230823.0050.0153.TFM                   JET          E75L                        KBOI           DAL  SCHEDULED_AIR_TRANSPORT
...                                                    ...           ...                         ...           ...                      ...
KAL20.SEA.ICN.221008.2000.0144.TFM                     JET          B789                        RKSI          None  SCHEDULED_AIR_TRANSPORT
AFR355.SEA.CDG.221008.2330.0120.TFM                    JET          B772                        LFPG          None  SCHEDULED_AIR_TRANSPORT
KAL260.SEA.ICN.221009.1620.0001.TFM                    JET          B744                        RKSI          None                     None
AAR271.SEA.ICN.221008.2100.0188.TFM                    JET          B772                        RKSI          None  SCHEDULED_AIR_TRANSPORT
QXE2262.RDM.SEA.221008.2300.0202.TFM                   JET          E75L                        KSEA          None  SCHEDULED_AIR_TRANSPORT

[387781 rows x 5 columns]

In [562]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["TBFM"])

                                     arrival_runway_sta_time_stamp   arrival_runway_sta
gufi
DAL741.ANC.SEA.230503.2135.0162.TFM            2023-05-05 00:00:00  2023-05-05 01:09:40
DAL709.JFK.SEA.230503.2040.0130.TFM            2023-05-05 00:00:00  2023-05-05 02:23:07
ASA1087.ONT.SEA.230504.0410.0071.TFM           2023-05-05 06:00:00  2023-05-05 07:25:55
ASA1215.LAX.SEA.230504.0350.0060.TFM           2023-05-05 06:00:02  2023-05-05 06:34:56
AAL2769.DFW.SEA.230504.1535.0155.TFM           2023-05-05 21:00:00                 None
...                                                            ...                  ...
SWA2532.SJC.SEA.221114.1435.0039.TFM           2022-11-15 14:59:52  2022-11-15 16:20:57
ASA295.LAX.SEA.221114.1400.0224.TFM            2022-11-15 14:59:52  2022-11-15 16:23:51
DAL988.AUS.SEA.221114.1200.0222.TFM            2022-11-15 14:59:52  2022-11-15 16:10:10
ASA1133.SAN.SEA.221114.1415.0061.TFM           2022-11-15 14:59:52  2022-11-15 16:49:34
ASA1133.SAN.SEA.221114.1415.0061.TFM           2022-11-15 14:59:57  2022-11-15 16:49:34

[49023712 rows x 2 columns]

                                     arrival_runway_sta_time_stamp   arrival_runway_sta
gufi
DAL741.ANC.SEA.230503.2135.0162.TFM            2023-05-05 00:00:00  2023-05-05 01:09:40
DAL709.JFK.SEA.230503.2040.0130.TFM            2023-05-05 00:00:00  2023-05-05 02:23:07
ASA1087.ONT.SEA.230504.0410.0071.TFM           2023-05-05 06:00:00  2023-05-05 07:25:55
ASA1215.LAX.SEA.230504.0350.0060.TFM           2023-05-05 06:00:02  2023-05-05 06:34:56
AAL2769.DFW.SEA.230504.1535.0155.TFM           2023-05-05 21:00:00                 None
...                                                            ...                  ...
SWA2532.SJC.SEA.221114.1435.0039.TFM           2022-11-15 14:59:52  2022-11-15 16:20:57
ASA295.LAX.SEA.221114.1400.0224.TFM            2022-11-15 14:59:52  2022-11-15 16:23:51
DAL988.AUS.SEA.221114.1200.0222.TFM            2022-11-15 14:59:52  2022-11-15 16:10:10
ASA1133.SAN.SEA.221114.1415.0061.TFM           2022-11-15 14:59:52  2022-11-15 16:49:34
ASA1133.SAN.SEA.221114.1415.0061.TFM           2022-11-15 14:59:57  2022-11-15 16:49:34

[49023712 rows x 2 columns]

In [563]:
#load_and_display_parquet(base_dir="train", airport_code="KJFK", file_name=FD["RNWY"])

In [564]:
#load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["FPOS"])

In [565]:
#load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["LMAP"])

In [566]:
#load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["TFM"])

# Now lets train a XGD - Based Model

#### But we need to take in a date and an airport and fetch some columns, for our first model we only care about estimated time of arrival and bin (something we create based on time)

In [567]:
def return_parquet(base_dir=BASE, airport_code=ACODE, file_name="MFS_df.parquet"):
    file_path = get_correct_file(base_dir=base_dir, airport_code=airport_code, file_name=file_name)
    
    if file_path:
        try:
            # Load the Parquet file into a DataFrame
            df = pd.read_parquet(file_path)
            
            # Display the DataFrame
            return df 
        except Exception as e:
            print(f"An error occurred while loading the Parquet file: {e}")
    else:
        print(f"File not found: {base_dir}/{airport_code}/{file_name}")
        return None

In [568]:
jfk_tm = return_parquet(file_name = FD["TFM"])

In [569]:
jfk_tm

                                     timestamp_arrival_runway_estimate arrival_runway_estimated_time
gufi
ASA765.BWI.SEA.220914.2210.0140.TFM                2022-09-16 00:00:00           2022-09-16 03:01:59
UAL326.IAD.SEA.220914.2235.0034.TFM                2022-09-16 00:00:00           2022-09-16 03:25:31
ATN3401.ILN.SEA.220916.0242.0009.TFM               2022-09-16 07:00:05           2022-09-16 09:16:47
SWA2692.LAS.SEA.220915.0520.0033.TFM               2022-09-16 07:00:11           2022-09-16 09:00:55
ANA178.NRT.SEA.220915.0900.0041.TFM                2022-09-16 07:00:18           2022-09-16 17:18:15
...                                                                ...                           ...
SIA28.SIN.SEA.230501.0100.0131.TFM                 2023-05-02 13:59:58           2023-05-02 14:40:50
ASA322.MSP.SEA.230501.1200.0045.TFM                2023-05-02 13:59:58           2023-05-02 15:12:08
ASA643.DEN.SEA.230501.1200.0044.TFM                2023-05-02 13:59:58           2023-05-02 14:16:47
ASA1043.SFO.SEA.230501.1305.0060.TFM               2023-05-02 13:59:58           2023-05-02 14:36:31
ASA210.FAI.SEA.230501.1045.0043.TFM                2023-05-02 13:59:58           2023-05-02 14:03:13

[35252999 rows x 2 columns]

In [570]:
import pandas as pd

def has_repeated_index(df):
    """
    Checks if the DataFrame has repeated indices (i.e., multiple rows with the same index).
    
    Args:
        df (pd.DataFrame): The DataFrame to check.
        
    Returns:
        bool: True if there are repeated indices, False otherwise.
    """
    # Check if the index has duplicates
    duplicated_index = df.index.duplicated().any()
    
    return duplicated_index

# Example usage:
data = {
    'A': [4, 2, 3, 1],
    'B': [1, 2, 3, 4]
}

# Create a DataFrame with repeated index
df = pd.DataFrame(data, index=[0, 1, 2, 1])  # Index 1 is repeated

# Check if there are repeated indices
result = has_repeated_index(jfk_tm)

print(f"Are there repeated indices? {result}")

Are there repeated indices? True

## Features 

the model operates on some dataset D. We are given a timestamp t and and airport. We need to pull the expect number of incoming flights that are estimated to arive between t, and t + 4hrs. Why four hours? 

Then for each of those flights we will pull some static features : 

computed features: time delta

In [571]:
import pandas as pd

def is_sorted_by_column(df, column_name):
    """
    Check if the DataFrame is sorted by a specific column.

    Args:
        df (pd.DataFrame): The DataFrame to check.
        column_name (str): The column name to check for sorting.

    Returns:
        bool: True if the DataFrame is sorted by the specified column, otherwise False.
    """
    return df[column_name].is_monotonic_increasing or df[column_name].is_monotonic_decreasing

# Example usage
data = {
    'A': [1, 5, 2, 4],
    'B': [4, 3, 2, 1]
}

df = pd.DataFrame(data)

# Check if 'A' column is sorted
print(is_sorted_by_column(df, 'A'))  # Output: True (sorted in increasing order)

# Check if 'B' column is sorted
print(is_sorted_by_column(df, 'B'))  # Output: True (sorted in decreasing order)

False
True

In [572]:
print(is_sorted_by_column(jfk_tm, 'timestamp_arrival_runway_estimate'))  # Output: True (sorted in decreasing order)
# We have to sort the df

False

In [573]:
import pandas as pd

def sort_df_by_column(df, column_name, ascending=True):
    """
    Sort the DataFrame by a specific column.

    Args:
        df (pd.DataFrame): The DataFrame to sort.
        column_name (str): The column name to sort by.
        ascending (bool): Whether to sort in ascending order (default is True).

    Returns:
        pd.DataFrame: A new DataFrame sorted by the specified column.
    """
    return df.sort_values(by=column_name, ascending=ascending).reset_index(drop=False)

# Example usage
data = {
    'A': [4, 2, 3, 1],
    'B': [1, 2, 3, 4]
}

df = pd.DataFrame(data)

# Sort by column 'A' in ascending order
sorted_df = sort_df_by_column(df, 'A', ascending=False)
print(sorted_df)

# Sort by column 'B' in descending order
sorted_df_desc = sort_df_by_column(df, 'B', ascending=False)
print(sorted_df_desc)

   index  A  B
0      0  4  1
1      2  3  3
2      1  2  2
3      3  1  4
   index  A  B
0      3  1  4
1      2  3  3
2      1  2  2
3      0  4  1

In [574]:
jfk_sorted = sort_df_by_column(jfk_tm, "timestamp_arrival_runway_estimate")

In [575]:
jfk_sorted

                                          gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time
0          ASA128.DAL.SEA.220830.2330.0245.TFM               2022-09-01 00:00:00           2022-09-01 03:20:06
1          DAL915.MSP.SEA.220830.2320.0043.TFM               2022-09-01 00:00:01           2022-09-01 02:19:53
2          ICE681.KEF.SEA.220830.1705.0070.TFM               2022-09-01 00:00:01           2022-09-01 00:55:56
3          ICE11P.KEF.SEA.220830.2025.0065.TFM               2022-09-01 00:00:01           2022-09-01 04:19:18
4           ASA15.EWR.SEA.220830.2135.0046.TFM               2022-09-01 00:00:03           2022-09-01 03:33:50
...                                        ...                               ...                           ...
35252994   ASA379.BWI.SEA.230831.2230.0167.TFM               2023-09-01 23:59:59           2023-09-02 03:43:36
35252995   DAL463.JFK.SEA.230831.2050.0213.TFM               2023-09-01 23:59:59           2023-09-02 02:23:22
35252996    DAL81.CDG.SEA.230831.1340.0102.TFM                        2023-09-02           2023-09-02 04:04:05
35252997    BAW49.LHR.SEA.230831.1510.0045.TFM                        2023-09-02           2023-09-02 00:47:38
35252998  DAL1376.ORD.SEA.230831.2320.0115.TFM                        2023-09-02           2023-09-02 03:14:10

[35252999 rows x 3 columns]

In [576]:
print(jfk_sorted.columns)
print("Data types of columns:\n", jfk_sorted.dtypes)

Index(['gufi', 'timestamp_arrival_runway_estimate', 'arrival_runway_estimated_time'], dtype='object')
Data types of columns:
 gufi                                 object
timestamp_arrival_runway_estimate    object
arrival_runway_estimated_time        object
dtype: object

In [577]:
import pandas as pd

def preprocess_timestamps(df):
    """
    Preprocess the DataFrame to convert timestamp columns to datetime format.
    
    Args:
        df (pd.DataFrame): The DataFrame with timestamp columns.
        
    Returns:
        pd.DataFrame: The DataFrame with datetime columns.
    """
    # Convert timestamp columns to datetime format once
    df['timestamp_arrival_runway_estimate'] = pd.to_datetime(df['timestamp_arrival_runway_estimate'], errors='coerce')
    df['arrival_runway_estimated_time'] = pd.to_datetime(df['arrival_runway_estimated_time'], errors='coerce')
    return df

def filter_rows_by_timestamp(df, t):
    """
    Filters rows in the DataFrame based on the given timestamp 't'.
    
    Args:
        df (pd.DataFrame): The DataFrame to filter (preprocessed).
        t (pd.Timestamp): The timestamp value to compare against.
        
    Returns:
        pd.DataFrame: A DataFrame with rows matching the conditions.
    """
    # Condition 1: 'timestamp_arrival_runway_estimate' < t
    condition_1 = df['timestamp_arrival_runway_estimate'] < t
    
    # Condition 2: 'arrival_runway_estimated_time' > t and < t + 4 hours
    condition_2 = (df['arrival_runway_estimated_time'] > t) & (df['arrival_runway_estimated_time'] < (t + pd.Timedelta(hours=4)))
    
    # Combine the conditions
    filtered_df = df[condition_1 & condition_2]
    
    return filtered_df

# Example usage:
data = {
    'timestamp_arrival_runway_estimate': ['2022-11-18 00:00:00', '2022-11-18 01:00:00', '2022-11-18 02:00:00'],
    'arrival_runway_estimated_time': ['2022-11-18 03:00:00', '2022-11-18 04:00:00', '2022-11-18 06:00:00']
}

df = pd.DataFrame(data)

# Preprocess timestamps once
df = preprocess_timestamps(df)

# Set the timestamp `t`
t = pd.to_datetime('2022-11-18 01:30:00')

# Call the function to filter rows
filtered_df = filter_rows_by_timestamp(df, t)
print(filtered_df)

  timestamp_arrival_runway_estimate arrival_runway_estimated_time
0               2022-11-18 00:00:00           2022-11-18 03:00:00
1               2022-11-18 01:00:00           2022-11-18 04:00:00

In [578]:
jfk_sorted = preprocess_timestamps(jfk_sorted)

In [579]:
jfk_sorted

                                          gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time
0          ASA128.DAL.SEA.220830.2330.0245.TFM               2022-09-01 00:00:00           2022-09-01 03:20:06
1          DAL915.MSP.SEA.220830.2320.0043.TFM               2022-09-01 00:00:01           2022-09-01 02:19:53
2          ICE681.KEF.SEA.220830.1705.0070.TFM               2022-09-01 00:00:01           2022-09-01 00:55:56
3          ICE11P.KEF.SEA.220830.2025.0065.TFM               2022-09-01 00:00:01           2022-09-01 04:19:18
4           ASA15.EWR.SEA.220830.2135.0046.TFM               2022-09-01 00:00:03           2022-09-01 03:33:50
...                                        ...                               ...                           ...
35252994   ASA379.BWI.SEA.230831.2230.0167.TFM               2023-09-01 23:59:59           2023-09-02 03:43:36
35252995   DAL463.JFK.SEA.230831.2050.0213.TFM               2023-09-01 23:59:59           2023-09-02 02:23:22
35252996    DAL81.CDG.SEA.230831.1340.0102.TFM                               NaT           2023-09-02 04:04:05
35252997    BAW49.LHR.SEA.230831.1510.0045.TFM                               NaT           2023-09-02 00:47:38
35252998  DAL1376.ORD.SEA.230831.2320.0115.TFM                               NaT           2023-09-02 03:14:10

[35252999 rows x 3 columns]

In [580]:
def drop_rows_with_nat(df):
    """
    Drop rows with NaT (Not a Time) values and print how many rows were dropped.
    
    Args:
        df (pd.DataFrame): The DataFrame to process.
        
    Returns:
        pd.DataFrame: The DataFrame with rows containing NaT values removed.
    """
    # Count the number of rows with NaT values
    initial_row_count = len(df)
    
    # Drop rows with NaT values
    df_cleaned = df.dropna(subset=['timestamp_arrival_runway_estimate', 'arrival_runway_estimated_time'])
    
    # Calculate how many rows were dropped
    rows_dropped = initial_row_count - len(df_cleaned)
    
    # Print the number of rows dropped
    print(f"Rows dropped: {rows_dropped}")
    
    return df_cleaned

In [581]:
jfk_sorted = drop_rows_with_nat(jfk_sorted)

Rows dropped: 25

In [582]:

file_path = f'tempdata/{ACODE}_sorted.parquet'

jfk_sorted.to_parquet(file_path, engine='pyarrow', index=False)

print(f"DataFrame successfully saved to {file_path}.")

DataFrame successfully saved to tempdata/KSEA_sorted.parquet.

In [583]:
jfk_sorted.head()

                                  gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time
0  ASA128.DAL.SEA.220830.2330.0245.TFM               2022-09-01 00:00:00           2022-09-01 03:20:06
1  DAL915.MSP.SEA.220830.2320.0043.TFM               2022-09-01 00:00:01           2022-09-01 02:19:53
2  ICE681.KEF.SEA.220830.1705.0070.TFM               2022-09-01 00:00:01           2022-09-01 00:55:56
3  ICE11P.KEF.SEA.220830.2025.0065.TFM               2022-09-01 00:00:01           2022-09-01 04:19:18
4   ASA15.EWR.SEA.220830.2135.0046.TFM               2022-09-01 00:00:03           2022-09-01 03:33:50

# A safe checkpoint

In [584]:
import pandas as pd

# Specify the file path where the DataFrame was saved
file_path = f'tempdata/{ACODE}_sorted.parquet'

# Read the Parquet file back into a DataFrame
jfk_sorted = pd.read_parquet(file_path, engine='pyarrow')

In [585]:
jfk_sorted.dtypes

gufi                                         object
timestamp_arrival_runway_estimate    datetime64[ns]
arrival_runway_estimated_time        datetime64[ns]
dtype: object

In [586]:
import pandas as pd

def filter_rows_by_timestamp(df, t, time_window=4):
    """
    Filter rows where the timestamp is within a specified range from t.
    
    Args:
        df (pd.DataFrame): DataFrame to filter.
        t (str): The timestamp to compare against (in 'YYYY-MM-DD HH:MM:SS' format).
        time_window (int): The time range in hours for filtering (default is 4 hours).
        
    Returns:
        pd.DataFrame: DataFrame with rows filtered based on the timestamp range.
    """
    # Ensure 't' is a datetime object
    t = pd.to_datetime(t)
    
    # Filter the DataFrame based on the specified time window
    filtered_df = df[(df['timestamp_arrival_runway_estimate'] < t) & 
                     (df['arrival_runway_estimated_time'] > t) & 
                     (df['arrival_runway_estimated_time'] < t + pd.Timedelta(hours=time_window))]
    
    return filtered_df

def select_latest_entry_for_each_gufi(filtered_df):
    """
    Select the latest entry for each gufi based on timestamp_arrival_runway_estimate.
    
    Args:
        filtered_df (pd.DataFrame): DataFrame containing the filtered rows.
        
    Returns:
        pd.DataFrame: DataFrame with one entry for each gufi, having the latest timestamp.
    """
    # Group by 'gufi' and get the row with the latest 'timestamp_arrival_runway_estimate'
    latest_entries = filtered_df.loc[filtered_df.groupby('gufi')['timestamp_arrival_runway_estimate'].idxmax()]
    
    return latest_entries

# Example usage:

# Sample data (replace with your actual DataFrame)
data = {
    'gufi': ['RPA5716.BOS.JFK.220830.2250.0064.TFM', 'RPA5716.BOS.JFK.220830.2250.0064.TFM', 'RPA5717.BOS.JFK.220830.2250.0065.TFM'],
    'timestamp_arrival_runway_estimate': ['2022-09-01 00:00:00', '2022-09-01 00:02:18', '2022-09-01 00:05:00'],
    'arrival_runway_estimated_time': ['2022-09-01 00:02:18', '2022-09-01 00:04:00', '2022-09-01 00:06:00'],
}
df = pd.DataFrame(data)
display(df)
# Convert timestamps to datetime (this is necessary if the data was originally in string format)
df['timestamp_arrival_runway_estimate'] = pd.to_datetime(df['timestamp_arrival_runway_estimate'])
df['arrival_runway_estimated_time'] = pd.to_datetime(df['arrival_runway_estimated_time'])

# Timestamp t
t = '2022-09-01 00:00:01'

# Filter rows within the timestamp range
filtered_df = filter_rows_by_timestamp(df, t)

# Select the latest entry for each gufi
latest_entries = select_latest_entry_for_each_gufi(filtered_df)

display(latest_entries)

                                   gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time
0  RPA5716.BOS.JFK.220830.2250.0064.TFM               2022-09-01 00:00:00           2022-09-01 00:02:18
1  RPA5716.BOS.JFK.220830.2250.0064.TFM               2022-09-01 00:02:18           2022-09-01 00:04:00
2  RPA5717.BOS.JFK.220830.2250.0065.TFM               2022-09-01 00:05:00           2022-09-01 00:06:00

                                   gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time
0  RPA5716.BOS.JFK.220830.2250.0064.TFM                        2022-09-01           2022-09-01 00:02:18

In [587]:
jfk_sorted

                                          gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time
0          ASA128.DAL.SEA.220830.2330.0245.TFM               2022-09-01 00:00:00           2022-09-01 03:20:06
1          DAL915.MSP.SEA.220830.2320.0043.TFM               2022-09-01 00:00:01           2022-09-01 02:19:53
2          ICE681.KEF.SEA.220830.1705.0070.TFM               2022-09-01 00:00:01           2022-09-01 00:55:56
3          ICE11P.KEF.SEA.220830.2025.0065.TFM               2022-09-01 00:00:01           2022-09-01 04:19:18
4           ASA15.EWR.SEA.220830.2135.0046.TFM               2022-09-01 00:00:03           2022-09-01 03:33:50
...                                        ...                               ...                           ...
35252969   ASA499.IAD.SEA.230831.2115.0154.TFM               2023-09-01 23:59:59           2023-09-02 02:57:56
35252970  DAL2088.IAD.SEA.230831.2150.0103.TFM               2023-09-01 23:59:59           2023-09-02 02:53:11
35252971  AAL2668.ORD.SEA.230831.2140.0086.TFM               2023-09-01 23:59:59           2023-09-02 02:55:41
35252972   ASA379.BWI.SEA.230831.2230.0167.TFM               2023-09-01 23:59:59           2023-09-02 03:43:36
35252973   DAL463.JFK.SEA.230831.2050.0213.TFM               2023-09-01 23:59:59           2023-09-02 02:23:22

[35252974 rows x 3 columns]

In [588]:
print(jfk_sorted['timestamp_arrival_runway_estimate'].min(), jfk_sorted['timestamp_arrival_runway_estimate'].max())

2022-09-01 00:00:00 2023-09-01 23:59:59

In [589]:
# Timestamp t
t = '2022-09-01 00:00:04'

# Filter rows within the timestamp range
filtered_df = filter_rows_by_timestamp(jfk_sorted, t)

# Select the latest entry for each gufi
latest_entries = select_latest_entry_for_each_gufi(filtered_df)

display(latest_entries)

                                  gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time
0  ASA128.DAL.SEA.220830.2330.0245.TFM               2022-09-01 00:00:00           2022-09-01 03:20:06
4   ASA15.EWR.SEA.220830.2135.0046.TFM               2022-09-01 00:00:03           2022-09-01 03:33:50
7   ASA23.PHL.SEA.220830.2220.0137.TFM               2022-09-01 00:00:03           2022-09-01 03:39:30
8  ASA927.PHX.SEA.220830.2255.0099.TFM               2022-09-01 00:00:03           2022-09-01 01:29:49
5  DAL680.LAX.SEA.220830.2330.0183.TFM               2022-09-01 00:00:03           2022-09-01 01:43:35
1  DAL915.MSP.SEA.220830.2320.0043.TFM               2022-09-01 00:00:01           2022-09-01 02:19:53
2  ICE681.KEF.SEA.220830.1705.0070.TFM               2022-09-01 00:00:01           2022-09-01 00:55:56
9  UAL726.EWR.SEA.220830.2150.0152.TFM               2022-09-01 00:00:03           2022-09-01 03:34:14

In [590]:
def process_and_select_latest(df, t):
    """
    Filters rows within the timestamp range and selects the latest entry for each gufi.

    Args:
        df (pd.DataFrame): The input DataFrame.
        t (str): The reference timestamp as a string.

    Returns:
        pd.DataFrame: A DataFrame with the latest entry for each gufi.
    """
    # Filter rows within the timestamp range
    filtered_df = filter_rows_by_timestamp(df, t)

    # Select the latest entry for each gufi
    latest_entries = select_latest_entry_for_each_gufi(filtered_df)

    return latest_entries

# Example usage
t = '2022-09-01 00:00:04'
latest_entries = process_and_select_latest(jfk_sorted, t)

# Display the result
display(latest_entries)

                                  gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time
0  ASA128.DAL.SEA.220830.2330.0245.TFM               2022-09-01 00:00:00           2022-09-01 03:20:06
4   ASA15.EWR.SEA.220830.2135.0046.TFM               2022-09-01 00:00:03           2022-09-01 03:33:50
7   ASA23.PHL.SEA.220830.2220.0137.TFM               2022-09-01 00:00:03           2022-09-01 03:39:30
8  ASA927.PHX.SEA.220830.2255.0099.TFM               2022-09-01 00:00:03           2022-09-01 01:29:49
5  DAL680.LAX.SEA.220830.2330.0183.TFM               2022-09-01 00:00:03           2022-09-01 01:43:35
1  DAL915.MSP.SEA.220830.2320.0043.TFM               2022-09-01 00:00:01           2022-09-01 02:19:53
2  ICE681.KEF.SEA.220830.1705.0070.TFM               2022-09-01 00:00:01           2022-09-01 00:55:56
9  UAL726.EWR.SEA.220830.2150.0152.TFM               2022-09-01 00:00:03           2022-09-01 03:34:14

In [591]:
jfk_sorted.dtypes

gufi                                         object
timestamp_arrival_runway_estimate    datetime64[ns]
arrival_runway_estimated_time        datetime64[ns]
dtype: object

In [592]:
import pandas as pd
import numpy as np

def generate_t_samples(start_time, end_time, num_samples):
    """
    Generate a list of timestamp samples between start_time and end_time.

    Args:
        start_time (str): The start time in string format.
        end_time (str): The end time in string format.
        num_samples (int): Number of timestamp samples to generate.

    Returns:
        List of timestamps as strings.
    """
    start = pd.to_datetime(start_time)
    end = pd.to_datetime(end_time)
    return pd.date_range(start=start, end=end, periods=num_samples).to_list()

def process_multiple_samples(df, start_time, end_time, num_samples):
    """
    Process multiple timestamp samples and combine the results into a single DataFrame.

    Args:
        df (pd.DataFrame): The input DataFrame.
        start_time (str): The start time for generating samples.
        end_time (str): The end time for generating samples.
        num_samples (int): Number of timestamp samples to generate.

    Returns:
        pd.DataFrame: A DataFrame with combined results and a 't' column for each sample.
    """
    # Generate timestamp samples
    t_samples = generate_t_samples(start_time, end_time, num_samples)
    # Process each timestamp and append results
    combined_df = pd.DataFrame()
    for t in t_samples:
        filtered_df = process_and_select_latest(df, t)
        filtered_df['t'] = t  # Add the timestamp as a column
        combined_df = pd.concat([combined_df, filtered_df], ignore_index=True)

    return combined_df

# Example usage
data = {
    'gufi': ['RPA5716.BOS.JFK.220830.2250.0064.TFM', 'RPA5717.BOS.JFK.220830.2250.0064.TFM', 'RPA5718.BOS.JFK.220830.2250.0064.TFM'],
    'timestamp_arrival_runway_estimate': ['2022-09-01 00:00:00', '2022-09-01 00:05:00', '2022-09-01 00:03:00'],
    'arrival_runway_estimated_time': ['2022-09-01 00:02:18', '2022-09-01 00:07:00', '2022-09-01 00:06:00']
}

adf = pd.DataFrame(data)
adf['timestamp_arrival_runway_estimate'] = pd.to_datetime(adf['timestamp_arrival_runway_estimate'])
adf['arrival_runway_estimated_time'] = pd.to_datetime(adf['arrival_runway_estimated_time'])

print(adf.dtypes)
display(adf)
# Process multiple samples
start_time = '2022-09-01 00:00:00'
end_time = '2022-09-01 01:00:00'
num_samples = 10

result_df = process_multiple_samples(adf, start_time, end_time, num_samples)

# Display result
display(result_df)

gufi                                         object
timestamp_arrival_runway_estimate    datetime64[ns]
arrival_runway_estimated_time        datetime64[ns]
dtype: object

                                   gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time
0  RPA5716.BOS.JFK.220830.2250.0064.TFM               2022-09-01 00:00:00           2022-09-01 00:02:18
1  RPA5717.BOS.JFK.220830.2250.0064.TFM               2022-09-01 00:05:00           2022-09-01 00:07:00
2  RPA5718.BOS.JFK.220830.2250.0064.TFM               2022-09-01 00:03:00           2022-09-01 00:06:00

                                   gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                   t
0  RPA5717.BOS.JFK.220830.2250.0064.TFM               2022-09-01 00:05:00           2022-09-01 00:07:00 2022-09-01 00:06:40

In [593]:

start_time = '2022-09-01 00:00:00'
end_time = '2023-09-01 23:59:59'
num_samples = 100

result_df = process_multiple_samples(jfk_sorted, start_time, end_time, num_samples)

# Display result
from IPython.display import display, HTML

# Set pandas display options to show more rows
pd.set_option('display.max_rows', 1000)  # Show 1000 rows (or adjust as needed)
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', 1000)  # Adjust width for better readability
pd.set_option('display.max_colwidth', None)  # Display full content of each cell

# Use HTML to create a scrollable view for the DataFrame
display(HTML(result_df.to_html(classes='table table-bordered table-striped', max_rows=1000)))

In [594]:
len(result_df)

8680

## LETS GET PLANE FEATURES

In [595]:
plane_df = return_parquet(file_name = FD["MFS"])
plane_df # we dont want to use all of this, lets just get the jet engine class and

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
DAL81.CDG.SEA.230822.1340.0076.TFM                     JET          A333                        KSEA           DAL  SCHEDULED_AIR_TRANSPORT
SKW3955.PDX.SEA.230822.2025.0126.TFM                   JET          E75L                        KSEA           DAL  SCHEDULED_AIR_TRANSPORT
SKW3360.YVR.SEA.230823.0320.0016.TFM                   JET          E75L                        KSEA          None  SCHEDULED_AIR_TRANSPORT
QXE2160.SEA.MSO.230823.0020.0055.TFM                   JET          E75L                        KMSO          None  SCHEDULED_AIR_TRANSPORT
SKW3697.SEA.BOI.230823.0050.0153.TFM                   JET          E75L                        KBOI           DAL  SCHEDULED_AIR_TRANSPORT
...                                                    ...           ...                         ...           ...                      ...
KAL20.SEA.ICN.221008.2000.0144.TFM                     JET          B789                        RKSI          None  SCHEDULED_AIR_TRANSPORT
AFR355.SEA.CDG.221008.2330.0120.TFM                    JET          B772                        LFPG          None  SCHEDULED_AIR_TRANSPORT
KAL260.SEA.ICN.221009.1620.0001.TFM                    JET          B744                        RKSI          None                     None
AAR271.SEA.ICN.221008.2100.0188.TFM                    JET          B772                        RKSI          None  SCHEDULED_AIR_TRANSPORT
QXE2262.RDM.SEA.221008.2300.0202.TFM                   JET          E75L                        KSEA          None  SCHEDULED_AIR_TRANSPORT

[387781 rows x 5 columns]

In [596]:
subset_df = plane_df[['aircraft_engine_class']]
subset_df

                                     aircraft_engine_class
gufi
DAL81.CDG.SEA.230822.1340.0076.TFM                     JET
SKW3955.PDX.SEA.230822.2025.0126.TFM                   JET
SKW3360.YVR.SEA.230823.0320.0016.TFM                   JET
QXE2160.SEA.MSO.230823.0020.0055.TFM                   JET
SKW3697.SEA.BOI.230823.0050.0153.TFM                   JET
...                                                    ...
KAL20.SEA.ICN.221008.2000.0144.TFM                     JET
AFR355.SEA.CDG.221008.2330.0120.TFM                    JET
KAL260.SEA.ICN.221009.1620.0001.TFM                    JET
AAR271.SEA.ICN.221008.2100.0188.TFM                    JET
QXE2262.RDM.SEA.221008.2300.0202.TFM                   JET

[387781 rows x 1 columns]

In [597]:
# lets merge with result_df
subset_df = subset_df.reset_index()

# Merge with result_df on the 'gufi' column
feat_df = result_df.merge(subset_df, on='gufi', how='left')
feat_df['aircraft_engine_class'] = feat_df['aircraft_engine_class'].fillna('unknown')
# Display the merged DataFrame
display(feat_df)

                                      gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                             t aircraft_engine_class
0     AAL2001.PHL.SEA.220904.0846.0002.TMA               2022-09-04 16:42:48           2022-09-04 17:00:14 2022-09-04 16:43:38.171717171                   JET
1     AAL2769.DFW.SEA.220903.1541.0092.TFM               2022-09-04 16:43:20           2022-09-04 19:14:47 2022-09-04 16:43:38.171717171                   JET
2      AAR272.ICN.SEA.220903.0900.0035.TFM               2022-09-04 16:30:58           2022-09-04 18:44:30 2022-09-04 16:43:38.171717171                   JET
3      ABD629.ICN.SEA.220904.0615.0007.TFM               2022-09-04 16:38:05           2022-09-04 20:18:30 2022-09-04 16:43:38.171717171                   JET
4      AMX488.MEX.SEA.220903.1200.0232.TFM               2022-09-04 16:43:25           2022-09-04 17:23:36 2022-09-04 16:43:38.171717171                   JET
...                                    ...                               ...                           ...                           ...                   ...
8675   UAL674.EWR.SEA.230831.1825.0082.TFM               2023-09-01 18:16:54           2023-09-02 00:00:00 2023-09-01 23:59:59.000000000                   JET
8676   UAL795.DEN.SEA.230901.0120.0014.TFM               2023-09-01 22:09:38           2023-09-02 03:52:00 2023-09-01 23:59:59.000000000               unknown
8677   VOI896.GDL.SEA.230831.2210.0125.TFM               2023-09-01 23:59:19           2023-09-02 02:53:38 2023-09-01 23:59:59.000000000               unknown
8678  WJA1554.YYC.SEA.230901.0005.0024.TFM               2023-09-01 22:58:23           2023-09-02 02:15:00 2023-09-01 23:59:59.000000000               unknown
8679    YEL99.BZN.SEA.230901.2329.0007.TMA               2023-09-01 23:29:31           2023-09-02 01:27:47 2023-09-01 23:59:59.000000000               unknown

[8680 rows x 5 columns]

## now lets pull the actual time

In [598]:
rnwydf = return_parquet(file_name = FD["RNWY"])

In [599]:

rnwydf

                                          arrival_runway_actual_time arrival_runway_actual
gufi
FFT3465.PHX.SEA.230519.2000.0103.TFM             2023-05-21 00:00:27                   34L
FDX3954.EWR.SEA.230519.2006.0002.TFM_TFDM        2023-05-21 00:01:25                   34R
SKW3357.PDX.SEA.230519.2300.0128.TFM             2023-05-21 00:02:34                   34L
ASA405.OKC.SEA.230519.1935.0041.TFM              2023-05-21 00:04:04                   34L
ASA738.LAS.SEA.230519.2055.0090.TFM              2023-05-21 00:06:26                   34L
...                                                              ...                   ...
ASA585.LAX.SEA.221123.2055.0061.TFM              2022-11-24 23:36:25                   16R
DAL1600.PDX.SEA.221123.2000.0223.TFM             2022-11-24 23:38:12                   16R
ASA311.FAI.SEA.221123.2030.0124.TFM              2022-11-24 23:48:50                   16R
ASA713.SFO.SEA.221123.2210.0090.TFM              2022-11-24 23:52:29                   16R
SWA673.OAK.SEA.221123.2215.0083.TFM              2022-11-24 23:55:10                   16R

[184810 rows x 2 columns]

In [600]:
rnwydf['arrival_runway_actual_time'] = pd.to_datetime(rnwydf['arrival_runway_actual_time'])

In [601]:
print(rnwydf.dtypes)
print(result_df.dtypes)
print(len(result_df))

arrival_runway_actual_time    datetime64[ns]
arrival_runway_actual                 object
dtype: object
gufi                                         object
timestamp_arrival_runway_estimate    datetime64[ns]
arrival_runway_estimated_time        datetime64[ns]
t                                    datetime64[ns]
dtype: object
8680

In [602]:
rnwy_df_reset = rnwydf.reset_index().rename(columns={'index': 'gufi'})
rnwy_df_reset

                                             gufi arrival_runway_actual_time arrival_runway_actual
0            FFT3465.PHX.SEA.230519.2000.0103.TFM        2023-05-21 00:00:27                   34L
1       FDX3954.EWR.SEA.230519.2006.0002.TFM_TFDM        2023-05-21 00:01:25                   34R
2            SKW3357.PDX.SEA.230519.2300.0128.TFM        2023-05-21 00:02:34                   34L
3             ASA405.OKC.SEA.230519.1935.0041.TFM        2023-05-21 00:04:04                   34L
4             ASA738.LAS.SEA.230519.2055.0090.TFM        2023-05-21 00:06:26                   34L
...                                           ...                        ...                   ...
184805        ASA585.LAX.SEA.221123.2055.0061.TFM        2022-11-24 23:36:25                   16R
184806       DAL1600.PDX.SEA.221123.2000.0223.TFM        2022-11-24 23:38:12                   16R
184807        ASA311.FAI.SEA.221123.2030.0124.TFM        2022-11-24 23:48:50                   16R
184808        ASA713.SFO.SEA.221123.2210.0090.TFM        2022-11-24 23:52:29                   16R
184809        SWA673.OAK.SEA.221123.2215.0083.TFM        2022-11-24 23:55:10                   16R

[184810 rows x 3 columns]

In [603]:
import pandas as pd


# Sample data for rnwy_df with 'gufi' as the index

# Perform the merge
merged_df = pd.merge(feat_df, rnwy_df_reset, on='gufi', how='left')

# Display the merged DataFrame
print("Merged DataFrame:")
#display(merged_df)

# Check if the merge worked by displaying the number of matched rows
display(merged_df.head())

Merged DataFrame:

                                   gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                             t aircraft_engine_class arrival_runway_actual_time arrival_runway_actual
0  AAL2001.PHL.SEA.220904.0846.0002.TMA               2022-09-04 16:42:48           2022-09-04 17:00:14 2022-09-04 16:43:38.171717171                   JET        2022-09-04 17:14:02                   16R
1  AAL2769.DFW.SEA.220903.1541.0092.TFM               2022-09-04 16:43:20           2022-09-04 19:14:47 2022-09-04 16:43:38.171717171                   JET        2022-09-04 19:26:54                   16R
2   AAR272.ICN.SEA.220903.0900.0035.TFM               2022-09-04 16:30:58           2022-09-04 18:44:30 2022-09-04 16:43:38.171717171                   JET        2022-09-04 18:49:47                   16R
3   ABD629.ICN.SEA.220904.0615.0007.TFM               2022-09-04 16:38:05           2022-09-04 20:18:30 2022-09-04 16:43:38.171717171                   JET        2022-09-04 22:00:12                   16L
4   AMX488.MEX.SEA.220903.1200.0232.TFM               2022-09-04 16:43:25           2022-09-04 17:23:36 2022-09-04 16:43:38.171717171                   JET        2022-09-04 17:35:32                   16R

In [604]:
print(merged_df.columns)
print(len(merged_df))
print((merged_df.dtypes))

Index(['gufi', 'timestamp_arrival_runway_estimate', 'arrival_runway_estimated_time', 't', 'aircraft_engine_class', 'arrival_runway_actual_time', 'arrival_runway_actual'], dtype='object')
8680
gufi                                         object
timestamp_arrival_runway_estimate    datetime64[ns]
arrival_runway_estimated_time        datetime64[ns]
t                                    datetime64[ns]
aircraft_engine_class                        object
arrival_runway_actual_time           datetime64[ns]
arrival_runway_actual                        object
dtype: object

In [605]:
# Calculate the minute difference between 't' and 'arrival_runway_actual_time'
merged_df['minute_diff'] = (merged_df['arrival_runway_actual_time'] - merged_df['t']).dt.total_seconds() / 60

# Display the DataFrame with the new 'minute_diff' column
display(merged_df[['gufi', 't', 'arrival_runway_actual_time', 'minute_diff']])

                                      gufi                             t arrival_runway_actual_time  minute_diff
0     AAL2001.PHL.SEA.220904.0846.0002.TMA 2022-09-04 16:43:38.171717171        2022-09-04 17:14:02    30.397138
1     AAL2769.DFW.SEA.220903.1541.0092.TFM 2022-09-04 16:43:38.171717171        2022-09-04 19:26:54   163.263805
2      AAR272.ICN.SEA.220903.0900.0035.TFM 2022-09-04 16:43:38.171717171        2022-09-04 18:49:47   126.147138
3      ABD629.ICN.SEA.220904.0615.0007.TFM 2022-09-04 16:43:38.171717171        2022-09-04 22:00:12   316.563805
4      AMX488.MEX.SEA.220903.1200.0232.TFM 2022-09-04 16:43:38.171717171        2022-09-04 17:35:32    51.897138
...                                    ...                           ...                        ...          ...
8675   UAL674.EWR.SEA.230831.1825.0082.TFM 2023-09-01 23:59:59.000000000                        NaT          NaN
8676   UAL795.DEN.SEA.230901.0120.0014.TFM 2023-09-01 23:59:59.000000000                        NaT          NaN
8677   VOI896.GDL.SEA.230831.2210.0125.TFM 2023-09-01 23:59:59.000000000                        NaT          NaN
8678  WJA1554.YYC.SEA.230901.0005.0024.TFM 2023-09-01 23:59:59.000000000                        NaT          NaN
8679    YEL99.BZN.SEA.230901.2329.0007.TMA 2023-09-01 23:59:59.000000000                        NaT          NaN

[8680 rows x 4 columns]

In [606]:
# drop nans
merged_df = merged_df.dropna(subset=['minute_diff'])
display((merged_df[['gufi', 't', 'arrival_runway_actual_time', 'minute_diff']]))

                                           gufi                             t arrival_runway_actual_time  minute_diff
0          AAL2001.PHL.SEA.220904.0846.0002.TMA 2022-09-04 16:43:38.171717171        2022-09-04 17:14:02    30.397138
1          AAL2769.DFW.SEA.220903.1541.0092.TFM 2022-09-04 16:43:38.171717171        2022-09-04 19:26:54   163.263805
2           AAR272.ICN.SEA.220903.0900.0035.TFM 2022-09-04 16:43:38.171717171        2022-09-04 18:49:47   126.147138
3           ABD629.ICN.SEA.220904.0615.0007.TFM 2022-09-04 16:43:38.171717171        2022-09-04 22:00:12   316.563805
4           AMX488.MEX.SEA.220903.1200.0232.TFM 2022-09-04 16:43:38.171717171        2022-09-04 17:35:32    51.897138
...                                         ...                           ...                        ...          ...
8476       DAL2508.SLC.SEA.230828.0500.0032.TFM 2023-08-29 07:16:20.828282824        2023-08-29 08:10:49    54.469529
8478        DAL564.JFK.SEA.230827.2330.0137.TFM 2023-08-29 07:16:20.828282824        2023-08-29 07:01:27   -14.897138
8480  FDX1885.OAK.SEA.230828.1035.0018.TFM_TFDM 2023-08-29 07:16:20.828282824        2023-08-29 10:54:02   217.686195
8482        KAL233.ORD.SEA.230828.0730.0025.TFM 2023-08-29 07:16:20.828282824        2023-08-29 11:01:48   225.452862
8483       SKW3356.PDX.SEA.230828.0530.0029.TFM 2023-08-29 07:16:20.828282824        2023-08-29 08:00:49    44.469529

[7747 rows x 4 columns]

In [607]:
merged_df.columns

Index(['gufi', 'timestamp_arrival_runway_estimate', 'arrival_runway_estimated_time', 't', 'aircraft_engine_class', 'arrival_runway_actual_time', 'arrival_runway_actual', 'minute_diff'], dtype='object')

In [608]:
import numpy as np

# Define a function to categorize the minute_diff into target values
def assign_target(minute_diff):
    if minute_diff < 0:
        return 13
    elif minute_diff <= 15:
        return 1
    elif 15 < minute_diff <= 30:
        return 2
    elif 30 < minute_diff <= 45:
        return 3
    elif 45 < minute_diff <= 60:
        return 4
    elif 60 < minute_diff <= 75:
        return 5
    elif 75 < minute_diff <= 90:
        return 6
    elif 90 < minute_diff <= 105:
        return 7
    elif 105 < minute_diff <= 120:
        return 8
    elif 120 < minute_diff <= 135:
        return 9
    elif 135 < minute_diff <= 150:
        return 10
    elif 150 < minute_diff <= 165:
        return 11
    elif 165 < minute_diff <= 180:
        return 12
    elif minute_diff > 180:
        return 13
    else:
        return 13  # Return NaN if the value is not valid

# Apply the function to create the 'target' column
merged_df['target'] = merged_df['minute_diff'].apply(assign_target)

# Display the updated DataFrame with the 'target' column
display(merged_df[['gufi', 'minute_diff', 'target','aircraft_engine_class']])

                                           gufi  minute_diff  target aircraft_engine_class
0          AAL2001.PHL.SEA.220904.0846.0002.TMA    30.397138       3                   JET
1          AAL2769.DFW.SEA.220903.1541.0092.TFM   163.263805      11                   JET
2           AAR272.ICN.SEA.220903.0900.0035.TFM   126.147138       9                   JET
3           ABD629.ICN.SEA.220904.0615.0007.TFM   316.563805      13                   JET
4           AMX488.MEX.SEA.220903.1200.0232.TFM    51.897138       4                   JET
...                                         ...          ...     ...                   ...
8476       DAL2508.SLC.SEA.230828.0500.0032.TFM    54.469529       4                   JET
8478        DAL564.JFK.SEA.230827.2330.0137.TFM   -14.897138      13                   JET
8480  FDX1885.OAK.SEA.230828.1035.0018.TFM_TFDM   217.686195      13                   JET
8482        KAL233.ORD.SEA.230828.0730.0025.TFM   225.452862      13                   JET
8483       SKW3356.PDX.SEA.230828.0530.0029.TFM    44.469529       3                   JET

[7747 rows x 4 columns]

In [609]:
merged_df.head()

                                   gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                             t aircraft_engine_class arrival_runway_actual_time arrival_runway_actual  minute_diff  target
0  AAL2001.PHL.SEA.220904.0846.0002.TMA               2022-09-04 16:42:48           2022-09-04 17:00:14 2022-09-04 16:43:38.171717171                   JET        2022-09-04 17:14:02                   16R    30.397138       3
1  AAL2769.DFW.SEA.220903.1541.0092.TFM               2022-09-04 16:43:20           2022-09-04 19:14:47 2022-09-04 16:43:38.171717171                   JET        2022-09-04 19:26:54                   16R   163.263805      11
2   AAR272.ICN.SEA.220903.0900.0035.TFM               2022-09-04 16:30:58           2022-09-04 18:44:30 2022-09-04 16:43:38.171717171                   JET        2022-09-04 18:49:47                   16R   126.147138       9
3   ABD629.ICN.SEA.220904.0615.0007.TFM               2022-09-04 16:38:05           2022-09-04 20:18:30 2022-09-04 16:43:38.171717171                   JET        2022-09-04 22:00:12                   16L   316.563805      13
4   AMX488.MEX.SEA.220903.1200.0232.TFM               2022-09-04 16:43:25           2022-09-04 17:23:36 2022-09-04 16:43:38.171717171                   JET        2022-09-04 17:35:32                   16R    51.897138       4

In [610]:
print(len(merged_df))

7747

In [611]:
# Calculate the time difference between 't' and 'arrival_runway_estimated_time'
merged_df['time_diff_estimate'] = (merged_df['arrival_runway_estimated_time'] - merged_df['t']).dt.total_seconds() / 60

# Display the updated DataFrame with the new column
display(merged_df)

                                           gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                             t aircraft_engine_class arrival_runway_actual_time arrival_runway_actual  minute_diff  target  time_diff_estimate
0          AAL2001.PHL.SEA.220904.0846.0002.TMA               2022-09-04 16:42:48           2022-09-04 17:00:14 2022-09-04 16:43:38.171717171                   JET        2022-09-04 17:14:02                   16R    30.397138       3           16.597138
1          AAL2769.DFW.SEA.220903.1541.0092.TFM               2022-09-04 16:43:20           2022-09-04 19:14:47 2022-09-04 16:43:38.171717171                   JET        2022-09-04 19:26:54                   16R   163.263805      11          151.147138
2           AAR272.ICN.SEA.220903.0900.0035.TFM               2022-09-04 16:30:58           2022-09-04 18:44:30 2022-09-04 16:43:38.171717171                   JET        2022-09-04 18:49:47                   16R   126.147138       9          120.863805
3           ABD629.ICN.SEA.220904.0615.0007.TFM               2022-09-04 16:38:05           2022-09-04 20:18:30 2022-09-04 16:43:38.171717171                   JET        2022-09-04 22:00:12                   16L   316.563805      13          214.863805
4           AMX488.MEX.SEA.220903.1200.0232.TFM               2022-09-04 16:43:25           2022-09-04 17:23:36 2022-09-04 16:43:38.171717171                   JET        2022-09-04 17:35:32                   16R    51.897138       4           39.963805
...                                         ...                               ...                           ...                           ...                   ...                        ...                   ...          ...     ...                 ...
8476       DAL2508.SLC.SEA.230828.0500.0032.TFM               2023-08-29 07:15:40           2023-08-29 08:09:01 2023-08-29 07:16:20.828282824                   JET        2023-08-29 08:10:49                   16R    54.469529       4           52.669529
8478        DAL564.JFK.SEA.230827.2330.0137.TFM               2023-08-29 01:50:23           2023-08-29 07:40:00 2023-08-29 07:16:20.828282824                   JET        2023-08-29 07:01:27                   16R   -14.897138      13           23.652862
8480  FDX1885.OAK.SEA.230828.1035.0018.TFM_TFDM               2023-08-29 05:47:39           2023-08-29 10:55:00 2023-08-29 07:16:20.828282824                   JET        2023-08-29 10:54:02                   16L   217.686195      13          218.652862
8482        KAL233.ORD.SEA.230828.0730.0025.TFM               2023-08-29 07:15:21           2023-08-29 10:39:34 2023-08-29 07:16:20.828282824                   JET        2023-08-29 11:01:48                   16L   225.452862      13          203.219529
8483       SKW3356.PDX.SEA.230828.0530.0029.TFM               2023-08-29 07:16:07           2023-08-29 07:54:00 2023-08-29 07:16:20.828282824                   JET        2023-08-29 08:00:49                   16R    44.469529       3           37.652862

[7747 rows x 10 columns]

In [612]:
columns_to_select = ['gufi', 'time_diff_estimate', 'target',  't', 'aircraft_engine_class']

# Create a new DataFrame with only the specified columns
selected_columns_df = merged_df[columns_to_select]

# Display the new DataFrame
print(len(selected_columns_df))
print((selected_columns_df.dtypes))
print(selected_columns_df.columns)

7747
gufi                             object
time_diff_estimate              float64
target                            int64
t                        datetime64[ns]
aircraft_engine_class            object
dtype: object
Index(['gufi', 'time_diff_estimate', 'target', 't', 'aircraft_engine_class'], dtype='object')

In [613]:

# Step 1: Get unique values from the 'aircraft_engine_class' column
unique_values = selected_columns_df['aircraft_engine_class'].unique()

# Step 2: Manually create a mapping from each unique value to an integer
#manual_map = {value: index for index, value in enumerate(unique_values, start=1)}
manual_map = {'JET': 1, 'TURBO': 2, 'unknown': 3, 'PISTON': 4}

# Step 3: Apply the mapping to the 'aircraft_engine_class' column using .loc[] to avoid the warning
selected_columns_df = selected_columns_df.copy()
selected_columns_df['engine_class_int'] = selected_columns_df['aircraft_engine_class'].map(manual_map)



# Display the updated DataFrame
display(selected_columns_df)

                                           gufi  time_diff_estimate  target                             t aircraft_engine_class  engine_class_int
0          AAL2001.PHL.SEA.220904.0846.0002.TMA           16.597138       3 2022-09-04 16:43:38.171717171                   JET                 1
1          AAL2769.DFW.SEA.220903.1541.0092.TFM          151.147138      11 2022-09-04 16:43:38.171717171                   JET                 1
2           AAR272.ICN.SEA.220903.0900.0035.TFM          120.863805       9 2022-09-04 16:43:38.171717171                   JET                 1
3           ABD629.ICN.SEA.220904.0615.0007.TFM          214.863805      13 2022-09-04 16:43:38.171717171                   JET                 1
4           AMX488.MEX.SEA.220903.1200.0232.TFM           39.963805       4 2022-09-04 16:43:38.171717171                   JET                 1
...                                         ...                 ...     ...                           ...                   ...               ...
8476       DAL2508.SLC.SEA.230828.0500.0032.TFM           52.669529       4 2023-08-29 07:16:20.828282824                   JET                 1
8478        DAL564.JFK.SEA.230827.2330.0137.TFM           23.652862      13 2023-08-29 07:16:20.828282824                   JET                 1
8480  FDX1885.OAK.SEA.230828.1035.0018.TFM_TFDM          218.652862      13 2023-08-29 07:16:20.828282824                   JET                 1
8482        KAL233.ORD.SEA.230828.0730.0025.TFM          203.219529      13 2023-08-29 07:16:20.828282824                   JET                 1
8483       SKW3356.PDX.SEA.230828.0530.0029.TFM           37.652862       3 2023-08-29 07:16:20.828282824                   JET                 1

[7747 rows x 6 columns]

In [614]:
manual_map

{'JET': 1, 'TURBO': 2, 'unknown': 3, 'PISTON': 4}

In [615]:
selected_columns_df.columns

Index(['gufi', 'time_diff_estimate', 'target', 't', 'aircraft_engine_class', 'engine_class_int'], dtype='object')

In [616]:
import pandas as pd
from xgboost import XGBRegressor

from sklearn.impute import SimpleImputer
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor

# Assuming selected_columns_df is already defined
selected_columns_df = selected_columns_df.loc[selected_columns_df['target'].notna()]
data =selected_columns_df.copy()
# Shuffle the dataset but keep track of the original indices
data_shuffled = data.sample(frac=1, random_state=42)

# Calculate the split index (75% train, 25% test)
train_size = int(0.75 * len(data_shuffled))

# Create train and test DataFrames from the shuffled data
train_df = data_shuffled[:train_size]
test_df = data_shuffled[train_size:]

# Separate the features (X) and target (y) for train and test sets
train_X = train_df.drop(['target'], axis=1).select_dtypes(exclude=['object','datetime64[ns]'])
test_X = test_df.drop(['target'], axis=1).select_dtypes(exclude=['object','datetime64[ns]'])
train_y = train_df['target']
test_y = test_df['target']

display(train_X)

# Initialize SimpleImputer to handle missing values
my_imputer = SimpleImputer()

# Impute missing values in train and test sets
train_X_imputed = my_imputer.fit_transform(train_X)
test_X_imputed = my_imputer.transform(test_X)

# Convert the imputed arrays back to DataFrames and restore column names and original indices
train_X_df = pd.DataFrame(train_X_imputed, columns=train_X.columns, index=train_df.index)  # Use original indices
test_X_df = pd.DataFrame(test_X_imputed, columns=test_X.columns, index=test_df.index)  # Use original indices

# Train a model (e.g., RandomForestRegressor as an example)
model =  XGBRegressor()
model.fit(train_X_df, train_y)

# Make predictions
predictions = model.predict(test_X_df)

# Round or process the predictions as needed (for example, flooring them)
predictions_floor = predictions.astype(int)

# Merge the predictions and the true values into a new DataFrame, keeping the original index
result_df_now = pd.DataFrame({
    'True Values': test_y,
    'Predictions': predictions_floor
}, index=test_df.index)  # Keep the original indices for result_df

# Display the result DataFrame
display(result_df_now)

# Optionally, merge with the original selected_columns_df using the indices
#final_result_df = selected_columns_df.loc[result_df_now.index, ['gufi', 'time_diff_estimate','target']].join(result_df_now)

# Display final merged DataFrame
#display(final_result_df)

      time_diff_estimate  engine_class_int
1752          117.873232                 1
1188           78.526599                 1
3910           25.982155                 1
6037           21.191077                 1
135           209.180471                 1
...                  ...               ...
5708           93.299663                 1
1272           85.776599                 2
6482           78.073906                 1
5129            5.169697                 1
3844            4.582155                 1

[5810 rows x 2 columns]

      True Values  Predictions
2821           13           12
6078            2            2
1031           13           12
5220            4            4
4927           11           11
...           ...          ...
5848            9            9
6021           13            4
882             8            7
8336            4            3
7993            3            3

[1937 rows x 2 columns]

In [617]:
test_final_df = pd.concat([test_df, result_df_now], axis=1)
test_final_df

                                      gufi  time_diff_estimate  target                             t aircraft_engine_class  engine_class_int  True Values  Predictions
2821  ASA1329.OAK.SEA.230111.0345.0110.TFM          198.696970      13 2023-01-12 02:10:54.181818180                   JET                 1           13           12
6078   ABX804.CVG.SEA.230601.0625.0010.TMA           17.138215       2 2023-06-01 13:49:04.707070704                   JET                 1            2            2
1031   UAL690.DEN.SEA.221010.1730.0130.TFM          230.968519      13 2022-10-11 15:59:59.888888888                   JET                 1           13           12
5220   ASA563.MCI.SEA.230424.1200.0060.TFM           50.566835       4 2023-04-25 14:32:42.989898988                   JET                 1            4            4
4927   DAL422.AUS.SEA.230413.1100.0128.TFM          168.425421      11 2023-04-14 12:21:48.474747472                   JET                 1           11           11
...                                    ...                 ...     ...                           ...                   ...               ...          ...          ...
5848  SWA2975.DEN.SEA.230520.1120.0090.TFM          122.746801       9 2023-05-21 11:38:10.191919188                   JET                 1            9            9
6021  QXE2001.YKM.SEA.230527.2055.0071.TFM           58.807744      13 2023-05-28 21:05:26.535353532                   JET                 1           13            4
882   UAL2278.ORD.SEA.221006.2105.0073.TFM          103.171380       8 2022-10-07 23:16:21.717171717                   JET                 1            8            7
8336   ASA365.DFW.SEA.230824.1100.0069.TFM           46.405724       4 2023-08-25 14:32:42.656565652                   JET                 1            4            3
7993  ASA1289.SFO.SEA.230809.1815.0072.TFM           27.650505       3 2023-08-10 19:38:09.969696968                   JET                 1            3            3

[1937 rows x 8 columns]

In [618]:
test_final_df.columns

Index(['gufi', 'time_diff_estimate', 'target', 't', 'aircraft_engine_class', 'engine_class_int', 'True Values', 'Predictions'], dtype='object')

In [619]:
extracted_test_df = test_final_df[['t','True Values', 'Predictions']]
extracted_test_df

                                 t  True Values  Predictions
2821 2023-01-12 02:10:54.181818180           13           12
6078 2023-06-01 13:49:04.707070704            2            2
1031 2022-10-11 15:59:59.888888888           13           12
5220 2023-04-25 14:32:42.989898988            4            4
4927 2023-04-14 12:21:48.474747472           11           11
...                            ...          ...          ...
5848 2023-05-21 11:38:10.191919188            9            9
6021 2023-05-28 21:05:26.535353532           13            4
882  2022-10-07 23:16:21.717171717            8            7
8336 2023-08-25 14:32:42.656565652            4            3
7993 2023-08-10 19:38:09.969696968            3            3

[1937 rows x 3 columns]

In [620]:
import pandas as pd

# Example test_final_df
data_temp = {
    't': ['2023-07-19 15:16:20.939393936', '2023-07-19 15:16:20.939393936', '2023-07-19 16:00:00.000000000','2023-07-19 16:00:00.000000000'],
    'True Values': [5, 7, 3,6],
    'Predictions': [5, 8, 3,3]
}
df_temp = extracted_test_df.copy()
display(df_temp)
# Define the bins (1 through 12)
bins = range(1, 13)

# Initialize dictionaries to store bin sums for each unique 't'
true_bins_by_t = {}
pred_bins_by_t = {}

# Group by unique 't' and calculate bin sums
for t_value, group in df_temp.groupby('t'):
    # Sum True Values for each bin
    true_bins = group['True Values'].value_counts().reindex(bins, fill_value=0)
    true_bins_by_t[t_value] = true_bins.tolist()  # Convert to list for storage
    
    # Sum Predictions for each bin
    pred_bins = group['Predictions'].value_counts().reindex(bins, fill_value=0)
    pred_bins_by_t[t_value] = pred_bins.tolist()  # Convert to list for storage

# Convert results to DataFrames for better visualization
true_bins_df = pd.DataFrame.from_dict(true_bins_by_t, orient='index', columns=[f'Bin {i}' for i in bins])
pred_bins_df = pd.DataFrame.from_dict(pred_bins_by_t, orient='index', columns=[f'Bin {i}' for i in bins])

# Display results
print("True Value Bins by 't':")
display(true_bins_df)

print("\nPrediction Bins by 't':")
display(pred_bins_df)

                                 t  True Values  Predictions
2821 2023-01-12 02:10:54.181818180           13           12
6078 2023-06-01 13:49:04.707070704            2            2
1031 2022-10-11 15:59:59.888888888           13           12
5220 2023-04-25 14:32:42.989898988            4            4
4927 2023-04-14 12:21:48.474747472           11           11
...                            ...          ...          ...
5848 2023-05-21 11:38:10.191919188            9            9
6021 2023-05-28 21:05:26.535353532           13            4
882  2022-10-07 23:16:21.717171717            8            7
8336 2023-08-25 14:32:42.656565652            4            3
7993 2023-08-10 19:38:09.969696968            3            3

[1937 rows x 3 columns]

True Value Bins by 't':

                               Bin 1  Bin 2  Bin 3  Bin 4  Bin 5  Bin 6  Bin 7  Bin 8  Bin 9  Bin 10  Bin 11  Bin 12
2022-09-04 16:43:38.171717171      3      3      2      3      2      1      0      1      2       1       4       1
2022-09-08 09:27:16.343434343      0      0      1      0      0      0      0      0      0       1       0       0
2022-09-12 02:10:54.515151515      1      4      2      1      5      5      1      1      3       0       4       0
2022-09-15 18:54:32.686868686      1      2      4      2      3      0      1      3      4       2       0       2
2022-09-19 11:38:10.858585858      1      0      0      1      2      1      1      1      2       2       0       1
2022-09-23 04:21:49.030303030      1      2      1      2      1      2      2      2      2       1       0       1
2022-10-04 06:32:43.545454545      0      0      0      0      0      0      0      0      0       0       0       1
2022-10-07 23:16:21.717171717      3      4      1      1      2      4      4      2      0       1       5       1
2022-10-11 15:59:59.888888888      4      3      2      5      7      3      2      0      2       3       3       1
2022-10-15 08:43:38.060606060      0      0      0      0      0      0      0      0      0       0       0       0
2022-10-19 01:27:16.232323232      1      1      2      1      3      1      2      2      0       1       4       1
2022-10-22 18:10:54.404040403      2      0      1      5      2      1      0      0      1       1       1       4
2022-10-26 10:54:32.575757575      0      0      0      0      0      1      0      3      2       1       2       0
2022-11-06 13:05:27.090909090      1      0      2      1      1      3      0      0      0       0       3       1
2022-11-10 05:49:05.262626262      2      0      1      0      1      0      0      1      0       0       0       0
2022-11-13 22:32:43.434343434      3      4      2      2      1      1      1      1      3       1       4       0
2022-11-17 15:16:21.606060605      1      0      2      2      1      2      4      3      1       3       5       2
2022-11-21 07:59:59.777777777      0      0      1      1      0      0      0      0      0       1       0       0
2022-11-25 00:43:37.949494949      2      0      1      2      0      2      0      1      0       1       0       0
2022-12-06 02:54:32.464646464      1      0      4      1      4      5      3      6      1       0       3       3
2022-12-09 19:38:10.636363636      1      0      1      5      7      2      2      1      3       2       3       4
2022-12-13 12:21:48.808080807      0      0      0      1      0      0      2      0      2       1       2       1
2022-12-17 05:05:26.979797978      4      3      2      3      1      1      1      1      3       1       1       1
2022-12-20 21:49:05.151515150      0      1      0      2      1      0      0      1      0       1       0       0
2022-12-24 14:32:43.323232322      1      1      0      0      1      1      3      1      0       1       1       0
2022-12-28 07:16:21.494949494      1      2      0      1      0      1      0      0      0       0       0       0
2023-01-08 09:27:16.010101010      0      0      0      0      1      0      0      0      0       1       1       0
2023-01-12 02:10:54.181818180      2      2      1      1      2      2      2      3      2       3       1       1
2023-01-15 18:54:32.353535352      1      0      0      5      2      2      2      5      0       1       2       2
2023-01-19 11:38:10.525252524      0      1      0      2      0      1      1      2      0       0       2       1
2023-01-23 04:21:48.696969696      3      2      4      3      4      5      0      2      1       0       0       0
2023-01-26 21:05:26.868686868      2      1      2      2      3      4      2      1      0       1       2       1
2023-01-30 13:49:05.040404040      2      1      0      1      1      1      1      0      1       3       3       4
2023-02-10 15:59:59.555555554      3      1      0      1      1      0      4      5      3       0       1       3
2023-02-14 08:43:37.727272726      0      0      0      0      0      1      0      0      0       0       0       0
2023-02-18 01:27:15.898989898      4      3      2      3      3      1      2      3      2       2       2       2
2023-02-21 18:10:54.070707070      0      3      1      1      1      0      1      3      4       2       5       0
2023-02-25 10:54:32.242424240      0      0      0      0      0      0      0      0      0       0       0       0
2023-03-01 03:38:10.414141412      4      1      2      2      1      0      2      4      1       1       0       0
2023-03-04 20:21:48.585858584      1      1      2      1      0      2      1      1      1       2       0       2
2023-03-12 05:49:04.929292928      1      0      1      1      0      0      0      3      1       0       0       0
2023-03-15 22:32:43.101010100      0      1      1      0      3      3      1      0      4       1       1       2
2023-03-19 15:16:21.272727272      4      0      2      1      2      1      5      2      3       2       0       4
2023-03-23 07:59:59.444444442      0      0      0      0      0      0      0      0      0       0       0       0
2023-03-27 00:43:37.616161614      1      5      2      2      3      3      0      2      4       1       3       3
2023-03-30 17:27:15.787878788      4      0      1      0      0      2      1      2      1       3       1       0
2023-04-14 12:21:48.474747472      2      0      3      0      2      4      1      0      1       0       5       1
2023-04-21 21:49:04.818181816      0      4      2      0      2      2      3      3      1       1       0       1
2023-04-25 14:32:42.989898988      1      3      6      3      2      6      2      1      1       5       2       1
2023-04-29 07:16:21.161616160      0      1      0      0      0      0      0      0      1       0       0       0
2023-05-02 23:59:59.333333332      0      0      0      0      0      0      0      0      0       0       0       0
2023-05-06 16:43:37.505050504      2      1      1      1      5      0      4      0      4       1       2       2
2023-05-17 18:54:32.020202020      3      2      5      3      1      3      2      0      1       2       3       3
2023-05-21 11:38:10.191919188      1      0      0      0      0      3      1      0      2       0       1       2
2023-05-25 04:21:48.363636360      2      3      3      2      1      2      3      4      1       0       1       0
2023-05-28 21:05:26.535353532      3      4      2      1      1      0      1      0      2       4       2       2
2023-06-01 13:49:04.707070704      0      2      2      2      4      0      1      3      1       1       2       2
2023-06-05 06:32:42.878787876      1      3      0      0      0      0      0      0      0       0       0       0
2023-06-08 23:16:21.050505048      0      3      3      1      4      2      2      0      1       1       0       0
2023-06-16 08:43:37.393939392      2      0      0      0      0      0      0      0      0       0       0       0
2023-06-20 01:27:15.565656564      7      4      1      3      2      1      3      6      3       1       5       2
2023-06-23 18:10:53.737373736      6      1      2      1      4      2      1      2      3       0       3       3
2023-06-27 10:54:31.909090908      1      0      1      0      0      0      0      0      2       0       1       1
2023-07-01 03:38:10.080808080      3      2      0      2      4      3      3      3      0       0       4       2
2023-07-04 20:21:48.252525252      1      3      1      2      2      1      3      1      0       1       2       3
2023-07-08 13:05:26.424242420      1      1      1      1      0      1      2      3      2       1       5       5
2023-07-19 15:16:20.939393936      1      1      4      4      1      2      1      1      5       0       1       1
2023-07-23 07:59:59.111111108      1      0      0      0      0      0      0      0      0       0       0       0
2023-07-27 00:43:37.282828280      4      2      1      1      0      1      3      2      0       2       4       3
2023-07-30 17:27:15.454545452      3      3      2      1      1      3      2      3      6       1       3       1
2023-08-03 10:10:53.626262624      0      0      1      0      0      0      1      1      0       1       1       1
2023-08-07 02:54:31.797979796      0      2      5      2      2      1      1      3      4       2       4       0
2023-08-10 19:38:09.969696968      1      2      3      1      2      1      4      3      0       2       1       3
2023-08-21 21:49:04.484848480      2      1      1      1      3      4      1      1      4       1       1       3
2023-08-25 14:32:42.656565652      0      2      1      6      0      5      3      1      4       3       4       3
2023-08-29 07:16:20.828282824      0      0      1      0      0      0      0      0      0       0       0       0

Prediction Bins by 't':

                               Bin 1  Bin 2  Bin 3  Bin 4  Bin 5  Bin 6  Bin 7  Bin 8  Bin 9  Bin 10  Bin 11  Bin 12
2022-09-04 16:43:38.171717171      0      2      4      6      1      2      0      2      1       1       2      11
2022-09-08 09:27:16.343434343      0      0      1      0      0      1      0      0      0       1       0       6
2022-09-12 02:10:54.515151515      0      4      4      3      5      2      2      2      1       2       2       8
2022-09-15 18:54:32.686868686      0      2      4      3      3      2      3      0      4       2       2       6
2022-09-19 11:38:10.858585858      0      0      1      1      2      1      1      2      2       1       1       9
2022-09-23 04:21:49.030303030      0      0      2      4      1      3      1      1      3       1       0       4
2022-10-04 06:32:43.545454545      0      1      0      1      0      0      0      0      0       0       0       2
2022-10-07 23:16:21.717171717      0      1      6      3      3      3      4      1      3       1       3      18
2022-10-11 15:59:59.888888888      0      1      8      7      3      5      4      1      2       1       4       7
2022-10-15 08:43:38.060606060      0      0      0      0      0      0      0      0      0       0       0       3
2022-10-19 01:27:16.232323232      0      1      1      3      1      3      1      3      0       1       4      11
2022-10-22 18:10:54.404040403      0      0      2      5      3      0      1      0      1       0       3      10
2022-10-26 10:54:32.575757575      0      0      0      0      0      1      0      4      1       2       1       9
2022-11-06 13:05:27.090909090      0      0      3      3      1      2      0      0      0       0       2       6
2022-11-10 05:49:05.262626262      0      1      0      2      2      0      0      0      0       1       0       0
2022-11-13 22:32:43.434343434      0      2      6      3      3      0      2      1      2       1       4       7
2022-11-17 15:16:21.606060605      0      0      0      5      1      2      4      5      3       2       5       9
2022-11-21 07:59:59.777777777      0      1      1      1      0      0      0      0      1       0       0       0
2022-11-25 00:43:37.949494949      0      1      1      4      1      3      0      1      0       1       0       2
2022-12-06 02:54:32.464646464      0      1      2      5      4      4      6      3      0       3       2       3
2022-12-09 19:38:10.636363636      0      0      3     10      3      2      2      3      3       1       3      14
2022-12-13 12:21:48.808080807      0      0      0      1      0      1      2      0      3       1       1       9
2022-12-17 05:05:26.979797978      0      2      4      6      1      1      1      2      2       2       1       3
2022-12-20 21:49:05.151515150      0      0      3      1      0      0      1      2      0       0       1       7
2022-12-24 14:32:43.323232322      1      0      0      1      3      1      3      0      1       2       1       9
2022-12-28 07:16:21.494949494      0      1      1      1      1      1      0      0      0       0       0       2
2023-01-08 09:27:16.010101010      0      0      0      0      1      0      0      0      1       0       1       3
2023-01-12 02:10:54.181818180      0      0      3      3      3      2      2      4      3       0       3      13
2023-01-15 18:54:32.353535352      0      0      1      4      3      1      7      1      2       0       3      13
2023-01-19 11:38:10.525252524      0      0      1      2      0      2      1      1      0       1       2       6
2023-01-23 04:21:48.696969696      0      3      5      5      9      1      2      0      1       0       0       5
2023-01-26 21:05:26.868686868      0      1      3      4      5      4      0      3      0       1       2       8
2023-01-30 13:49:05.040404040      0      0      1      2      2      1      1      0      2       4       4      16
2023-02-10 15:59:59.555555554      0      2      1      5      3      3      4      2      2       2       2      11
2023-02-14 08:43:37.727272726      0      0      0      0      0      1      0      0      0       0       0       1
2023-02-18 01:27:15.898989898      1      2      5      6      3      2      3      2      3       1       3      20
2023-02-21 18:10:54.070707070      0      0      2      5      1      2      0      3      5       1       5      15
2023-02-25 10:54:32.242424240      0      0      0      0      0      0      0      0      0       0       0       5
2023-03-01 03:38:10.414141412      0      1      3      5      1      2      3      3      1       1       0      10
2023-03-04 20:21:48.585858584      0      0      4      1      1      1      1      2      1       2       1       5
2023-03-12 05:49:04.929292928      0      0      3      1      0      0      2      2      0       1       0       1
2023-03-15 22:32:43.101010100      0      3      0      3      2      1      1      3      4       2       2       9
2023-03-19 15:16:21.272727272      0      0      3      5      3      2      6      2      2       2       1      14
2023-03-23 07:59:59.444444442      0      0      0      0      1      0      0      0      0       0       0       0
2023-03-27 00:43:37.616161614      0      4      4      4      0      4      0      3      4       2       2      18
2023-03-30 17:27:15.787878788      0      0      1      6      2      1      1      3      2       2       0      12
2023-04-14 12:21:48.474747472      0      0      4      3      2      1      2      1      0       2       4      10
2023-04-21 21:49:04.818181816      0      3      2      5      2      1      3      2      2       2       0       8
2023-04-25 14:32:42.989898988      0      0      9      4      5      4      1      1      2       4       2      11
2023-04-29 07:16:21.161616160      0      1      0      0      0      0      0      0      1       0       0       1
2023-05-02 23:59:59.333333332      0      0      2      0      0      0      0      0      0       0       0       0
2023-05-06 16:43:37.505050504      0      2      1      3      5      1      3      2      1       3       2       5
2023-05-17 18:54:32.020202020      0      1      6      7      1      3      3      0      1       3       4       8
2023-05-21 11:38:10.191919188      0      0      0      1      1      1      2      0      2       0       0      13
2023-05-25 04:21:48.363636360      0      2      5      2      3      3      3      3      1       1       0       1
2023-05-28 21:05:26.535353532      0      1      4      4      2      1      2      1      2       3       3      10
2023-06-01 13:49:04.707070704      0      1      4      2      3      2      1      3      1       2       1      16
2023-06-05 06:32:42.878787876      0      0      3      0      1      0      0      0      0       0       0       0
2023-06-08 23:16:21.050505048      0      2      5      3      2      3      0      0      1       0       1       8
2023-06-16 08:43:37.393939392      0      0      0      1      0      1      0      0      0       0       0       2
2023-06-20 01:27:15.565656564      0      1      7      6      1      3      5      7      2       3       4       8
2023-06-23 18:10:53.737373736      0      2      5      1      7      3      2      3      1       2       4       9
2023-06-27 10:54:31.909090908      0      0      2      0      0      0      0      2      0       0       1       5
2023-07-01 03:38:10.080808080      0      1      3      3      8      2      4      0      0       4       1       4
2023-07-04 20:21:48.252525252      0      2      3      4      1      1      1      2      2       1       0      17
2023-07-08 13:05:26.424242420      0      1      1      2      0      2      2      1      4       4       4      19
2023-07-19 15:16:20.939393936      0      2      4      3      2      3      0      5      1       0       1       8
2023-07-23 07:59:59.111111108      0      0      0      0      1      0      0      0      0       0       0       1
2023-07-27 00:43:37.282828280      1      0      2      3      2      1      2      3      0       3       5      20
2023-07-30 17:27:15.454545452      0      1      7      1      3      4      2      6      4       3       2      14
2023-08-03 10:10:53.626262624      0      0      1      0      0      0      1      1      0       1       1      10
2023-08-07 02:54:31.797979796      0      1      5      5      2      2      2      4      4       4       2       9
2023-08-10 19:38:09.969696968      0      1      4      2      3      6      2      1      1       0       4       9
2023-08-21 21:49:04.484848480      0      0      2      2      4      4      3      0      5       1       2      12
2023-08-25 14:32:42.656565652      0      2      4      5      4      2      1      3      3       2       4      22
2023-08-29 07:16:20.828282824      0      0      1      0      0      0      0      0      0       0       0       0

In [621]:
# Convert true_bins_df into a 3-column DataFrame with count_true
true_bins_melted = true_bins_df.reset_index().melt(
    id_vars='index', 
    var_name='Bin', 
    value_name='count_true'
)
true_bins_melted.rename(columns={'index': 'Time'}, inplace=True)

# Convert Bin column to integers (remove "Bin " prefix)
true_bins_melted['Bin'] = true_bins_melted['Bin'].str.extract(r'(\d+)').astype(int)

# Convert pred_bins_df into a 3-column DataFrame with count_pred
pred_bins_melted = pred_bins_df.reset_index().melt(
    id_vars='index', 
    var_name='Bin', 
    value_name='count_pred'
)
pred_bins_melted.rename(columns={'index': 'Time'}, inplace=True)

# Convert Bin column to integers (remove "Bin " prefix)
pred_bins_melted['Bin'] = pred_bins_melted['Bin'].str.extract(r'(\d+)').astype(int)

# Merge true and pred bins based on Time and Bin
combined_bins_df = pd.merge(true_bins_melted, pred_bins_melted, on=['Time', 'Bin'], how='outer')

# Display the result
display(combined_bins_df)

                             Time  Bin  count_true  count_pred
0   2022-09-04 16:43:38.171717171    1           3           0
1   2022-09-04 16:43:38.171717171    2           3           2
2   2022-09-04 16:43:38.171717171    3           2           4
3   2022-09-04 16:43:38.171717171    4           3           6
4   2022-09-04 16:43:38.171717171    5           2           1
5   2022-09-04 16:43:38.171717171    6           1           2
6   2022-09-04 16:43:38.171717171    7           0           0
7   2022-09-04 16:43:38.171717171    8           1           2
8   2022-09-04 16:43:38.171717171    9           2           1
9   2022-09-04 16:43:38.171717171   10           1           1
10  2022-09-04 16:43:38.171717171   11           4           2
11  2022-09-04 16:43:38.171717171   12           1          11
12  2022-09-08 09:27:16.343434343    1           0           0
13  2022-09-08 09:27:16.343434343    2           0           0
14  2022-09-08 09:27:16.343434343    3           1           1
15  2022-09-08 09:27:16.343434343    4           0           0
16  2022-09-08 09:27:16.343434343    5           0           0
17  2022-09-08 09:27:16.343434343    6           0           1
18  2022-09-08 09:27:16.343434343    7           0           0
19  2022-09-08 09:27:16.343434343    8           0           0
20  2022-09-08 09:27:16.343434343    9           0           0
21  2022-09-08 09:27:16.343434343   10           1           1
22  2022-09-08 09:27:16.343434343   11           0           0
23  2022-09-08 09:27:16.343434343   12           0           6
24  2022-09-12 02:10:54.515151515    1           1           0
25  2022-09-12 02:10:54.515151515    2           4           4
26  2022-09-12 02:10:54.515151515    3           2           4
27  2022-09-12 02:10:54.515151515    4           1           3
28  2022-09-12 02:10:54.515151515    5           5           5
29  2022-09-12 02:10:54.515151515    6           5           2
30  2022-09-12 02:10:54.515151515    7           1           2
31  2022-09-12 02:10:54.515151515    8           1           2
32  2022-09-12 02:10:54.515151515    9           3           1
33  2022-09-12 02:10:54.515151515   10           0           2
34  2022-09-12 02:10:54.515151515   11           4           2
35  2022-09-12 02:10:54.515151515   12           0           8
36  2022-09-15 18:54:32.686868686    1           1           0
37  2022-09-15 18:54:32.686868686    2           2           2
38  2022-09-15 18:54:32.686868686    3           4           4
39  2022-09-15 18:54:32.686868686    4           2           3
40  2022-09-15 18:54:32.686868686    5           3           3
41  2022-09-15 18:54:32.686868686    6           0           2
42  2022-09-15 18:54:32.686868686    7           1           3
43  2022-09-15 18:54:32.686868686    8           3           0
44  2022-09-15 18:54:32.686868686    9           4           4
45  2022-09-15 18:54:32.686868686   10           2           2
46  2022-09-15 18:54:32.686868686   11           0           2
47  2022-09-15 18:54:32.686868686   12           2           6
48  2022-09-19 11:38:10.858585858    1           1           0
49  2022-09-19 11:38:10.858585858    2           0           0
50  2022-09-19 11:38:10.858585858    3           0           1
51  2022-09-19 11:38:10.858585858    4           1           1
52  2022-09-19 11:38:10.858585858    5           2           2
53  2022-09-19 11:38:10.858585858    6           1           1
54  2022-09-19 11:38:10.858585858    7           1           1
55  2022-09-19 11:38:10.858585858    8           1           2
56  2022-09-19 11:38:10.858585858    9           2           2
57  2022-09-19 11:38:10.858585858   10           2           1
58  2022-09-19 11:38:10.858585858   11           0           1
59  2022-09-19 11:38:10.858585858   12           1           9
60  2022-09-23 04:21:49.030303030    1           1           0
61  2022-09-23 04:21:49.030303030    2           2           0
62  2022-09-23 04:21:49.030303030    3           1           2
63  2022-09-23 04:21:49.030303030    4           2           4
64  2022-09-23 04:21:49.030303030    5           1           1
65  2022-09-23 04:21:49.030303030    6           2           3
66  2022-09-23 04:21:49.030303030    7           2           1
67  2022-09-23 04:21:49.030303030    8           2           1
68  2022-09-23 04:21:49.030303030    9           2           3
69  2022-09-23 04:21:49.030303030   10           1           1
70  2022-09-23 04:21:49.030303030   11           0           0
71  2022-09-23 04:21:49.030303030   12           1           4
72  2022-10-04 06:32:43.545454545    1           0           0
73  2022-10-04 06:32:43.545454545    2           0           1
74  2022-10-04 06:32:43.545454545    3           0           0
75  2022-10-04 06:32:43.545454545    4           0           1
76  2022-10-04 06:32:43.545454545    5           0           0
77  2022-10-04 06:32:43.545454545    6           0           0
78  2022-10-04 06:32:43.545454545    7           0           0
79  2022-10-04 06:32:43.545454545    8           0           0
80  2022-10-04 06:32:43.545454545    9           0           0
81  2022-10-04 06:32:43.545454545   10           0           0
82  2022-10-04 06:32:43.545454545   11           0           0
83  2022-10-04 06:32:43.545454545   12           1           2
84  2022-10-07 23:16:21.717171717    1           3           0
85  2022-10-07 23:16:21.717171717    2           4           1
86  2022-10-07 23:16:21.717171717    3           1           6
87  2022-10-07 23:16:21.717171717    4           1           3
88  2022-10-07 23:16:21.717171717    5           2           3
89  2022-10-07 23:16:21.717171717    6           4           3
90  2022-10-07 23:16:21.717171717    7           4           4
91  2022-10-07 23:16:21.717171717    8           2           1
92  2022-10-07 23:16:21.717171717    9           0           3
93  2022-10-07 23:16:21.717171717   10           1           1
94  2022-10-07 23:16:21.717171717   11           5           3
95  2022-10-07 23:16:21.717171717   12           1          18
96  2022-10-11 15:59:59.888888888    1           4           0
97  2022-10-11 15:59:59.888888888    2           3           1
98  2022-10-11 15:59:59.888888888    3           2           8
99  2022-10-11 15:59:59.888888888    4           5           7
100 2022-10-11 15:59:59.888888888    5           7           3
101 2022-10-11 15:59:59.888888888    6           3           5
102 2022-10-11 15:59:59.888888888    7           2           4
103 2022-10-11 15:59:59.888888888    8           0           1
104 2022-10-11 15:59:59.888888888    9           2           2
105 2022-10-11 15:59:59.888888888   10           3           1
106 2022-10-11 15:59:59.888888888   11           3           4
107 2022-10-11 15:59:59.888888888   12           1           7
108 2022-10-15 08:43:38.060606060    1           0           0
109 2022-10-15 08:43:38.060606060    2           0           0
110 2022-10-15 08:43:38.060606060    3           0           0
111 2022-10-15 08:43:38.060606060    4           0           0
112 2022-10-15 08:43:38.060606060    5           0           0
113 2022-10-15 08:43:38.060606060    6           0           0
114 2022-10-15 08:43:38.060606060    7           0           0
115 2022-10-15 08:43:38.060606060    8           0           0
116 2022-10-15 08:43:38.060606060    9           0           0
117 2022-10-15 08:43:38.060606060   10           0           0
118 2022-10-15 08:43:38.060606060   11           0           0
119 2022-10-15 08:43:38.060606060   12           0           3
120 2022-10-19 01:27:16.232323232    1           1           0
121 2022-10-19 01:27:16.232323232    2           1           1
122 2022-10-19 01:27:16.232323232    3           2           1
123 2022-10-19 01:27:16.232323232    4           1           3
124 2022-10-19 01:27:16.232323232    5           3           1
125 2022-10-19 01:27:16.232323232    6           1           3
126 2022-10-19 01:27:16.232323232    7           2           1
127 2022-10-19 01:27:16.232323232    8           2           3
128 2022-10-19 01:27:16.232323232    9           0           0
129 2022-10-19 01:27:16.232323232   10           1           1
130 2022-10-19 01:27:16.232323232   11           4           4
131 2022-10-19 01:27:16.232323232   12           1          11
132 2022-10-22 18:10:54.404040403    1           2           0
133 2022-10-22 18:10:54.404040403    2           0           0
134 2022-10-22 18:10:54.404040403    3           1           2
135 2022-10-22 18:10:54.404040403    4           5           5
136 2022-10-22 18:10:54.404040403    5           2           3
137 2022-10-22 18:10:54.404040403    6           1           0
138 2022-10-22 18:10:54.404040403    7           0           1
139 2022-10-22 18:10:54.404040403    8           0           0
140 2022-10-22 18:10:54.404040403    9           1           1
141 2022-10-22 18:10:54.404040403   10           1           0
142 2022-10-22 18:10:54.404040403   11           1           3
143 2022-10-22 18:10:54.404040403   12           4          10
144 2022-10-26 10:54:32.575757575    1           0           0
145 2022-10-26 10:54:32.575757575    2           0           0
146 2022-10-26 10:54:32.575757575    3           0           0
147 2022-10-26 10:54:32.575757575    4           0           0
148 2022-10-26 10:54:32.575757575    5           0           0
149 2022-10-26 10:54:32.575757575    6           1           1
150 2022-10-26 10:54:32.575757575    7           0           0
151 2022-10-26 10:54:32.575757575    8           3           4
152 2022-10-26 10:54:32.575757575    9           2           1
153 2022-10-26 10:54:32.575757575   10           1           2
154 2022-10-26 10:54:32.575757575   11           2           1
155 2022-10-26 10:54:32.575757575   12           0           9
156 2022-11-06 13:05:27.090909090    1           1           0
157 2022-11-06 13:05:27.090909090    2           0           0
158 2022-11-06 13:05:27.090909090    3           2           3
159 2022-11-06 13:05:27.090909090    4           1           3
160 2022-11-06 13:05:27.090909090    5           1           1
161 2022-11-06 13:05:27.090909090    6           3           2
162 2022-11-06 13:05:27.090909090    7           0           0
163 2022-11-06 13:05:27.090909090    8           0           0
164 2022-11-06 13:05:27.090909090    9           0           0
165 2022-11-06 13:05:27.090909090   10           0           0
166 2022-11-06 13:05:27.090909090   11           3           2
167 2022-11-06 13:05:27.090909090   12           1           6
168 2022-11-10 05:49:05.262626262    1           2           0
169 2022-11-10 05:49:05.262626262    2           0           1
170 2022-11-10 05:49:05.262626262    3           1           0
171 2022-11-10 05:49:05.262626262    4           0           2
172 2022-11-10 05:49:05.262626262    5           1           2
173 2022-11-10 05:49:05.262626262    6           0           0
174 2022-11-10 05:49:05.262626262    7           0           0
175 2022-11-10 05:49:05.262626262    8           1           0
176 2022-11-10 05:49:05.262626262    9           0           0
177 2022-11-10 05:49:05.262626262   10           0           1
178 2022-11-10 05:49:05.262626262   11           0           0
179 2022-11-10 05:49:05.262626262   12           0           0
180 2022-11-13 22:32:43.434343434    1           3           0
181 2022-11-13 22:32:43.434343434    2           4           2
182 2022-11-13 22:32:43.434343434    3           2           6
183 2022-11-13 22:32:43.434343434    4           2           3
184 2022-11-13 22:32:43.434343434    5           1           3
185 2022-11-13 22:32:43.434343434    6           1           0
186 2022-11-13 22:32:43.434343434    7           1           2
187 2022-11-13 22:32:43.434343434    8           1           1
188 2022-11-13 22:32:43.434343434    9           3           2
189 2022-11-13 22:32:43.434343434   10           1           1
190 2022-11-13 22:32:43.434343434   11           4           4
191 2022-11-13 22:32:43.434343434   12           0           7
192 2022-11-17 15:16:21.606060605    1           1           0
193 2022-11-17 15:16:21.606060605    2           0           0
194 2022-11-17 15:16:21.606060605    3           2           0
195 2022-11-17 15:16:21.606060605    4           2           5
196 2022-11-17 15:16:21.606060605    5           1           1
197 2022-11-17 15:16:21.606060605    6           2           2
198 2022-11-17 15:16:21.606060605    7           4           4
199 2022-11-17 15:16:21.606060605    8           3           5
200 2022-11-17 15:16:21.606060605    9           1           3
201 2022-11-17 15:16:21.606060605   10           3           2
202 2022-11-17 15:16:21.606060605   11           5           5
203 2022-11-17 15:16:21.606060605   12           2           9
204 2022-11-21 07:59:59.777777777    1           0           0
205 2022-11-21 07:59:59.777777777    2           0           1
206 2022-11-21 07:59:59.777777777    3           1           1
207 2022-11-21 07:59:59.777777777    4           1           1
208 2022-11-21 07:59:59.777777777    5           0           0
209 2022-11-21 07:59:59.777777777    6           0           0
210 2022-11-21 07:59:59.777777777    7           0           0
211 2022-11-21 07:59:59.777777777    8           0           0
212 2022-11-21 07:59:59.777777777    9           0           1
213 2022-11-21 07:59:59.777777777   10           1           0
214 2022-11-21 07:59:59.777777777   11           0           0
215 2022-11-21 07:59:59.777777777   12           0           0
216 2022-11-25 00:43:37.949494949    1           2           0
217 2022-11-25 00:43:37.949494949    2           0           1
218 2022-11-25 00:43:37.949494949    3           1           1
219 2022-11-25 00:43:37.949494949    4           2           4
220 2022-11-25 00:43:37.949494949    5           0           1
221 2022-11-25 00:43:37.949494949    6           2           3
222 2022-11-25 00:43:37.949494949    7           0           0
223 2022-11-25 00:43:37.949494949    8           1           1
224 2022-11-25 00:43:37.949494949    9           0           0
225 2022-11-25 00:43:37.949494949   10           1           1
226 2022-11-25 00:43:37.949494949   11           0           0
227 2022-11-25 00:43:37.949494949   12           0           2
228 2022-12-06 02:54:32.464646464    1           1           0
229 2022-12-06 02:54:32.464646464    2           0           1
230 2022-12-06 02:54:32.464646464    3           4           2
231 2022-12-06 02:54:32.464646464    4           1           5
232 2022-12-06 02:54:32.464646464    5           4           4
233 2022-12-06 02:54:32.464646464    6           5           4
234 2022-12-06 02:54:32.464646464    7           3           6
235 2022-12-06 02:54:32.464646464    8           6           3
236 2022-12-06 02:54:32.464646464    9           1           0
237 2022-12-06 02:54:32.464646464   10           0           3
238 2022-12-06 02:54:32.464646464   11           3           2
239 2022-12-06 02:54:32.464646464   12           3           3
240 2022-12-09 19:38:10.636363636    1           1           0
241 2022-12-09 19:38:10.636363636    2           0           0
242 2022-12-09 19:38:10.636363636    3           1           3
243 2022-12-09 19:38:10.636363636    4           5          10
244 2022-12-09 19:38:10.636363636    5           7           3
245 2022-12-09 19:38:10.636363636    6           2           2
246 2022-12-09 19:38:10.636363636    7           2           2
247 2022-12-09 19:38:10.636363636    8           1           3
248 2022-12-09 19:38:10.636363636    9           3           3
249 2022-12-09 19:38:10.636363636   10           2           1
250 2022-12-09 19:38:10.636363636   11           3           3
251 2022-12-09 19:38:10.636363636   12           4          14
252 2022-12-13 12:21:48.808080807    1           0           0
253 2022-12-13 12:21:48.808080807    2           0           0
254 2022-12-13 12:21:48.808080807    3           0           0
255 2022-12-13 12:21:48.808080807    4           1           1
256 2022-12-13 12:21:48.808080807    5           0           0
257 2022-12-13 12:21:48.808080807    6           0           1
258 2022-12-13 12:21:48.808080807    7           2           2
259 2022-12-13 12:21:48.808080807    8           0           0
260 2022-12-13 12:21:48.808080807    9           2           3
261 2022-12-13 12:21:48.808080807   10           1           1
262 2022-12-13 12:21:48.808080807   11           2           1
263 2022-12-13 12:21:48.808080807   12           1           9
264 2022-12-17 05:05:26.979797978    1           4           0
265 2022-12-17 05:05:26.979797978    2           3           2
266 2022-12-17 05:05:26.979797978    3           2           4
267 2022-12-17 05:05:26.979797978    4           3           6
268 2022-12-17 05:05:26.979797978    5           1           1
269 2022-12-17 05:05:26.979797978    6           1           1
270 2022-12-17 05:05:26.979797978    7           1           1
271 2022-12-17 05:05:26.979797978    8           1           2
272 2022-12-17 05:05:26.979797978    9           3           2
273 2022-12-17 05:05:26.979797978   10           1           2
274 2022-12-17 05:05:26.979797978   11           1           1
275 2022-12-17 05:05:26.979797978   12           1           3
276 2022-12-20 21:49:05.151515150    1           0           0
277 2022-12-20 21:49:05.151515150    2           1           0
278 2022-12-20 21:49:05.151515150    3           0           3
279 2022-12-20 21:49:05.151515150    4           2           1
280 2022-12-20 21:49:05.151515150    5           1           0
281 2022-12-20 21:49:05.151515150    6           0           0
282 2022-12-20 21:49:05.151515150    7           0           1
283 2022-12-20 21:49:05.151515150    8           1           2
284 2022-12-20 21:49:05.151515150    9           0           0
285 2022-12-20 21:49:05.151515150   10           1           0
286 2022-12-20 21:49:05.151515150   11           0           1
287 2022-12-20 21:49:05.151515150   12           0           7
288 2022-12-24 14:32:43.323232322    1           1           1
289 2022-12-24 14:32:43.323232322    2           1           0
290 2022-12-24 14:32:43.323232322    3           0           0
291 2022-12-24 14:32:43.323232322    4           0           1
292 2022-12-24 14:32:43.323232322    5           1           3
293 2022-12-24 14:32:43.323232322    6           1           1
294 2022-12-24 14:32:43.323232322    7           3           3
295 2022-12-24 14:32:43.323232322    8           1           0
296 2022-12-24 14:32:43.323232322    9           0           1
297 2022-12-24 14:32:43.323232322   10           1           2
298 2022-12-24 14:32:43.323232322   11           1           1
299 2022-12-24 14:32:43.323232322   12           0           9
300 2022-12-28 07:16:21.494949494    1           1           0
301 2022-12-28 07:16:21.494949494    2           2           1
302 2022-12-28 07:16:21.494949494    3           0           1
303 2022-12-28 07:16:21.494949494    4           1           1
304 2022-12-28 07:16:21.494949494    5           0           1
305 2022-12-28 07:16:21.494949494    6           1           1
306 2022-12-28 07:16:21.494949494    7           0           0
307 2022-12-28 07:16:21.494949494    8           0           0
308 2022-12-28 07:16:21.494949494    9           0           0
309 2022-12-28 07:16:21.494949494   10           0           0
310 2022-12-28 07:16:21.494949494   11           0           0
311 2022-12-28 07:16:21.494949494   12           0           2
312 2023-01-08 09:27:16.010101010    1           0           0
313 2023-01-08 09:27:16.010101010    2           0           0
314 2023-01-08 09:27:16.010101010    3           0           0
315 2023-01-08 09:27:16.010101010    4           0           0

In [622]:
import numpy as np
from sklearn.metrics import mean_squared_error

# Calculate RMSE for count_true and count_pred
rmse = np.sqrt(mean_squared_error(combined_bins_df['count_true'], combined_bins_df['count_pred']))

# Normalization factor K
K = 10

# Calculate the evaluation score
score = np.exp(-rmse / K)

# Print the results
print(f"RMSE: {rmse}")
print(f"Score: {score}")

RMSE: 2.8344296124741173
Score: 0.7531860817094402

### Save Model

In [623]:
import xgboost as xgb

SAVE_PATH = "/projectnb/cs640grp/projects/noahark/523Proj/data/models"

# Assuming my_model is your trained XGBRegressor model
model_file_path = f"{SAVE_PATH}/xgboost_model2_{ACODE}.json"

# Save the model
model.save_model(model_file_path)

print(f"Model saved to {model_file_path}")

Model saved to /projectnb/cs640grp/projects/noahark/523Proj/data/models/xgboost_model_KSEA.json