### ChatGPT was used to generate some of the code in this file. 
In this notebook we will pull the model for JFK and use it to predict

In [572]:
TRAIN_PATH = '/projectnb/cs640grp/projects/noahark/preprocess/train'
TEST_PATH = '/projectnb/cs640grp/projects/noahark/preprocess/test'

from pathlib import Path
file_paths = [str(f) for f in Path(TRAIN_PATH).rglob("*") if f.is_file()]
#print("\n".join(file_paths))

airport_codes = ['KJFK','KATL', 'KCLT', 'KDEN', 'KDFW',  'KMEM', 'KMIA', 'KORD', 'KPHX', 'KSEA']

BASE  = 'test' # dont touch 
ACODE = airport_codes[9]

In [573]:
import os
import glob

def get_correct_file(base_dir=BASE, airport_code=ACODE, file_name="MFS_df.parquet"):
    """
    Retrieve the correct file from a given directory based on the airport code and file name.

    Args:
        base_dir (str): The base directory containing the files (default is "train").
        airport_code (str): The airport code, e.g., 'KMEM', 'KMIA' (default is "KMEM").
        file_name (str): The specific file name, e.g., 'MFS_df.parquet' (default is "MFS_df.parquet").

    Returns:
        str: The full path to the matching file or None if not found.
    """
    root_dir = "/projectnb/cs640grp/projects/noahark/preprocess"
    search_pattern = os.path.join(root_dir, base_dir, "fuser", airport_code, file_name)
    matching_files = glob.glob(search_pattern)

    if matching_files:
        return matching_files[0]  # Return the first matching file
    else:
        return None


# Using the default base directory ("train")
result = get_correct_file(base_dir = BASE, airport_code=ACODE)

if result:
    print(f"File found: {result}")
else:
    print("File not found.")

File found: /projectnb/cs640grp/projects/noahark/preprocess/test/fuser/KSEA/MFS_df.parquet

In [574]:
FD =  {
    "MFS": "MFS_df.parquet",
    "TBFM": "TBFM_df.parquet",
    "RNWY": "runway_df.parquet",
    "FPOS": "first_position.parquet",
    "LMAP": "lamp.parquet",
    "TFM": "tfm_df.parquet",
}

In [575]:
get_correct_file(base_dir=BASE, airport_code=ACODE, file_name="MFS_df.parquet")

'/projectnb/cs640grp/projects/noahark/preprocess/test/fuser/KSEA/MFS_df.parquet'

## Let's look at some of this data

In [576]:
import pandas as pd
def load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name="MFS_df.parquet"):
    """
    Load a Parquet file into a DataFrame and display its contents.

    Args:
        base_dir (str): The base directory containing the files (default is "train").
        airport_code (str): The airport code, e.g., 'KMEM' (default is "KMEM").
        file_name (str): The specific file name, e.g., 'MFS_df.parquet' (default is "MFS_df.parquet").
    """
    # Use the function to get the file path
    file_path = get_correct_file(base_dir=base_dir, airport_code=airport_code, file_name=file_name)
    
    if file_path:
        try:
            # Load the Parquet file into a DataFrame
            df = pd.read_parquet(file_path)
            
            # Display the DataFrame
            display(df)
            return df 
        except Exception as e:
            print(f"An error occurred while loading the Parquet file: {e}")
    else:
        print(f"File not found: {base_dir}/{airport_code}/{file_name}")
        return None

# Example usage
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["MFS"])

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
DAL890.MSP.SEA.221203.2025.0049.TFM                    JET          B739                        KSEA          None  SCHEDULED_AIR_TRANSPORT
ASA67.SEA.KTN.221203.2325.0149.TFM                     JET          B738                        PAKT          None  SCHEDULED_AIR_TRANSPORT
JZA807.SEA.YVR.221203.2335.0043.TFM                  TURBO          DH8D                        CYVR          None  SCHEDULED_AIR_TRANSPORT
THY8DE.IST.SEA.221204.1254.0010.TFM                    JET          B789                        KSEA          None                     None
SKW3400.SEA.YVR.221203.2350.0033.TFM                   JET          E75L                        CYVR          None  SCHEDULED_AIR_TRANSPORT
...                                                    ...           ...                         ...           ...                      ...
SKW3775.SEA.YVR.230613.2045.0052.TFM                   JET          E75L                        CYVR           DAL  SCHEDULED_AIR_TRANSPORT
ATN3563.RFD.SEA.230614.1450.0020.TMA                   JET          B763                        KSEA          None                     None
UAL2275.SEA.IAD.230613.1940.0181.TFM                   JET          B752                        KIAD           UAL  SCHEDULED_AIR_TRANSPORT
SKW929K.SEA.PDX.230614.0834.0006.TFM                   JET          E75L                        KPDX          None                     None
KAL42.SEA.ICN.230613.2000.0142.TFM                     JET          B77W                        RKSI          None  SCHEDULED_AIR_TRANSPORT

[22746 rows x 5 columns]

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
DAL890.MSP.SEA.221203.2025.0049.TFM                    JET          B739                        KSEA          None  SCHEDULED_AIR_TRANSPORT
ASA67.SEA.KTN.221203.2325.0149.TFM                     JET          B738                        PAKT          None  SCHEDULED_AIR_TRANSPORT
JZA807.SEA.YVR.221203.2335.0043.TFM                  TURBO          DH8D                        CYVR          None  SCHEDULED_AIR_TRANSPORT
THY8DE.IST.SEA.221204.1254.0010.TFM                    JET          B789                        KSEA          None                     None
SKW3400.SEA.YVR.221203.2350.0033.TFM                   JET          E75L                        CYVR          None  SCHEDULED_AIR_TRANSPORT
...                                                    ...           ...                         ...           ...                      ...
SKW3775.SEA.YVR.230613.2045.0052.TFM                   JET          E75L                        CYVR           DAL  SCHEDULED_AIR_TRANSPORT
ATN3563.RFD.SEA.230614.1450.0020.TMA                   JET          B763                        KSEA          None                     None
UAL2275.SEA.IAD.230613.1940.0181.TFM                   JET          B752                        KIAD           UAL  SCHEDULED_AIR_TRANSPORT
SKW929K.SEA.PDX.230614.0834.0006.TFM                   JET          E75L                        KPDX          None                     None
KAL42.SEA.ICN.230613.2000.0142.TFM                     JET          B77W                        RKSI          None  SCHEDULED_AIR_TRANSPORT

[22746 rows x 5 columns]

In [577]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["MFS"])

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
DAL890.MSP.SEA.221203.2025.0049.TFM                    JET          B739                        KSEA          None  SCHEDULED_AIR_TRANSPORT
ASA67.SEA.KTN.221203.2325.0149.TFM                     JET          B738                        PAKT          None  SCHEDULED_AIR_TRANSPORT
JZA807.SEA.YVR.221203.2335.0043.TFM                  TURBO          DH8D                        CYVR          None  SCHEDULED_AIR_TRANSPORT
THY8DE.IST.SEA.221204.1254.0010.TFM                    JET          B789                        KSEA          None                     None
SKW3400.SEA.YVR.221203.2350.0033.TFM                   JET          E75L                        CYVR          None  SCHEDULED_AIR_TRANSPORT
...                                                    ...           ...                         ...           ...                      ...
SKW3775.SEA.YVR.230613.2045.0052.TFM                   JET          E75L                        CYVR           DAL  SCHEDULED_AIR_TRANSPORT
ATN3563.RFD.SEA.230614.1450.0020.TMA                   JET          B763                        KSEA          None                     None
UAL2275.SEA.IAD.230613.1940.0181.TFM                   JET          B752                        KIAD           UAL  SCHEDULED_AIR_TRANSPORT
SKW929K.SEA.PDX.230614.0834.0006.TFM                   JET          E75L                        KPDX          None                     None
KAL42.SEA.ICN.230613.2000.0142.TFM                     JET          B77W                        RKSI          None  SCHEDULED_AIR_TRANSPORT

[22746 rows x 5 columns]

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
DAL890.MSP.SEA.221203.2025.0049.TFM                    JET          B739                        KSEA          None  SCHEDULED_AIR_TRANSPORT
ASA67.SEA.KTN.221203.2325.0149.TFM                     JET          B738                        PAKT          None  SCHEDULED_AIR_TRANSPORT
JZA807.SEA.YVR.221203.2335.0043.TFM                  TURBO          DH8D                        CYVR          None  SCHEDULED_AIR_TRANSPORT
THY8DE.IST.SEA.221204.1254.0010.TFM                    JET          B789                        KSEA          None                     None
SKW3400.SEA.YVR.221203.2350.0033.TFM                   JET          E75L                        CYVR          None  SCHEDULED_AIR_TRANSPORT
...                                                    ...           ...                         ...           ...                      ...
SKW3775.SEA.YVR.230613.2045.0052.TFM                   JET          E75L                        CYVR           DAL  SCHEDULED_AIR_TRANSPORT
ATN3563.RFD.SEA.230614.1450.0020.TMA                   JET          B763                        KSEA          None                     None
UAL2275.SEA.IAD.230613.1940.0181.TFM                   JET          B752                        KIAD           UAL  SCHEDULED_AIR_TRANSPORT
SKW929K.SEA.PDX.230614.0834.0006.TFM                   JET          E75L                        KPDX          None                     None
KAL42.SEA.ICN.230613.2000.0142.TFM                     JET          B77W                        RKSI          None  SCHEDULED_AIR_TRANSPORT

[22746 rows x 5 columns]

In [578]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["TBFM"])

                                        arrival_runway_sta_time_stamp   arrival_runway_sta
gufi
AAL2793.CLT.SEA.230102.2200.0325.TFM              2023-01-04 00:00:00                 None
UAL1397.IAH.SEA.230102.2225.0114.TFM              2023-01-04 00:00:00                 None
ASA500.IND.SEA.230102.2325.0076.TFM               2023-01-04 00:00:00                 None
DAL501.MCO.SEA.230102.2200.0162.TFM               2023-01-04 00:00:00                 None
ASA1468.ORD.SEA.230102.2205.0089.TFM              2023-01-04 00:00:01                 None
...                                                               ...                  ...
ASA92.ANC.SEA.221029.2025.0109.TFM                2022-10-30 20:59:52  2022-10-30 23:24:28
DAL1430.TUS.SEA.221029.2030.0064.TFM              2022-10-30 20:59:40  2022-10-30 23:35:53
FDX17.MEM.SEA.221029.2102.0026.TFM_TFDM           2022-10-30 20:59:48                 None
UAL1568.ORD.SEA.221029.1750.0077.TFM              2022-10-30 20:59:57  2022-10-30 22:02:08
ASA57.SNA.SEA.221029.1910.0092.TFM                2022-10-30 20:59:57  2022-10-30 21:47:38

[3694445 rows x 2 columns]

                                        arrival_runway_sta_time_stamp   arrival_runway_sta
gufi
AAL2793.CLT.SEA.230102.2200.0325.TFM              2023-01-04 00:00:00                 None
UAL1397.IAH.SEA.230102.2225.0114.TFM              2023-01-04 00:00:00                 None
ASA500.IND.SEA.230102.2325.0076.TFM               2023-01-04 00:00:00                 None
DAL501.MCO.SEA.230102.2200.0162.TFM               2023-01-04 00:00:00                 None
ASA1468.ORD.SEA.230102.2205.0089.TFM              2023-01-04 00:00:01                 None
...                                                               ...                  ...
ASA92.ANC.SEA.221029.2025.0109.TFM                2022-10-30 20:59:52  2022-10-30 23:24:28
DAL1430.TUS.SEA.221029.2030.0064.TFM              2022-10-30 20:59:40  2022-10-30 23:35:53
FDX17.MEM.SEA.221029.2102.0026.TFM_TFDM           2022-10-30 20:59:48                 None
UAL1568.ORD.SEA.221029.1750.0077.TFM              2022-10-30 20:59:57  2022-10-30 22:02:08
ASA57.SNA.SEA.221029.1910.0092.TFM                2022-10-30 20:59:57  2022-10-30 21:47:38

[3694445 rows x 2 columns]

In [579]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["RNWY"])

                                     arrival_runway_actual_time arrival_runway_actual
gufi
DAL1507.LAX.SEA.230205.2130.0201.TFM        2023-02-07 00:00:40                   16R
QXE2345.SUN.SEA.230205.2225.0113.TFM        2023-02-07 00:03:33                   16R
ASA738.LAS.SEA.230205.2140.0024.TFM         2023-02-07 00:04:59                   16R
ASA651.PHX.SEA.230205.2120.0129.TFM         2023-02-07 00:08:15                   16R
QXE2556.ICT.SEA.230205.2040.0114.TFM        2023-02-07 00:11:40                   16R
...                                                         ...                   ...
QXE2006.GEG.SEA.221230.2000.0165.TFM        2022-12-31 20:51:27                   16R
ASA352.ANC.SEA.221230.1735.0145.TFM         2022-12-31 20:53:50                   16R
SKW3599.RDM.SEA.221230.2000.0069.TFM        2022-12-31 20:55:58                   16R
ASA619.ONT.SEA.221230.1845.0098.TFM         2022-12-31 20:57:18                   16R
ASA9441.GSO.SEA.221230.2209.0017.TFM        2022-12-31 20:58:46                   16R

[12102 rows x 2 columns]

                                     arrival_runway_actual_time arrival_runway_actual
gufi
DAL1507.LAX.SEA.230205.2130.0201.TFM        2023-02-07 00:00:40                   16R
QXE2345.SUN.SEA.230205.2225.0113.TFM        2023-02-07 00:03:33                   16R
ASA738.LAS.SEA.230205.2140.0024.TFM         2023-02-07 00:04:59                   16R
ASA651.PHX.SEA.230205.2120.0129.TFM         2023-02-07 00:08:15                   16R
QXE2556.ICT.SEA.230205.2040.0114.TFM        2023-02-07 00:11:40                   16R
...                                                         ...                   ...
QXE2006.GEG.SEA.221230.2000.0165.TFM        2022-12-31 20:51:27                   16R
ASA352.ANC.SEA.221230.1735.0145.TFM         2022-12-31 20:53:50                   16R
SKW3599.RDM.SEA.221230.2000.0069.TFM        2022-12-31 20:55:58                   16R
ASA619.ONT.SEA.221230.1845.0098.TFM         2022-12-31 20:57:18                   16R
ASA9441.GSO.SEA.221230.2209.0017.TFM        2022-12-31 20:58:46                   16R

[12102 rows x 2 columns]

In [580]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["FPOS"])

                                       time_first_tracked
gufi
AAL2009.DFW.SEA.230506.2225.0161.TFM  2023-05-07 23:48:32
AAL2361.PHL.SEA.230506.2300.0197.TFM  2023-05-07 23:24:09
AAL469.CLT.SEA.230506.2035.0135.TFM   2023-05-07 21:13:48
ACA543.YYZ.SEA.230506.2215.0111.TFM   2023-05-07 23:41:30
AMX494.MEX.SEA.230506.2100.0233.TFM   2023-05-07 21:20:02
...                                                   ...
VIR105.LHR.SEA.230611.1110.0066.TFM   2023-06-12 12:08:03
VOI896.GDL.SEA.230610.2210.0033.TFM   2023-06-12 00:00:50
WEN3710.YEG.SEA.230611.1715.0056.TFM  2023-06-12 17:34:30
WJA1550.YYC.SEA.230611.1535.0023.TFM  2023-06-12 15:53:37
WJA1554.YYC.SEA.230610.2355.0093.TFM  2023-06-12 00:22:47

[55716 rows x 1 columns]

                                       time_first_tracked
gufi
AAL2009.DFW.SEA.230506.2225.0161.TFM  2023-05-07 23:48:32
AAL2361.PHL.SEA.230506.2300.0197.TFM  2023-05-07 23:24:09
AAL469.CLT.SEA.230506.2035.0135.TFM   2023-05-07 21:13:48
ACA543.YYZ.SEA.230506.2215.0111.TFM   2023-05-07 23:41:30
AMX494.MEX.SEA.230506.2100.0233.TFM   2023-05-07 21:20:02
...                                                   ...
VIR105.LHR.SEA.230611.1110.0066.TFM   2023-06-12 12:08:03
VOI896.GDL.SEA.230610.2210.0033.TFM   2023-06-12 00:00:50
WEN3710.YEG.SEA.230611.1715.0056.TFM  2023-06-12 17:34:30
WJA1550.YYC.SEA.230611.1535.0023.TFM  2023-06-12 15:53:37
WJA1554.YYC.SEA.230610.2355.0093.TFM  2023-06-12 00:22:47

[55716 rows x 1 columns]

In [581]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["LMAP"])

               timestamp   forecast_timestamp  temperature  wind_direction  wind_speed  wind_gust  cloud_ceiling  visibility cloud lightning_prob  precip
0    2023-07-16 00:30:00  2023-07-16 01:00:00         89.0            32.0         9.0        0.0            8.0         7.0    SC              N   False
1    2023-07-16 00:30:00  2023-07-16 02:00:00         86.0            34.0        10.0        0.0            8.0         7.0    BK              N   False
2    2023-07-16 00:30:00  2023-07-16 03:00:00         82.0             1.0        10.0        0.0            8.0         7.0    BK              N   False
3    2023-07-16 00:30:00  2023-07-16 04:00:00         77.0             2.0        11.0        0.0            8.0         7.0    BK              N   False
4    2023-07-16 00:30:00  2023-07-16 05:00:00         74.0             2.0        11.0        0.0            8.0         7.0    SC              N   False
..                   ...                  ...          ...             ...         ...        ...            ...         ...   ...            ...     ...
145  2023-05-10 20:30:00  2023-05-11 17:00:00         57.0            25.0         3.0        0.0            8.0         7.0    BK              N   False
146  2023-05-10 20:30:00  2023-05-11 18:00:00         59.0            26.0         4.0        0.0            8.0         7.0    BK              N   False
147  2023-05-10 20:30:00  2023-05-11 19:00:00         61.0            27.0         4.0        0.0            8.0         7.0    BK              N   False
148  2023-05-10 20:30:00  2023-05-11 20:00:00         64.0            28.0         5.0        0.0            8.0         7.0    BK              N   False
149  2023-05-10 20:30:00  2023-05-11 21:00:00         66.0            29.0         5.0        0.0            8.0         7.0    BK              N   False

[11375 rows x 11 columns]

               timestamp   forecast_timestamp  temperature  wind_direction  wind_speed  wind_gust  cloud_ceiling  visibility cloud lightning_prob  precip
0    2023-07-16 00:30:00  2023-07-16 01:00:00         89.0            32.0         9.0        0.0            8.0         7.0    SC              N   False
1    2023-07-16 00:30:00  2023-07-16 02:00:00         86.0            34.0        10.0        0.0            8.0         7.0    BK              N   False
2    2023-07-16 00:30:00  2023-07-16 03:00:00         82.0             1.0        10.0        0.0            8.0         7.0    BK              N   False
3    2023-07-16 00:30:00  2023-07-16 04:00:00         77.0             2.0        11.0        0.0            8.0         7.0    BK              N   False
4    2023-07-16 00:30:00  2023-07-16 05:00:00         74.0             2.0        11.0        0.0            8.0         7.0    SC              N   False
..                   ...                  ...          ...             ...         ...        ...            ...         ...   ...            ...     ...
145  2023-05-10 20:30:00  2023-05-11 17:00:00         57.0            25.0         3.0        0.0            8.0         7.0    BK              N   False
146  2023-05-10 20:30:00  2023-05-11 18:00:00         59.0            26.0         4.0        0.0            8.0         7.0    BK              N   False
147  2023-05-10 20:30:00  2023-05-11 19:00:00         61.0            27.0         4.0        0.0            8.0         7.0    BK              N   False
148  2023-05-10 20:30:00  2023-05-11 20:00:00         64.0            28.0         5.0        0.0            8.0         7.0    BK              N   False
149  2023-05-10 20:30:00  2023-05-11 21:00:00         66.0            29.0         5.0        0.0            8.0         7.0    BK              N   False

[11375 rows x 11 columns]

In [582]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["TFM"])

                                     timestamp_arrival_runway_estimate arrival_runway_estimated_time
gufi
VOI896.GDL.SEA.220930.2155.0045.TFM                2022-10-02 01:00:00           2022-10-02 03:16:21
ASA1078.IAD.SEA.221001.1724.0022.TFM               2022-10-02 01:00:00           2022-10-02 04:19:21
ASA992.CMH.SEA.221001.2029.0008.TFM                2022-10-02 01:00:00           2022-10-02 03:59:44
ASA787.CHS.SEA.220930.2115.0166.TFM                2022-10-02 00:00:02           2022-10-02 03:02:27
ASA860.OGG.SEA.221001.0749.0003.TFM                2022-10-02 00:00:02           2022-10-02 05:07:49
...                                                                ...                           ...
ASA725.DFW.SEA.221026.1940.0077.TFM                2022-10-27 20:59:56           2022-10-27 23:33:16
DAL1193.ORD.SEA.221026.1915.0156.TFM               2022-10-27 20:59:56           2022-10-27 23:14:10
JBU263.JFK.SEA.221026.1955.0148.TFM                2022-10-27 20:59:57           2022-10-28 01:29:26
ASA947.PHX.SEA.221026.1901.0151.TFM                2022-10-27 20:59:58           2022-10-27 22:47:14
ASA1405.OKC.SEA.221026.1930.0114.TFM               2022-10-27 20:59:59           2022-10-27 23:03:32

[2782743 rows x 2 columns]

                                     timestamp_arrival_runway_estimate arrival_runway_estimated_time
gufi
VOI896.GDL.SEA.220930.2155.0045.TFM                2022-10-02 01:00:00           2022-10-02 03:16:21
ASA1078.IAD.SEA.221001.1724.0022.TFM               2022-10-02 01:00:00           2022-10-02 04:19:21
ASA992.CMH.SEA.221001.2029.0008.TFM                2022-10-02 01:00:00           2022-10-02 03:59:44
ASA787.CHS.SEA.220930.2115.0166.TFM                2022-10-02 00:00:02           2022-10-02 03:02:27
ASA860.OGG.SEA.221001.0749.0003.TFM                2022-10-02 00:00:02           2022-10-02 05:07:49
...                                                                ...                           ...
ASA725.DFW.SEA.221026.1940.0077.TFM                2022-10-27 20:59:56           2022-10-27 23:33:16
DAL1193.ORD.SEA.221026.1915.0156.TFM               2022-10-27 20:59:56           2022-10-27 23:14:10
JBU263.JFK.SEA.221026.1955.0148.TFM                2022-10-27 20:59:57           2022-10-28 01:29:26
ASA947.PHX.SEA.221026.1901.0151.TFM                2022-10-27 20:59:58           2022-10-27 22:47:14
ASA1405.OKC.SEA.221026.1930.0114.TFM               2022-10-27 20:59:59           2022-10-27 23:03:32

[2782743 rows x 2 columns]

# Now lets predict using a XGD - Based Model

In [583]:
def return_parquet(base_dir=BASE, airport_code=ACODE, file_name="MFS_df.parquet"):
    file_path = get_correct_file(base_dir=base_dir, airport_code=airport_code, file_name=file_name)
    
    if file_path:
        try:
            # Load the Parquet file into a DataFrame
            df = pd.read_parquet(file_path)
            
            # Display the DataFrame
            return df 
        except Exception as e:
            print(f"An error occurred while loading the Parquet file: {e}")
    else:
        print(f"File not found: {base_dir}/{airport_code}/{file_name}")
        return None

#### But we need to take in a date and an airport and fetch some columns, for our first model we only care about estimated time of arrival and bin (something we create based on time)

In [584]:
jfk_tm = return_parquet(file_name = FD["TFM"])

In [585]:
jfk_tm

                                     timestamp_arrival_runway_estimate arrival_runway_estimated_time
gufi
VOI896.GDL.SEA.220930.2155.0045.TFM                2022-10-02 01:00:00           2022-10-02 03:16:21
ASA1078.IAD.SEA.221001.1724.0022.TFM               2022-10-02 01:00:00           2022-10-02 04:19:21
ASA992.CMH.SEA.221001.2029.0008.TFM                2022-10-02 01:00:00           2022-10-02 03:59:44
ASA787.CHS.SEA.220930.2115.0166.TFM                2022-10-02 00:00:02           2022-10-02 03:02:27
ASA860.OGG.SEA.221001.0749.0003.TFM                2022-10-02 00:00:02           2022-10-02 05:07:49
...                                                                ...                           ...
ASA725.DFW.SEA.221026.1940.0077.TFM                2022-10-27 20:59:56           2022-10-27 23:33:16
DAL1193.ORD.SEA.221026.1915.0156.TFM               2022-10-27 20:59:56           2022-10-27 23:14:10
JBU263.JFK.SEA.221026.1955.0148.TFM                2022-10-27 20:59:57           2022-10-28 01:29:26
ASA947.PHX.SEA.221026.1901.0151.TFM                2022-10-27 20:59:58           2022-10-27 22:47:14
ASA1405.OKC.SEA.221026.1930.0114.TFM               2022-10-27 20:59:59           2022-10-27 23:03:32

[2782743 rows x 2 columns]

In [586]:
import pandas as pd

def has_repeated_index(df):
    """
    Checks if the DataFrame has repeated indices (i.e., multiple rows with the same index).
    
    Args:
        df (pd.DataFrame): The DataFrame to check.
        
    Returns:
        bool: True if there are repeated indices, False otherwise.
    """
    # Check if the index has duplicates
    duplicated_index = df.index.duplicated().any()
    
    return duplicated_index

# Example usage:
data = {
    'A': [4, 2, 3, 1],
    'B': [1, 2, 3, 4]
}

# Create a DataFrame with repeated index
df = pd.DataFrame(data, index=[0, 1, 2, 1])  # Index 1 is repeated

# Check if there are repeated indices
result = has_repeated_index(jfk_tm)

print(f"Are there repeated indices? {result}")

Are there repeated indices? True

## Features 

the model operates on some dataset D. We are given a timestamp t and and airport. We need to pull the expect number of incoming flights that are estimated to arive between t, and t + 4hrs. Why four hours? 

Then for each of those flights we will pull some static features : 

computed features: time delta

In [587]:
import pandas as pd

def is_sorted_by_column(df, column_name):
    """
    Check if the DataFrame is sorted by a specific column.

    Args:
        df (pd.DataFrame): The DataFrame to check.
        column_name (str): The column name to check for sorting.

    Returns:
        bool: True if the DataFrame is sorted by the specified column, otherwise False.
    """
    return df[column_name].is_monotonic_increasing or df[column_name].is_monotonic_decreasing

# Example usage
data = {
    'A': [1, 5, 2, 4],
    'B': [4, 3, 2, 1]
}

df = pd.DataFrame(data)

# Check if 'A' column is sorted
print(is_sorted_by_column(df, 'A'))  # Output: True (sorted in increasing order)

# Check if 'B' column is sorted
print(is_sorted_by_column(df, 'B'))  # Output: True (sorted in decreasing order)

False
True

In [588]:
print(is_sorted_by_column(jfk_tm, 'timestamp_arrival_runway_estimate'))  # Output: True (sorted in decreasing order)
# We have to sort the df

False

In [589]:
import pandas as pd

def sort_df_by_column(df, column_name, ascending=True):
    """
    Sort the DataFrame by a specific column.

    Args:
        df (pd.DataFrame): The DataFrame to sort.
        column_name (str): The column name to sort by.
        ascending (bool): Whether to sort in ascending order (default is True).

    Returns:
        pd.DataFrame: A new DataFrame sorted by the specified column.
    """
    return df.sort_values(by=column_name, ascending=ascending).reset_index(drop=False)

# Example usage
data = {
    'A': [4, 2, 3, 1],
    'B': [1, 2, 3, 4]
}

df = pd.DataFrame(data)

# Sort by column 'A' in ascending order
sorted_df = sort_df_by_column(df, 'A', ascending=False)
print(sorted_df)

# Sort by column 'B' in descending order
sorted_df_desc = sort_df_by_column(df, 'B', ascending=False)
print(sorted_df_desc)

   index  A  B
0      0  4  1
1      2  3  3
2      1  2  2
3      3  1  4
   index  A  B
0      3  1  4
1      2  3  3
2      1  2  2
3      0  4  1

In [590]:
jfk_sorted = sort_df_by_column(jfk_tm, "timestamp_arrival_runway_estimate")

In [591]:
jfk_sorted

                                            gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time
0           AAL2009.DFW.SEA.220923.2151.0012.TFM               2022-09-25 00:00:00           2022-09-25 01:36:18
1             ASA15.EWR.SEA.220923.2135.0053.TFM               2022-09-25 00:00:03           2022-09-25 03:38:05
2            ASA221.JFK.SEA.220923.2045.0144.TFM               2022-09-25 00:00:03           2022-09-25 02:22:03
3           UAL2212.IAH.SEA.220923.2145.0119.TFM               2022-09-25 00:00:03           2022-09-25 01:51:56
4            DAL604.CUN.SEA.220923.2110.0127.TFM               2022-09-25 00:00:03           2022-09-25 02:38:23
...                                          ...                               ...                           ...
2782738      ASA508.CVG.SEA.230817.2155.0110.TFM               2023-08-18 21:00:00           2023-08-19 02:13:22
2782739      ASA653.ABQ.SEA.230817.2020.0091.TFM               2023-08-18 21:00:00           2023-08-18 22:58:05
2782740      ASA366.MKE.SEA.230817.1920.0107.TFM               2023-08-18 21:00:00           2023-08-18 23:06:05
2782741  FDX17.MEM.SEA.230817.2036.0025.TFM_TFDM               2023-08-18 21:00:00           2023-08-18 23:17:54
2782742     UAL2038.EWR.SEA.230817.2000.0226.TFM               2023-08-18 21:00:00           2023-08-19 01:49:09

[2782743 rows x 3 columns]

In [592]:
print(jfk_sorted.columns)
print("Data types of columns:\n", jfk_sorted.dtypes)

Index(['gufi', 'timestamp_arrival_runway_estimate', 'arrival_runway_estimated_time'], dtype='object')
Data types of columns:
 gufi                                 object
timestamp_arrival_runway_estimate    object
arrival_runway_estimated_time        object
dtype: object

In [593]:
import pandas as pd

def preprocess_timestamps(df):
    """
    Preprocess the DataFrame to convert timestamp columns to datetime format.
    
    Args:
        df (pd.DataFrame): The DataFrame with timestamp columns.
        
    Returns:
        pd.DataFrame: The DataFrame with datetime columns.
    """
    # Convert timestamp columns to datetime format once
    df['timestamp_arrival_runway_estimate'] = pd.to_datetime(df['timestamp_arrival_runway_estimate'], errors='coerce')
    df['arrival_runway_estimated_time'] = pd.to_datetime(df['arrival_runway_estimated_time'], errors='coerce')
    return df

def filter_rows_by_timestamp(df, t):
    """
    Filters rows in the DataFrame based on the given timestamp 't'.
    
    Args:
        df (pd.DataFrame): The DataFrame to filter (preprocessed).
        t (pd.Timestamp): The timestamp value to compare against.
        
    Returns:
        pd.DataFrame: A DataFrame with rows matching the conditions.
    """
    # Condition 1: 'timestamp_arrival_runway_estimate' < t
    condition_1 = df['timestamp_arrival_runway_estimate'] < t
    
    # Condition 2: 'arrival_runway_estimated_time' > t and < t + 4 hours
    condition_2 = (df['arrival_runway_estimated_time'] > t) & (df['arrival_runway_estimated_time'] < (t + pd.Timedelta(hours=4)))
    
    # Combine the conditions
    filtered_df = df[condition_1 & condition_2]
    
    return filtered_df

# Example usage:
data = {
    'timestamp_arrival_runway_estimate': ['2022-11-18 00:00:00', '2022-11-18 01:00:00', '2022-11-18 02:00:00'],
    'arrival_runway_estimated_time': ['2022-11-18 03:00:00', '2022-11-18 04:00:00', '2022-11-18 06:00:00']
}

df = pd.DataFrame(data)

# Preprocess timestamps once
df = preprocess_timestamps(df)

# Set the timestamp `t`
t = pd.to_datetime('2022-11-18 01:30:00')

# Call the function to filter rows
filtered_df = filter_rows_by_timestamp(df, t)
print(filtered_df)

  timestamp_arrival_runway_estimate arrival_runway_estimated_time
0               2022-11-18 00:00:00           2022-11-18 03:00:00
1               2022-11-18 01:00:00           2022-11-18 04:00:00

In [594]:
jfk_sorted = preprocess_timestamps(jfk_sorted)

In [595]:
jfk_sorted

                                            gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time
0           AAL2009.DFW.SEA.220923.2151.0012.TFM               2022-09-25 00:00:00           2022-09-25 01:36:18
1             ASA15.EWR.SEA.220923.2135.0053.TFM               2022-09-25 00:00:03           2022-09-25 03:38:05
2            ASA221.JFK.SEA.220923.2045.0144.TFM               2022-09-25 00:00:03           2022-09-25 02:22:03
3           UAL2212.IAH.SEA.220923.2145.0119.TFM               2022-09-25 00:00:03           2022-09-25 01:51:56
4            DAL604.CUN.SEA.220923.2110.0127.TFM               2022-09-25 00:00:03           2022-09-25 02:38:23
...                                          ...                               ...                           ...
2782738      ASA508.CVG.SEA.230817.2155.0110.TFM               2023-08-18 21:00:00           2023-08-19 02:13:22
2782739      ASA653.ABQ.SEA.230817.2020.0091.TFM               2023-08-18 21:00:00           2023-08-18 22:58:05
2782740      ASA366.MKE.SEA.230817.1920.0107.TFM               2023-08-18 21:00:00           2023-08-18 23:06:05
2782741  FDX17.MEM.SEA.230817.2036.0025.TFM_TFDM               2023-08-18 21:00:00           2023-08-18 23:17:54
2782742     UAL2038.EWR.SEA.230817.2000.0226.TFM               2023-08-18 21:00:00           2023-08-19 01:49:09

[2782743 rows x 3 columns]

In [596]:
def drop_rows_with_nat(df):
    """
    Drop rows with NaT (Not a Time) values and print how many rows were dropped.
    
    Args:
        df (pd.DataFrame): The DataFrame to process.
        
    Returns:
        pd.DataFrame: The DataFrame with rows containing NaT values removed.
    """
    # Count the number of rows with NaT values
    initial_row_count = len(df)
    
    # Drop rows with NaT values
    df_cleaned = df.dropna(subset=['timestamp_arrival_runway_estimate', 'arrival_runway_estimated_time'])
    
    # Calculate how many rows were dropped
    rows_dropped = initial_row_count - len(df_cleaned)
    
    # Print the number of rows dropped
    print(f"Rows dropped: {rows_dropped}")
    
    return df_cleaned

In [597]:
jfk_sorted = drop_rows_with_nat(jfk_sorted)

Rows dropped: 0

In [598]:

file_path = f'tempdata/{BASE}_{ACODE}_sorted.parquet'

jfk_sorted.to_parquet(file_path, engine='pyarrow', index=False)

print(f"DataFrame successfully saved to {file_path}.")

DataFrame successfully saved to tempdata/test_KSEA_sorted.parquet.

In [599]:
jfk_sorted.head()

                                   gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time
0  AAL2009.DFW.SEA.220923.2151.0012.TFM               2022-09-25 00:00:00           2022-09-25 01:36:18
1    ASA15.EWR.SEA.220923.2135.0053.TFM               2022-09-25 00:00:03           2022-09-25 03:38:05
2   ASA221.JFK.SEA.220923.2045.0144.TFM               2022-09-25 00:00:03           2022-09-25 02:22:03
3  UAL2212.IAH.SEA.220923.2145.0119.TFM               2022-09-25 00:00:03           2022-09-25 01:51:56
4   DAL604.CUN.SEA.220923.2110.0127.TFM               2022-09-25 00:00:03           2022-09-25 02:38:23

# A safe checkpoint

In [600]:
# import pandas as pdACODE

# # Specify the file path where the DataFrame was saved
# file_path = f'tempdata/{BASE}_{ACODE}_sorted.parquet'
# print("Reading from " , file_path)
# # Read the Parquet file back into a DataFrame
# jfk_sorted = pd.read_parquet(file_path, engine='pyarrow')

In [601]:
jfk_sorted.dtypes

gufi                                         object
timestamp_arrival_runway_estimate    datetime64[ns]
arrival_runway_estimated_time        datetime64[ns]
dtype: object

In [602]:
import pandas as pd

def filter_rows_by_timestamp(df, t, time_window=4):
    """
    Filter rows where the timestamp is within a specified range from t.
    
    Args:
        df (pd.DataFrame): DataFrame to filter.
        t (str): The timestamp to compare against (in 'YYYY-MM-DD HH:MM:SS' format).
        time_window (int): The time range in hours for filtering (default is 4 hours).
        
    Returns:
        pd.DataFrame: DataFrame with rows filtered based on the timestamp range.
    """
    # Ensure 't' is a datetime object
    t = pd.to_datetime(t)
    
    # Filter the DataFrame based on the specified time window
    filtered_df = df[(df['timestamp_arrival_runway_estimate'] < t) & 
                     (df['arrival_runway_estimated_time'] > t) & 
                     (df['arrival_runway_estimated_time'] < t + pd.Timedelta(hours=time_window))]
    
    return filtered_df

def select_latest_entry_for_each_gufi(filtered_df):
    """
    Select the latest entry for each gufi based on timestamp_arrival_runway_estimate.
    
    Args:
        filtered_df (pd.DataFrame): DataFrame containing the filtered rows.
        
    Returns:
        pd.DataFrame: DataFrame with one entry for each gufi, having the latest timestamp.
    """
    # Group by 'gufi' and get the row with the latest 'timestamp_arrival_runway_estimate'
    latest_entries = filtered_df.loc[filtered_df.groupby('gufi')['timestamp_arrival_runway_estimate'].idxmax()]
    
    return latest_entries

# Example usage:

# Sample data (replace with your actual DataFrame)
data = {
    'gufi': ['RPA5716.BOS.JFK.220830.2250.0064.TFM', 'RPA5716.BOS.JFK.220830.2250.0064.TFM', 'RPA5717.BOS.JFK.220830.2250.0065.TFM'],
    'timestamp_arrival_runway_estimate': ['2022-09-01 00:00:00', '2022-09-01 00:02:18', '2022-09-01 00:05:00'],
    'arrival_runway_estimated_time': ['2022-09-01 00:02:18', '2022-09-01 00:04:00', '2022-09-01 00:06:00'],
}
df = pd.DataFrame(data)
display(df)
# Convert timestamps to datetime (this is necessary if the data was originally in string format)
df['timestamp_arrival_runway_estimate'] = pd.to_datetime(df['timestamp_arrival_runway_estimate'])
df['arrival_runway_estimated_time'] = pd.to_datetime(df['arrival_runway_estimated_time'])

# Timestamp t
t = '2022-09-01 00:00:01'

# Filter rows within the timestamp range
filtered_df = filter_rows_by_timestamp(df, t)

# Select the latest entry for each gufi
latest_entries = select_latest_entry_for_each_gufi(filtered_df)

display(latest_entries)

                                   gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time
0  RPA5716.BOS.JFK.220830.2250.0064.TFM               2022-09-01 00:00:00           2022-09-01 00:02:18
1  RPA5716.BOS.JFK.220830.2250.0064.TFM               2022-09-01 00:02:18           2022-09-01 00:04:00
2  RPA5717.BOS.JFK.220830.2250.0065.TFM               2022-09-01 00:05:00           2022-09-01 00:06:00

                                   gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time
0  RPA5716.BOS.JFK.220830.2250.0064.TFM                        2022-09-01           2022-09-01 00:02:18

In [603]:
jfk_sorted

                                            gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time
0           AAL2009.DFW.SEA.220923.2151.0012.TFM               2022-09-25 00:00:00           2022-09-25 01:36:18
1             ASA15.EWR.SEA.220923.2135.0053.TFM               2022-09-25 00:00:03           2022-09-25 03:38:05
2            ASA221.JFK.SEA.220923.2045.0144.TFM               2022-09-25 00:00:03           2022-09-25 02:22:03
3           UAL2212.IAH.SEA.220923.2145.0119.TFM               2022-09-25 00:00:03           2022-09-25 01:51:56
4            DAL604.CUN.SEA.220923.2110.0127.TFM               2022-09-25 00:00:03           2022-09-25 02:38:23
...                                          ...                               ...                           ...
2782738      ASA508.CVG.SEA.230817.2155.0110.TFM               2023-08-18 21:00:00           2023-08-19 02:13:22
2782739      ASA653.ABQ.SEA.230817.2020.0091.TFM               2023-08-18 21:00:00           2023-08-18 22:58:05
2782740      ASA366.MKE.SEA.230817.1920.0107.TFM               2023-08-18 21:00:00           2023-08-18 23:06:05
2782741  FDX17.MEM.SEA.230817.2036.0025.TFM_TFDM               2023-08-18 21:00:00           2023-08-18 23:17:54
2782742     UAL2038.EWR.SEA.230817.2000.0226.TFM               2023-08-18 21:00:00           2023-08-19 01:49:09

[2782743 rows x 3 columns]

In [604]:
print(jfk_sorted['timestamp_arrival_runway_estimate'].min(), jfk_sorted['timestamp_arrival_runway_estimate'].max())

2022-09-25 00:00:00 2023-08-18 21:00:00

In [605]:
# Timestamp t
t = '2022-09-25 00:00:05'

# Filter rows within the timestamp range
filtered_df = filter_rows_by_timestamp(jfk_sorted, t)

# Select the latest entry for each gufi
latest_entries = select_latest_entry_for_each_gufi(filtered_df)

display(latest_entries)

                                    gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time
0   AAL2009.DFW.SEA.220923.2151.0012.TFM               2022-09-25 00:00:00           2022-09-25 01:36:18
6    AAL591.ORD.SEA.220923.2220.0119.TFM               2022-09-25 00:00:03           2022-09-25 02:22:14
13  ASA1468.ORD.SEA.220923.2200.0180.TFM               2022-09-25 00:00:04           2022-09-25 02:07:46
1     ASA15.EWR.SEA.220923.2135.0053.TFM               2022-09-25 00:00:03           2022-09-25 03:38:05
10   ASA216.CLE.SEA.220923.2151.0006.TFM               2022-09-25 00:00:04           2022-09-25 02:29:51
2    ASA221.JFK.SEA.220923.2045.0144.TFM               2022-09-25 00:00:03           2022-09-25 02:22:03
12   ASA417.PIT.SEA.220923.2210.0116.TFM               2022-09-25 00:00:04           2022-09-25 03:25:14
14   ASA500.IND.SEA.220923.2250.0131.TFM               2022-09-25 00:00:04           2022-09-25 03:33:06
9    ASA738.ABQ.SEA.220923.2225.0120.TFM               2022-09-25 00:00:04           2022-09-25 02:04:06
5    ASA927.PHX.SEA.220923.2340.0033.TFM               2022-09-25 00:00:03           2022-09-25 02:12:44
15  DAL1681.IAD.SEA.220923.2115.0101.TFM               2022-09-25 00:00:04           2022-09-25 02:34:21
4    DAL604.CUN.SEA.220923.2110.0127.TFM               2022-09-25 00:00:03           2022-09-25 02:38:23
8    JBU197.BOS.SEA.220923.2210.0141.TFM               2022-09-25 00:00:04           2022-09-25 03:38:09
3   UAL2212.IAH.SEA.220923.2145.0119.TFM               2022-09-25 00:00:03           2022-09-25 01:51:56

In [606]:
def process_and_select_latest(df, t):
    """
    Filters rows within the timestamp range and selects the latest entry for each gufi.

    Args:
        df (pd.DataFrame): The input DataFrame.
        t (str): The reference timestamp as a string.

    Returns:
        pd.DataFrame: A DataFrame with the latest entry for each gufi.
    """
    # Filter rows within the timestamp range
    filtered_df = filter_rows_by_timestamp(df, t)

    # Select the latest entry for each gufi
    latest_entries = select_latest_entry_for_each_gufi(filtered_df)

    return latest_entries

# Example usage
t = '2022-09-25 00:00:05'
latest_entries = process_and_select_latest(jfk_sorted, t)

# Display the result
display(latest_entries)

                                    gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time
0   AAL2009.DFW.SEA.220923.2151.0012.TFM               2022-09-25 00:00:00           2022-09-25 01:36:18
6    AAL591.ORD.SEA.220923.2220.0119.TFM               2022-09-25 00:00:03           2022-09-25 02:22:14
13  ASA1468.ORD.SEA.220923.2200.0180.TFM               2022-09-25 00:00:04           2022-09-25 02:07:46
1     ASA15.EWR.SEA.220923.2135.0053.TFM               2022-09-25 00:00:03           2022-09-25 03:38:05
10   ASA216.CLE.SEA.220923.2151.0006.TFM               2022-09-25 00:00:04           2022-09-25 02:29:51
2    ASA221.JFK.SEA.220923.2045.0144.TFM               2022-09-25 00:00:03           2022-09-25 02:22:03
12   ASA417.PIT.SEA.220923.2210.0116.TFM               2022-09-25 00:00:04           2022-09-25 03:25:14
14   ASA500.IND.SEA.220923.2250.0131.TFM               2022-09-25 00:00:04           2022-09-25 03:33:06
9    ASA738.ABQ.SEA.220923.2225.0120.TFM               2022-09-25 00:00:04           2022-09-25 02:04:06
5    ASA927.PHX.SEA.220923.2340.0033.TFM               2022-09-25 00:00:03           2022-09-25 02:12:44
15  DAL1681.IAD.SEA.220923.2115.0101.TFM               2022-09-25 00:00:04           2022-09-25 02:34:21
4    DAL604.CUN.SEA.220923.2110.0127.TFM               2022-09-25 00:00:03           2022-09-25 02:38:23
8    JBU197.BOS.SEA.220923.2210.0141.TFM               2022-09-25 00:00:04           2022-09-25 03:38:09
3   UAL2212.IAH.SEA.220923.2145.0119.TFM               2022-09-25 00:00:03           2022-09-25 01:51:56

In [607]:
jfk_sorted.dtypes

gufi                                         object
timestamp_arrival_runway_estimate    datetime64[ns]
arrival_runway_estimated_time        datetime64[ns]
dtype: object

In [608]:
import pandas as pd

final_sub_path = '/projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata/finalSub.csv'


# Load the DataFrame from the saved CSV file
sub_df = pd.read_csv(final_sub_path)
# Filter the DataFrame to keep only rows where 'airport_code' is 'KJFK'
sub_df = sub_df[sub_df['airport_code'] == ACODE]

sub_df['datetime'] = pd.to_datetime(sub_df['datetime'])
# Display the loaded DataFrame
print("Loaded DataFrame:")
display(sub_df.columns)
display(sub_df)

Loaded DataFrame:

Index(['ID', 'Value', 'airport_code', 'datetime', 'minutes_past', 'bin'], dtype='object')

                         ID  Value airport_code            datetime  minutes_past  bin
18576   KSEA_220925_0100_15     99         KSEA 2022-09-25 01:00:00            15    1
18577   KSEA_220925_0100_30     99         KSEA 2022-09-25 01:00:00            30    2
18578   KSEA_220925_0100_45     99         KSEA 2022-09-25 01:00:00            45    3
18579   KSEA_220925_0100_60     99         KSEA 2022-09-25 01:00:00            60    4
18580   KSEA_220925_0100_75     99         KSEA 2022-09-25 01:00:00            75    5
...                     ...    ...          ...                 ...           ...  ...
24763  KSEA_230818_2100_120     99         KSEA 2023-08-18 21:00:00           120    8
24764  KSEA_230818_2100_135     99         KSEA 2023-08-18 21:00:00           135    9
24765  KSEA_230818_2100_150     99         KSEA 2023-08-18 21:00:00           150   10
24766  KSEA_230818_2100_165     99         KSEA 2023-08-18 21:00:00           165   11
24767  KSEA_230818_2100_180     99         KSEA 2023-08-18 21:00:00           180   12

[6192 rows x 6 columns]

In [609]:
def get_unique_times(df):
    """
    Get all unique datetime values from the 'datetime' column of the DataFrame.

    Args:
        df (pd.DataFrame): The input DataFrame containing a 'datetime' column.

    Returns:
        List of unique timestamps.
    """
    # Extract the 'datetime' column and drop duplicates to get unique values
    unique_times = df['datetime'].drop_duplicates().to_list()
    
    return unique_times

# Example usage:
# Assuming sub_df is your DataFrame
unique_times = get_unique_times(sub_df)

# Display the result
print("Unique Times:")
display(unique_times)

Unique Times:

[Timestamp('2022-09-25 01:00:00'),
 Timestamp('2022-09-25 05:00:00'),
 Timestamp('2022-09-25 09:00:00'),
 Timestamp('2022-09-25 13:00:00'),
 Timestamp('2022-09-25 17:00:00'),
 Timestamp('2022-09-25 21:00:00'),
 Timestamp('2022-09-26 01:00:00'),
 Timestamp('2022-09-26 05:00:00'),
 Timestamp('2022-09-26 09:00:00'),
 Timestamp('2022-09-26 13:00:00'),
 Timestamp('2022-09-26 17:00:00'),
 Timestamp('2022-09-26 21:00:00'),
 Timestamp('2022-09-27 01:00:00'),
 Timestamp('2022-09-27 05:00:00'),
 Timestamp('2022-09-27 09:00:00'),
 Timestamp('2022-09-27 13:00:00'),
 Timestamp('2022-09-27 17:00:00'),
 Timestamp('2022-09-27 21:00:00'),
 Timestamp('2022-09-28 01:00:00'),
 Timestamp('2022-09-28 05:00:00'),
 Timestamp('2022-09-28 09:00:00'),
 Timestamp('2022-09-28 13:00:00'),
 Timestamp('2022-09-28 17:00:00'),
 Timestamp('2022-09-28 21:00:00'),
 Timestamp('2022-09-29 01:00:00'),
 Timestamp('2022-09-29 05:00:00'),
 Timestamp('2022-09-29 09:00:00'),
 Timestamp('2022-09-29 13:00:00'),
 Timestamp('2022-09-29 17:00:00'),
 Timestamp('2022-09-29 21:00:00'),
 Timestamp('2022-09-30 01:00:00'),
 Timestamp('2022-09-30 05:00:00'),
 Timestamp('2022-09-30 09:00:00'),
 Timestamp('2022-09-30 13:00:00'),
 Timestamp('2022-09-30 17:00:00'),
 Timestamp('2022-09-30 21:00:00'),
 Timestamp('2022-10-01 01:00:00'),
 Timestamp('2022-10-01 05:00:00'),
 Timestamp('2022-10-01 09:00:00'),
 Timestamp('2022-10-01 13:00:00'),
 Timestamp('2022-10-01 17:00:00'),
 Timestamp('2022-10-01 21:00:00'),
 Timestamp('2022-10-02 01:00:00'),
 Timestamp('2022-10-02 05:00:00'),
 Timestamp('2022-10-02 09:00:00'),
 Timestamp('2022-10-02 13:00:00'),
 Timestamp('2022-10-02 17:00:00'),
 Timestamp('2022-10-02 21:00:00'),
 Timestamp('2022-10-27 01:00:00'),
 Timestamp('2022-10-27 05:00:00'),
 Timestamp('2022-10-27 09:00:00'),
 Timestamp('2022-10-27 13:00:00'),
 Timestamp('2022-10-27 17:00:00'),
 Timestamp('2022-10-27 21:00:00'),
 Timestamp('2022-10-30 01:00:00'),
 Timestamp('2022-10-30 05:00:00'),
 Timestamp('2022-10-30 09:00:00'),
 Timestamp('2022-10-30 13:00:00'),
 Timestamp('2022-10-30 17:00:00'),
 Timestamp('2022-10-30 21:00:00'),
 Timestamp('2022-10-31 01:00:00'),
 Timestamp('2022-10-31 05:00:00'),
 Timestamp('2022-10-31 09:00:00'),
 Timestamp('2022-10-31 13:00:00'),
 Timestamp('2022-10-31 17:00:00'),
 Timestamp('2022-10-31 21:00:00'),
 Timestamp('2022-11-01 01:00:00'),
 Timestamp('2022-11-01 05:00:00'),
 Timestamp('2022-11-01 09:00:00'),
 Timestamp('2022-11-01 13:00:00'),
 Timestamp('2022-11-01 17:00:00'),
 Timestamp('2022-11-01 21:00:00'),
 Timestamp('2022-11-02 01:00:00'),
 Timestamp('2022-11-02 05:00:00'),
 Timestamp('2022-11-02 09:00:00'),
 Timestamp('2022-11-02 13:00:00'),
 Timestamp('2022-11-02 17:00:00'),
 Timestamp('2022-11-02 21:00:00'),
 Timestamp('2022-11-03 01:00:00'),
 Timestamp('2022-11-03 05:00:00'),
 Timestamp('2022-11-03 09:00:00'),
 Timestamp('2022-11-03 13:00:00'),
 Timestamp('2022-11-03 17:00:00'),
 Timestamp('2022-11-03 21:00:00'),
 Timestamp('2022-11-28 01:00:00'),
 Timestamp('2022-11-28 05:00:00'),
 Timestamp('2022-11-28 09:00:00'),
 Timestamp('2022-11-28 13:00:00'),
 Timestamp('2022-11-28 17:00:00'),
 Timestamp('2022-11-28 21:00:00'),
 Timestamp('2022-11-29 01:00:00'),
 Timestamp('2022-11-29 05:00:00'),
 Timestamp('2022-11-29 09:00:00'),
 Timestamp('2022-11-29 13:00:00'),
 Timestamp('2022-11-29 17:00:00'),
 Timestamp('2022-11-29 21:00:00'),
 Timestamp('2022-11-30 01:00:00'),
 Timestamp('2022-11-30 05:00:00'),
 Timestamp('2022-11-30 09:00:00'),
 Timestamp('2022-11-30 13:00:00'),
 Timestamp('2022-11-30 17:00:00'),
 Timestamp('2022-11-30 21:00:00'),
 Timestamp('2022-12-01 01:00:00'),
 Timestamp('2022-12-01 05:00:00'),
 Timestamp('2022-12-01 09:00:00'),
 Timestamp('2022-12-01 13:00:00'),
 Timestamp('2022-12-01 17:00:00'),
 Timestamp('2022-12-01 21:00:00'),
 Timestamp('2022-12-02 01:00:00'),
 Timestamp('2022-12-02 05:00:00'),
 Timestamp('2022-12-02 09:00:00'),
 Timestamp('2022-12-02 13:00:00'),
 Timestamp('2022-12-02 17:00:00'),
 Timestamp('2022-12-02 21:00:00'),
 Timestamp('2022-12-03 01:00:00'),
 Timestamp('2022-12-03 05:00:00'),
 Timestamp('2022-12-03 09:00:00'),
 Timestamp('2022-12-03 13:00:00'),
 Timestamp('2022-12-03 17:00:00'),
 Timestamp('2022-12-03 21:00:00'),
 Timestamp('2022-12-04 01:00:00'),
 Timestamp('2022-12-04 05:00:00'),
 Timestamp('2022-12-04 09:00:00'),
 Timestamp('2022-12-04 13:00:00'),
 Timestamp('2022-12-04 17:00:00'),
 Timestamp('2022-12-04 21:00:00'),
 Timestamp('2022-12-05 01:00:00'),
 Timestamp('2022-12-05 05:00:00'),
 Timestamp('2022-12-05 09:00:00'),
 Timestamp('2022-12-05 13:00:00'),
 Timestamp('2022-12-05 17:00:00'),
 Timestamp('2022-12-05 21:00:00'),
 Timestamp('2022-12-30 01:00:00'),
 Timestamp('2022-12-30 05:00:00'),
 Timestamp('2022-12-30 09:00:00'),
 Timestamp('2022-12-30 13:00:00'),
 Timestamp('2022-12-30 17:00:00'),
 Timestamp('2022-12-30 21:00:00'),
 Timestamp('2022-12-31 01:00:00'),
 Timestamp('2022-12-31 05:00:00'),
 Timestamp('2022-12-31 09:00:00'),
 Timestamp('2022-12-31 13:00:00'),
 Timestamp('2022-12-31 17:00:00'),
 Timestamp('2022-12-31 21:00:00'),
 Timestamp('2023-01-01 01:00:00'),
 Timestamp('2023-01-01 05:00:00'),
 Timestamp('2023-01-01 09:00:00'),
 Timestamp('2023-01-01 13:00:00'),
 Timestamp('2023-01-01 17:00:00'),
 Timestamp('2023-01-01 21:00:00'),
 Timestamp('2023-01-02 01:00:00'),
 Timestamp('2023-01-02 05:00:00'),
 Timestamp('2023-01-02 09:00:00'),
 Timestamp('2023-01-02 13:00:00'),
 Timestamp('2023-01-02 17:00:00'),
 Timestamp('2023-01-02 21:00:00'),
 Timestamp('2023-01-03 01:00:00'),
 Timestamp('2023-01-03 05:00:00'),
 Timestamp('2023-01-03 09:00:00'),
 Timestamp('2023-01-03 13:00:00'),
 Timestamp('2023-01-03 17:00:00'),
 Timestamp('2023-01-03 21:00:00'),
 Timestamp('2023-01-04 01:00:00'),
 Timestamp('2023-01-04 05:00:00'),
 Timestamp('2023-01-04 09:00:00'),
 Timestamp('2023-01-04 13:00:00'),
 Timestamp('2023-01-04 17:00:00'),
 Timestamp('2023-01-04 21:00:00'),
 Timestamp('2023-01-05 01:00:00'),
 Timestamp('2023-01-05 05:00:00'),
 Timestamp('2023-01-05 09:00:00'),
 Timestamp('2023-01-05 13:00:00'),
 Timestamp('2023-01-05 17:00:00'),
 Timestamp('2023-01-05 21:00:00'),
 Timestamp('2023-01-06 01:00:00'),
 Timestamp('2023-01-06 05:00:00'),
 Timestamp('2023-01-06 09:00:00'),
 Timestamp('2023-01-06 13:00:00'),
 Timestamp('2023-01-06 17:00:00'),
 Timestamp('2023-01-06 21:00:00'),
 Timestamp('2023-01-31 01:00:00'),
 Timestamp('2023-01-31 05:00:00'),
 Timestamp('2023-01-31 09:00:00'),
 Timestamp('2023-01-31 13:00:00'),
 Timestamp('2023-01-31 17:00:00'),
 Timestamp('2023-01-31 21:00:00'),
 Timestamp('2023-02-01 01:00:00'),
 Timestamp('2023-02-01 05:00:00'),
 Timestamp('2023-02-01 09:00:00'),
 Timestamp('2023-02-01 13:00:00'),
 Timestamp('2023-02-01 17:00:00'),
 Timestamp('2023-02-01 21:00:00'),
 Timestamp('2023-02-02 01:00:00'),
 Timestamp('2023-02-02 05:00:00'),
 Timestamp('2023-02-02 09:00:00'),
 Timestamp('2023-02-02 13:00:00'),
 Timestamp('2023-02-02 17:00:00'),
 Timestamp('2023-02-02 21:00:00'),
 Timestamp('2023-02-03 01:00:00'),
 Timestamp('2023-02-03 05:00:00'),
 Timestamp('2023-02-03 09:00:00'),
 Timestamp('2023-02-03 13:00:00'),
 Timestamp('2023-02-03 17:00:00'),
 Timestamp('2023-02-03 21:00:00'),
 Timestamp('2023-02-04 01:00:00'),
 Timestamp('2023-02-04 05:00:00'),
 Timestamp('2023-02-04 09:00:00'),
 Timestamp('2023-02-04 13:00:00'),
 Timestamp('2023-02-04 17:00:00'),
 Timestamp('2023-02-04 21:00:00'),
 Timestamp('2023-02-05 01:00:00'),
 Timestamp('2023-02-05 05:00:00'),
 Timestamp('2023-02-05 09:00:00'),
 Timestamp('2023-02-05 13:00:00'),
 Timestamp('2023-02-05 17:00:00'),
 Timestamp('2023-02-05 21:00:00'),
 Timestamp('2023-02-06 01:00:00'),
 Timestamp('2023-02-06 05:00:00'),
 Timestamp('2023-02-06 09:00:00'),
 Timestamp('2023-02-06 13:00:00'),
 Timestamp('2023-02-06 17:00:00'),
 Timestamp('2023-02-06 21:00:00'),
 Timestamp('2023-02-07 01:00:00'),
 Timestamp('2023-02-07 05:00:00'),
 Timestamp('2023-02-07 09:00:00'),
 Timestamp('2023-02-07 13:00:00'),
 Timestamp('2023-02-07 17:00:00'),
 Timestamp('2023-02-07 21:00:00'),
 Timestamp('2023-03-04 01:00:00'),
 Timestamp('2023-03-04 05:00:00'),
 Timestamp('2023-03-04 09:00:00'),
 Timestamp('2023-03-04 13:00:00'),
 Timestamp('2023-03-04 17:00:00'),
 Timestamp('2023-03-04 21:00:00'),
 Timestamp('2023-03-05 01:00:00'),
 Timestamp('2023-03-05 05:00:00'),
 Timestamp('2023-03-05 09:00:00'),
 Timestamp('2023-03-05 13:00:00'),
 Timestamp('2023-03-05 17:00:00'),
 Timestamp('2023-03-05 21:00:00'),
 Timestamp('2023-03-06 01:00:00'),
 Timestamp('2023-03-06 05:00:00'),
 Timestamp('2023-03-06 09:00:00'),
 Timestamp('2023-03-06 13:00:00'),
 Timestamp('2023-03-06 17:00:00'),
 Timestamp('2023-03-06 21:00:00'),
 Timestamp('2023-03-07 01:00:00'),
 Timestamp('2023-03-07 05:00:00'),
 Timestamp('2023-03-07 09:00:00'),
 Timestamp('2023-03-07 13:00:00'),
 Timestamp('2023-03-07 17:00:00'),
 Timestamp('2023-03-07 21:00:00'),
 Timestamp('2023-03-08 01:00:00'),
 Timestamp('2023-03-08 05:00:00'),
 Timestamp('2023-03-08 09:00:00'),
 Timestamp('2023-03-08 13:00:00'),
 Timestamp('2023-03-08 17:00:00'),
 Timestamp('2023-03-08 21:00:00'),
 Timestamp('2023-03-09 01:00:00'),
 Timestamp('2023-03-09 05:00:00'),
 Timestamp('2023-03-09 09:00:00'),
 Timestamp('2023-03-09 13:00:00'),
 Timestamp('2023-03-09 17:00:00'),
 Timestamp('2023-03-09 21:00:00'),
 Timestamp('2023-03-10 01:00:00'),
 Timestamp('2023-03-10 05:00:00'),
 Timestamp('2023-03-10 09:00:00'),
 Timestamp('2023-03-10 13:00:00'),
 Timestamp('2023-03-10 17:00:00'),
 Timestamp('2023-03-10 21:00:00'),
 Timestamp('2023-03-11 01:00:00'),
 Timestamp('2023-03-11 05:00:00'),
 Timestamp('2023-03-11 09:00:00'),
 Timestamp('2023-03-11 13:00:00'),
 Timestamp('2023-03-11 17:00:00'),
 Timestamp('2023-03-11 21:00:00'),
 Timestamp('2023-04-05 01:00:00'),
 Timestamp('2023-04-05 05:00:00'),
 Timestamp('2023-04-05 09:00:00'),
 Timestamp('2023-04-05 13:00:00'),
 Timestamp('2023-04-05 17:00:00'),
 Timestamp('2023-04-05 21:00:00'),
 Timestamp('2023-04-06 01:00:00'),
 Timestamp('2023-04-06 05:00:00'),
 Timestamp('2023-04-06 09:00:00'),
 Timestamp('2023-04-06 13:00:00'),
 Timestamp('2023-04-06 17:00:00'),
 Timestamp('2023-04-06 21:00:00'),
 Timestamp('2023-04-07 01:00:00'),
 Timestamp('2023-04-07 05:00:00'),
 Timestamp('2023-04-07 09:00:00'),
 Timestamp('2023-04-07 13:00:00'),
 Timestamp('2023-04-07 17:00:00'),
 Timestamp('2023-04-07 21:00:00'),
 Timestamp('2023-04-08 01:00:00'),
 Timestamp('2023-04-08 05:00:00'),
 Timestamp('2023-04-08 09:00:00'),
 Timestamp('2023-04-08 13:00:00'),
 Timestamp('2023-04-08 17:00:00'),
 Timestamp('2023-04-08 21:00:00'),
 Timestamp('2023-04-09 01:00:00'),
 Timestamp('2023-04-09 05:00:00'),
 Timestamp('2023-04-09 09:00:00'),
 Timestamp('2023-04-09 13:00:00'),
 Timestamp('2023-04-09 17:00:00'),
 Timestamp('2023-04-09 21:00:00'),
 Timestamp('2023-04-10 01:00:00'),
 Timestamp('2023-04-10 05:00:00'),
 Timestamp('2023-04-10 09:00:00'),
 Timestamp('2023-04-10 13:00:00'),
 Timestamp('2023-04-10 17:00:00'),
 Timestamp('2023-04-10 21:00:00'),
 Timestamp('2023-04-11 01:00:00'),
 Timestamp('2023-04-11 05:00:00'),
 Timestamp('2023-04-11 09:00:00'),
 Timestamp('2023-04-11 13:00:00'),
 Timestamp('2023-04-11 17:00:00'),
 Timestamp('2023-04-11 21:00:00'),
 Timestamp('2023-04-12 01:00:00'),
 Timestamp('2023-04-12 05:00:00'),
 Timestamp('2023-04-12 09:00:00'),
 Timestamp('2023-04-12 13:00:00'),
 Timestamp('2023-04-12 17:00:00'),
 Timestamp('2023-04-12 21:00:00'),
 Timestamp('2023-05-07 01:00:00'),
 Timestamp('2023-05-07 05:00:00'),
 Timestamp('2023-05-07 09:00:00'),
 Timestamp('2023-05-07 13:00:00'),
 Timestamp('2023-05-07 17:00:00'),
 Timestamp('2023-05-07 21:00:00'),
 Timestamp('2023-05-08 01:00:00'),
 Timestamp('2023-05-08 05:00:00'),
 Timestamp('2023-05-08 09:00:00'),
 Timestamp('2023-05-08 13:00:00'),
 Timestamp('2023-05-08 17:00:00'),
 Timestamp('2023-05-08 21:00:00'),
 Timestamp('2023-05-09 01:00:00'),
 Timestamp('2023-05-09 05:00:00'),
 Timestamp('2023-05-09 09:00:00'),
 Timestamp('2023-05-09 13:00:00'),
 Timestamp('2023-05-09 17:00:00'),
 Timestamp('2023-05-09 21:00:00'),
 Timestamp('2023-05-10 01:00:00'),
 Timestamp('2023-05-10 05:00:00'),
 Timestamp('2023-05-10 09:00:00'),
 Timestamp('2023-05-10 13:00:00'),
 Timestamp('2023-05-10 17:00:00'),
 Timestamp('2023-05-10 21:00:00'),
 Timestamp('2023-05-11 01:00:00'),
 Timestamp('2023-05-11 05:00:00'),
 Timestamp('2023-05-11 09:00:00'),
 Timestamp('2023-05-11 13:00:00'),
 Timestamp('2023-05-11 17:00:00'),
 Timestamp('2023-05-11 21:00:00'),
 Timestamp('2023-05-12 01:00:00'),
 Timestamp('2023-05-12 05:00:00'),
 Timestamp('2023-05-12 09:00:00'),
 Timestamp('2023-05-12 13:00:00'),
 Timestamp('2023-05-12 17:00:00'),
 Timestamp('2023-05-12 21:00:00'),
 Timestamp('2023-05-13 01:00:00'),
 Timestamp('2023-05-13 05:00:00'),
 Timestamp('2023-05-13 09:00:00'),
 Timestamp('2023-05-13 13:00:00'),
 Timestamp('2023-05-13 17:00:00'),
 Timestamp('2023-05-13 21:00:00'),
 Timestamp('2023-05-14 01:00:00'),
 Timestamp('2023-05-14 05:00:00'),
 Timestamp('2023-05-14 09:00:00'),
 Timestamp('2023-05-14 13:00:00'),
 Timestamp('2023-05-14 17:00:00'),
 Timestamp('2023-05-14 21:00:00'),
 Timestamp('2023-06-08 01:00:00'),
 Timestamp('2023-06-08 05:00:00'),
 Timestamp('2023-06-08 09:00:00'),
 Timestamp('2023-06-08 13:00:00'),
 Timestamp('2023-06-08 17:00:00'),
 Timestamp('2023-06-08 21:00:00'),
 Timestamp('2023-06-09 01:00:00'),
 Timestamp('2023-06-09 05:00:00'),
 Timestamp('2023-06-09 09:00:00'),
 Timestamp('2023-06-09 13:00:00'),
 Timestamp('2023-06-09 17:00:00'),
 Timestamp('2023-06-09 21:00:00'),
 Timestamp('2023-06-10 01:00:00'),
 Timestamp('2023-06-10 05:00:00'),
 Timestamp('2023-06-10 09:00:00'),
 Timestamp('2023-06-10 13:00:00'),
 Timestamp('2023-06-10 17:00:00'),
 Timestamp('2023-06-10 21:00:00'),
 Timestamp('2023-06-11 01:00:00'),
 Timestamp('2023-06-11 05:00:00'),
 Timestamp('2023-06-11 09:00:00'),
 Timestamp('2023-06-11 13:00:00'),
 Timestamp('2023-06-11 17:00:00'),
 Timestamp('2023-06-11 21:00:00'),
 Timestamp('2023-06-12 01:00:00'),
 Timestamp('2023-06-12 05:00:00'),
 Timestamp('2023-06-12 09:00:00'),
 Timestamp('2023-06-12 13:00:00'),
 Timestamp('2023-06-12 17:00:00'),
 Timestamp('2023-06-12 21:00:00'),
 Timestamp('2023-06-13 01:00:00'),
 Timestamp('2023-06-13 05:00:00'),
 Timestamp('2023-06-13 09:00:00'),
 Timestamp('2023-06-13 13:00:00'),
 Timestamp('2023-06-13 17:00:00'),
 Timestamp('2023-06-13 21:00:00'),
 Timestamp('2023-06-14 01:00:00'),
 Timestamp('2023-06-14 05:00:00'),
 Timestamp('2023-06-14 09:00:00'),
 Timestamp('2023-06-14 13:00:00'),
 Timestamp('2023-06-14 17:00:00'),
 Timestamp('2023-06-14 21:00:00'),
 Timestamp('2023-06-15 01:00:00'),
 Timestamp('2023-06-15 05:00:00'),
 Timestamp('2023-06-15 09:00:00'),
 Timestamp('2023-06-15 13:00:00'),
 Timestamp('2023-06-15 17:00:00'),
 Timestamp('2023-06-15 21:00:00'),
 Timestamp('2023-07-10 01:00:00'),
 Timestamp('2023-07-10 05:00:00'),
 Timestamp('2023-07-10 09:00:00'),
 Timestamp('2023-07-10 13:00:00'),
 Timestamp('2023-07-10 17:00:00'),
 Timestamp('2023-07-10 21:00:00'),
 Timestamp('2023-07-11 01:00:00'),
 Timestamp('2023-07-11 05:00:00'),
 Timestamp('2023-07-11 09:00:00'),
 Timestamp('2023-07-11 13:00:00'),
 Timestamp('2023-07-11 17:00:00'),
 Timestamp('2023-07-11 21:00:00'),
 Timestamp('2023-07-12 01:00:00'),
 Timestamp('2023-07-12 05:00:00'),
 Timestamp('2023-07-12 09:00:00'),
 Timestamp('2023-07-12 13:00:00'),
 Timestamp('2023-07-12 17:00:00'),
 Timestamp('2023-07-12 21:00:00'),
 Timestamp('2023-07-13 01:00:00'),
 Timestamp('2023-07-13 05:00:00'),
 Timestamp('2023-07-13 09:00:00'),
 Timestamp('2023-07-13 13:00:00'),
 Timestamp('2023-07-13 17:00:00'),
 Timestamp('2023-07-13 21:00:00'),
 Timestamp('2023-07-14 01:00:00'),
 Timestamp('2023-07-14 05:00:00'),
 Timestamp('2023-07-14 09:00:00'),
 Timestamp('2023-07-14 13:00:00'),
 Timestamp('2023-07-14 17:00:00'),
 Timestamp('2023-07-14 21:00:00'),
 Timestamp('2023-07-15 01:00:00'),
 Timestamp('2023-07-15 05:00:00'),
 Timestamp('2023-07-15 09:00:00'),
 Timestamp('2023-07-15 13:00:00'),
 Timestamp('2023-07-15 17:00:00'),
 Timestamp('2023-07-15 21:00:00'),
 Timestamp('2023-07-16 01:00:00'),
 Timestamp('2023-07-16 05:00:00'),
 Timestamp('2023-07-16 09:00:00'),
 Timestamp('2023-07-16 13:00:00'),
 Timestamp('2023-07-16 17:00:00'),
 Timestamp('2023-07-16 21:00:00'),
 Timestamp('2023-07-17 01:00:00'),
 Timestamp('2023-07-17 05:00:00'),
 Timestamp('2023-07-17 09:00:00'),
 Timestamp('2023-07-17 13:00:00'),
 Timestamp('2023-07-17 17:00:00'),
 Timestamp('2023-07-17 21:00:00'),
 Timestamp('2023-08-11 01:00:00'),
 Timestamp('2023-08-11 05:00:00'),
 Timestamp('2023-08-11 09:00:00'),
 Timestamp('2023-08-11 13:00:00'),
 Timestamp('2023-08-11 17:00:00'),
 Timestamp('2023-08-11 21:00:00'),
 Timestamp('2023-08-12 01:00:00'),
 Timestamp('2023-08-12 05:00:00'),
 Timestamp('2023-08-12 09:00:00'),
 Timestamp('2023-08-12 13:00:00'),
 Timestamp('2023-08-12 17:00:00'),
 Timestamp('2023-08-12 21:00:00'),
 Timestamp('2023-08-13 01:00:00'),
 Timestamp('2023-08-13 05:00:00'),
 Timestamp('2023-08-13 09:00:00'),
 Timestamp('2023-08-13 13:00:00'),
 Timestamp('2023-08-13 17:00:00'),
 Timestamp('2023-08-13 21:00:00'),
 Timestamp('2023-08-14 01:00:00'),
 Timestamp('2023-08-14 05:00:00'),
 Timestamp('2023-08-14 09:00:00'),
 Timestamp('2023-08-14 13:00:00'),
 Timestamp('2023-08-14 17:00:00'),
 Timestamp('2023-08-14 21:00:00'),
 Timestamp('2023-08-15 01:00:00'),
 Timestamp('2023-08-15 05:00:00'),
 Timestamp('2023-08-15 09:00:00'),
 Timestamp('2023-08-15 13:00:00'),
 Timestamp('2023-08-15 17:00:00'),
 Timestamp('2023-08-15 21:00:00'),
 Timestamp('2023-08-16 01:00:00'),
 Timestamp('2023-08-16 05:00:00'),
 Timestamp('2023-08-16 09:00:00'),
 Timestamp('2023-08-16 13:00:00'),
 Timestamp('2023-08-16 17:00:00'),
 Timestamp('2023-08-16 21:00:00'),
 Timestamp('2023-08-17 01:00:00'),
 Timestamp('2023-08-17 05:00:00'),
 Timestamp('2023-08-17 09:00:00'),
 Timestamp('2023-08-17 13:00:00'),
 Timestamp('2023-08-17 17:00:00'),
 Timestamp('2023-08-17 21:00:00'),
 Timestamp('2023-08-18 01:00:00'),
 Timestamp('2023-08-18 05:00:00'),
 Timestamp('2023-08-18 09:00:00'),
 Timestamp('2023-08-18 13:00:00'),
 Timestamp('2023-08-18 17:00:00'),
 Timestamp('2023-08-18 21:00:00')]

In [610]:
import pandas as pd
import numpy as np



def process_multiple_samples(df):
    """
    Process multiple timestamp samples and combine the results into a single DataFrame.

    Args:
        df (pd.DataFrame): The input DataFrame.
        start_time (str): The start time for generating samples.
        end_time (str): The end time for generating samples.
        num_samples (int): Number of timestamp samples to generate.

    Returns:
        pd.DataFrame: A DataFrame with combined results and a 't' column for each sample.
    """
    # Generate timestamp samples
    t_samples = unique_times
    #display(t_samples)
    # Process each timestamp and append results
    combined_df = pd.DataFrame()
    for t in t_samples:
        filtered_df = process_and_select_latest(df, t)
        filtered_df['t'] = t  # Add the timestamp as a column
        combined_df = pd.concat([combined_df, filtered_df], ignore_index=True)

    return combined_df


tempy = process_multiple_samples(jfk_sorted)

# Display result
display(tempy)

                                       gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                   t
0      AAL1241.DFW.SEA.220923.2350.0110.TFM               2022-09-25 00:59:37           2022-09-25 03:39:14 2022-09-25 01:00:00
1      AAL2001.PHL.SEA.220923.2245.0137.TFM               2022-09-25 00:59:29           2022-09-25 04:16:41 2022-09-25 01:00:00
2      AAL2009.DFW.SEA.220923.2151.0012.TFM               2022-09-25 00:59:07           2022-09-25 01:36:20 2022-09-25 01:00:00
3       AAL591.ORD.SEA.220923.2220.0119.TFM               2022-09-25 00:59:41           2022-09-25 02:23:18 2022-09-25 01:00:00
4       ACA515.YUL.SEA.220923.2305.0051.TFM               2022-09-25 00:59:58           2022-09-25 04:25:23 2022-09-25 01:00:00
...                                     ...                               ...                           ...                 ...
47368   THY8DE.IST.SEA.230818.1135.0007.TFM               2023-08-18 20:59:23           2023-08-18 23:11:26 2023-08-18 21:00:00
47369  UAL1372.DEN.SEA.230817.1930.0184.TFM               2023-08-18 20:59:13           2023-08-18 22:02:31 2023-08-18 21:00:00
47370  UAL1727.DEN.SEA.230817.1755.0084.TFM               2023-08-18 20:59:38           2023-08-18 21:07:17 2023-08-18 21:00:00
47371  UAL2091.ORD.SEA.230817.1820.0093.TFM               2023-08-18 20:59:13           2023-08-18 22:15:17 2023-08-18 21:00:00
47372   UAL674.EWR.SEA.230817.1825.0035.TFM               2023-08-18 20:59:38           2023-08-19 00:14:21 2023-08-18 21:00:00

[47373 rows x 4 columns]

In [611]:

result_df = process_multiple_samples(jfk_sorted)

# Display result
from IPython.display import display, HTML

# Set pandas display options to show more rows
pd.set_option('display.max_rows', 1000)  # Show 1000 rows (or adjust as needed)
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', 1000)  # Adjust width for better readability
pd.set_option('display.max_colwidth', None)  # Display full content of each cell

# Use HTML to create a scrollable view for the DataFrame
display(HTML(result_df.to_html(classes='table table-bordered table-striped', max_rows=1000)))

In [612]:
len(result_df)

47373

## LETS GET PLANE FEATURES

In [613]:
plane_df = return_parquet(file_name = FD["MFS"])
plane_df # we dont want to use all of this, lets just get the jet engine class and

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
DAL890.MSP.SEA.221203.2025.0049.TFM                    JET          B739                        KSEA          None  SCHEDULED_AIR_TRANSPORT
ASA67.SEA.KTN.221203.2325.0149.TFM                     JET          B738                        PAKT          None  SCHEDULED_AIR_TRANSPORT
JZA807.SEA.YVR.221203.2335.0043.TFM                  TURBO          DH8D                        CYVR          None  SCHEDULED_AIR_TRANSPORT
THY8DE.IST.SEA.221204.1254.0010.TFM                    JET          B789                        KSEA          None                     None
SKW3400.SEA.YVR.221203.2350.0033.TFM                   JET          E75L                        CYVR          None  SCHEDULED_AIR_TRANSPORT
...                                                    ...           ...                         ...           ...                      ...
SKW3775.SEA.YVR.230613.2045.0052.TFM                   JET          E75L                        CYVR           DAL  SCHEDULED_AIR_TRANSPORT
ATN3563.RFD.SEA.230614.1450.0020.TMA                   JET          B763                        KSEA          None                     None
UAL2275.SEA.IAD.230613.1940.0181.TFM                   JET          B752                        KIAD           UAL  SCHEDULED_AIR_TRANSPORT
SKW929K.SEA.PDX.230614.0834.0006.TFM                   JET          E75L                        KPDX          None                     None
KAL42.SEA.ICN.230613.2000.0142.TFM                     JET          B77W                        RKSI          None  SCHEDULED_AIR_TRANSPORT

[22746 rows x 5 columns]

In [614]:
subset_df = plane_df[['aircraft_engine_class']]
subset_df

                                     aircraft_engine_class
gufi
DAL890.MSP.SEA.221203.2025.0049.TFM                    JET
ASA67.SEA.KTN.221203.2325.0149.TFM                     JET
JZA807.SEA.YVR.221203.2335.0043.TFM                  TURBO
THY8DE.IST.SEA.221204.1254.0010.TFM                    JET
SKW3400.SEA.YVR.221203.2350.0033.TFM                   JET
...                                                    ...
SKW3775.SEA.YVR.230613.2045.0052.TFM                   JET
ATN3563.RFD.SEA.230614.1450.0020.TMA                   JET
UAL2275.SEA.IAD.230613.1940.0181.TFM                   JET
SKW929K.SEA.PDX.230614.0834.0006.TFM                   JET
KAL42.SEA.ICN.230613.2000.0142.TFM                     JET

[22746 rows x 1 columns]

In [615]:
# lets merge with result_df
subset_df = subset_df.reset_index()

# Merge with result_df on the 'gufi' column
feat_df = result_df.merge(subset_df, on='gufi', how='left')
feat_df['aircraft_engine_class'] = feat_df['aircraft_engine_class'].fillna('unknown')
# Display the merged DataFrame
display(feat_df)

                                       gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                   t aircraft_engine_class
0      AAL1241.DFW.SEA.220923.2350.0110.TFM               2022-09-25 00:59:37           2022-09-25 03:39:14 2022-09-25 01:00:00               unknown
1      AAL2001.PHL.SEA.220923.2245.0137.TFM               2022-09-25 00:59:29           2022-09-25 04:16:41 2022-09-25 01:00:00                   JET
2      AAL2009.DFW.SEA.220923.2151.0012.TFM               2022-09-25 00:59:07           2022-09-25 01:36:20 2022-09-25 01:00:00               unknown
3       AAL591.ORD.SEA.220923.2220.0119.TFM               2022-09-25 00:59:41           2022-09-25 02:23:18 2022-09-25 01:00:00               unknown
4       ACA515.YUL.SEA.220923.2305.0051.TFM               2022-09-25 00:59:58           2022-09-25 04:25:23 2022-09-25 01:00:00                   JET
...                                     ...                               ...                           ...                 ...                   ...
47368   THY8DE.IST.SEA.230818.1135.0007.TFM               2023-08-18 20:59:23           2023-08-18 23:11:26 2023-08-18 21:00:00               unknown
47369  UAL1372.DEN.SEA.230817.1930.0184.TFM               2023-08-18 20:59:13           2023-08-18 22:02:31 2023-08-18 21:00:00               unknown
47370  UAL1727.DEN.SEA.230817.1755.0084.TFM               2023-08-18 20:59:38           2023-08-18 21:07:17 2023-08-18 21:00:00               unknown
47371  UAL2091.ORD.SEA.230817.1820.0093.TFM               2023-08-18 20:59:13           2023-08-18 22:15:17 2023-08-18 21:00:00               unknown
47372   UAL674.EWR.SEA.230817.1825.0035.TFM               2023-08-18 20:59:38           2023-08-19 00:14:21 2023-08-18 21:00:00               unknown

[47373 rows x 5 columns]

In [616]:
# Display the counts of unique values in the 'aircraft_engine_class' column
aircraft_class_counts = feat_df['aircraft_engine_class'].value_counts()

# Display the result
print("Counts of Aircraft Engine Class:")
display(aircraft_class_counts)

Counts of Aircraft Engine Class:

aircraft_engine_class
unknown    38024
JET         9226
TURBO        123
Name: count, dtype: int64

In [617]:
merged_df = feat_df.copy()
merged_df

                                       gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                   t aircraft_engine_class
0      AAL1241.DFW.SEA.220923.2350.0110.TFM               2022-09-25 00:59:37           2022-09-25 03:39:14 2022-09-25 01:00:00               unknown
1      AAL2001.PHL.SEA.220923.2245.0137.TFM               2022-09-25 00:59:29           2022-09-25 04:16:41 2022-09-25 01:00:00                   JET
2      AAL2009.DFW.SEA.220923.2151.0012.TFM               2022-09-25 00:59:07           2022-09-25 01:36:20 2022-09-25 01:00:00               unknown
3       AAL591.ORD.SEA.220923.2220.0119.TFM               2022-09-25 00:59:41           2022-09-25 02:23:18 2022-09-25 01:00:00               unknown
4       ACA515.YUL.SEA.220923.2305.0051.TFM               2022-09-25 00:59:58           2022-09-25 04:25:23 2022-09-25 01:00:00                   JET
...                                     ...                               ...                           ...                 ...                   ...
47368   THY8DE.IST.SEA.230818.1135.0007.TFM               2023-08-18 20:59:23           2023-08-18 23:11:26 2023-08-18 21:00:00               unknown
47369  UAL1372.DEN.SEA.230817.1930.0184.TFM               2023-08-18 20:59:13           2023-08-18 22:02:31 2023-08-18 21:00:00               unknown
47370  UAL1727.DEN.SEA.230817.1755.0084.TFM               2023-08-18 20:59:38           2023-08-18 21:07:17 2023-08-18 21:00:00               unknown
47371  UAL2091.ORD.SEA.230817.1820.0093.TFM               2023-08-18 20:59:13           2023-08-18 22:15:17 2023-08-18 21:00:00               unknown
47372   UAL674.EWR.SEA.230817.1825.0035.TFM               2023-08-18 20:59:38           2023-08-19 00:14:21 2023-08-18 21:00:00               unknown

[47373 rows x 5 columns]

In [618]:
merged_df.columns
#merged_df = merged_df.drop(columns=['index'])

# Display the DataFrame after dropping the column
display(merged_df)

                                       gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                   t aircraft_engine_class
0      AAL1241.DFW.SEA.220923.2350.0110.TFM               2022-09-25 00:59:37           2022-09-25 03:39:14 2022-09-25 01:00:00               unknown
1      AAL2001.PHL.SEA.220923.2245.0137.TFM               2022-09-25 00:59:29           2022-09-25 04:16:41 2022-09-25 01:00:00                   JET
2      AAL2009.DFW.SEA.220923.2151.0012.TFM               2022-09-25 00:59:07           2022-09-25 01:36:20 2022-09-25 01:00:00               unknown
3       AAL591.ORD.SEA.220923.2220.0119.TFM               2022-09-25 00:59:41           2022-09-25 02:23:18 2022-09-25 01:00:00               unknown
4       ACA515.YUL.SEA.220923.2305.0051.TFM               2022-09-25 00:59:58           2022-09-25 04:25:23 2022-09-25 01:00:00                   JET
...                                     ...                               ...                           ...                 ...                   ...
47368   THY8DE.IST.SEA.230818.1135.0007.TFM               2023-08-18 20:59:23           2023-08-18 23:11:26 2023-08-18 21:00:00               unknown
47369  UAL1372.DEN.SEA.230817.1930.0184.TFM               2023-08-18 20:59:13           2023-08-18 22:02:31 2023-08-18 21:00:00               unknown
47370  UAL1727.DEN.SEA.230817.1755.0084.TFM               2023-08-18 20:59:38           2023-08-18 21:07:17 2023-08-18 21:00:00               unknown
47371  UAL2091.ORD.SEA.230817.1820.0093.TFM               2023-08-18 20:59:13           2023-08-18 22:15:17 2023-08-18 21:00:00               unknown
47372   UAL674.EWR.SEA.230817.1825.0035.TFM               2023-08-18 20:59:38           2023-08-19 00:14:21 2023-08-18 21:00:00               unknown

[47373 rows x 5 columns]

In [619]:
import numpy as np

# Define a function to categorize the minute_diff into target values
def assign_target(minute_diff):
    if minute_diff < 0:
        return 13
    elif minute_diff <= 15:
        return 1
    elif 15 < minute_diff <= 30:
        return 2
    elif 30 < minute_diff <= 45:
        return 3
    elif 45 < minute_diff <= 60:
        return 4
    elif 60 < minute_diff <= 75:
        return 5
    elif 75 < minute_diff <= 90:
        return 6
    elif 90 < minute_diff <= 105:
        return 7
    elif 105 < minute_diff <= 120:
        return 8
    elif 120 < minute_diff <= 135:
        return 9
    elif 135 < minute_diff <= 150:
        return 10
    elif 150 < minute_diff <= 165:
        return 11
    elif 165 < minute_diff <= 180:
        return 12
    elif minute_diff > 180:
        return 13
    else:
        return 13  # Return NaN if the value is not valid

In [620]:
merged_df.head()

                                   gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                   t aircraft_engine_class
0  AAL1241.DFW.SEA.220923.2350.0110.TFM               2022-09-25 00:59:37           2022-09-25 03:39:14 2022-09-25 01:00:00               unknown
1  AAL2001.PHL.SEA.220923.2245.0137.TFM               2022-09-25 00:59:29           2022-09-25 04:16:41 2022-09-25 01:00:00                   JET
2  AAL2009.DFW.SEA.220923.2151.0012.TFM               2022-09-25 00:59:07           2022-09-25 01:36:20 2022-09-25 01:00:00               unknown
3   AAL591.ORD.SEA.220923.2220.0119.TFM               2022-09-25 00:59:41           2022-09-25 02:23:18 2022-09-25 01:00:00               unknown
4   ACA515.YUL.SEA.220923.2305.0051.TFM               2022-09-25 00:59:58           2022-09-25 04:25:23 2022-09-25 01:00:00                   JET

In [621]:
print(len(merged_df))

47373

In [622]:
# Calculate the time difference between 't' and 'arrival_runway_estimated_time'
merged_df['time_diff_estimate'] = (merged_df['arrival_runway_estimated_time'] - merged_df['t']).dt.total_seconds() / 60

# Display the updated DataFrame with the new column
display(merged_df)

                                       gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                   t aircraft_engine_class  time_diff_estimate
0      AAL1241.DFW.SEA.220923.2350.0110.TFM               2022-09-25 00:59:37           2022-09-25 03:39:14 2022-09-25 01:00:00               unknown          159.233333
1      AAL2001.PHL.SEA.220923.2245.0137.TFM               2022-09-25 00:59:29           2022-09-25 04:16:41 2022-09-25 01:00:00                   JET          196.683333
2      AAL2009.DFW.SEA.220923.2151.0012.TFM               2022-09-25 00:59:07           2022-09-25 01:36:20 2022-09-25 01:00:00               unknown           36.333333
3       AAL591.ORD.SEA.220923.2220.0119.TFM               2022-09-25 00:59:41           2022-09-25 02:23:18 2022-09-25 01:00:00               unknown           83.300000
4       ACA515.YUL.SEA.220923.2305.0051.TFM               2022-09-25 00:59:58           2022-09-25 04:25:23 2022-09-25 01:00:00                   JET          205.383333
...                                     ...                               ...                           ...                 ...                   ...                 ...
47368   THY8DE.IST.SEA.230818.1135.0007.TFM               2023-08-18 20:59:23           2023-08-18 23:11:26 2023-08-18 21:00:00               unknown          131.433333
47369  UAL1372.DEN.SEA.230817.1930.0184.TFM               2023-08-18 20:59:13           2023-08-18 22:02:31 2023-08-18 21:00:00               unknown           62.516667
47370  UAL1727.DEN.SEA.230817.1755.0084.TFM               2023-08-18 20:59:38           2023-08-18 21:07:17 2023-08-18 21:00:00               unknown            7.283333
47371  UAL2091.ORD.SEA.230817.1820.0093.TFM               2023-08-18 20:59:13           2023-08-18 22:15:17 2023-08-18 21:00:00               unknown           75.283333
47372   UAL674.EWR.SEA.230817.1825.0035.TFM               2023-08-18 20:59:38           2023-08-19 00:14:21 2023-08-18 21:00:00               unknown          194.350000

[47373 rows x 6 columns]

In [623]:
columns_to_select = ['gufi', 'time_diff_estimate',  't', 'aircraft_engine_class']

# Create a new DataFrame with only the specified columns
selected_columns_df = merged_df[columns_to_select]

# Display the new DataFrame
print(len(selected_columns_df))
print((selected_columns_df.dtypes))
print(selected_columns_df.columns)

47373
gufi                             object
time_diff_estimate              float64
t                        datetime64[ns]
aircraft_engine_class            object
dtype: object
Index(['gufi', 'time_diff_estimate', 't', 'aircraft_engine_class'], dtype='object')

In [624]:

# Step 1: Get unique values from the 'aircraft_engine_class' column
unique_values = selected_columns_df['aircraft_engine_class'].unique()

# Step 2: Manually create a mapping from each unique value to an integer
#manual_map = {value: index for index, value in enumerate(unique_values, start=1)}
manual_map = {'JET': 1, 'TURBO': 2, 'unknown': 3, 'PISTON': 4}

# Step 3: Apply the mapping to the 'aircraft_engine_class' column using .loc[] to avoid the warning
selected_columns_df = selected_columns_df.copy()
selected_columns_df['engine_class_int'] = selected_columns_df['aircraft_engine_class'].map(manual_map)



# Display the updated DataFrame
display(selected_columns_df)

                                       gufi  time_diff_estimate                   t aircraft_engine_class  engine_class_int
0      AAL1241.DFW.SEA.220923.2350.0110.TFM          159.233333 2022-09-25 01:00:00               unknown                 3
1      AAL2001.PHL.SEA.220923.2245.0137.TFM          196.683333 2022-09-25 01:00:00                   JET                 1
2      AAL2009.DFW.SEA.220923.2151.0012.TFM           36.333333 2022-09-25 01:00:00               unknown                 3
3       AAL591.ORD.SEA.220923.2220.0119.TFM           83.300000 2022-09-25 01:00:00               unknown                 3
4       ACA515.YUL.SEA.220923.2305.0051.TFM          205.383333 2022-09-25 01:00:00                   JET                 1
...                                     ...                 ...                 ...                   ...               ...
47368   THY8DE.IST.SEA.230818.1135.0007.TFM          131.433333 2023-08-18 21:00:00               unknown                 3
47369  UAL1372.DEN.SEA.230817.1930.0184.TFM           62.516667 2023-08-18 21:00:00               unknown                 3
47370  UAL1727.DEN.SEA.230817.1755.0084.TFM            7.283333 2023-08-18 21:00:00               unknown                 3
47371  UAL2091.ORD.SEA.230817.1820.0093.TFM           75.283333 2023-08-18 21:00:00               unknown                 3
47372   UAL674.EWR.SEA.230817.1825.0035.TFM          194.350000 2023-08-18 21:00:00               unknown                 3

[47373 rows x 5 columns]

In [625]:
manual_map

{'JET': 1, 'TURBO': 2, 'unknown': 3, 'PISTON': 4}

In [626]:
selected_columns_df.columns
selected_columns_df.dtypes

gufi                             object
time_diff_estimate              float64
t                        datetime64[ns]
aircraft_engine_class            object
engine_class_int                  int64
dtype: object

In [627]:
#Lets get teh model 
import xgboost as xgb
SAVE_PATH = "/projectnb/cs640grp/projects/noahark/523Proj/data/models"
# Define the model file path
model_file_path = f"{SAVE_PATH}/xgboost_model_{ACODE}.json"

# Load the model
loaded_model = xgb.XGBRegressor()  # Instantiate the XGBRegressor or use the appropriate model type
loaded_model.load_model(model_file_path)

print(f"Model loaded from {model_file_path}")

Model loaded from /projectnb/cs640grp/projects/noahark/523Proj/data/models/xgboost_model_KSEA.json

In [628]:
import pandas as pd
from xgboost import XGBRegressor

from sklearn.impute import SimpleImputer
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor

# Assuming selected_columns_df is already defined
test_df = selected_columns_df.copy()

# Separate the features (X) and target (y) for train and test sets

test_X = test_df.select_dtypes(exclude=['object','datetime64[ns]'])

display(test_X)

# Initialize SimpleImputer to handle missing values
my_imputer = SimpleImputer(strategy='mean')
test_X_imputed = my_imputer.fit_transform(test_X)

#test_X_imputed = my_imputer.transform(test_X)

# Convert the imputed arrays back to DataFrames and restore column names and original indices
test_X_df = pd.DataFrame(test_X_imputed, columns=test_X.columns, index=test_df.index)  # Use original indices

# Make predictions
predictions = loaded_model.predict(test_X_df)

# Round or process the predictions as needed (for example, flooring them)
predictions_floor = predictions.astype(int)

# Merge the predictions and the true values into a new DataFrame, keeping the original index
result_df_now = pd.DataFrame({
    'Predictions': predictions_floor
}, index=test_df.index)  # Keep the original indices for result_df

# Display the result DataFrame
display(result_df_now)

# Optionally, merge with the original selected_columns_df using the indices
#final_result_df = selected_columns_df.loc[result_df_now.index, ['gufi', 'time_diff_estimate','target']].join(result_df_now)

# Display final merged DataFrame
#display(final_result_df)

       time_diff_estimate  engine_class_int
0              159.233333                 3
1              196.683333                 1
2               36.333333                 3
3               83.300000                 3
4              205.383333                 1
...                   ...               ...
47368          131.433333                 3
47369           62.516667                 3
47370            7.283333                 3
47371           75.283333                 3
47372          194.350000                 3

[47373 rows x 2 columns]

       Predictions
0               12
1               12
2                3
3                7
4               12
...            ...
47368            9
47369            5
47370            1
47371            6
47372           12

[47373 rows x 1 columns]

In [629]:
test_final_df = pd.concat([test_df, result_df_now], axis=1)
test_final_df

                                       gufi  time_diff_estimate                   t aircraft_engine_class  engine_class_int  Predictions
0      AAL1241.DFW.SEA.220923.2350.0110.TFM          159.233333 2022-09-25 01:00:00               unknown                 3           12
1      AAL2001.PHL.SEA.220923.2245.0137.TFM          196.683333 2022-09-25 01:00:00                   JET                 1           12
2      AAL2009.DFW.SEA.220923.2151.0012.TFM           36.333333 2022-09-25 01:00:00               unknown                 3            3
3       AAL591.ORD.SEA.220923.2220.0119.TFM           83.300000 2022-09-25 01:00:00               unknown                 3            7
4       ACA515.YUL.SEA.220923.2305.0051.TFM          205.383333 2022-09-25 01:00:00                   JET                 1           12
...                                     ...                 ...                 ...                   ...               ...          ...
47368   THY8DE.IST.SEA.230818.1135.0007.TFM          131.433333 2023-08-18 21:00:00               unknown                 3            9
47369  UAL1372.DEN.SEA.230817.1930.0184.TFM           62.516667 2023-08-18 21:00:00               unknown                 3            5
47370  UAL1727.DEN.SEA.230817.1755.0084.TFM            7.283333 2023-08-18 21:00:00               unknown                 3            1
47371  UAL2091.ORD.SEA.230817.1820.0093.TFM           75.283333 2023-08-18 21:00:00               unknown                 3            6
47372   UAL674.EWR.SEA.230817.1825.0035.TFM          194.350000 2023-08-18 21:00:00               unknown                 3           12

[47373 rows x 6 columns]

In [630]:
test_final_df.columns

Index(['gufi', 'time_diff_estimate', 't', 'aircraft_engine_class', 'engine_class_int', 'Predictions'], dtype='object')

In [631]:
extracted_test_df = test_final_df[['t', 'Predictions']]
extracted_test_df

                        t  Predictions
0     2022-09-25 01:00:00           12
1     2022-09-25 01:00:00           12
2     2022-09-25 01:00:00            3
3     2022-09-25 01:00:00            7
4     2022-09-25 01:00:00           12
...                   ...          ...
47368 2023-08-18 21:00:00            9
47369 2023-08-18 21:00:00            5
47370 2023-08-18 21:00:00            1
47371 2023-08-18 21:00:00            6
47372 2023-08-18 21:00:00           12

[47373 rows x 2 columns]

In [632]:
import pandas as pd


df_temp = extracted_test_df.copy()
display(df_temp)
# Define the bins (1 through 12)
bins = range(1, 13)

# Initialize dictionaries to store bin sums for each unique 't'
pred_bins_by_t = {}

# Group by unique 't' and calculate bin sums
for t_value, group in df_temp.groupby('t'):
    # Sum Predictions for each bin
    pred_bins = group['Predictions'].value_counts().reindex(bins, fill_value=0)
    pred_bins_by_t[t_value] = pred_bins.tolist()  # Convert to list for storage

# Convert results to DataFrames for better visualization
pred_bins_df = pd.DataFrame.from_dict(pred_bins_by_t, orient='index', columns=[f'Bin {i}' for i in bins])


print("\nPrediction Bins by 't':")
display(pred_bins_df)

                        t  Predictions
0     2022-09-25 01:00:00           12
1     2022-09-25 01:00:00           12
2     2022-09-25 01:00:00            3
3     2022-09-25 01:00:00            7
4     2022-09-25 01:00:00           12
...                   ...          ...
47368 2023-08-18 21:00:00            9
47369 2023-08-18 21:00:00            5
47370 2023-08-18 21:00:00            1
47371 2023-08-18 21:00:00            6
47372 2023-08-18 21:00:00           12

[47373 rows x 2 columns]

Prediction Bins by 't':

                     Bin 1  Bin 2  Bin 3  Bin 4  Bin 5  Bin 6  Bin 7  Bin 8  Bin 9  Bin 10  Bin 11  Bin 12
2022-09-25 01:00:00      9     10     12      2      5      9      7     12      7       8       7      42
2022-09-25 05:00:00      7      3      1      1      1      2      2      4      4       1       0       2
2022-09-25 09:00:00      0      0      1      0      0      0      0      0      1       0       0       2
2022-09-25 13:00:00      4      2      6      1      3      3      2     11      8       8       9      34
2022-09-25 17:00:00     10     11      8      5      3      6      2     23      3      11       3      23
2022-09-25 21:00:00     10      8     12      1      6      5      2     14      7       7      15      25
2022-09-26 01:00:00      3     10     13      3      2      5      6     22     12      10      12      43
2022-09-26 05:00:00      5      4     12      2      1      5      1      8      3       3       0       4
2022-09-26 09:00:00      0      0      1      0      0      0      0      0      0       0       1       7
2022-09-26 13:00:00      3      5      6      2      0      4      0     12     10       5       6      37
2022-09-26 17:00:00      8     10     10      3      4      7      3     10      9       8      12      25
2022-09-26 21:00:00     16      5      8      3      2      5      5     15     10       7       8      28
2022-09-27 01:00:00     10      6     10      4      4     14      4     17     11       8      11      47
2022-09-27 05:00:00      8      3      5      2      3      5      2      3      5       5       3       2
2022-09-27 09:00:00      0      0      1      0      0      2      0      0      0       0       0       7
2022-09-27 13:00:00      5      2      7      3      1      1      4     13     13       3       7      45
2022-09-27 17:00:00     10      9     17      2      4      4      2     16     11       6       9      30
2022-09-27 21:00:00     12      6     10      2      0      2      3     16      5       9       9      31
2022-09-28 01:00:00     10      8      7      5      5      8      6     17     11      11       8      41
2022-09-28 05:00:00      2      1      5      4      1      4      3      4      2       2       0       3
2022-09-28 09:00:00      1      1      0      0      0      1      0      1      0       0       0       8
2022-09-28 13:00:00      8      4      4      1      0      2      2     15      6       6       8      39
2022-09-28 17:00:00     10      9     11      5      6      6      3     15     11       7       8      26
2022-09-28 21:00:00      9      7     11      2      0      3      6      8      9      11      12      25
2022-09-29 01:00:00      6     10     14      6      4     11      6     18     11      14       3      43
2022-09-29 05:00:00      1      2      7      4      3      4      3      5      2       3       1       2
2022-09-29 09:00:00      1      0      1      0      0      0      0      0      0       0       0       7
2022-09-29 13:00:00      8      1      5      2      2      2      2     16      7       5      13      33
2022-09-29 17:00:00      6      9     11      2      3      8      4     16      6       6       8      23
2022-09-29 21:00:00     11     10     10      8      1      3      3     12      9       9      14      28
2022-09-30 01:00:00     11      8     11      5      6      9      8     20     12       3      10      45
2022-09-30 05:00:00      4      4      3      5      3      4      6      3      2       2       3       5
2022-09-30 09:00:00      1      1      0      0      0      0      0      1      0       0       0       7
2022-09-30 13:00:00      3      8      5      1      2      3      3     15      8       4       9      35
2022-09-30 17:00:00      5      9     10      3      3      9      7     10      8       8      10      54
2022-09-30 21:00:00     13      3      8     10      5     12      5     11      6      12      13      41
2022-10-01 01:00:00     11      3     11      4      6      9      9     20      7      13      10      45
2022-10-01 05:00:00      4      7      9      6      4      3      5      8      4       2       3       3
2022-10-01 09:00:00      0      2      1      0      0      0      0      0      0       0       0       8
2022-10-01 13:00:00      3      3      7      0      0      0      2     15     12       5       8      30
2022-10-01 17:00:00     10     14     11      6      4      2      0     12      9       5       9      28
2022-10-01 21:00:00      8      7     11      0      4      3      2      8      8       6       8      35
2022-10-02 01:00:00      5      8     13      3      6      7      3     21     11       8       7      41
2022-10-02 05:00:00      5      7      5      2      4      8      2      4      0       0       2       2
2022-10-02 09:00:00      1      0      0      0      0      0      1      0      0       0       0       6
2022-10-02 13:00:00      7      4      3      0      1      4      0     13      7       4      10      43
2022-10-02 17:00:00     11      8     15      1      3      7      1     13     10       6       7      22
2022-10-02 21:00:00      9      7     12      3      2      6      5     10     14       5       8      20
2022-10-27 01:00:00      6      8     14      5      3      8      8     15      8       6       4      38
2022-10-27 05:00:00      5      3      5      1      2      3      3      5      5       2       2       5
2022-10-27 09:00:00      1      0      0      1      0      1      0      0      0       0       0       7
2022-10-27 13:00:00      4      1      3      3      2      4      2      7      9       9      10      30
2022-10-27 17:00:00     13      5     12      4      2      3      5     15      8      10       7      19
2022-10-27 21:00:00      3      6     10      6      1      8      3      9      7       7       8      25
2022-10-30 01:00:00      8     12     12      2      3      3      7     14      5       6      16      31
2022-10-30 05:00:00      4      4      2      2      1      4      2      1      1       1       2       5
2022-10-30 09:00:00      0      0      1      0      1      0      0      1      0       0       0       5
2022-10-30 13:00:00      7      3      6      0      1      2      3      8      6       9       6      31
2022-10-30 17:00:00     11      6      8      5      5      3      0     19      5       7       6      21
2022-10-30 21:00:00      8      3     15      5      2      6      1      9      6      12       7      29
2022-10-31 01:00:00      5      8     15      2      2      8      9     18     11       5      13      33
2022-10-31 05:00:00      4      7      8      2      1      7      1      8      1       1       1       3
2022-10-31 09:00:00      0      0      2      0      0      0      0      0      0       0       1       6
2022-10-31 13:00:00      6      3      4      2      1      6      1      6      8       5       8      29
2022-10-31 17:00:00     10      8      9      3      5      3      3     14      9       6       5      20
2022-10-31 21:00:00      3      5      7      2      2     10      3     10      8       6       7      31
2022-11-01 01:00:00      9      6      9      7      7     11      4     16     10      11       9      31
2022-11-01 05:00:00      4      4      6      3      1      7      2      5      2       1       1       3
2022-11-01 09:00:00      0      0      1      1      0      0      1      0      0       0       0       7
2022-11-01 13:00:00      2      6      4      5      0      2      3      6     11       2       9      33
2022-11-01 17:00:00     10      7     13      3      1      2      5      9      6       8      10      18
2022-11-01 21:00:00      4      3     12      4      2      8      1     10      9       2       8      22
2022-11-02 01:00:00      8      7     13      3      6     12      5     16      6       9       5      29
2022-11-02 05:00:00      8      3      6      2      0      7      3      3      2       1       1       2
2022-11-02 09:00:00      0      1      0      0      0      0      0      1      0       1       0       7
2022-11-02 13:00:00      3      6      3      1      2      6      2     11      7       9       7      23
2022-11-02 17:00:00     12      4      9      3      3      5      2      9      4       8       8      27
2022-11-02 21:00:00      7      6     13      3      3      4      3     10     13       6       4      24
2022-11-03 01:00:00      8      5      9      6      5      7      6     18     10       7       9      38
2022-11-03 05:00:00      5      4      5      0      3      6      3      5      2       1       2       3
2022-11-03 09:00:00      1      0      1      0      0      0      0      1      0       0       0       7
2022-11-03 13:00:00      2      5      6      1      1      4      3      9      5       8      10      30
2022-11-03 17:00:00      7     10     10      3      5      6      3     13      7       7       4      26
2022-11-03 21:00:00      7      6     11      3      7      6      3      7     13       9       9      19
2022-11-28 01:00:00      5      3      3      0      7     11      4     17      9       9       9      32
2022-11-28 05:00:00      9      9      7      5      7      7      3      7      5       8       7      10
2022-11-28 09:00:00      0      1      0      0      0      1      0      1      0       1       0       4
2022-11-28 13:00:00      0      2      0      0      4      4      3      4      4       2       3      28
2022-11-28 17:00:00     10      5      9     10      5      7      5     13      9       7       9      26
2022-11-28 21:00:00      6      3      7      5      4      8      6     16      5       5       6      34
2022-11-29 01:00:00      4      7     11      2      5      9      3     18     10      11       7      47
2022-11-29 05:00:00      7      5     16      6      4      9      4      8      4       6       6      13
2022-11-29 09:00:00      0      1      0      0      1      1      0      0      0       0       1       5
2022-11-29 13:00:00      1      1      1      0      4      6      5      6      2       2       4      25
2022-11-29 17:00:00      6      5      8      4      5     14      4     11     11       6       9      31
2022-11-29 21:00:00      2      4      6      3      5      8      2     21      6      13       6      36
2022-11-30 01:00:00      4      4      9      3      6      8      8     11      7       6      20      42
2022-11-30 05:00:00      9      6     10      4      7     14      3     13      9       6       8      21
2022-11-30 09:00:00      0      1      0      3      0      1      0      2      2       2       1       1
2022-11-30 13:00:00      0      0      2      0      1      5      2      6      5       1       4      17
2022-11-30 17:00:00      6      7     11      1      5     11      6     14      5      11       5      33
2022-11-30 21:00:00      5      4     11      1      6      6      3     13      3       4       9      32
2022-12-01 01:00:00     10      3      9      2      7      6      5     16      3       7       7      44
2022-12-01 05:00:00      6      5      7      5      1      9     11     12      3       4       6      14
2022-12-01 09:00:00      0      0      1      2      0      1      2      1      0       0       1       2
2022-12-01 13:00:00      0      0      1      3      0      5      2      5      2       4       6      19
2022-12-01 17:00:00      5      6      4      8      5      7      9     14      6       9       7      21
2022-12-01 21:00:00      5      4     14      2      6     11      6      6      6       6       5      20
2022-12-02 01:00:00      5      4      8      5      4     10      6     13      4       7       9      38
2022-12-02 05:00:00      5      6      9      2      8      6      6     11      5       4       4       9
2022-12-02 09:00:00      0      1      2      0      0      0      2      0      0       0       1       1
2022-12-02 13:00:00      2      0      5      3      1      3      3      9      2       5       4      25
2022-12-02 17:00:00      7      4     10      2      6     15      9     17      5       5       3      37
2022-12-02 21:00:00      5      4     12      5      3      9      4      9      7       9       6      26
2022-12-03 01:00:00      5      4      6      4      5     12      8     14      5       6      10      36
2022-12-03 05:00:00      5     10     10      7      5      7      2      9      7       9       4       9
2022-12-03 09:00:00      0      1      1      0      0      0      0      1      0       1       0       2
2022-12-03 13:00:00      0      1      1      2      2      4      2      8      4       3       4      28
2022-12-03 17:00:00      5      5      5      8      2     15      7     13      7       7       7      29
2022-12-03 21:00:00      2      4      6      5      3     11      4      7      8       6       2      23
2022-12-04 01:00:00      5      5      7      3      6     13      8     12      3       8       3      46
2022-12-04 05:00:00     10      3      9      5      5      5      3      7      0       4       4       7
2022-12-04 09:00:00      1      0      1      0      0      0      0      0      0       0       1       1
2022-12-04 13:00:00      1      0      5      5      1      4      3      8      1       2       3      27
2022-12-04 17:00:00      6      6      8      7      2      7     10     11     11       7      14      25
2022-12-04 21:00:00      5      3      6      3      5      5      2     11     12       9       3      22
2022-12-05 01:00:00      3      9      9      4      3      6      6     19      7       7      18      47
2022-12-05 05:00:00      7      7      9      4      6      6      6     12      5       3       5      13
2022-12-05 09:00:00      0      0      1      0      1      0      0      2      0       0       0       1
2022-12-05 13:00:00      1      1      3      3      1      2      4      5      1       8       2      37
2022-12-05 17:00:00      6      5     13      4      7     12      7     15     10       6       8      26
2022-12-05 21:00:00      3      4      8      4      3      7      5     12      6       6       4      27
2022-12-30 01:00:00      3      4      7      4      2      8      8     16      6      14       6      36
2022-12-30 05:00:00      8      5     10      5      8     12      5      5      3       3       7      10
2022-12-30 09:00:00      2      0      0      0      0      1      0      1      0       0       0       8
2022-12-30 13:00:00      3      2      2      1      3      6      2      4      2       4       3      25
2022-12-30 17:00:00      8      6     11      4      7     10      6     17      3       7      11      35
2022-12-30 21:00:00      5      3      4      1      4     13      7      9      8       6       4      31
2022-12-31 01:00:00      3      7      9      3      4      7      4     19     10      10      11      41
2022-12-31 05:00:00      7     10     10     13      4     10      4      9      5       1       4      14
2022-12-31 09:00:00      3      2      0      1      0      2      0      1      1       0       0       3
2022-12-31 13:00:00      1      2      5      2      3      4      3      6      2       3       7      27
2022-12-31 17:00:00      5     10      9      4      9     10      2     16      4       4       4      30
2022-12-31 21:00:00      3      4      6      4      3      7      5      9      4       5       3      32
2023-01-01 01:00:00      5      2      7      1      3      6      5     16      6       4       9      30
2023-01-01 05:00:00     13      5      5      1      3      4      5      7      1       2       3       5
2023-01-01 09:00:00      1      0      0      0      1      0      0      0      0       0       0       3
2023-01-01 13:00:00      2      1      3      2      0      6      1      5      0       1       2      22
2023-01-01 17:00:00      3      3     10      4      6     10      5     13      4       2       9      32
2023-01-01 21:00:00      7      5      7      1      3      9      7     14      7       2       2      31
2023-01-02 01:00:00      1      3     14      4      2     15      3     14     12       2      10      35
2023-01-02 05:00:00      6      9     11      5      2      9      4      7      4       4       5      17
2023-01-02 09:00:00      0      1      2      0      0      0      0      1      0       0       0       4
2023-01-02 13:00:00      2      2      2      2      2      6      3      8      2       2       4      28
2023-01-02 17:00:00      3      8      6      6      7     13      5     13      9       7       6      34
2023-01-02 21:00:00      2      2      5      1      5      7      7      8     10       4       2      23
2023-01-03 01:00:00      6      6     12      3      5     10      8     11      6      12      12      44
2023-01-03 05:00:00     10      3      9      8      5      6      5      8      6       5       7      17
2023-01-03 09:00:00      2      0      2      1      1      1      1      0      1       0       2       2
2023-01-03 13:00:00      1      1      3      0      3      3      3      7      4       2       4      26
2023-01-03 17:00:00      7      7      9      2      6      6      8     13      5       7       7      35
2023-01-03 21:00:00      7      2      5      4      6      7      5     11      7       2       6      32
2023-01-04 01:00:00      3      3      8      4      5     11      6     17      8      10      11      47
2023-01-04 05:00:00      8     10     10      2      5      9      5      5      2       3       6      16
2023-01-04 09:00:00      0      1      2      0      0      1      0      1      0       0       0       4
2023-01-04 13:00:00      2      1      4      0      1      5      2     12      1       3       4      28
2023-01-04 17:00:00      4      8     10      2      6      9      3     13      7       5      10      36
2023-01-04 21:00:00      5      8      8      6      5      7      6      7      4       3       5      31
2023-01-05 01:00:00      2      3     10      4      7      6      6     15     12       6       4      49
2023-01-05 05:00:00      4      6     12      8      3      3      1     11      3       4       4      16
2023-01-05 09:00:00      1      1      1      0      0      0      0      3      0       0       0       6
2023-01-05 13:00:00      2      1      5      1      2      6      2      6      2       4       6      28
2023-01-05 17:00:00      7      5      6      5     11      7      3     17      3       6      12      36
2023-01-05 21:00:00      7      2      5      5      4      7      3     10      6       6       5      34
2023-01-06 01:00:00      3      3      9      4      9     13      9     11      7       6      10      40
2023-01-06 05:00:00      7      8     11      6      3     13      2      7      8       3       2      12
2023-01-06 09:00:00      1      0      0      0      0      0      1      1      0       0       0       5
2023-01-06 13:00:00      1      4      5      1      2      5      2      8      3       2       5      31
2023-01-06 17:00:00      7      8     11      1      5      8      4     20      2       9       9      31
2023-01-06 21:00:00      7      1      6      2      3      3      5     12      9       8       1      18
2023-01-31 01:00:00      3      5      6      2      9     10      5     10      6       8       6      46
2023-01-31 05:00:00      6      6      7      4      8      5      5      7      0       7       9      11
2023-01-31 09:00:00      0      0      0      0      0      0      0      0      0       2       0       3
2023-01-31 13:00:00      2      0      3      0      1      4      1      7      1       4       4      24
2023-01-31 17:00:00      3      3      4      2      8      8     10      8      3       7       7      35

In [633]:
# Convert pred_bins_df into a 3-column DataFrame with count_pred
pred_bins_melted = pred_bins_df.reset_index().melt(
    id_vars='index', 
    var_name='Bin', 
    value_name='count_pred'
)
pred_bins_melted.rename(columns={'index': 'Time'}, inplace=True)

# Convert Bin column to integers (remove "Bin " prefix)
pred_bins_melted['Bin'] = pred_bins_melted['Bin'].str.extract(r'(\d+)').astype(int)

# Display the result
display(pred_bins_melted)

                    Time  Bin  count_pred
0    2022-09-25 01:00:00    1           9
1    2022-09-25 05:00:00    1           7
2    2022-09-25 09:00:00    1           0
3    2022-09-25 13:00:00    1           4
4    2022-09-25 17:00:00    1          10
...                  ...  ...         ...
6187 2023-08-18 05:00:00   12           1
6188 2023-08-18 09:00:00   12           9
6189 2023-08-18 13:00:00   12          31
6190 2023-08-18 17:00:00   12          26
6191 2023-08-18 21:00:00   12          29

[6192 rows x 3 columns]

### Now we need to calculate the bins for join this information back to the original submission csv

In [634]:
import pandas as pd


final_sub_path = '/projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata/finalSub.csv'

# Load the DataFrame from the saved CSV file
sub_df = pd.read_csv(final_sub_path)

# Display the loaded DataFrame
print("Loaded DataFrame:")
display(sub_df)

Loaded DataFrame:

                         ID  Value airport_code             datetime  minutes_past  bin
0       KDEN_220925_0100_15      5         KDEN  2022-09-25 01:00:00            15    1
1       KDEN_220925_0100_30      4         KDEN  2022-09-25 01:00:00            30    2
2       KDEN_220925_0100_45      3         KDEN  2022-09-25 01:00:00            45    3
3       KDEN_220925_0100_60     10         KDEN  2022-09-25 01:00:00            60    4
4       KDEN_220925_0100_75     13         KDEN  2022-09-25 01:00:00            75    5
...                     ...    ...          ...                  ...           ...  ...
61915  KJFK_230818_2100_120      6         KJFK  2023-08-18 21:00:00           120    8
61916  KJFK_230818_2100_135     23         KJFK  2023-08-18 21:00:00           135    9
61917  KJFK_230818_2100_150     14         KJFK  2023-08-18 21:00:00           150   10
61918  KJFK_230818_2100_165      6         KJFK  2023-08-18 21:00:00           165   11
61919  KJFK_230818_2100_180     19         KJFK  2023-08-18 21:00:00           180   12

[61920 rows x 6 columns]

In [635]:
sub_df_filtered = sub_df[sub_df['airport_code'] == ACODE].copy()

# Display the filtered DataFrame
print(f"Filtered DataFrame (only {ACODE} airport code):")
display(sub_df_filtered)

Filtered DataFrame (only KSEA airport code):

                         ID  Value airport_code             datetime  minutes_past  bin
18576   KSEA_220925_0100_15     99         KSEA  2022-09-25 01:00:00            15    1
18577   KSEA_220925_0100_30     99         KSEA  2022-09-25 01:00:00            30    2
18578   KSEA_220925_0100_45     99         KSEA  2022-09-25 01:00:00            45    3
18579   KSEA_220925_0100_60     99         KSEA  2022-09-25 01:00:00            60    4
18580   KSEA_220925_0100_75     99         KSEA  2022-09-25 01:00:00            75    5
...                     ...    ...          ...                  ...           ...  ...
24763  KSEA_230818_2100_120     99         KSEA  2023-08-18 21:00:00           120    8
24764  KSEA_230818_2100_135     99         KSEA  2023-08-18 21:00:00           135    9
24765  KSEA_230818_2100_150     99         KSEA  2023-08-18 21:00:00           150   10
24766  KSEA_230818_2100_165     99         KSEA  2023-08-18 21:00:00           165   11
24767  KSEA_230818_2100_180     99         KSEA  2023-08-18 21:00:00           180   12

[6192 rows x 6 columns]

In [636]:
sub_df_filtered.dtypes

ID              object
Value            int64
airport_code    object
datetime        object
minutes_past     int64
bin              int64
dtype: object

In [637]:
# Convert both 'date_time' and 'time' columns to datetime format if they are not already
sub_df_filtered['datetime'] = pd.to_datetime(sub_df_filtered['datetime'])
pred_bins_melted['Time'] = pd.to_datetime(pred_bins_melted['Time'])

# Merge pred_bins_melted with sub_df_filtered on 'date_time' and 'bin' columns
tempy5 = sub_df_filtered.merge(pred_bins_melted[['Time', 'Bin', 'count_pred']], 
                                  left_on=['datetime', 'bin'], 
                                  right_on=['Time', 'Bin'], 
                                  how='left')

# Now, update the 'value' column with the 'count_pred' values
tempy5['Value'] = tempy5['count_pred']

# Drop the extra columns (like 'Time' and 'count_pred') that were added during the merge
#tempy5 = tempy5.drop(columns=['Time', 'count_pred'])

# Display the updated DataFrame
print(tempy5.dtypes)
display(tempy5)

ID                      object
Value                    int64
airport_code            object
datetime        datetime64[ns]
minutes_past             int64
bin                      int64
Time            datetime64[ns]
Bin                      int64
count_pred               int64
dtype: object

                        ID  Value airport_code            datetime  minutes_past  bin                Time  Bin  count_pred
0      KSEA_220925_0100_15      9         KSEA 2022-09-25 01:00:00            15    1 2022-09-25 01:00:00    1           9
1      KSEA_220925_0100_30     10         KSEA 2022-09-25 01:00:00            30    2 2022-09-25 01:00:00    2          10
2      KSEA_220925_0100_45     12         KSEA 2022-09-25 01:00:00            45    3 2022-09-25 01:00:00    3          12
3      KSEA_220925_0100_60      2         KSEA 2022-09-25 01:00:00            60    4 2022-09-25 01:00:00    4           2
4      KSEA_220925_0100_75      5         KSEA 2022-09-25 01:00:00            75    5 2022-09-25 01:00:00    5           5
...                    ...    ...          ...                 ...           ...  ...                 ...  ...         ...
6187  KSEA_230818_2100_120     11         KSEA 2023-08-18 21:00:00           120    8 2023-08-18 21:00:00    8          11
6188  KSEA_230818_2100_135      8         KSEA 2023-08-18 21:00:00           135    9 2023-08-18 21:00:00    9           8
6189  KSEA_230818_2100_150      4         KSEA 2023-08-18 21:00:00           150   10 2023-08-18 21:00:00   10           4
6190  KSEA_230818_2100_165     12         KSEA 2023-08-18 21:00:00           165   11 2023-08-18 21:00:00   11          12
6191  KSEA_230818_2100_180     29         KSEA 2023-08-18 21:00:00           180   12 2023-08-18 21:00:00   12          29

[6192 rows x 9 columns]

In [638]:
# Merge the DataFrames
final_df = sub_df.merge(tempy5[['ID', 'Value']], on='ID', how='left', suffixes=('', '_temp'))

# Fill NaN values in 'Value_temp' with the original 'Value' from sub_df
final_df['Value'] = final_df['Value_temp'].fillna(final_df['Value'])

# Drop the temporary 'Value_temp' column
final_df = final_df.drop(columns=['Value_temp'])

# Convert the 'Value' column to int64 (after filling NaN)
final_df['Value'] = final_df['Value'].astype('int64')

# Display the final DataFrame
display(final_df)

                         ID  Value airport_code             datetime  minutes_past  bin
0       KDEN_220925_0100_15      5         KDEN  2022-09-25 01:00:00            15    1
1       KDEN_220925_0100_30      4         KDEN  2022-09-25 01:00:00            30    2
2       KDEN_220925_0100_45      3         KDEN  2022-09-25 01:00:00            45    3
3       KDEN_220925_0100_60     10         KDEN  2022-09-25 01:00:00            60    4
4       KDEN_220925_0100_75     13         KDEN  2022-09-25 01:00:00            75    5
...                     ...    ...          ...                  ...           ...  ...
61915  KJFK_230818_2100_120      6         KJFK  2023-08-18 21:00:00           120    8
61916  KJFK_230818_2100_135     23         KJFK  2023-08-18 21:00:00           135    9
61917  KJFK_230818_2100_150     14         KJFK  2023-08-18 21:00:00           150   10
61918  KJFK_230818_2100_165      6         KJFK  2023-08-18 21:00:00           165   11
61919  KJFK_230818_2100_180     19         KJFK  2023-08-18 21:00:00           180   12

[61920 rows x 6 columns]

In [639]:
file_path = '/projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata/finalSub.csv'

# Write the DataFrame to a CSV file
final_df.to_csv(file_path, index=False)

print(f"DataFrame saved to {file_path}")

DataFrame saved to /projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata/finalSub.csv

In [640]:

loaded_df = pd.read_csv(file_path)

# Display the loaded DataFrame
display(loaded_df)

                         ID  Value airport_code             datetime  minutes_past  bin
0       KDEN_220925_0100_15      5         KDEN  2022-09-25 01:00:00            15    1
1       KDEN_220925_0100_30      4         KDEN  2022-09-25 01:00:00            30    2
2       KDEN_220925_0100_45      3         KDEN  2022-09-25 01:00:00            45    3
3       KDEN_220925_0100_60     10         KDEN  2022-09-25 01:00:00            60    4
4       KDEN_220925_0100_75     13         KDEN  2022-09-25 01:00:00            75    5
...                     ...    ...          ...                  ...           ...  ...
61915  KJFK_230818_2100_120      6         KJFK  2023-08-18 21:00:00           120    8
61916  KJFK_230818_2100_135     23         KJFK  2023-08-18 21:00:00           135    9
61917  KJFK_230818_2100_150     14         KJFK  2023-08-18 21:00:00           150   10
61918  KJFK_230818_2100_165      6         KJFK  2023-08-18 21:00:00           165   11
61919  KJFK_230818_2100_180     19         KJFK  2023-08-18 21:00:00           180   12

[61920 rows x 6 columns]

In [641]:
loaded_df[loaded_df['airport_code'] == ACODE]

                         ID  Value airport_code             datetime  minutes_past  bin
18576   KSEA_220925_0100_15      9         KSEA  2022-09-25 01:00:00            15    1
18577   KSEA_220925_0100_30     10         KSEA  2022-09-25 01:00:00            30    2
18578   KSEA_220925_0100_45     12         KSEA  2022-09-25 01:00:00            45    3
18579   KSEA_220925_0100_60      2         KSEA  2022-09-25 01:00:00            60    4
18580   KSEA_220925_0100_75      5         KSEA  2022-09-25 01:00:00            75    5
...                     ...    ...          ...                  ...           ...  ...
24763  KSEA_230818_2100_120     11         KSEA  2023-08-18 21:00:00           120    8
24764  KSEA_230818_2100_135      8         KSEA  2023-08-18 21:00:00           135    9
24765  KSEA_230818_2100_150      4         KSEA  2023-08-18 21:00:00           150   10
24766  KSEA_230818_2100_165     12         KSEA  2023-08-18 21:00:00           165   11
24767  KSEA_230818_2100_180     29         KSEA  2023-08-18 21:00:00           180   12

[6192 rows x 6 columns]