### ChatGPT was used to generate some of the code in this file. 
In this notebook we will pull the model for JFK and use it to predict

In [1]:
TRAIN_PATH = '/projectnb/cs640grp/projects/noahark/preprocess/train'
TEST_PATH = '/projectnb/cs640grp/projects/noahark/preprocess/test'

from pathlib import Path
file_paths = [str(f) for f in Path(TRAIN_PATH).rglob("*") if f.is_file()]
#print("\n".join(file_paths))

In [94]:
import os
import glob

def get_correct_file(base_dir=BASE, airport_code=ACODE, file_name="MFS_df.parquet"):
    """
    Retrieve the correct file from a given directory based on the airport code and file name.

    Args:
        base_dir (str): The base directory containing the files (default is "train").
        airport_code (str): The airport code, e.g., 'KMEM', 'KMIA' (default is "KMEM").
        file_name (str): The specific file name, e.g., 'MFS_df.parquet' (default is "MFS_df.parquet").

    Returns:
        str: The full path to the matching file or None if not found.
    """
    root_dir = "/projectnb/cs640grp/projects/noahark/preprocess"
    search_pattern = os.path.join(root_dir, base_dir, "fuser", airport_code, file_name)
    matching_files = glob.glob(search_pattern)

    if matching_files:
        return matching_files[0]  # Return the first matching file
    else:
        return None



# Using the default base directory ("train")
result = get_correct_file(airport_code=airport, file_name=file_to_find)

if result:
    print(f"File found: {result}")
else:
    print("File not found.")



result_custom = get_correct_file(base_dir=BASE, airport_code=ACODE, file_name=file_to_find)

if result_custom:
    print(f"File found in custom base directory: {result_custom}")
else:
    print("File not found in custom base directory.")

File found: /projectnb/cs640grp/projects/noahark/preprocess/test/fuser/KMEM/MFS_df.parquet
File found in custom base directory: /projectnb/cs640grp/projects/noahark/preprocess/test/fuser/KJFK/MFS_df.parquet

In [104]:
FD =  {
    "MFS": "MFS_df.parquet",
    "TBFM": "TBFM_df.parquet",
    "RNWY": "runway_df.parquet",
    "FPOS": "first_position.parquet",
    "LMAP": "lamp.parquet",
    "TFM": "tfm_df.parquet",
}
# A helpful dictionary to make it easier 
BASE = "test"
ACODE = "KJFK"

In [101]:
get_correct_file(base_dir=BASE, airport_code=ACODE, file_name="MFS_df.parquet")

'/projectnb/cs640grp/projects/noahark/preprocess/train/fuser/KJFK/MFS_df.parquet'

## Let's look at some of this data

In [97]:
import pandas as pd
def load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name="MFS_df.parquet"):
    """
    Load a Parquet file into a DataFrame and display its contents.

    Args:
        base_dir (str): The base directory containing the files (default is "train").
        airport_code (str): The airport code, e.g., 'KMEM' (default is "KMEM").
        file_name (str): The specific file name, e.g., 'MFS_df.parquet' (default is "MFS_df.parquet").
    """
    # Use the function to get the file path
    file_path = get_correct_file(base_dir=base_dir, airport_code=airport_code, file_name=file_name)
    
    if file_path:
        try:
            # Load the Parquet file into a DataFrame
            df = pd.read_parquet(file_path)
            
            # Display the DataFrame
            display(df)
            return df 
        except Exception as e:
            print(f"An error occurred while loading the Parquet file: {e}")
    else:
        print(f"File not found: {base_dir}/{airport_code}/{file_name}")
        return None

# Example usage
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["MFS"])

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
JBU1120.DTW.JFK.230714.2150.0064.TFM                   JET          E190                        KJFK           JBU  SCHEDULED_AIR_TRANSPORT
DAL2386.JFK.AUS.230714.2201.0056.TFM                   JET          A320                        KAUS          None  SCHEDULED_AIR_TRANSPORT
DAL643.CUN.JFK.230714.1940.0109.TFM                    JET          B739                        KJFK          None  SCHEDULED_AIR_TRANSPORT
JBU1532.CTG.JFK.230714.1955.0190.TFM                   JET          A320                        KJFK           JBU  SCHEDULED_AIR_TRANSPORT
BCS361.JFK.BRU.230715.1816.0022.TFM                    JET          A333                        EBBR          None                     None
...                                                    ...           ...                         ...           ...                      ...
DAL1877.SJU.JFK.230711.1720.0057.TFM                   JET          B739                        KJFK          None  SCHEDULED_AIR_TRANSPORT
DAL333.SLC.JFK.230711.1535.0171.TFM                    JET          A321                        KJFK          None  SCHEDULED_AIR_TRANSPORT
SWR14U.ZRH.JFK.230711.1115.0158.TFM                    JET          A333                        KJFK          None  SCHEDULED_AIR_TRANSPORT
ITY609.JFK.FCO.230712.1633.0004.TFM                    JET          A332                        LIRF          None                     None
CES588.JFK.PVG.230711.2025.0178.TFM                    JET          B77W                        ZSPD          None  SCHEDULED_AIR_TRANSPORT

[25553 rows x 5 columns]

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
JBU1120.DTW.JFK.230714.2150.0064.TFM                   JET          E190                        KJFK           JBU  SCHEDULED_AIR_TRANSPORT
DAL2386.JFK.AUS.230714.2201.0056.TFM                   JET          A320                        KAUS          None  SCHEDULED_AIR_TRANSPORT
DAL643.CUN.JFK.230714.1940.0109.TFM                    JET          B739                        KJFK          None  SCHEDULED_AIR_TRANSPORT
JBU1532.CTG.JFK.230714.1955.0190.TFM                   JET          A320                        KJFK           JBU  SCHEDULED_AIR_TRANSPORT
BCS361.JFK.BRU.230715.1816.0022.TFM                    JET          A333                        EBBR          None                     None
...                                                    ...           ...                         ...           ...                      ...
DAL1877.SJU.JFK.230711.1720.0057.TFM                   JET          B739                        KJFK          None  SCHEDULED_AIR_TRANSPORT
DAL333.SLC.JFK.230711.1535.0171.TFM                    JET          A321                        KJFK          None  SCHEDULED_AIR_TRANSPORT
SWR14U.ZRH.JFK.230711.1115.0158.TFM                    JET          A333                        KJFK          None  SCHEDULED_AIR_TRANSPORT
ITY609.JFK.FCO.230712.1633.0004.TFM                    JET          A332                        LIRF          None                     None
CES588.JFK.PVG.230711.2025.0178.TFM                    JET          B77W                        ZSPD          None  SCHEDULED_AIR_TRANSPORT

[25553 rows x 5 columns]

In [98]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["MFS"])

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
JBU1120.DTW.JFK.230714.2150.0064.TFM                   JET          E190                        KJFK           JBU  SCHEDULED_AIR_TRANSPORT
DAL2386.JFK.AUS.230714.2201.0056.TFM                   JET          A320                        KAUS          None  SCHEDULED_AIR_TRANSPORT
DAL643.CUN.JFK.230714.1940.0109.TFM                    JET          B739                        KJFK          None  SCHEDULED_AIR_TRANSPORT
JBU1532.CTG.JFK.230714.1955.0190.TFM                   JET          A320                        KJFK           JBU  SCHEDULED_AIR_TRANSPORT
BCS361.JFK.BRU.230715.1816.0022.TFM                    JET          A333                        EBBR          None                     None
...                                                    ...           ...                         ...           ...                      ...
DAL1877.SJU.JFK.230711.1720.0057.TFM                   JET          B739                        KJFK          None  SCHEDULED_AIR_TRANSPORT
DAL333.SLC.JFK.230711.1535.0171.TFM                    JET          A321                        KJFK          None  SCHEDULED_AIR_TRANSPORT
SWR14U.ZRH.JFK.230711.1115.0158.TFM                    JET          A333                        KJFK          None  SCHEDULED_AIR_TRANSPORT
ITY609.JFK.FCO.230712.1633.0004.TFM                    JET          A332                        LIRF          None                     None
CES588.JFK.PVG.230711.2025.0178.TFM                    JET          B77W                        ZSPD          None  SCHEDULED_AIR_TRANSPORT

[25553 rows x 5 columns]

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
JBU1120.DTW.JFK.230714.2150.0064.TFM                   JET          E190                        KJFK           JBU  SCHEDULED_AIR_TRANSPORT
DAL2386.JFK.AUS.230714.2201.0056.TFM                   JET          A320                        KAUS          None  SCHEDULED_AIR_TRANSPORT
DAL643.CUN.JFK.230714.1940.0109.TFM                    JET          B739                        KJFK          None  SCHEDULED_AIR_TRANSPORT
JBU1532.CTG.JFK.230714.1955.0190.TFM                   JET          A320                        KJFK           JBU  SCHEDULED_AIR_TRANSPORT
BCS361.JFK.BRU.230715.1816.0022.TFM                    JET          A333                        EBBR          None                     None
...                                                    ...           ...                         ...           ...                      ...
DAL1877.SJU.JFK.230711.1720.0057.TFM                   JET          B739                        KJFK          None  SCHEDULED_AIR_TRANSPORT
DAL333.SLC.JFK.230711.1535.0171.TFM                    JET          A321                        KJFK          None  SCHEDULED_AIR_TRANSPORT
SWR14U.ZRH.JFK.230711.1115.0158.TFM                    JET          A333                        KJFK          None  SCHEDULED_AIR_TRANSPORT
ITY609.JFK.FCO.230712.1633.0004.TFM                    JET          A332                        LIRF          None                     None
CES588.JFK.PVG.230711.2025.0178.TFM                    JET          B77W                        ZSPD          None  SCHEDULED_AIR_TRANSPORT

[25553 rows x 5 columns]

In [99]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["TBFM"])

                                     arrival_runway_sta_time_stamp   arrival_runway_sta
gufi
XLS525.FLL.JFK.230309.1443.0039.TFM            2023-03-10 00:00:00  2023-03-10 00:25:07
SKW4439.BNA.JFK.230308.2320.0125.TFM           2023-03-10 00:00:00  2023-03-10 01:34:16
ABX480.CVG.JFK.230309.2021.0005.TMA            2023-03-10 00:00:00  2023-03-10 01:23:09
ASA18.PDX.JFK.230308.2245.0174.TFM             2023-03-10 00:00:00                 None
DAL624.MEX.JFK.230308.2125.0095.TFM            2023-03-10 00:00:00  2023-03-10 01:41:23
...                                                            ...                  ...
JBU1826.SAT.JFK.221028.1910.0079.TFM           2022-10-29 20:59:49  2022-10-29 22:56:59
JBU1826.SAT.JFK.221028.1910.0079.TFM           2022-10-29 20:59:50  2022-10-29 22:56:59
DAL392.LAX.JFK.221028.1620.0133.TFM            2022-10-29 20:59:51  2022-10-29 21:20:26
JBU1826.SAT.JFK.221028.1910.0079.TFM           2022-10-29 20:59:51  2022-10-29 22:56:59
VIR9M.LHR.JFK.221028.1340.0083.TFM             2022-10-29 20:59:51  2022-10-29 22:13:34

[10318214 rows x 2 columns]

                                     arrival_runway_sta_time_stamp   arrival_runway_sta
gufi
XLS525.FLL.JFK.230309.1443.0039.TFM            2023-03-10 00:00:00  2023-03-10 00:25:07
SKW4439.BNA.JFK.230308.2320.0125.TFM           2023-03-10 00:00:00  2023-03-10 01:34:16
ABX480.CVG.JFK.230309.2021.0005.TMA            2023-03-10 00:00:00  2023-03-10 01:23:09
ASA18.PDX.JFK.230308.2245.0174.TFM             2023-03-10 00:00:00                 None
DAL624.MEX.JFK.230308.2125.0095.TFM            2023-03-10 00:00:00  2023-03-10 01:41:23
...                                                            ...                  ...
JBU1826.SAT.JFK.221028.1910.0079.TFM           2022-10-29 20:59:49  2022-10-29 22:56:59
JBU1826.SAT.JFK.221028.1910.0079.TFM           2022-10-29 20:59:50  2022-10-29 22:56:59
DAL392.LAX.JFK.221028.1620.0133.TFM            2022-10-29 20:59:51  2022-10-29 21:20:26
JBU1826.SAT.JFK.221028.1910.0079.TFM           2022-10-29 20:59:51  2022-10-29 22:56:59
VIR9M.LHR.JFK.221028.1340.0083.TFM             2022-10-29 20:59:51  2022-10-29 22:13:34

[10318214 rows x 2 columns]

In [105]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["RNWY"])

                                     arrival_runway_actual_time arrival_runway_actual
gufi
JBU1674.BNA.JFK.221201.2150.0101.TFM        2022-12-03 00:00:49                   22L
AAL1092.AUS.JFK.221201.2035.0156.TFM        2022-12-03 00:01:06                   22R
JBU2884.MCO.JFK.221201.2045.0149.TFM        2022-12-03 00:01:55                   22L
DAL4.LHR.JFK.221201.1600.0130.TFM           2022-12-03 00:03:14                   22L
FIN15.HEL.JFK.221202.1529.0027.TFM          2022-12-03 00:04:46                   22L
...                                                         ...                   ...
KLM641.AMS.JFK.221030.1235.0041.TFM         2022-10-31 20:52:39                   22L
AMX402.MEX.JFK.221030.1640.0088.TFM         2022-10-31 20:54:22                   22L
ETD11B.AUH.JFK.221031.0149.0001.TFM         2022-10-31 20:56:33                   22L
JBU1568.PUJ.JFK.221030.1705.0131.TFM        2022-10-31 20:57:36                   22R
JBU2330.RSW.JFK.221030.1810.0087.TFM        2022-10-31 20:59:41                   22L

[12835 rows x 2 columns]

                                     arrival_runway_actual_time arrival_runway_actual
gufi
JBU1674.BNA.JFK.221201.2150.0101.TFM        2022-12-03 00:00:49                   22L
AAL1092.AUS.JFK.221201.2035.0156.TFM        2022-12-03 00:01:06                   22R
JBU2884.MCO.JFK.221201.2045.0149.TFM        2022-12-03 00:01:55                   22L
DAL4.LHR.JFK.221201.1600.0130.TFM           2022-12-03 00:03:14                   22L
FIN15.HEL.JFK.221202.1529.0027.TFM          2022-12-03 00:04:46                   22L
...                                                         ...                   ...
KLM641.AMS.JFK.221030.1235.0041.TFM         2022-10-31 20:52:39                   22L
AMX402.MEX.JFK.221030.1640.0088.TFM         2022-10-31 20:54:22                   22L
ETD11B.AUH.JFK.221031.0149.0001.TFM         2022-10-31 20:56:33                   22L
JBU1568.PUJ.JFK.221030.1705.0131.TFM        2022-10-31 20:57:36                   22R
JBU2330.RSW.JFK.221030.1810.0087.TFM        2022-10-31 20:59:41                   22L

[12835 rows x 2 columns]

In [17]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["FPOS"])

                                       time_first_tracked
gufi
A7MED.STN.JFK.230206.0903.0006.TFM    2023-02-06 16:15:22
AAL107.LHR.JFK.230205.1705.0101.TFM   2023-02-06 17:25:41
AAL1092.AUS.JFK.230205.1850.0114.TFM  2023-02-06 23:39:58
AAL164.SFO.JFK.230205.1910.0041.TFM   2023-02-06 19:32:03
AAL16.SFO.JFK.230205.2130.0250.TFM    2023-02-06 21:44:31
...                                                   ...
WJA1680.YYC.JFK.230309.1650.0028.TFM  2023-03-10 17:38:26
XLS525.FLL.JFK.230309.1443.0039.TFM   2023-03-10 00:00:07
AIC119.BOM.JFK.230309.1925.0108.TFM   2023-03-11 07:39:18
SIA24.SIN.JFK.230309.0435.0040.TFM    2023-03-11 17:55:58
SIA24.SIN.JFK.230309.0435.0040.TFM    2023-03-12 00:00:57

[60634 rows x 1 columns]

                                       time_first_tracked
gufi
A7MED.STN.JFK.230206.0903.0006.TFM    2023-02-06 16:15:22
AAL107.LHR.JFK.230205.1705.0101.TFM   2023-02-06 17:25:41
AAL1092.AUS.JFK.230205.1850.0114.TFM  2023-02-06 23:39:58
AAL164.SFO.JFK.230205.1910.0041.TFM   2023-02-06 19:32:03
AAL16.SFO.JFK.230205.2130.0250.TFM    2023-02-06 21:44:31
...                                                   ...
WJA1680.YYC.JFK.230309.1650.0028.TFM  2023-03-10 17:38:26
XLS525.FLL.JFK.230309.1443.0039.TFM   2023-03-10 00:00:07
AIC119.BOM.JFK.230309.1925.0108.TFM   2023-03-11 07:39:18
SIA24.SIN.JFK.230309.0435.0040.TFM    2023-03-11 17:55:58
SIA24.SIN.JFK.230309.0435.0040.TFM    2023-03-12 00:00:57

[60634 rows x 1 columns]

In [18]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["LMAP"])

,timestamp,forecast_timestamp,temperature,wind_direction,wind_speed,wind_gust,cloud_ceiling,visibility,cloud,lightning_prob,precip
0,2023-02-03 00:30:00,2023-02-03 01:00:00,36.0,23.0,13.0,0.0,8.0,7.0,BK,N,False
1,2023-02-03 00:30:00,2023-02-03 02:00:00,36.0,23.0,13.0,0.0,8.0,7.0,BK,N,False
2,2023-02-03 00:30:00,2023-02-03 03:00:00,35.0,24.0,13.0,0.0,8.0,7.0,BK,N,False
3,2023-02-03 00:30:00,2023-02-03 04:00:00,35.0,24.0,14.0,0.0,8.0,7.0,BK,N,False
4,2023-02-03 00:30:00,2023-02-03 05:00:00,34.0,25.0,15.0,22.0,8.0,7.0,BK,N,False
...,...,...,...,...,...,...,...,...,...,...,...
145,2023-07-15 20:30:00,2023-07-16 17:00:00,76.0,16.0,9.0,0.0,5.0,7.0,OV,L,True
146,2023-07-15 20:30:00,2023-07-16 18:00:00,77.0,16.0,10.0,0.0,5.0,7.0,OV,L,True
147,2023-07-15 20:30:00,2023-07-16 19:00:00,76.0,17.0,10.0,0.0,5.0,7.0,OV,M,True
148,2023-07-15 20:30:00,2023-07-16 20:00:00,76.0,16.0,10.0,0.0,5.0,7.0,OV,L,True
149,2023-07-15 20:30:00,2023-07-16 21:00:00,76.0,16.0,9.0,0.0,5.0,7.0,OV,L,True

,timestamp,forecast_timestamp,temperature,wind_direction,wind_speed,wind_gust,cloud_ceiling,visibility,cloud,lightning_prob,precip
0,2023-02-03 00:30:00,2023-02-03 01:00:00,36.0,23.0,13.0,0.0,8.0,7.0,BK,N,False
1,2023-02-03 00:30:00,2023-02-03 02:00:00,36.0,23.0,13.0,0.0,8.0,7.0,BK,N,False
2,2023-02-03 00:30:00,2023-02-03 03:00:00,35.0,24.0,13.0,0.0,8.0,7.0,BK,N,False
3,2023-02-03 00:30:00,2023-02-03 04:00:00,35.0,24.0,14.0,0.0,8.0,7.0,BK,N,False
4,2023-02-03 00:30:00,2023-02-03 05:00:00,34.0,25.0,15.0,22.0,8.0,7.0,BK,N,False
...,...,...,...,...,...,...,...,...,...,...,...
145,2023-07-15 20:30:00,2023-07-16 17:00:00,76.0,16.0,9.0,0.0,5.0,7.0,OV,L,True
146,2023-07-15 20:30:00,2023-07-16 18:00:00,77.0,16.0,10.0,0.0,5.0,7.0,OV,L,True
147,2023-07-15 20:30:00,2023-07-16 19:00:00,76.0,17.0,10.0,0.0,5.0,7.0,OV,M,True
148,2023-07-15 20:30:00,2023-07-16 20:00:00,76.0,16.0,10.0,0.0,5.0,7.0,OV,L,True
149,2023-07-15 20:30:00,2023-07-16 21:00:00,76.0,16.0,9.0,0.0,5.0,7.0,OV,L,True

In [19]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["TFM"])

,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
gufi,,
ASA16.SEA.JFK.230508.2135.0095.TFM,2023-05-10 01:00:00,2023-05-10 02:23:28
DAL303.SFO.JFK.230508.2140.0150.TFM,2023-05-10 01:00:00,2023-05-10 02:31:44
DAL1075.AUS.JFK.230508.2330.0077.TFM,2023-05-10 00:00:01,2023-05-10 02:59:54
JBU1692.LIR.JFK.230508.2100.0293.TFM,2023-05-10 00:00:01,2023-05-10 01:25:15
AAL2518.ORD.JFK.230509.0040.0087.TFM,2023-05-10 00:00:01,2023-05-10 02:51:00
...,...,...
JBU1010.SDQ.JFK.230101.1810.0125.TFM,2023-01-02 20:59:56,2023-01-02 22:01:39
DAL1822.STI.JFK.230101.1840.0092.TFM,2023-01-02 20:59:58,2023-01-02 22:48:49
DAL1957.MBJ.JFK.230101.1905.0035.TFM,2023-01-02 20:59:58,2023-01-02 22:24:35
DAL2561.TPA.JFK.230101.2040.0161.TFM,2023-01-02 20:59:58,2023-01-02 22:47:35
AAL1092.AUS.JFK.230101.1950.0134.TFM,2023-01-02 21:00:00,2023-01-02 23:23:17

,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
gufi,,
ASA16.SEA.JFK.230508.2135.0095.TFM,2023-05-10 01:00:00,2023-05-10 02:23:28
DAL303.SFO.JFK.230508.2140.0150.TFM,2023-05-10 01:00:00,2023-05-10 02:31:44
DAL1075.AUS.JFK.230508.2330.0077.TFM,2023-05-10 00:00:01,2023-05-10 02:59:54
JBU1692.LIR.JFK.230508.2100.0293.TFM,2023-05-10 00:00:01,2023-05-10 01:25:15
AAL2518.ORD.JFK.230509.0040.0087.TFM,2023-05-10 00:00:01,2023-05-10 02:51:00
...,...,...
JBU1010.SDQ.JFK.230101.1810.0125.TFM,2023-01-02 20:59:56,2023-01-02 22:01:39
DAL1822.STI.JFK.230101.1840.0092.TFM,2023-01-02 20:59:58,2023-01-02 22:48:49
DAL1957.MBJ.JFK.230101.1905.0035.TFM,2023-01-02 20:59:58,2023-01-02 22:24:35
DAL2561.TPA.JFK.230101.2040.0161.TFM,2023-01-02 20:59:58,2023-01-02 22:47:35
AAL1092.AUS.JFK.230101.1950.0134.TFM,2023-01-02 21:00:00,2023-01-02 23:23:17

# Now lets train a XGD - Based Model

In [20]:
def return_parquet(base_dir=BASE, airport_code=ACODE, file_name="MFS_df.parquet"):
    file_path = get_correct_file(base_dir=base_dir, airport_code=airport_code, file_name=file_name)
    
    if file_path:
        try:
            # Load the Parquet file into a DataFrame
            df = pd.read_parquet(file_path)
            
            # Display the DataFrame
            return df 
        except Exception as e:
            print(f"An error occurred while loading the Parquet file: {e}")
    else:
        print(f"File not found: {base_dir}/{airport_code}/{file_name}")
        return None

#### But we need to take in a date and an airport and fetch some columns, for our first model we only care about estimated time of arrival and bin (something we create based on time)

In [21]:
jfk_tm = return_parquet(file_name = FD["TFM"])

In [22]:
jfk_tm

,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
gufi,,
ASA16.SEA.JFK.230508.2135.0095.TFM,2023-05-10 01:00:00,2023-05-10 02:23:28
DAL303.SFO.JFK.230508.2140.0150.TFM,2023-05-10 01:00:00,2023-05-10 02:31:44
DAL1075.AUS.JFK.230508.2330.0077.TFM,2023-05-10 00:00:01,2023-05-10 02:59:54
JBU1692.LIR.JFK.230508.2100.0293.TFM,2023-05-10 00:00:01,2023-05-10 01:25:15
AAL2518.ORD.JFK.230509.0040.0087.TFM,2023-05-10 00:00:01,2023-05-10 02:51:00
...,...,...
JBU1010.SDQ.JFK.230101.1810.0125.TFM,2023-01-02 20:59:56,2023-01-02 22:01:39
DAL1822.STI.JFK.230101.1840.0092.TFM,2023-01-02 20:59:58,2023-01-02 22:48:49
DAL1957.MBJ.JFK.230101.1905.0035.TFM,2023-01-02 20:59:58,2023-01-02 22:24:35
DAL2561.TPA.JFK.230101.2040.0161.TFM,2023-01-02 20:59:58,2023-01-02 22:47:35
AAL1092.AUS.JFK.230101.1950.0134.TFM,2023-01-02 21:00:00,2023-01-02 23:23:17

In [23]:
import pandas as pd

def has_repeated_index(df):
    """
    Checks if the DataFrame has repeated indices (i.e., multiple rows with the same index).
    
    Args:
        df (pd.DataFrame): The DataFrame to check.
        
    Returns:
        bool: True if there are repeated indices, False otherwise.
    """
    # Check if the index has duplicates
    duplicated_index = df.index.duplicated().any()
    
    return duplicated_index

# Example usage:
data = {
    'A': [4, 2, 3, 1],
    'B': [1, 2, 3, 4]
}

# Create a DataFrame with repeated index
df = pd.DataFrame(data, index=[0, 1, 2, 1])  # Index 1 is repeated

# Check if there are repeated indices
result = has_repeated_index(jfk_tm)

print(f"Are there repeated indices? {result}")

Are there repeated indices? True

## Features 

the model operates on some dataset D. We are given a timestamp t and and airport. We need to pull the expect number of incoming flights that are estimated to arive between t, and t + 4hrs. Why four hours? 

Then for each of those flights we will pull some static features : 

computed features: time delta

In [24]:
import pandas as pd

def is_sorted_by_column(df, column_name):
    """
    Check if the DataFrame is sorted by a specific column.

    Args:
        df (pd.DataFrame): The DataFrame to check.
        column_name (str): The column name to check for sorting.

    Returns:
        bool: True if the DataFrame is sorted by the specified column, otherwise False.
    """
    return df[column_name].is_monotonic_increasing or df[column_name].is_monotonic_decreasing

# Example usage
data = {
    'A': [1, 5, 2, 4],
    'B': [4, 3, 2, 1]
}

df = pd.DataFrame(data)

# Check if 'A' column is sorted
print(is_sorted_by_column(df, 'A'))  # Output: True (sorted in increasing order)

# Check if 'B' column is sorted
print(is_sorted_by_column(df, 'B'))  # Output: True (sorted in decreasing order)

False
True

In [25]:
print(is_sorted_by_column(jfk_tm, 'timestamp_arrival_runway_estimate'))  # Output: True (sorted in decreasing order)
# We have to sort the df

False

In [26]:
import pandas as pd

def sort_df_by_column(df, column_name, ascending=True):
    """
    Sort the DataFrame by a specific column.

    Args:
        df (pd.DataFrame): The DataFrame to sort.
        column_name (str): The column name to sort by.
        ascending (bool): Whether to sort in ascending order (default is True).

    Returns:
        pd.DataFrame: A new DataFrame sorted by the specified column.
    """
    return df.sort_values(by=column_name, ascending=ascending).reset_index(drop=False)

# Example usage
data = {
    'A': [4, 2, 3, 1],
    'B': [1, 2, 3, 4]
}

df = pd.DataFrame(data)

# Sort by column 'A' in ascending order
sorted_df = sort_df_by_column(df, 'A', ascending=False)
print(sorted_df)

# Sort by column 'B' in descending order
sorted_df_desc = sort_df_by_column(df, 'B', ascending=False)
print(sorted_df_desc)

   index  A  B
0      0  4  1
1      2  3  3
2      1  2  2
3      3  1  4
   index  A  B
0      3  1  4
1      2  3  3
2      1  2  2
3      0  4  1

In [27]:
jfk_sorted = sort_df_by_column(jfk_tm, "timestamp_arrival_runway_estimate")

In [28]:
jfk_sorted

,gufi,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
0,AFR16.CDG.JFK.220923.1630.0070.TFM,2022-09-25 00:00:04,2022-09-25 00:32:45
1,AAL184.LAX.JFK.220923.2230.0162.TFM,2022-09-25 00:00:04,2022-09-25 03:24:53
2,JBU1532.CTG.JFK.220923.1955.0068.TFM,2022-09-25 00:00:04,2022-09-25 02:56:10
3,JBU524.LAX.JFK.220923.1935.0099.TFM,2022-09-25 00:00:04,2022-09-25 01:19:58
4,VIR137.LHR.JFK.220923.1720.0132.TFM,2022-09-25 00:00:04,2022-09-25 00:07:00
...,...,...,...
3587330,JAL4.HSH.JFK.230818.0820.0007.TFM,2023-08-18 21:00:00,2023-08-18 22:16:06
3587331,JBU1436.STI.JFK.230817.1355.0069.TFM,2023-08-18 21:00:00,2023-08-18 23:30:46
3587332,AAL16.SFO.JFK.230817.1800.0173.TFM,2023-08-18 21:00:00,2023-08-18 23:25:59
3587333,CKS256.NGO.JFK.230818.1151.0006.TFM,2023-08-18 21:00:00,2023-08-18 21:28:53
3587334,AAL4.LAX.JFK.230817.1830.0158.TFM,2023-08-18 21:00:00,2023-08-18 23:46:59

In [29]:
print(jfk_sorted.columns)
print("Data types of columns:\n", jfk_sorted.dtypes)

Index(['gufi', 'timestamp_arrival_runway_estimate',
       'arrival_runway_estimated_time'],
      dtype='object')
Data types of columns:
 gufi                                 object
timestamp_arrival_runway_estimate    object
arrival_runway_estimated_time        object
dtype: object

In [30]:
import pandas as pd

def preprocess_timestamps(df):
    """
    Preprocess the DataFrame to convert timestamp columns to datetime format.
    
    Args:
        df (pd.DataFrame): The DataFrame with timestamp columns.
        
    Returns:
        pd.DataFrame: The DataFrame with datetime columns.
    """
    # Convert timestamp columns to datetime format once
    df['timestamp_arrival_runway_estimate'] = pd.to_datetime(df['timestamp_arrival_runway_estimate'], errors='coerce')
    df['arrival_runway_estimated_time'] = pd.to_datetime(df['arrival_runway_estimated_time'], errors='coerce')
    return df

def filter_rows_by_timestamp(df, t):
    """
    Filters rows in the DataFrame based on the given timestamp 't'.
    
    Args:
        df (pd.DataFrame): The DataFrame to filter (preprocessed).
        t (pd.Timestamp): The timestamp value to compare against.
        
    Returns:
        pd.DataFrame: A DataFrame with rows matching the conditions.
    """
    # Condition 1: 'timestamp_arrival_runway_estimate' < t
    condition_1 = df['timestamp_arrival_runway_estimate'] < t
    
    # Condition 2: 'arrival_runway_estimated_time' > t and < t + 4 hours
    condition_2 = (df['arrival_runway_estimated_time'] > t) & (df['arrival_runway_estimated_time'] < (t + pd.Timedelta(hours=4)))
    
    # Combine the conditions
    filtered_df = df[condition_1 & condition_2]
    
    return filtered_df

# Example usage:
data = {
    'timestamp_arrival_runway_estimate': ['2022-11-18 00:00:00', '2022-11-18 01:00:00', '2022-11-18 02:00:00'],
    'arrival_runway_estimated_time': ['2022-11-18 03:00:00', '2022-11-18 04:00:00', '2022-11-18 06:00:00']
}

df = pd.DataFrame(data)

# Preprocess timestamps once
df = preprocess_timestamps(df)

# Set the timestamp `t`
t = pd.to_datetime('2022-11-18 01:30:00')

# Call the function to filter rows
filtered_df = filter_rows_by_timestamp(df, t)
print(filtered_df)

  timestamp_arrival_runway_estimate arrival_runway_estimated_time
0               2022-11-18 00:00:00           2022-11-18 03:00:00
1               2022-11-18 01:00:00           2022-11-18 04:00:00

In [31]:
jfk_sorted = preprocess_timestamps(jfk_sorted)

In [32]:
jfk_sorted

,gufi,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
0,AFR16.CDG.JFK.220923.1630.0070.TFM,2022-09-25 00:00:04,2022-09-25 00:32:45
1,AAL184.LAX.JFK.220923.2230.0162.TFM,2022-09-25 00:00:04,2022-09-25 03:24:53
2,JBU1532.CTG.JFK.220923.1955.0068.TFM,2022-09-25 00:00:04,2022-09-25 02:56:10
3,JBU524.LAX.JFK.220923.1935.0099.TFM,2022-09-25 00:00:04,2022-09-25 01:19:58
4,VIR137.LHR.JFK.220923.1720.0132.TFM,2022-09-25 00:00:04,2022-09-25 00:07:00
...,...,...,...
3587330,JAL4.HSH.JFK.230818.0820.0007.TFM,2023-08-18 21:00:00,2023-08-18 22:16:06
3587331,JBU1436.STI.JFK.230817.1355.0069.TFM,2023-08-18 21:00:00,2023-08-18 23:30:46
3587332,AAL16.SFO.JFK.230817.1800.0173.TFM,2023-08-18 21:00:00,2023-08-18 23:25:59
3587333,CKS256.NGO.JFK.230818.1151.0006.TFM,2023-08-18 21:00:00,2023-08-18 21:28:53
3587334,AAL4.LAX.JFK.230817.1830.0158.TFM,2023-08-18 21:00:00,2023-08-18 23:46:59

In [33]:
def drop_rows_with_nat(df):
    """
    Drop rows with NaT (Not a Time) values and print how many rows were dropped.
    
    Args:
        df (pd.DataFrame): The DataFrame to process.
        
    Returns:
        pd.DataFrame: The DataFrame with rows containing NaT values removed.
    """
    # Count the number of rows with NaT values
    initial_row_count = len(df)
    
    # Drop rows with NaT values
    df_cleaned = df.dropna(subset=['timestamp_arrival_runway_estimate', 'arrival_runway_estimated_time'])
    
    # Calculate how many rows were dropped
    rows_dropped = initial_row_count - len(df_cleaned)
    
    # Print the number of rows dropped
    print(f"Rows dropped: {rows_dropped}")
    
    return df_cleaned

In [34]:
jfk_sorted = drop_rows_with_nat(jfk_sorted)

Rows dropped: 0

In [36]:

file_path = f'tempdata/{BASE}_{ACODE}_sorted.parquet'

jfk_sorted.to_parquet(file_path, engine='pyarrow', index=False)

print(f"DataFrame successfully saved to {file_path}.")

DataFrame successfully saved to tempdata/test_KJFK_sorted.parquet.

In [37]:
jfk_sorted.head()

,gufi,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
0,AFR16.CDG.JFK.220923.1630.0070.TFM,2022-09-25 00:00:04,2022-09-25 00:32:45
1,AAL184.LAX.JFK.220923.2230.0162.TFM,2022-09-25 00:00:04,2022-09-25 03:24:53
2,JBU1532.CTG.JFK.220923.1955.0068.TFM,2022-09-25 00:00:04,2022-09-25 02:56:10
3,JBU524.LAX.JFK.220923.1935.0099.TFM,2022-09-25 00:00:04,2022-09-25 01:19:58
4,VIR137.LHR.JFK.220923.1720.0132.TFM,2022-09-25 00:00:04,2022-09-25 00:07:00

# A safe checkpoint

In [38]:
import pandas as pdACODE

# Specify the file path where the DataFrame was saved
file_path = f'tempdata/{BASE}_{ACODE}_sorted.parquet'
print("Reading from " , file_path)
# Read the Parquet file back into a DataFrame
jfk_sorted = pd.read_parquet(file_path, engine='pyarrow')

Reading from  tempdata/test_KJFK_sorted.parquet

In [39]:
jfk_sorted.dtypes

gufi                                         object
timestamp_arrival_runway_estimate    datetime64[ns]
arrival_runway_estimated_time        datetime64[ns]
dtype: object

In [40]:
import pandas as pd

def filter_rows_by_timestamp(df, t, time_window=4):
    """
    Filter rows where the timestamp is within a specified range from t.
    
    Args:
        df (pd.DataFrame): DataFrame to filter.
        t (str): The timestamp to compare against (in 'YYYY-MM-DD HH:MM:SS' format).
        time_window (int): The time range in hours for filtering (default is 4 hours).
        
    Returns:
        pd.DataFrame: DataFrame with rows filtered based on the timestamp range.
    """
    # Ensure 't' is a datetime object
    t = pd.to_datetime(t)
    
    # Filter the DataFrame based on the specified time window
    filtered_df = df[(df['timestamp_arrival_runway_estimate'] < t) & 
                     (df['arrival_runway_estimated_time'] > t) & 
                     (df['arrival_runway_estimated_time'] < t + pd.Timedelta(hours=time_window))]
    
    return filtered_df

def select_latest_entry_for_each_gufi(filtered_df):
    """
    Select the latest entry for each gufi based on timestamp_arrival_runway_estimate.
    
    Args:
        filtered_df (pd.DataFrame): DataFrame containing the filtered rows.
        
    Returns:
        pd.DataFrame: DataFrame with one entry for each gufi, having the latest timestamp.
    """
    # Group by 'gufi' and get the row with the latest 'timestamp_arrival_runway_estimate'
    latest_entries = filtered_df.loc[filtered_df.groupby('gufi')['timestamp_arrival_runway_estimate'].idxmax()]
    
    return latest_entries

# Example usage:

# Sample data (replace with your actual DataFrame)
data = {
    'gufi': ['RPA5716.BOS.JFK.220830.2250.0064.TFM', 'RPA5716.BOS.JFK.220830.2250.0064.TFM', 'RPA5717.BOS.JFK.220830.2250.0065.TFM'],
    'timestamp_arrival_runway_estimate': ['2022-09-01 00:00:00', '2022-09-01 00:02:18', '2022-09-01 00:05:00'],
    'arrival_runway_estimated_time': ['2022-09-01 00:02:18', '2022-09-01 00:04:00', '2022-09-01 00:06:00'],
}
df = pd.DataFrame(data)
display(df)
# Convert timestamps to datetime (this is necessary if the data was originally in string format)
df['timestamp_arrival_runway_estimate'] = pd.to_datetime(df['timestamp_arrival_runway_estimate'])
df['arrival_runway_estimated_time'] = pd.to_datetime(df['arrival_runway_estimated_time'])

# Timestamp t
t = '2022-09-01 00:00:01'

# Filter rows within the timestamp range
filtered_df = filter_rows_by_timestamp(df, t)

# Select the latest entry for each gufi
latest_entries = select_latest_entry_for_each_gufi(filtered_df)

display(latest_entries)

,gufi,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
0,RPA5716.BOS.JFK.220830.2250.0064.TFM,2022-09-01 00:00:00,2022-09-01 00:02:18
1,RPA5716.BOS.JFK.220830.2250.0064.TFM,2022-09-01 00:02:18,2022-09-01 00:04:00
2,RPA5717.BOS.JFK.220830.2250.0065.TFM,2022-09-01 00:05:00,2022-09-01 00:06:00

,gufi,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
0,RPA5716.BOS.JFK.220830.2250.0064.TFM,2022-09-01,2022-09-01 00:02:18

In [41]:
jfk_sorted

,gufi,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
0,AFR16.CDG.JFK.220923.1630.0070.TFM,2022-09-25 00:00:04,2022-09-25 00:32:45
1,AAL184.LAX.JFK.220923.2230.0162.TFM,2022-09-25 00:00:04,2022-09-25 03:24:53
2,JBU1532.CTG.JFK.220923.1955.0068.TFM,2022-09-25 00:00:04,2022-09-25 02:56:10
3,JBU524.LAX.JFK.220923.1935.0099.TFM,2022-09-25 00:00:04,2022-09-25 01:19:58
4,VIR137.LHR.JFK.220923.1720.0132.TFM,2022-09-25 00:00:04,2022-09-25 00:07:00
...,...,...,...
3587330,JAL4.HSH.JFK.230818.0820.0007.TFM,2023-08-18 21:00:00,2023-08-18 22:16:06
3587331,JBU1436.STI.JFK.230817.1355.0069.TFM,2023-08-18 21:00:00,2023-08-18 23:30:46
3587332,AAL16.SFO.JFK.230817.1800.0173.TFM,2023-08-18 21:00:00,2023-08-18 23:25:59
3587333,CKS256.NGO.JFK.230818.1151.0006.TFM,2023-08-18 21:00:00,2023-08-18 21:28:53
3587334,AAL4.LAX.JFK.230817.1830.0158.TFM,2023-08-18 21:00:00,2023-08-18 23:46:59

In [42]:
print(jfk_sorted['timestamp_arrival_runway_estimate'].min(), jfk_sorted['timestamp_arrival_runway_estimate'].max())

2022-09-25 00:00:04 2023-08-18 21:00:00

In [51]:
# Timestamp t
t = '2022-09-25 00:00:05'

# Filter rows within the timestamp range
filtered_df = filter_rows_by_timestamp(jfk_sorted, t)

# Select the latest entry for each gufi
latest_entries = select_latest_entry_for_each_gufi(filtered_df)

display(latest_entries)

,gufi,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
1,AAL184.LAX.JFK.220923.2230.0162.TFM,2022-09-25 00:00:04,2022-09-25 03:24:53
16,AAL2292.DFW.JFK.220923.2205.0089.TFM,2022-09-25 00:00:04,2022-09-25 01:07:53
8,ABX3162.SBD.JFK.220924.2011.0020.TFM,2022-09-25 00:00:04,2022-09-25 03:59:12
0,AFR16.CDG.JFK.220923.1630.0070.TFM,2022-09-25 00:00:04,2022-09-25 00:32:45
11,ASA20.SFO.JFK.220923.2055.0100.TFM,2022-09-25 00:00:04,2022-09-25 01:52:35
13,ASA545.PDX.JFK.220923.2125.0091.TFM,2022-09-25 00:00:04,2022-09-25 02:13:23
14,AVA244.BOG.JFK.220923.2035.0150.TFM,2022-09-25 00:00:04,2022-09-25 02:02:22
15,DAL323.LAX.JFK.220923.2015.0069.TFM,2022-09-25 00:00:04,2022-09-25 00:58:19
5,DAL358.SAN.JFK.220923.1400.0310.TFM,2022-09-25 00:00:04,2022-09-25 01:58:05
2,JBU1532.CTG.JFK.220923.1955.0068.TFM,2022-09-25 00:00:04,2022-09-25 02:56:10
7,JBU1901.BUF.JFK.220923.2315.0088.TFM,2022-09-25 00:00:04,2022-09-25 00:35:04
6,JBU1946.FLL.JFK.220923.2310.0083.TFM,2022-09-25 00:00:04,2022-09-25 02:19:50
12,JBU2662.BGI.JFK.220923.2125.0043.TFM,2022-09-25 00:00:04,2022-09-25 03:02:24
3,JBU524.LAX.JFK.220923.1935.0099.TFM,2022-09-25 00:00:04,2022-09-25 01:19:58
10,JBU618.MSP.JFK.220923.2335.0092.TFM,2022-09-25 00:00:04,2022-09-25 01:35:52
9,RPA4623.CMH.JFK.220923.2335.0057.TFM,2022-09-25 00:00:04,2022-09-25 00:47:10
4,VIR137.LHR.JFK.220923.1720.0132.TFM,2022-09-25 00:00:04,2022-09-25 00:07:00

In [52]:
def process_and_select_latest(df, t):
    """
    Filters rows within the timestamp range and selects the latest entry for each gufi.

    Args:
        df (pd.DataFrame): The input DataFrame.
        t (str): The reference timestamp as a string.

    Returns:
        pd.DataFrame: A DataFrame with the latest entry for each gufi.
    """
    # Filter rows within the timestamp range
    filtered_df = filter_rows_by_timestamp(df, t)

    # Select the latest entry for each gufi
    latest_entries = select_latest_entry_for_each_gufi(filtered_df)

    return latest_entries

# Example usage
t = '2022-09-25 00:00:05'
latest_entries = process_and_select_latest(jfk_sorted, t)

# Display the result
display(latest_entries)

,gufi,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
1,AAL184.LAX.JFK.220923.2230.0162.TFM,2022-09-25 00:00:04,2022-09-25 03:24:53
16,AAL2292.DFW.JFK.220923.2205.0089.TFM,2022-09-25 00:00:04,2022-09-25 01:07:53
8,ABX3162.SBD.JFK.220924.2011.0020.TFM,2022-09-25 00:00:04,2022-09-25 03:59:12
0,AFR16.CDG.JFK.220923.1630.0070.TFM,2022-09-25 00:00:04,2022-09-25 00:32:45
11,ASA20.SFO.JFK.220923.2055.0100.TFM,2022-09-25 00:00:04,2022-09-25 01:52:35
13,ASA545.PDX.JFK.220923.2125.0091.TFM,2022-09-25 00:00:04,2022-09-25 02:13:23
14,AVA244.BOG.JFK.220923.2035.0150.TFM,2022-09-25 00:00:04,2022-09-25 02:02:22
15,DAL323.LAX.JFK.220923.2015.0069.TFM,2022-09-25 00:00:04,2022-09-25 00:58:19
5,DAL358.SAN.JFK.220923.1400.0310.TFM,2022-09-25 00:00:04,2022-09-25 01:58:05
2,JBU1532.CTG.JFK.220923.1955.0068.TFM,2022-09-25 00:00:04,2022-09-25 02:56:10
7,JBU1901.BUF.JFK.220923.2315.0088.TFM,2022-09-25 00:00:04,2022-09-25 00:35:04
6,JBU1946.FLL.JFK.220923.2310.0083.TFM,2022-09-25 00:00:04,2022-09-25 02:19:50
12,JBU2662.BGI.JFK.220923.2125.0043.TFM,2022-09-25 00:00:04,2022-09-25 03:02:24
3,JBU524.LAX.JFK.220923.1935.0099.TFM,2022-09-25 00:00:04,2022-09-25 01:19:58
10,JBU618.MSP.JFK.220923.2335.0092.TFM,2022-09-25 00:00:04,2022-09-25 01:35:52
9,RPA4623.CMH.JFK.220923.2335.0057.TFM,2022-09-25 00:00:04,2022-09-25 00:47:10
4,VIR137.LHR.JFK.220923.1720.0132.TFM,2022-09-25 00:00:04,2022-09-25 00:07:00

In [53]:
jfk_sorted.dtypes

gufi                                         object
timestamp_arrival_runway_estimate    datetime64[ns]
arrival_runway_estimated_time        datetime64[ns]
dtype: object

In [67]:
import pandas as pd

TEMP_PATH = '/projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata'

# Load the DataFrame from the saved CSV file
sub_df = pd.read_csv(f'{TEMP_PATH}/subark.csv')
# Filter the DataFrame to keep only rows where 'airport_code' is 'KJFK'
sub_df = sub_df[sub_df['airport_code'] == ACODE]

sub_df['datetime'] = pd.to_datetime(sub_df['datetime'])
# Display the loaded DataFrame
print("Loaded DataFrame:")
display(sub_df.columns)
display(sub_df)

Loaded DataFrame:

Index(['ID', 'Value', 'airport_code', 'datetime', 'minutes_past', 'bin'], dtype='object')

,ID,Value,airport_code,datetime,minutes_past,bin
55728,KJFK_220925_0100_15,99,KJFK,2022-09-25 01:00:00,15,1
55729,KJFK_220925_0100_30,99,KJFK,2022-09-25 01:00:00,30,2
55730,KJFK_220925_0100_45,99,KJFK,2022-09-25 01:00:00,45,3
55731,KJFK_220925_0100_60,99,KJFK,2022-09-25 01:00:00,60,4
55732,KJFK_220925_0100_75,99,KJFK,2022-09-25 01:00:00,75,5
...,...,...,...,...,...,...
61915,KJFK_230818_2100_120,99,KJFK,2023-08-18 21:00:00,120,8
61916,KJFK_230818_2100_135,99,KJFK,2023-08-18 21:00:00,135,9
61917,KJFK_230818_2100_150,99,KJFK,2023-08-18 21:00:00,150,10
61918,KJFK_230818_2100_165,99,KJFK,2023-08-18 21:00:00,165,11
61919,KJFK_230818_2100_180,99,KJFK,2023-08-18 21:00:00,180,12

In [69]:
def get_unique_times(df):
    """
    Get all unique datetime values from the 'datetime' column of the DataFrame.

    Args:
        df (pd.DataFrame): The input DataFrame containing a 'datetime' column.

    Returns:
        List of unique timestamps.
    """
    # Extract the 'datetime' column and drop duplicates to get unique values
    unique_times = df['datetime'].drop_duplicates().to_list()
    
    return unique_times

# Example usage:
# Assuming sub_df is your DataFrame
unique_times = get_unique_times(sub_df)

# Display the result
print("Unique Times:")
display(unique_times)

Unique Times:

[Timestamp('2022-09-25 01:00:00'),
 Timestamp('2022-09-25 05:00:00'),
 Timestamp('2022-09-25 09:00:00'),
 Timestamp('2022-09-25 13:00:00'),
 Timestamp('2022-09-25 17:00:00'),
 Timestamp('2022-09-25 21:00:00'),
 Timestamp('2022-09-26 01:00:00'),
 Timestamp('2022-09-26 05:00:00'),
 Timestamp('2022-09-26 09:00:00'),
 Timestamp('2022-09-26 13:00:00'),
 Timestamp('2022-09-26 17:00:00'),
 Timestamp('2022-09-26 21:00:00'),
 Timestamp('2022-09-27 01:00:00'),
 Timestamp('2022-09-27 05:00:00'),
 Timestamp('2022-09-27 09:00:00'),
 Timestamp('2022-09-27 13:00:00'),
 Timestamp('2022-09-27 17:00:00'),
 Timestamp('2022-09-27 21:00:00'),
 Timestamp('2022-09-28 01:00:00'),
 Timestamp('2022-09-28 05:00:00'),
 Timestamp('2022-09-28 09:00:00'),
 Timestamp('2022-09-28 13:00:00'),
 Timestamp('2022-09-28 17:00:00'),
 Timestamp('2022-09-28 21:00:00'),
 Timestamp('2022-09-29 01:00:00'),
 Timestamp('2022-09-29 05:00:00'),
 Timestamp('2022-09-29 09:00:00'),
 Timestamp('2022-09-29 13:00:00'),
 Timestamp('2022-09-29 17:00:00'),
 Timestamp('2022-09-29 21:00:00'),
 Timestamp('2022-09-30 01:00:00'),
 Timestamp('2022-09-30 05:00:00'),
 Timestamp('2022-09-30 09:00:00'),
 Timestamp('2022-09-30 13:00:00'),
 Timestamp('2022-09-30 17:00:00'),
 Timestamp('2022-09-30 21:00:00'),
 Timestamp('2022-10-01 01:00:00'),
 Timestamp('2022-10-01 05:00:00'),
 Timestamp('2022-10-01 09:00:00'),
 Timestamp('2022-10-01 13:00:00'),
 Timestamp('2022-10-01 17:00:00'),
 Timestamp('2022-10-01 21:00:00'),
 Timestamp('2022-10-02 01:00:00'),
 Timestamp('2022-10-02 05:00:00'),
 Timestamp('2022-10-02 09:00:00'),
 Timestamp('2022-10-02 13:00:00'),
 Timestamp('2022-10-02 17:00:00'),
 Timestamp('2022-10-02 21:00:00'),
 Timestamp('2022-10-27 01:00:00'),
 Timestamp('2022-10-27 05:00:00'),
 Timestamp('2022-10-27 09:00:00'),
 Timestamp('2022-10-27 13:00:00'),
 Timestamp('2022-10-27 17:00:00'),
 Timestamp('2022-10-27 21:00:00'),
 Timestamp('2022-10-30 01:00:00'),
 Timestamp('2022-10-30 05:00:00'),
 Timestamp('2022-10-30 09:00:00'),
 Timestamp('2022-10-30 13:00:00'),
 Timestamp('2022-10-30 17:00:00'),
 Timestamp('2022-10-30 21:00:00'),
 Timestamp('2022-10-31 01:00:00'),
 Timestamp('2022-10-31 05:00:00'),
 Timestamp('2022-10-31 09:00:00'),
 Timestamp('2022-10-31 13:00:00'),
 Timestamp('2022-10-31 17:00:00'),
 Timestamp('2022-10-31 21:00:00'),
 Timestamp('2022-11-01 01:00:00'),
 Timestamp('2022-11-01 05:00:00'),
 Timestamp('2022-11-01 09:00:00'),
 Timestamp('2022-11-01 13:00:00'),
 Timestamp('2022-11-01 17:00:00'),
 Timestamp('2022-11-01 21:00:00'),
 Timestamp('2022-11-02 01:00:00'),
 Timestamp('2022-11-02 05:00:00'),
 Timestamp('2022-11-02 09:00:00'),
 Timestamp('2022-11-02 13:00:00'),
 Timestamp('2022-11-02 17:00:00'),
 Timestamp('2022-11-02 21:00:00'),
 Timestamp('2022-11-03 01:00:00'),
 Timestamp('2022-11-03 05:00:00'),
 Timestamp('2022-11-03 09:00:00'),
 Timestamp('2022-11-03 13:00:00'),
 Timestamp('2022-11-03 17:00:00'),
 Timestamp('2022-11-03 21:00:00'),
 Timestamp('2022-11-28 01:00:00'),
 Timestamp('2022-11-28 05:00:00'),
 Timestamp('2022-11-28 09:00:00'),
 Timestamp('2022-11-28 13:00:00'),
 Timestamp('2022-11-28 17:00:00'),
 Timestamp('2022-11-28 21:00:00'),
 Timestamp('2022-11-29 01:00:00'),
 Timestamp('2022-11-29 05:00:00'),
 Timestamp('2022-11-29 09:00:00'),
 Timestamp('2022-11-29 13:00:00'),
 Timestamp('2022-11-29 17:00:00'),
 Timestamp('2022-11-29 21:00:00'),
 Timestamp('2022-11-30 01:00:00'),
 Timestamp('2022-11-30 05:00:00'),
 Timestamp('2022-11-30 09:00:00'),
 Timestamp('2022-11-30 13:00:00'),
 Timestamp('2022-11-30 17:00:00'),
 Timestamp('2022-11-30 21:00:00'),
 Timestamp('2022-12-01 01:00:00'),
 Timestamp('2022-12-01 05:00:00'),
 Timestamp('2022-12-01 09:00:00'),
 Timestamp('2022-12-01 13:00:00'),
 Timestamp('2022-12-01 17:00:00'),
 Timestamp('2022-12-01 21:00:00'),
 Timestamp('2022-12-02 01:00:00'),
 Timestamp('2022-12-02 05:00:00'),
 Timestamp('2022-12-02 09:00:00'),
 Timestamp('2022-12-02 13:00:00'),
 Timestamp('2022-12-02 17:00:00'),
 Timestamp('2022-12-02 21:00:00'),
 Timestamp('2022-12-03 01:00:00'),
 Timestamp('2022-12-03 05:00:00'),
 Timestamp('2022-12-03 09:00:00'),
 Timestamp('2022-12-03 13:00:00'),
 Timestamp('2022-12-03 17:00:00'),
 Timestamp('2022-12-03 21:00:00'),
 Timestamp('2022-12-04 01:00:00'),
 Timestamp('2022-12-04 05:00:00'),
 Timestamp('2022-12-04 09:00:00'),
 Timestamp('2022-12-04 13:00:00'),
 Timestamp('2022-12-04 17:00:00'),
 Timestamp('2022-12-04 21:00:00'),
 Timestamp('2022-12-05 01:00:00'),
 Timestamp('2022-12-05 05:00:00'),
 Timestamp('2022-12-05 09:00:00'),
 Timestamp('2022-12-05 13:00:00'),
 Timestamp('2022-12-05 17:00:00'),
 Timestamp('2022-12-05 21:00:00'),
 Timestamp('2022-12-30 01:00:00'),
 Timestamp('2022-12-30 05:00:00'),
 Timestamp('2022-12-30 09:00:00'),
 Timestamp('2022-12-30 13:00:00'),
 Timestamp('2022-12-30 17:00:00'),
 Timestamp('2022-12-30 21:00:00'),
 Timestamp('2022-12-31 01:00:00'),
 Timestamp('2022-12-31 05:00:00'),
 Timestamp('2022-12-31 09:00:00'),
 Timestamp('2022-12-31 13:00:00'),
 Timestamp('2022-12-31 17:00:00'),
 Timestamp('2022-12-31 21:00:00'),
 Timestamp('2023-01-01 01:00:00'),
 Timestamp('2023-01-01 05:00:00'),
 Timestamp('2023-01-01 09:00:00'),
 Timestamp('2023-01-01 13:00:00'),
 Timestamp('2023-01-01 17:00:00'),
 Timestamp('2023-01-01 21:00:00'),
 Timestamp('2023-01-02 01:00:00'),
 Timestamp('2023-01-02 05:00:00'),
 Timestamp('2023-01-02 09:00:00'),
 Timestamp('2023-01-02 13:00:00'),
 Timestamp('2023-01-02 17:00:00'),
 Timestamp('2023-01-02 21:00:00'),
 Timestamp('2023-01-03 01:00:00'),
 Timestamp('2023-01-03 05:00:00'),
 Timestamp('2023-01-03 09:00:00'),
 Timestamp('2023-01-03 13:00:00'),
 Timestamp('2023-01-03 17:00:00'),
 Timestamp('2023-01-03 21:00:00'),
 Timestamp('2023-01-04 01:00:00'),
 Timestamp('2023-01-04 05:00:00'),
 Timestamp('2023-01-04 09:00:00'),
 Timestamp('2023-01-04 13:00:00'),
 Timestamp('2023-01-04 17:00:00'),
 Timestamp('2023-01-04 21:00:00'),
 Timestamp('2023-01-05 01:00:00'),
 Timestamp('2023-01-05 05:00:00'),
 Timestamp('2023-01-05 09:00:00'),
 Timestamp('2023-01-05 13:00:00'),
 Timestamp('2023-01-05 17:00:00'),
 Timestamp('2023-01-05 21:00:00'),
 Timestamp('2023-01-06 01:00:00'),
 Timestamp('2023-01-06 05:00:00'),
 Timestamp('2023-01-06 09:00:00'),
 Timestamp('2023-01-06 13:00:00'),
 Timestamp('2023-01-06 17:00:00'),
 Timestamp('2023-01-06 21:00:00'),
 Timestamp('2023-01-31 01:00:00'),
 Timestamp('2023-01-31 05:00:00'),
 Timestamp('2023-01-31 09:00:00'),
 Timestamp('2023-01-31 13:00:00'),
 Timestamp('2023-01-31 17:00:00'),
 Timestamp('2023-01-31 21:00:00'),
 Timestamp('2023-02-01 01:00:00'),
 Timestamp('2023-02-01 05:00:00'),
 Timestamp('2023-02-01 09:00:00'),
 Timestamp('2023-02-01 13:00:00'),
 Timestamp('2023-02-01 17:00:00'),
 Timestamp('2023-02-01 21:00:00'),
 Timestamp('2023-02-02 01:00:00'),
 Timestamp('2023-02-02 05:00:00'),
 Timestamp('2023-02-02 09:00:00'),
 Timestamp('2023-02-02 13:00:00'),
 Timestamp('2023-02-02 17:00:00'),
 Timestamp('2023-02-02 21:00:00'),
 Timestamp('2023-02-03 01:00:00'),
 Timestamp('2023-02-03 05:00:00'),
 Timestamp('2023-02-03 09:00:00'),
 Timestamp('2023-02-03 13:00:00'),
 Timestamp('2023-02-03 17:00:00'),
 Timestamp('2023-02-03 21:00:00'),
 Timestamp('2023-02-04 01:00:00'),
 Timestamp('2023-02-04 05:00:00'),
 Timestamp('2023-02-04 09:00:00'),
 Timestamp('2023-02-04 13:00:00'),
 Timestamp('2023-02-04 17:00:00'),
 Timestamp('2023-02-04 21:00:00'),
 Timestamp('2023-02-05 01:00:00'),
 Timestamp('2023-02-05 05:00:00'),
 Timestamp('2023-02-05 09:00:00'),
 Timestamp('2023-02-05 13:00:00'),
 Timestamp('2023-02-05 17:00:00'),
 Timestamp('2023-02-05 21:00:00'),
 Timestamp('2023-02-06 01:00:00'),
 Timestamp('2023-02-06 05:00:00'),
 Timestamp('2023-02-06 09:00:00'),
 Timestamp('2023-02-06 13:00:00'),
 Timestamp('2023-02-06 17:00:00'),
 Timestamp('2023-02-06 21:00:00'),
 Timestamp('2023-02-07 01:00:00'),
 Timestamp('2023-02-07 05:00:00'),
 Timestamp('2023-02-07 09:00:00'),
 Timestamp('2023-02-07 13:00:00'),
 Timestamp('2023-02-07 17:00:00'),
 Timestamp('2023-02-07 21:00:00'),
 Timestamp('2023-03-04 01:00:00'),
 Timestamp('2023-03-04 05:00:00'),
 Timestamp('2023-03-04 09:00:00'),
 Timestamp('2023-03-04 13:00:00'),
 Timestamp('2023-03-04 17:00:00'),
 Timestamp('2023-03-04 21:00:00'),
 Timestamp('2023-03-05 01:00:00'),
 Timestamp('2023-03-05 05:00:00'),
 Timestamp('2023-03-05 09:00:00'),
 Timestamp('2023-03-05 13:00:00'),
 Timestamp('2023-03-05 17:00:00'),
 Timestamp('2023-03-05 21:00:00'),
 Timestamp('2023-03-06 01:00:00'),
 Timestamp('2023-03-06 05:00:00'),
 Timestamp('2023-03-06 09:00:00'),
 Timestamp('2023-03-06 13:00:00'),
 Timestamp('2023-03-06 17:00:00'),
 Timestamp('2023-03-06 21:00:00'),
 Timestamp('2023-03-07 01:00:00'),
 Timestamp('2023-03-07 05:00:00'),
 Timestamp('2023-03-07 09:00:00'),
 Timestamp('2023-03-07 13:00:00'),
 Timestamp('2023-03-07 17:00:00'),
 Timestamp('2023-03-07 21:00:00'),
 Timestamp('2023-03-08 01:00:00'),
 Timestamp('2023-03-08 05:00:00'),
 Timestamp('2023-03-08 09:00:00'),
 Timestamp('2023-03-08 13:00:00'),
 Timestamp('2023-03-08 17:00:00'),
 Timestamp('2023-03-08 21:00:00'),
 Timestamp('2023-03-09 01:00:00'),
 Timestamp('2023-03-09 05:00:00'),
 Timestamp('2023-03-09 09:00:00'),
 Timestamp('2023-03-09 13:00:00'),
 Timestamp('2023-03-09 17:00:00'),
 Timestamp('2023-03-09 21:00:00'),
 Timestamp('2023-03-10 01:00:00'),
 Timestamp('2023-03-10 05:00:00'),
 Timestamp('2023-03-10 09:00:00'),
 Timestamp('2023-03-10 13:00:00'),
 Timestamp('2023-03-10 17:00:00'),
 Timestamp('2023-03-10 21:00:00'),
 Timestamp('2023-03-11 01:00:00'),
 Timestamp('2023-03-11 05:00:00'),
 Timestamp('2023-03-11 09:00:00'),
 Timestamp('2023-03-11 13:00:00'),
 Timestamp('2023-03-11 17:00:00'),
 Timestamp('2023-03-11 21:00:00'),
 Timestamp('2023-04-05 01:00:00'),
 Timestamp('2023-04-05 05:00:00'),
 Timestamp('2023-04-05 09:00:00'),
 Timestamp('2023-04-05 13:00:00'),
 Timestamp('2023-04-05 17:00:00'),
 Timestamp('2023-04-05 21:00:00'),
 Timestamp('2023-04-06 01:00:00'),
 Timestamp('2023-04-06 05:00:00'),
 Timestamp('2023-04-06 09:00:00'),
 Timestamp('2023-04-06 13:00:00'),
 Timestamp('2023-04-06 17:00:00'),
 Timestamp('2023-04-06 21:00:00'),
 Timestamp('2023-04-07 01:00:00'),
 Timestamp('2023-04-07 05:00:00'),
 Timestamp('2023-04-07 09:00:00'),
 Timestamp('2023-04-07 13:00:00'),
 Timestamp('2023-04-07 17:00:00'),
 Timestamp('2023-04-07 21:00:00'),
 Timestamp('2023-04-08 01:00:00'),
 Timestamp('2023-04-08 05:00:00'),
 Timestamp('2023-04-08 09:00:00'),
 Timestamp('2023-04-08 13:00:00'),
 Timestamp('2023-04-08 17:00:00'),
 Timestamp('2023-04-08 21:00:00'),
 Timestamp('2023-04-09 01:00:00'),
 Timestamp('2023-04-09 05:00:00'),
 Timestamp('2023-04-09 09:00:00'),
 Timestamp('2023-04-09 13:00:00'),
 Timestamp('2023-04-09 17:00:00'),
 Timestamp('2023-04-09 21:00:00'),
 Timestamp('2023-04-10 01:00:00'),
 Timestamp('2023-04-10 05:00:00'),
 Timestamp('2023-04-10 09:00:00'),
 Timestamp('2023-04-10 13:00:00'),
 Timestamp('2023-04-10 17:00:00'),
 Timestamp('2023-04-10 21:00:00'),
 Timestamp('2023-04-11 01:00:00'),
 Timestamp('2023-04-11 05:00:00'),
 Timestamp('2023-04-11 09:00:00'),
 Timestamp('2023-04-11 13:00:00'),
 Timestamp('2023-04-11 17:00:00'),
 Timestamp('2023-04-11 21:00:00'),
 Timestamp('2023-04-12 01:00:00'),
 Timestamp('2023-04-12 05:00:00'),
 Timestamp('2023-04-12 09:00:00'),
 Timestamp('2023-04-12 13:00:00'),
 Timestamp('2023-04-12 17:00:00'),
 Timestamp('2023-04-12 21:00:00'),
 Timestamp('2023-05-07 01:00:00'),
 Timestamp('2023-05-07 05:00:00'),
 Timestamp('2023-05-07 09:00:00'),
 Timestamp('2023-05-07 13:00:00'),
 Timestamp('2023-05-07 17:00:00'),
 Timestamp('2023-05-07 21:00:00'),
 Timestamp('2023-05-08 01:00:00'),
 Timestamp('2023-05-08 05:00:00'),
 Timestamp('2023-05-08 09:00:00'),
 Timestamp('2023-05-08 13:00:00'),
 Timestamp('2023-05-08 17:00:00'),
 Timestamp('2023-05-08 21:00:00'),
 Timestamp('2023-05-09 01:00:00'),
 Timestamp('2023-05-09 05:00:00'),
 Timestamp('2023-05-09 09:00:00'),
 Timestamp('2023-05-09 13:00:00'),
 Timestamp('2023-05-09 17:00:00'),
 Timestamp('2023-05-09 21:00:00'),
 Timestamp('2023-05-10 01:00:00'),
 Timestamp('2023-05-10 05:00:00'),
 Timestamp('2023-05-10 09:00:00'),
 Timestamp('2023-05-10 13:00:00'),
 Timestamp('2023-05-10 17:00:00'),
 Timestamp('2023-05-10 21:00:00'),
 Timestamp('2023-05-11 01:00:00'),
 Timestamp('2023-05-11 05:00:00'),
 Timestamp('2023-05-11 09:00:00'),
 Timestamp('2023-05-11 13:00:00'),
 Timestamp('2023-05-11 17:00:00'),
 Timestamp('2023-05-11 21:00:00'),
 Timestamp('2023-05-12 01:00:00'),
 Timestamp('2023-05-12 05:00:00'),
 Timestamp('2023-05-12 09:00:00'),
 Timestamp('2023-05-12 13:00:00'),
 Timestamp('2023-05-12 17:00:00'),
 Timestamp('2023-05-12 21:00:00'),
 Timestamp('2023-05-13 01:00:00'),
 Timestamp('2023-05-13 05:00:00'),
 Timestamp('2023-05-13 09:00:00'),
 Timestamp('2023-05-13 13:00:00'),
 Timestamp('2023-05-13 17:00:00'),
 Timestamp('2023-05-13 21:00:00'),
 Timestamp('2023-05-14 01:00:00'),
 Timestamp('2023-05-14 05:00:00'),
 Timestamp('2023-05-14 09:00:00'),
 Timestamp('2023-05-14 13:00:00'),
 Timestamp('2023-05-14 17:00:00'),
 Timestamp('2023-05-14 21:00:00'),
 Timestamp('2023-06-08 01:00:00'),
 Timestamp('2023-06-08 05:00:00'),
 Timestamp('2023-06-08 09:00:00'),
 Timestamp('2023-06-08 13:00:00'),
 Timestamp('2023-06-08 17:00:00'),
 Timestamp('2023-06-08 21:00:00'),
 Timestamp('2023-06-09 01:00:00'),
 Timestamp('2023-06-09 05:00:00'),
 Timestamp('2023-06-09 09:00:00'),
 Timestamp('2023-06-09 13:00:00'),
 Timestamp('2023-06-09 17:00:00'),
 Timestamp('2023-06-09 21:00:00'),
 Timestamp('2023-06-10 01:00:00'),
 Timestamp('2023-06-10 05:00:00'),
 Timestamp('2023-06-10 09:00:00'),
 Timestamp('2023-06-10 13:00:00'),
 Timestamp('2023-06-10 17:00:00'),
 Timestamp('2023-06-10 21:00:00'),
 Timestamp('2023-06-11 01:00:00'),
 Timestamp('2023-06-11 05:00:00'),
 Timestamp('2023-06-11 09:00:00'),
 Timestamp('2023-06-11 13:00:00'),
 Timestamp('2023-06-11 17:00:00'),
 Timestamp('2023-06-11 21:00:00'),
 Timestamp('2023-06-12 01:00:00'),
 Timestamp('2023-06-12 05:00:00'),
 Timestamp('2023-06-12 09:00:00'),
 Timestamp('2023-06-12 13:00:00'),
 Timestamp('2023-06-12 17:00:00'),
 Timestamp('2023-06-12 21:00:00'),
 Timestamp('2023-06-13 01:00:00'),
 Timestamp('2023-06-13 05:00:00'),
 Timestamp('2023-06-13 09:00:00'),
 Timestamp('2023-06-13 13:00:00'),
 Timestamp('2023-06-13 17:00:00'),
 Timestamp('2023-06-13 21:00:00'),
 Timestamp('2023-06-14 01:00:00'),
 Timestamp('2023-06-14 05:00:00'),
 Timestamp('2023-06-14 09:00:00'),
 Timestamp('2023-06-14 13:00:00'),
 Timestamp('2023-06-14 17:00:00'),
 Timestamp('2023-06-14 21:00:00'),
 Timestamp('2023-06-15 01:00:00'),
 Timestamp('2023-06-15 05:00:00'),
 Timestamp('2023-06-15 09:00:00'),
 Timestamp('2023-06-15 13:00:00'),
 Timestamp('2023-06-15 17:00:00'),
 Timestamp('2023-06-15 21:00:00'),
 Timestamp('2023-07-10 01:00:00'),
 Timestamp('2023-07-10 05:00:00'),
 Timestamp('2023-07-10 09:00:00'),
 Timestamp('2023-07-10 13:00:00'),
 Timestamp('2023-07-10 17:00:00'),
 Timestamp('2023-07-10 21:00:00'),
 Timestamp('2023-07-11 01:00:00'),
 Timestamp('2023-07-11 05:00:00'),
 Timestamp('2023-07-11 09:00:00'),
 Timestamp('2023-07-11 13:00:00'),
 Timestamp('2023-07-11 17:00:00'),
 Timestamp('2023-07-11 21:00:00'),
 Timestamp('2023-07-12 01:00:00'),
 Timestamp('2023-07-12 05:00:00'),
 Timestamp('2023-07-12 09:00:00'),
 Timestamp('2023-07-12 13:00:00'),
 Timestamp('2023-07-12 17:00:00'),
 Timestamp('2023-07-12 21:00:00'),
 Timestamp('2023-07-13 01:00:00'),
 Timestamp('2023-07-13 05:00:00'),
 Timestamp('2023-07-13 09:00:00'),
 Timestamp('2023-07-13 13:00:00'),
 Timestamp('2023-07-13 17:00:00'),
 Timestamp('2023-07-13 21:00:00'),
 Timestamp('2023-07-14 01:00:00'),
 Timestamp('2023-07-14 05:00:00'),
 Timestamp('2023-07-14 09:00:00'),
 Timestamp('2023-07-14 13:00:00'),
 Timestamp('2023-07-14 17:00:00'),
 Timestamp('2023-07-14 21:00:00'),
 Timestamp('2023-07-15 01:00:00'),
 Timestamp('2023-07-15 05:00:00'),
 Timestamp('2023-07-15 09:00:00'),
 Timestamp('2023-07-15 13:00:00'),
 Timestamp('2023-07-15 17:00:00'),
 Timestamp('2023-07-15 21:00:00'),
 Timestamp('2023-07-16 01:00:00'),
 Timestamp('2023-07-16 05:00:00'),
 Timestamp('2023-07-16 09:00:00'),
 Timestamp('2023-07-16 13:00:00'),
 Timestamp('2023-07-16 17:00:00'),
 Timestamp('2023-07-16 21:00:00'),
 Timestamp('2023-07-17 01:00:00'),
 Timestamp('2023-07-17 05:00:00'),
 Timestamp('2023-07-17 09:00:00'),
 Timestamp('2023-07-17 13:00:00'),
 Timestamp('2023-07-17 17:00:00'),
 Timestamp('2023-07-17 21:00:00'),
 Timestamp('2023-08-11 01:00:00'),
 Timestamp('2023-08-11 05:00:00'),
 Timestamp('2023-08-11 09:00:00'),
 Timestamp('2023-08-11 13:00:00'),
 Timestamp('2023-08-11 17:00:00'),
 Timestamp('2023-08-11 21:00:00'),
 Timestamp('2023-08-12 01:00:00'),
 Timestamp('2023-08-12 05:00:00'),
 Timestamp('2023-08-12 09:00:00'),
 Timestamp('2023-08-12 13:00:00'),
 Timestamp('2023-08-12 17:00:00'),
 Timestamp('2023-08-12 21:00:00'),
 Timestamp('2023-08-13 01:00:00'),
 Timestamp('2023-08-13 05:00:00'),
 Timestamp('2023-08-13 09:00:00'),
 Timestamp('2023-08-13 13:00:00'),
 Timestamp('2023-08-13 17:00:00'),
 Timestamp('2023-08-13 21:00:00'),
 Timestamp('2023-08-14 01:00:00'),
 Timestamp('2023-08-14 05:00:00'),
 Timestamp('2023-08-14 09:00:00'),
 Timestamp('2023-08-14 13:00:00'),
 Timestamp('2023-08-14 17:00:00'),
 Timestamp('2023-08-14 21:00:00'),
 Timestamp('2023-08-15 01:00:00'),
 Timestamp('2023-08-15 05:00:00'),
 Timestamp('2023-08-15 09:00:00'),
 Timestamp('2023-08-15 13:00:00'),
 Timestamp('2023-08-15 17:00:00'),
 Timestamp('2023-08-15 21:00:00'),
 Timestamp('2023-08-16 01:00:00'),
 Timestamp('2023-08-16 05:00:00'),
 Timestamp('2023-08-16 09:00:00'),
 Timestamp('2023-08-16 13:00:00'),
 Timestamp('2023-08-16 17:00:00'),
 Timestamp('2023-08-16 21:00:00'),
 Timestamp('2023-08-17 01:00:00'),
 Timestamp('2023-08-17 05:00:00'),
 Timestamp('2023-08-17 09:00:00'),
 Timestamp('2023-08-17 13:00:00'),
 Timestamp('2023-08-17 17:00:00'),
 Timestamp('2023-08-17 21:00:00'),
 Timestamp('2023-08-18 01:00:00'),
 Timestamp('2023-08-18 05:00:00'),
 Timestamp('2023-08-18 09:00:00'),
 Timestamp('2023-08-18 13:00:00'),
 Timestamp('2023-08-18 17:00:00'),
 Timestamp('2023-08-18 21:00:00')]

In [74]:
import pandas as pd
import numpy as np



def process_multiple_samples(df):
    """
    Process multiple timestamp samples and combine the results into a single DataFrame.

    Args:
        df (pd.DataFrame): The input DataFrame.
        start_time (str): The start time for generating samples.
        end_time (str): The end time for generating samples.
        num_samples (int): Number of timestamp samples to generate.

    Returns:
        pd.DataFrame: A DataFrame with combined results and a 't' column for each sample.
    """
    # Generate timestamp samples
    t_samples = unique_times
    #display(t_samples)
    # Process each timestamp and append results
    combined_df = pd.DataFrame()
    for t in t_samples:
        filtered_df = process_and_select_latest(df, t)
        filtered_df['t'] = t  # Add the timestamp as a column
        combined_df = pd.concat([combined_df, filtered_df], ignore_index=True)

    return combined_df


tempy = process_multiple_samples(jfk_sorted)

# Display result
display(tempy)

,gufi,timestamp_arrival_runway_estimate,arrival_runway_estimated_time,t
0,AAL1247.MCO.JFK.220924.2248.0011.TFM_TFDM,2022-09-25 00:59:57,2022-09-25 02:28:25,2022-09-25 01:00:00
1,AAL1261.MIA.JFK.220924.0000.0090.TFM,2022-09-25 00:59:32,2022-09-25 02:36:09,2022-09-25 01:00:00
2,AAL1357.MIA.JFK.220924.0105.0094.TFM,2022-09-25 00:58:40,2022-09-25 03:51:00,2022-09-25 01:00:00
3,AAL1388.PHX.JFK.220923.2151.0016.TFM,2022-09-25 00:59:40,2022-09-25 02:03:47,2022-09-25 01:00:00
4,AAL141.LHR.JFK.220922.1834.0049.TFM,2022-09-25 00:59:50,2022-09-25 01:10:47,2022-09-25 01:00:00
...,...,...,...,...
53723,THY1.IST.JFK.230818.1947.0008.TFM,2023-08-18 20:59:48,2023-08-18 21:40:05,2023-08-18 21:00:00
53724,UAE4PV.MXP.JFK.230818.1433.0018.TFM,2023-08-18 20:59:56,2023-08-18 22:31:57,2023-08-18 21:00:00
53725,UPS9882.SYR.JFK.230818.0800.0014.TFM,2023-08-18 08:00:35,2023-08-18 23:52:00,2023-08-18 21:00:00
53726,VIR153.LHR.JFK.230817.1525.0041.TFM,2023-08-18 20:59:56,2023-08-18 22:34:03,2023-08-18 21:00:00
53727,VIR9J.LHR.JFK.230818.1405.0039.TFM,2023-08-18 20:59:35,2023-08-18 21:07:28,2023-08-18 21:00:00

In [75]:

result_df = process_multiple_samples(jfk_sorted)

# Display result
from IPython.display import display, HTML

# Set pandas display options to show more rows
pd.set_option('display.max_rows', 1000)  # Show 1000 rows (or adjust as needed)
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', 1000)  # Adjust width for better readability
pd.set_option('display.max_colwidth', None)  # Display full content of each cell

# Use HTML to create a scrollable view for the DataFrame
display(HTML(result_df.to_html(classes='table table-bordered table-striped', max_rows=1000)))

In [76]:
len(result_df)

53728

## LETS GET PLANE FEATURES

In [77]:
plane_df = return_parquet(file_name = FD["MFS"])
plane_df # we dont want to use all of this, lets just get the jet engine class and

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
JBU1120.DTW.JFK.230714.2150.0064.TFM                   JET          E190                        KJFK           JBU  SCHEDULED_AIR_TRANSPORT
DAL2386.JFK.AUS.230714.2201.0056.TFM                   JET          A320                        KAUS          None  SCHEDULED_AIR_TRANSPORT
DAL643.CUN.JFK.230714.1940.0109.TFM                    JET          B739                        KJFK          None  SCHEDULED_AIR_TRANSPORT
JBU1532.CTG.JFK.230714.1955.0190.TFM                   JET          A320                        KJFK           JBU  SCHEDULED_AIR_TRANSPORT
BCS361.JFK.BRU.230715.1816.0022.TFM                    JET          A333                        EBBR          None                     None
...                                                    ...           ...                         ...           ...                      ...
DAL1877.SJU.JFK.230711.1720.0057.TFM                   JET          B739                        KJFK          None  SCHEDULED_AIR_TRANSPORT
DAL333.SLC.JFK.230711.1535.0171.TFM                    JET          A321                        KJFK          None  SCHEDULED_AIR_TRANSPORT
SWR14U.ZRH.JFK.230711.1115.0158.TFM                    JET          A333                        KJFK          None  SCHEDULED_AIR_TRANSPORT
ITY609.JFK.FCO.230712.1633.0004.TFM                    JET          A332                        LIRF          None                     None
CES588.JFK.PVG.230711.2025.0178.TFM                    JET          B77W                        ZSPD          None  SCHEDULED_AIR_TRANSPORT

[25553 rows x 5 columns]

In [78]:
subset_df = plane_df[['aircraft_engine_class']]
subset_df

                                     aircraft_engine_class
gufi
JBU1120.DTW.JFK.230714.2150.0064.TFM                   JET
DAL2386.JFK.AUS.230714.2201.0056.TFM                   JET
DAL643.CUN.JFK.230714.1940.0109.TFM                    JET
JBU1532.CTG.JFK.230714.1955.0190.TFM                   JET
BCS361.JFK.BRU.230715.1816.0022.TFM                    JET
...                                                    ...
DAL1877.SJU.JFK.230711.1720.0057.TFM                   JET
DAL333.SLC.JFK.230711.1535.0171.TFM                    JET
SWR14U.ZRH.JFK.230711.1115.0158.TFM                    JET
ITY609.JFK.FCO.230712.1633.0004.TFM                    JET
CES588.JFK.PVG.230711.2025.0178.TFM                    JET

[25553 rows x 1 columns]

In [108]:
# lets merge with result_df
subset_df = subset_df.reset_index()

# Merge with result_df on the 'gufi' column
feat_df = result_df.merge(subset_df, on='gufi', how='left')
feat_df['aircraft_engine_class'] = feat_df['aircraft_engine_class'].fillna('unknown')
# Display the merged DataFrame
display(feat_df)

                                            gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                   t  index aircraft_engine_class
0      AAL1247.MCO.JFK.220924.2248.0011.TFM_TFDM               2022-09-25 00:59:57           2022-09-25 02:28:25 2022-09-25 01:00:00    NaN               unknown
1           AAL1261.MIA.JFK.220924.0000.0090.TFM               2022-09-25 00:59:32           2022-09-25 02:36:09 2022-09-25 01:00:00    NaN               unknown
2           AAL1357.MIA.JFK.220924.0105.0094.TFM               2022-09-25 00:58:40           2022-09-25 03:51:00 2022-09-25 01:00:00    NaN               unknown
3           AAL1388.PHX.JFK.220923.2151.0016.TFM               2022-09-25 00:59:40           2022-09-25 02:03:47 2022-09-25 01:00:00    NaN               unknown
4            AAL141.LHR.JFK.220922.1834.0049.TFM               2022-09-25 00:59:50           2022-09-25 01:10:47 2022-09-25 01:00:00    NaN               unknown
...                                          ...                               ...                           ...                 ...    ...                   ...
53723          THY1.IST.JFK.230818.1947.0008.TFM               2023-08-18 20:59:48           2023-08-18 21:40:05 2023-08-18 21:00:00    NaN               unknown
53724        UAE4PV.MXP.JFK.230818.1433.0018.TFM               2023-08-18 20:59:56           2023-08-18 22:31:57 2023-08-18 21:00:00    NaN               unknown
53725       UPS9882.SYR.JFK.230818.0800.0014.TFM               2023-08-18 08:00:35           2023-08-18 23:52:00 2023-08-18 21:00:00    NaN               unknown
53726        VIR153.LHR.JFK.230817.1525.0041.TFM               2023-08-18 20:59:56           2023-08-18 22:34:03 2023-08-18 21:00:00    NaN               unknown
53727         VIR9J.LHR.JFK.230818.1405.0039.TFM               2023-08-18 20:59:35           2023-08-18 21:07:28 2023-08-18 21:00:00    NaN               unknown

[53728 rows x 6 columns]

In [80]:
# Display the counts of unique values in the 'aircraft_engine_class' column
aircraft_class_counts = feat_df['aircraft_engine_class'].value_counts()

# Display the result
print("Counts of Aircraft Engine Class:")
display(aircraft_class_counts)

Counts of Aircraft Engine Class:

aircraft_engine_class
unknown    45067
JET         8637
PISTON        20
TURBO          4
Name: count, dtype: int64

## now lets pull the actual time

In [87]:
# WE DON'T PULL THIS!
rnwydf = return_parquet(file_name = FD["RNWY"])

In [88]:

rnwydf

                                     arrival_runway_actual_time arrival_runway_actual
gufi
JBU1674.BNA.JFK.221201.2150.0101.TFM        2022-12-03 00:00:49                   22L
AAL1092.AUS.JFK.221201.2035.0156.TFM        2022-12-03 00:01:06                   22R
JBU2884.MCO.JFK.221201.2045.0149.TFM        2022-12-03 00:01:55                   22L
DAL4.LHR.JFK.221201.1600.0130.TFM           2022-12-03 00:03:14                   22L
FIN15.HEL.JFK.221202.1529.0027.TFM          2022-12-03 00:04:46                   22L
...                                                         ...                   ...
KLM641.AMS.JFK.221030.1235.0041.TFM         2022-10-31 20:52:39                   22L
AMX402.MEX.JFK.221030.1640.0088.TFM         2022-10-31 20:54:22                   22L
ETD11B.AUH.JFK.221031.0149.0001.TFM         2022-10-31 20:56:33                   22L
JBU1568.PUJ.JFK.221030.1705.0131.TFM        2022-10-31 20:57:36                   22R
JBU2330.RSW.JFK.221030.1810.0087.TFM        2022-10-31 20:59:41                   22L

[12835 rows x 2 columns]

In [83]:
rnwydf['arrival_runway_actual_time'] = pd.to_datetime(rnwydf['arrival_runway_actual_time'])

In [84]:
print(rnwydf.dtypes)
print(result_df.dtypes)
print(len(result_df))

arrival_runway_actual_time    datetime64[ns]
arrival_runway_actual                 object
dtype: object
gufi                                         object
timestamp_arrival_runway_estimate    datetime64[ns]
arrival_runway_estimated_time        datetime64[ns]
t                                    datetime64[ns]
dtype: object
53728

In [85]:
rnwy_df_reset = rnwydf.reset_index().rename(columns={'index': 'gufi'})
rnwy_df_reset

                                       gufi arrival_runway_actual_time arrival_runway_actual
0      JBU1674.BNA.JFK.221201.2150.0101.TFM        2022-12-03 00:00:49                   22L
1      AAL1092.AUS.JFK.221201.2035.0156.TFM        2022-12-03 00:01:06                   22R
2      JBU2884.MCO.JFK.221201.2045.0149.TFM        2022-12-03 00:01:55                   22L
3         DAL4.LHR.JFK.221201.1600.0130.TFM        2022-12-03 00:03:14                   22L
4        FIN15.HEL.JFK.221202.1529.0027.TFM        2022-12-03 00:04:46                   22L
...                                     ...                        ...                   ...
12830   KLM641.AMS.JFK.221030.1235.0041.TFM        2022-10-31 20:52:39                   22L
12831   AMX402.MEX.JFK.221030.1640.0088.TFM        2022-10-31 20:54:22                   22L
12832   ETD11B.AUH.JFK.221031.0149.0001.TFM        2022-10-31 20:56:33                   22L
12833  JBU1568.PUJ.JFK.221030.1705.0131.TFM        2022-10-31 20:57:36                   22R
12834  JBU2330.RSW.JFK.221030.1810.0087.TFM        2022-10-31 20:59:41                   22L

[12835 rows x 3 columns]

In [86]:
import pandas as pd


# Sample data for rnwy_df with 'gufi' as the index

# Perform the merge
merged_df = pd.merge(feat_df, rnwy_df_reset, on='gufi', how='left')

# Display the merged DataFrame
print("Merged DataFrame:")
#display(merged_df)

# Check if the merge worked by displaying the number of matched rows
display(merged_df.head())

Merged DataFrame:

                                        gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                   t aircraft_engine_class arrival_runway_actual_time arrival_runway_actual
0  AAL1247.MCO.JFK.220924.2248.0011.TFM_TFDM               2022-09-25 00:59:57           2022-09-25 02:28:25 2022-09-25 01:00:00               unknown                        NaT                   NaN
1       AAL1261.MIA.JFK.220924.0000.0090.TFM               2022-09-25 00:59:32           2022-09-25 02:36:09 2022-09-25 01:00:00               unknown                        NaT                   NaN
2       AAL1357.MIA.JFK.220924.0105.0094.TFM               2022-09-25 00:58:40           2022-09-25 03:51:00 2022-09-25 01:00:00               unknown                        NaT                   NaN
3       AAL1388.PHX.JFK.220923.2151.0016.TFM               2022-09-25 00:59:40           2022-09-25 02:03:47 2022-09-25 01:00:00               unknown                        NaT                   NaN
4        AAL141.LHR.JFK.220922.1834.0049.TFM               2022-09-25 00:59:50           2022-09-25 01:10:47 2022-09-25 01:00:00               unknown                        NaT                   NaN

In [107]:
print(merged_df.columns)
print(len(merged_df))
print((merged_df.dtypes))

Index(['gufi', 'timestamp_arrival_runway_estimate', 'arrival_runway_estimated_time', 't', 'aircraft_engine_class', 'arrival_runway_actual_time', 'arrival_runway_actual'], dtype='object')
53728
gufi                                         object
timestamp_arrival_runway_estimate    datetime64[ns]
arrival_runway_estimated_time        datetime64[ns]
t                                    datetime64[ns]
aircraft_engine_class                        object
arrival_runway_actual_time           datetime64[ns]
arrival_runway_actual                        object
dtype: object

# STOP SKIP

In [109]:
merged_df = feat_df.copy()
merged_df

                                            gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                   t  index aircraft_engine_class
0      AAL1247.MCO.JFK.220924.2248.0011.TFM_TFDM               2022-09-25 00:59:57           2022-09-25 02:28:25 2022-09-25 01:00:00    NaN               unknown
1           AAL1261.MIA.JFK.220924.0000.0090.TFM               2022-09-25 00:59:32           2022-09-25 02:36:09 2022-09-25 01:00:00    NaN               unknown
2           AAL1357.MIA.JFK.220924.0105.0094.TFM               2022-09-25 00:58:40           2022-09-25 03:51:00 2022-09-25 01:00:00    NaN               unknown
3           AAL1388.PHX.JFK.220923.2151.0016.TFM               2022-09-25 00:59:40           2022-09-25 02:03:47 2022-09-25 01:00:00    NaN               unknown
4            AAL141.LHR.JFK.220922.1834.0049.TFM               2022-09-25 00:59:50           2022-09-25 01:10:47 2022-09-25 01:00:00    NaN               unknown
...                                          ...                               ...                           ...                 ...    ...                   ...
53723          THY1.IST.JFK.230818.1947.0008.TFM               2023-08-18 20:59:48           2023-08-18 21:40:05 2023-08-18 21:00:00    NaN               unknown
53724        UAE4PV.MXP.JFK.230818.1433.0018.TFM               2023-08-18 20:59:56           2023-08-18 22:31:57 2023-08-18 21:00:00    NaN               unknown
53725       UPS9882.SYR.JFK.230818.0800.0014.TFM               2023-08-18 08:00:35           2023-08-18 23:52:00 2023-08-18 21:00:00    NaN               unknown
53726        VIR153.LHR.JFK.230817.1525.0041.TFM               2023-08-18 20:59:56           2023-08-18 22:34:03 2023-08-18 21:00:00    NaN               unknown
53727         VIR9J.LHR.JFK.230818.1405.0039.TFM               2023-08-18 20:59:35           2023-08-18 21:07:28 2023-08-18 21:00:00    NaN               unknown

[53728 rows x 6 columns]

In [112]:
merged_df.columns
#merged_df = merged_df.drop(columns=['index'])

# Display the DataFrame after dropping the column
display(merged_df)

                                            gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                   t aircraft_engine_class
0      AAL1247.MCO.JFK.220924.2248.0011.TFM_TFDM               2022-09-25 00:59:57           2022-09-25 02:28:25 2022-09-25 01:00:00               unknown
1           AAL1261.MIA.JFK.220924.0000.0090.TFM               2022-09-25 00:59:32           2022-09-25 02:36:09 2022-09-25 01:00:00               unknown
2           AAL1357.MIA.JFK.220924.0105.0094.TFM               2022-09-25 00:58:40           2022-09-25 03:51:00 2022-09-25 01:00:00               unknown
3           AAL1388.PHX.JFK.220923.2151.0016.TFM               2022-09-25 00:59:40           2022-09-25 02:03:47 2022-09-25 01:00:00               unknown
4            AAL141.LHR.JFK.220922.1834.0049.TFM               2022-09-25 00:59:50           2022-09-25 01:10:47 2022-09-25 01:00:00               unknown
...                                          ...                               ...                           ...                 ...                   ...
53723          THY1.IST.JFK.230818.1947.0008.TFM               2023-08-18 20:59:48           2023-08-18 21:40:05 2023-08-18 21:00:00               unknown
53724        UAE4PV.MXP.JFK.230818.1433.0018.TFM               2023-08-18 20:59:56           2023-08-18 22:31:57 2023-08-18 21:00:00               unknown
53725       UPS9882.SYR.JFK.230818.0800.0014.TFM               2023-08-18 08:00:35           2023-08-18 23:52:00 2023-08-18 21:00:00               unknown
53726        VIR153.LHR.JFK.230817.1525.0041.TFM               2023-08-18 20:59:56           2023-08-18 22:34:03 2023-08-18 21:00:00               unknown
53727         VIR9J.LHR.JFK.230818.1405.0039.TFM               2023-08-18 20:59:35           2023-08-18 21:07:28 2023-08-18 21:00:00               unknown

[53728 rows x 5 columns]

In [113]:
import numpy as np

# Define a function to categorize the minute_diff into target values
def assign_target(minute_diff):
    if minute_diff < 0:
        return 13
    elif minute_diff <= 15:
        return 1
    elif 15 < minute_diff <= 30:
        return 2
    elif 30 < minute_diff <= 45:
        return 3
    elif 45 < minute_diff <= 60:
        return 4
    elif 60 < minute_diff <= 75:
        return 5
    elif 75 < minute_diff <= 90:
        return 6
    elif 90 < minute_diff <= 105:
        return 7
    elif 105 < minute_diff <= 120:
        return 8
    elif 120 < minute_diff <= 135:
        return 9
    elif 135 < minute_diff <= 150:
        return 10
    elif 150 < minute_diff <= 165:
        return 11
    elif 165 < minute_diff <= 180:
        return 12
    elif minute_diff > 180:
        return 13
    else:
        return 13  # Return NaN if the value is not valid

In [114]:
merged_df.head()

                                        gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                   t aircraft_engine_class
0  AAL1247.MCO.JFK.220924.2248.0011.TFM_TFDM               2022-09-25 00:59:57           2022-09-25 02:28:25 2022-09-25 01:00:00               unknown
1       AAL1261.MIA.JFK.220924.0000.0090.TFM               2022-09-25 00:59:32           2022-09-25 02:36:09 2022-09-25 01:00:00               unknown
2       AAL1357.MIA.JFK.220924.0105.0094.TFM               2022-09-25 00:58:40           2022-09-25 03:51:00 2022-09-25 01:00:00               unknown
3       AAL1388.PHX.JFK.220923.2151.0016.TFM               2022-09-25 00:59:40           2022-09-25 02:03:47 2022-09-25 01:00:00               unknown
4        AAL141.LHR.JFK.220922.1834.0049.TFM               2022-09-25 00:59:50           2022-09-25 01:10:47 2022-09-25 01:00:00               unknown

In [115]:
print(len(merged_df))

53728

In [116]:
# Calculate the time difference between 't' and 'arrival_runway_estimated_time'
merged_df['time_diff_estimate'] = (merged_df['arrival_runway_estimated_time'] - merged_df['t']).dt.total_seconds() / 60

# Display the updated DataFrame with the new column
display(merged_df)

                                            gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                   t aircraft_engine_class  time_diff_estimate
0      AAL1247.MCO.JFK.220924.2248.0011.TFM_TFDM               2022-09-25 00:59:57           2022-09-25 02:28:25 2022-09-25 01:00:00               unknown           88.416667
1           AAL1261.MIA.JFK.220924.0000.0090.TFM               2022-09-25 00:59:32           2022-09-25 02:36:09 2022-09-25 01:00:00               unknown           96.150000
2           AAL1357.MIA.JFK.220924.0105.0094.TFM               2022-09-25 00:58:40           2022-09-25 03:51:00 2022-09-25 01:00:00               unknown          171.000000
3           AAL1388.PHX.JFK.220923.2151.0016.TFM               2022-09-25 00:59:40           2022-09-25 02:03:47 2022-09-25 01:00:00               unknown           63.783333
4            AAL141.LHR.JFK.220922.1834.0049.TFM               2022-09-25 00:59:50           2022-09-25 01:10:47 2022-09-25 01:00:00               unknown           10.783333
...                                          ...                               ...                           ...                 ...                   ...                 ...
53723          THY1.IST.JFK.230818.1947.0008.TFM               2023-08-18 20:59:48           2023-08-18 21:40:05 2023-08-18 21:00:00               unknown           40.083333
53724        UAE4PV.MXP.JFK.230818.1433.0018.TFM               2023-08-18 20:59:56           2023-08-18 22:31:57 2023-08-18 21:00:00               unknown           91.950000
53725       UPS9882.SYR.JFK.230818.0800.0014.TFM               2023-08-18 08:00:35           2023-08-18 23:52:00 2023-08-18 21:00:00               unknown          172.000000
53726        VIR153.LHR.JFK.230817.1525.0041.TFM               2023-08-18 20:59:56           2023-08-18 22:34:03 2023-08-18 21:00:00               unknown           94.050000
53727         VIR9J.LHR.JFK.230818.1405.0039.TFM               2023-08-18 20:59:35           2023-08-18 21:07:28 2023-08-18 21:00:00               unknown            7.466667

[53728 rows x 6 columns]

In [117]:
columns_to_select = ['gufi', 'time_diff_estimate',  't', 'aircraft_engine_class']

# Create a new DataFrame with only the specified columns
selected_columns_df = merged_df[columns_to_select]

# Display the new DataFrame
print(len(selected_columns_df))
print((selected_columns_df.dtypes))
print(selected_columns_df.columns)

53728
gufi                             object
time_diff_estimate              float64
t                        datetime64[ns]
aircraft_engine_class            object
dtype: object
Index(['gufi', 'time_diff_estimate', 't', 'aircraft_engine_class'], dtype='object')

In [123]:

# Step 1: Get unique values from the 'aircraft_engine_class' column
unique_values = selected_columns_df['aircraft_engine_class'].unique()

# Step 2: Manually create a mapping from each unique value to an integer
#manual_map = {value: index for index, value in enumerate(unique_values, start=1)}
manual_map = {'JET': 1, 'TURBO': 2, 'unknown': 3, 'PISTON': 4}

# Step 3: Apply the mapping to the 'aircraft_engine_class' column using .loc[] to avoid the warning
selected_columns_df = selected_columns_df.copy()
selected_columns_df['engine_class_int'] = selected_columns_df['aircraft_engine_class'].map(manual_map)



# Display the updated DataFrame
display(selected_columns_df)

                                            gufi  time_diff_estimate                   t aircraft_engine_class  engine_class_int
0      AAL1247.MCO.JFK.220924.2248.0011.TFM_TFDM           88.416667 2022-09-25 01:00:00               unknown                 3
1           AAL1261.MIA.JFK.220924.0000.0090.TFM           96.150000 2022-09-25 01:00:00               unknown                 3
2           AAL1357.MIA.JFK.220924.0105.0094.TFM          171.000000 2022-09-25 01:00:00               unknown                 3
3           AAL1388.PHX.JFK.220923.2151.0016.TFM           63.783333 2022-09-25 01:00:00               unknown                 3
4            AAL141.LHR.JFK.220922.1834.0049.TFM           10.783333 2022-09-25 01:00:00               unknown                 3
...                                          ...                 ...                 ...                   ...               ...
53723          THY1.IST.JFK.230818.1947.0008.TFM           40.083333 2023-08-18 21:00:00               unknown                 3
53724        UAE4PV.MXP.JFK.230818.1433.0018.TFM           91.950000 2023-08-18 21:00:00               unknown                 3
53725       UPS9882.SYR.JFK.230818.0800.0014.TFM          172.000000 2023-08-18 21:00:00               unknown                 3
53726        VIR153.LHR.JFK.230817.1525.0041.TFM           94.050000 2023-08-18 21:00:00               unknown                 3
53727         VIR9J.LHR.JFK.230818.1405.0039.TFM            7.466667 2023-08-18 21:00:00               unknown                 3

[53728 rows x 5 columns]

In [124]:
manual_map

{'JET': 1, 'TURBO': 2, 'unknown': 3, 'PISTON': 4}

In [127]:
selected_columns_df.columns
selected_columns_df.dtypes

gufi                             object
time_diff_estimate              float64
t                        datetime64[ns]
aircraft_engine_class            object
engine_class_int                  int64
dtype: object

In [126]:
#Lets get teh model 
import xgboost as xgb

# Define the model file path
model_file_path = f"{SAVE_PATH}/xgboost_model_{ACODE}.json"

# Load the model
loaded_model = xgb.XGBRegressor()  # Instantiate the XGBRegressor or use the appropriate model type
loaded_model.load_model(model_file_path)

print(f"Model loaded from {model_file_path}")

Model loaded from /projectnb/cs640grp/projects/noahark/523Proj/data/models/xgboost_model_JFK.json

In [129]:
import pandas as pd
from xgboost import XGBRegressor

from sklearn.impute import SimpleImputer
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor

# Assuming selected_columns_df is already defined
test_df = selected_columns_df.copy()

# Separate the features (X) and target (y) for train and test sets

test_X = test_df.select_dtypes(exclude=['object','datetime64[ns]'])

display(test_X)

# Initialize SimpleImputer to handle missing values
my_imputer = SimpleImputer(strategy='mean')
test_X_imputed = my_imputer.fit_transform(test_X)

#test_X_imputed = my_imputer.transform(test_X)

# Convert the imputed arrays back to DataFrames and restore column names and original indices
test_X_df = pd.DataFrame(test_X_imputed, columns=test_X.columns, index=test_df.index)  # Use original indices

# Make predictions
predictions = loaded_model.predict(test_X_df)

# Round or process the predictions as needed (for example, flooring them)
predictions_floor = predictions.astype(int)

# Merge the predictions and the true values into a new DataFrame, keeping the original index
result_df_now = pd.DataFrame({
    'Predictions': predictions_floor
}, index=test_df.index)  # Keep the original indices for result_df

# Display the result DataFrame
display(result_df_now)

# Optionally, merge with the original selected_columns_df using the indices
#final_result_df = selected_columns_df.loc[result_df_now.index, ['gufi', 'time_diff_estimate','target']].join(result_df_now)

# Display final merged DataFrame
#display(final_result_df)

       time_diff_estimate  engine_class_int
0               88.416667                 3
1               96.150000                 3
2              171.000000                 3
3               63.783333                 3
4               10.783333                 3
...                   ...               ...
53723           40.083333                 3
53724           91.950000                 3
53725          172.000000                 3
53726           94.050000                 3
53727            7.466667                 3

[53728 rows x 2 columns]

       Predictions
0                6
1                7
2               12
3                4
4                2
...            ...
53723            3
53724            6
53725           11
53726            7
53727            1

[53728 rows x 1 columns]

In [130]:
test_final_df = pd.concat([test_df, result_df_now], axis=1)
test_final_df

                                            gufi  time_diff_estimate                   t aircraft_engine_class  engine_class_int  Predictions
0      AAL1247.MCO.JFK.220924.2248.0011.TFM_TFDM           88.416667 2022-09-25 01:00:00               unknown                 3            6
1           AAL1261.MIA.JFK.220924.0000.0090.TFM           96.150000 2022-09-25 01:00:00               unknown                 3            7
2           AAL1357.MIA.JFK.220924.0105.0094.TFM          171.000000 2022-09-25 01:00:00               unknown                 3           12
3           AAL1388.PHX.JFK.220923.2151.0016.TFM           63.783333 2022-09-25 01:00:00               unknown                 3            4
4            AAL141.LHR.JFK.220922.1834.0049.TFM           10.783333 2022-09-25 01:00:00               unknown                 3            2
...                                          ...                 ...                 ...                   ...               ...          ...
53723          THY1.IST.JFK.230818.1947.0008.TFM           40.083333 2023-08-18 21:00:00               unknown                 3            3
53724        UAE4PV.MXP.JFK.230818.1433.0018.TFM           91.950000 2023-08-18 21:00:00               unknown                 3            6
53725       UPS9882.SYR.JFK.230818.0800.0014.TFM          172.000000 2023-08-18 21:00:00               unknown                 3           11
53726        VIR153.LHR.JFK.230817.1525.0041.TFM           94.050000 2023-08-18 21:00:00               unknown                 3            7
53727         VIR9J.LHR.JFK.230818.1405.0039.TFM            7.466667 2023-08-18 21:00:00               unknown                 3            1

[53728 rows x 6 columns]

In [131]:
test_final_df.columns

Index(['gufi', 'time_diff_estimate', 't', 'aircraft_engine_class', 'engine_class_int', 'Predictions'], dtype='object')

In [133]:
extracted_test_df = test_final_df[['t', 'Predictions']]
extracted_test_df

                        t  Predictions
0     2022-09-25 01:00:00            6
1     2022-09-25 01:00:00            7
2     2022-09-25 01:00:00           12
3     2022-09-25 01:00:00            4
4     2022-09-25 01:00:00            2
...                   ...          ...
53723 2023-08-18 21:00:00            3
53724 2023-08-18 21:00:00            6
53725 2023-08-18 21:00:00           11
53726 2023-08-18 21:00:00            7
53727 2023-08-18 21:00:00            1

[53728 rows x 2 columns]

In [135]:
import pandas as pd


df_temp = extracted_test_df.copy()
display(df_temp)
# Define the bins (1 through 12)
bins = range(1, 13)

# Initialize dictionaries to store bin sums for each unique 't'
pred_bins_by_t = {}

# Group by unique 't' and calculate bin sums
for t_value, group in df_temp.groupby('t'):
    # Sum Predictions for each bin
    pred_bins = group['Predictions'].value_counts().reindex(bins, fill_value=0)
    pred_bins_by_t[t_value] = pred_bins.tolist()  # Convert to list for storage

# Convert results to DataFrames for better visualization
pred_bins_df = pd.DataFrame.from_dict(pred_bins_by_t, orient='index', columns=[f'Bin {i}' for i in bins])


print("\nPrediction Bins by 't':")
display(pred_bins_df)

                        t  Predictions
0     2022-09-25 01:00:00            6
1     2022-09-25 01:00:00            7
2     2022-09-25 01:00:00           12
3     2022-09-25 01:00:00            4
4     2022-09-25 01:00:00            2
...                   ...          ...
53723 2023-08-18 21:00:00            3
53724 2023-08-18 21:00:00            6
53725 2023-08-18 21:00:00           11
53726 2023-08-18 21:00:00            7
53727 2023-08-18 21:00:00            1

[53728 rows x 2 columns]

Prediction Bins by 't':

                     Bin 1  Bin 2  Bin 3  Bin 4  Bin 5  Bin 6  Bin 7  Bin 8  Bin 9  Bin 10  Bin 11  Bin 12
2022-09-25 01:00:00     10     11     13      7     10      6      3      2      6       8       2      11
2022-09-25 05:00:00      0      3      1      0      2      1      1      1      0       1       2       6
2022-09-25 09:00:00      2      7      6      4      1      6      4      3      9       9       9       9
2022-09-25 13:00:00      2     11      8      6      6      3      3      1      9      13       4      21
2022-09-25 17:00:00      5     18     12     14     11      9     10      8     16       8      14      24
2022-09-25 21:00:00      6     11     11      5     10     10      5      4     15      10       5      21
2022-09-26 01:00:00      8     11     17      7      6      9      7      8     13       7      10      17
2022-09-26 05:00:00      2      1      4      2      1      2      1      2      0       0       0       9
2022-09-26 09:00:00      3      1      1      7      1     10      1      2     12       7       7      17
2022-09-26 13:00:00      3      7      6      3      9      4      3      2     11       8       4      22
2022-09-26 17:00:00      5     12     23      6     15     13     12      9     23       5      14      29
2022-09-26 21:00:00      4     15     17      4      7     11      5      5     16      11       7      24
2022-09-27 01:00:00      7     15     13      6      6     14      2      4     10       8       3      10
2022-09-27 05:00:00      0      2      4      2      2      0      1      1      1       1       0       8
2022-09-27 09:00:00      3      6     10      2      6      8      7      2     14       7       3      15
2022-09-27 13:00:00      2      6     11      2      7      4      5      5      7      11       9      15
2022-09-27 17:00:00      5     18     12     11     10     13     13      3     18      16       7      34
2022-09-27 21:00:00      8     10     14     10      9     14      4      3      9      17       6      33
2022-09-28 01:00:00      6     14     12      2     10      8      3      2     10       7       7      12
2022-09-28 05:00:00      1      0      1      1      1      1      1      0      0       2       0      10
2022-09-28 09:00:00      2     12     11      6      2      7      5      1     10       9       7      17
2022-09-28 13:00:00      4      4      5      3      7      3      5      2      9       9       3      21
2022-09-28 17:00:00      8      6     15      7     15     14      9      5     14       9      13      30
2022-09-28 21:00:00      4      8     15     11      8      6      7      3     14      14      11      28
2022-09-29 01:00:00      7     12     12      5      9      8      3      4      9       2       2       7
2022-09-29 05:00:00      0      2      4      0      0      0      0      1      0       1       0       9
2022-09-29 09:00:00      1      9      9      8      2     10      0      3     13       5       5      16
2022-09-29 13:00:00      3      5      6      2      9      4      3      2      5       4      10      21
2022-09-29 17:00:00      3     13     18      6     14     12      5      5     29      11       7      34
2022-09-29 21:00:00      6     10     22      8     12      9      5      2     13      11      10      29
2022-09-30 01:00:00      3     16     14      5     11     12      5      4      8       6       6       8
2022-09-30 05:00:00      1      1      1      1      1      0      0      0      2       0       0       2
2022-09-30 09:00:00      3      6     14      7      4      5      4      2     14       8       2      17
2022-09-30 13:00:00      4      5      7      3      7      4      2      4      7       5       6      18
2022-09-30 17:00:00      5     10     19     11     16     11      6      5     18       9       9      33
2022-09-30 21:00:00      5      8     18      9      8     10      3      3     11      17       5      30
2022-10-01 01:00:00     10      7     14     12     12     11      5      3      7       5       4       9
2022-10-01 05:00:00      1      2      2      0      1      2      0      0      1       2       0       8
2022-10-01 09:00:00      2      7      4      4      6      4      5      1     12       8       7      20
2022-10-01 13:00:00      6     10      8      1      5      7      3      2      5      10       6      22
2022-10-01 17:00:00      8     13     15      6     13     11      9      5     12      14      11      37
2022-10-01 21:00:00      9     12     14      5     10     13      7      5     13      14       7      29
2022-10-02 01:00:00      8     10     21      6     14     10      3      1      6       7       4      11
2022-10-02 05:00:00      2      3      4      1      0      1      0      1      0       0       1       5
2022-10-02 09:00:00      3      7      7      1      6      6      6      3     16       7       7      11
2022-10-02 13:00:00      7      4      9      3      5      2      4      3     15       5       6      15
2022-10-02 17:00:00     11     10     12     11     18     12      6      5     16      17      15      31
2022-10-02 21:00:00      6      9     18     11     12      7      3      7     15      10       7      16
2022-10-27 01:00:00      5     15     21      4      7     10      7      3      9       4       5       8
2022-10-27 05:00:00      0      2      3      0      0      0      0      0      1       0       1       5
2022-10-27 09:00:00      3      5     10      6      4      4      5      1      8      11       5      12
2022-10-27 13:00:00      2      6      9      5      3      7      7      2      7       6       2      22
2022-10-27 17:00:00     12     11     19      7      9     12      5      4     12      14      11      22
2022-10-27 21:00:00      9      9     13      9     14     10      7      4      9      12       7      18
2022-10-30 01:00:00      9     15     11      7      7      6      6      6      9       4       4       3
2022-10-30 05:00:00      0      2      1      0      0      0      0      0      3       1       0       5
2022-10-30 09:00:00      0      3      9      5      5      5      6      2      6      11       5      16
2022-10-30 13:00:00      6      8     10      3      7      5      6      3      9       1       1      15
2022-10-30 17:00:00      6     19     16     12      9     12      5      6     18       9      11      35
2022-10-30 21:00:00     11      9     10      7     15     11      6      6     15      10      12      25
2022-10-31 01:00:00      4     15     17      6     10      4      9      3      7       8       4      11
2022-10-31 05:00:00      1      4      2      1      0      1      0      1      1       1       1       2
2022-10-31 09:00:00      4      9      4      4      6      7      4      3      9       7       4      12
2022-10-31 13:00:00      6      5      8      5      7      3      8      4      7       5       2      20
2022-10-31 17:00:00      6     18     20      9      8     13      8      2     17      15       7      30
2022-10-31 21:00:00     10      3     11      6     14     10      7      8     18      12       9      20
2022-11-01 01:00:00      4     17     17      4      3      9      7      4      6       9       4       7
2022-11-01 05:00:00      0      1      0      1      1      0      0      2      4       0       0       8
2022-11-01 09:00:00      3      8      9      3      5      8      4      1     14       6       8      14
2022-11-01 13:00:00      6      6     13      3      6     10      4      3      8       3       6      18
2022-11-01 17:00:00      7     14     21      5     12     13      3      5     18      11       8      29
2022-11-01 21:00:00      5     10     12      4     14     12      4     12     13       8       6      28
2022-11-02 01:00:00     12     12     16      4     12     10      3      3     10       6       4       7
2022-11-02 05:00:00      1      0      1      1      2      0      1      0      1       0       0       7
2022-11-02 09:00:00      2      7     15      4      5      8      3      2     14       7       6      10
2022-11-02 13:00:00      5      8      9      3      3      6      7      3      7       6       4      18
2022-11-02 17:00:00      6     14     17      8      8     16      3      9     17       9       8      31
2022-11-02 21:00:00      7      7      8      8     10     10     11      8     12      14       4      28
2022-11-03 01:00:00      8      8     18      8      6     11      4      4      9       4       4       9
2022-11-03 05:00:00      2      0      1      0      3      0      0      0      0       0       1       7
2022-11-03 09:00:00      4      5     13      2      5      6      8      1     12       6       7      15
2022-11-03 13:00:00      6      6      7      3     10      2      6      3      5       6       7      20
2022-11-03 17:00:00      3     13     16      9     12     10      6      7     22      10      13      33
2022-11-03 21:00:00      6     10     13      9      9     10      9     14     15      10       9      14
2022-11-28 01:00:00      5     10     14      5      7      8      4      6     11      10       3      24
2022-11-28 05:00:00      7      7      9      7      3      1      0      3      3       1       0       3
2022-11-28 09:00:00      3      1      2      2      3      4      3      2     13       6       5      18
2022-11-28 13:00:00      6     13     11      4      9      5      1      1      5       3       4      22
2022-11-28 17:00:00      3     10     10      6     13     12      9      7     20       7      10      33
2022-11-28 21:00:00      4     18      9      5     11     14      2      6     13      11       9      23
2022-11-29 01:00:00      5     15     12      5     13     12     10      3     12      10       7      14
2022-11-29 05:00:00      1      4      5      1      1      0      0      1      1       2       0       1
2022-11-29 09:00:00      2      2      9      2      3      6      6      5      8       6       6      18
2022-11-29 13:00:00      5     10     15      4      6     10      3      2      7       2       6      15
2022-11-29 17:00:00      4     10     14      8     14     12      4      2     23      13       6      32
2022-11-29 21:00:00      4     13     22     10      9     14      1      3     11      15      12      24
2022-11-30 01:00:00      6      7     19     10     13     13      6      6     13       7       2      17
2022-11-30 05:00:00      2      1      2      0      5      0      0      2      1       3       2       4
2022-11-30 09:00:00      3      5      3      4      4      5      5      3     10       5       3      12
2022-11-30 13:00:00      2     15     11      5      9      7      1      3      5       9       0      19
2022-11-30 17:00:00      8     11     15      8     10      9      7      4     12      14       5      34
2022-11-30 21:00:00     11     15     16      7     10      8      4      4     20       9      11      22
2022-12-01 01:00:00      8      7     21      8      7     13      9      5     15       9       6      20
2022-12-01 05:00:00      3      3      6      0      0      1      2      1      3       1       0       3
2022-12-01 09:00:00      3      5      3      2      1      7      2      3     10       5       9      18
2022-12-01 13:00:00      4     12     14      7      2     11      4      4      4       5       5      16
2022-12-01 17:00:00      8     11     14      8      7     12      7      5     18      16      15      34
2022-12-01 21:00:00      6     11     18      7      2     10      6      8     17       8       4      31
2022-12-02 01:00:00      5     19     17     10      9     11      4      7     11      14       6      21
2022-12-02 05:00:00      0      4      2      0      1      0      0      2      0       2       2       3
2022-12-02 09:00:00      1      8      4      4      1      6      4      3      8       5       4      26
2022-12-02 13:00:00      7     12      9      6      7      3      5      1      6      11       6      15
2022-12-02 17:00:00      5     16     12      9     14     13      4      7     17      14       7      28
2022-12-02 21:00:00      3     11     18      7     12     10      5      8     15      11       7      19
2022-12-03 01:00:00      7     10     17      4      9     14      9      5      9      11       5      16
2022-12-03 05:00:00      2      4      1      0      0      0      1      1      2       0       0       0
2022-12-03 09:00:00      3      3      2      3      7      4      7      3      6       4       3      18
2022-12-03 13:00:00      8     13     10      6      7      4      5      5      3       9       5      14
2022-12-03 17:00:00      6     12     15      8     11     11      7      8     17      15      12      29
2022-12-03 21:00:00      9      8      9      8      6     12      4      6     16      12       9      27
2022-12-04 01:00:00      8     15     10      7      4     15      5      2      9      11       6      19
2022-12-04 05:00:00      1      3      1      0      2      2      0      0      0       1       0       2
2022-12-04 09:00:00      0      5      8      2      4      5      4      6      7       2       6      14
2022-12-04 13:00:00      2     12      9      5     10      3      4      0     12       9       5      17
2022-12-04 17:00:00      8      7     21     10     10     10      7      7     19      13       8      27
2022-12-04 21:00:00      6      9     20      7     12     10     12      5     10      14       3      24
2022-12-05 01:00:00      3     11     17      9     12      9      8      6     15       4       4      22
2022-12-05 05:00:00      1      3      1      1      0      1      1      1      1       2       1       0
2022-12-05 09:00:00      2      4      6      5      4      3      2      3      8       8       6      18
2022-12-05 13:00:00      3     12     13      7      6      3      6      1     10       9       6      13
2022-12-05 17:00:00      7     11     17      7     14      9      9      9     13      18       7      28
2022-12-05 21:00:00      7     12     13     11     11      9      5      6     19       8       7      15
2022-12-30 01:00:00      5     10     16      5      5      8      9      1     16      10       7      20
2022-12-30 05:00:00      5      2      3      1      2      1      1      1      1       1       0       1
2022-12-30 09:00:00      2      0      6      2      5      5      3      2     11      10       3      16
2022-12-30 13:00:00      6      8     12      3      2      5      0      1     11       5       7      10
2022-12-30 17:00:00      4      8     15      4      8      5      4      8     13      16       3      27
2022-12-30 21:00:00      5     10     17      7      7      4      5      6     18      14       7      17
2022-12-31 01:00:00      5      7     17      5      9      9      6      5     22       5       5      22
2022-12-31 05:00:00      1      3      3      1      2      1      0      0      4       1       1       2
2022-12-31 09:00:00      3      3      6      1      1      3      1      4     10       4       7      24
2022-12-31 13:00:00      5      7      6      3      8      8      1      1      7       5       4      18
2022-12-31 17:00:00      2      8     11      6      9      3      7      9     16      11       5      26
2022-12-31 21:00:00      4     14     16      3      9     15      4      8      8      14       2      32
2023-01-01 01:00:00      6     14     12      8      6     10      6      3     17       6       4      23
2023-01-01 05:00:00      0      2      4      1      1      1      0      1      2       4       0       2
2023-01-01 09:00:00      2      3      7      2      1      3      1      3      7       4       4      17
2023-01-01 13:00:00      4      5      4      8      5      6      2      0      8       4       4      16
2023-01-01 17:00:00      5     10      6      6     11      3      6      3     22       7       5      34
2023-01-01 21:00:00      6     14     12     10      5      6      5      3     17      13      12      15
2023-01-02 01:00:00      6      8     17      4     11     11      7      6     10       8      10      13
2023-01-02 05:00:00      1      2      7      2      1      0      1      0      3       0       2       4
2023-01-02 09:00:00      3      1      2      1      4      5      3      4     11       4       6      16
2023-01-02 13:00:00      2      8     16      4      7      5      5      2     12       4       1      17
2023-01-02 17:00:00      2      6     11     11      6      9      5      4     19      10      13      30
2023-01-02 21:00:00      5     11     15      5      7      5      4     10     13      16      12      23
2023-01-03 01:00:00      7     12     14      4      8      7      6      3     16       6       9      24
2023-01-03 05:00:00      4      7      4      0      5      1      2      1      3       5       3       0
2023-01-03 09:00:00      1      2      5      4      8      4      5      4      8       5       2      16
2023-01-03 13:00:00      5      8     11      2      6      8      1      2     14       9       5      16
2023-01-03 17:00:00      5      6     13      7      9     12      6     10     15       8       6      35
2023-01-03 21:00:00      6      9     12      5      9     10      2      6     23      17       8      25
2023-01-04 01:00:00      3     11     10      4      8      9      6      5     17      10      10      21
2023-01-04 05:00:00      3      4      2      1      2      2      0      2      3       2       2       2
2023-01-04 09:00:00      3      1      3      3      5      2      2      1     14       1       6      24
2023-01-04 13:00:00      4      7     13      1      4      5      3      7     10       5       4      16
2023-01-04 17:00:00      4      8      9      8     10     11      3      6     15      15       6      32
2023-01-04 21:00:00      3     14     14      9      6      8     10      5     22      12      11      20
2023-01-05 01:00:00     11     11     13      8      7     12      8      7     15       3       6      24
2023-01-05 05:00:00      3      2      7      4      1      0      0      2      3       2       2       2
2023-01-05 09:00:00      3      3      5      3      1      3      2      4     11       9       6      11
2023-01-05 13:00:00      2     11      9      3      4      4      4      4      9       5       5      17
2023-01-05 17:00:00      4      8     12      3      8     16      4      4     16      15       7      37
2023-01-05 21:00:00     10      9     19      6      6     14      3      4     22       7      10      32
2023-01-06 01:00:00      3     16      8     10      7     10      6      6     18      10       7      17
2023-01-06 05:00:00      2      3      3      0      2      0      0      0      1       1       0       1
2023-01-06 09:00:00      1      6      5      2      3      4      5      3     11       7      11      12
2023-01-06 13:00:00      1     10      8      3      2      7      4      2      9       7       4      16
2023-01-06 17:00:00      3     10     19      7     11      9      4      4     22      10       3      28
2023-01-06 21:00:00      5     11     12      6      6      8      3      9     22      10       8      14
2023-01-31 01:00:00      6     12     19      5      7     11      7      5     13       8       6      14
2023-01-31 05:00:00      2      2      3      1      1      1      1      0      2       0       0       0
2023-01-31 09:00:00      2      3      4      4      1      4      2      3      6       8       4      15
2023-01-31 13:00:00      8      7     10      4      6      6     12      1      7       7       4      10
2023-01-31 17:00:00      5      8     17      4     13     14      6      3     23      10       6      25

In [137]:
# Convert pred_bins_df into a 3-column DataFrame with count_pred
pred_bins_melted = pred_bins_df.reset_index().melt(
    id_vars='index', 
    var_name='Bin', 
    value_name='count_pred'
)
pred_bins_melted.rename(columns={'index': 'Time'}, inplace=True)

# Convert Bin column to integers (remove "Bin " prefix)
pred_bins_melted['Bin'] = pred_bins_melted['Bin'].str.extract(r'(\d+)').astype(int)

# Display the result
display(pred_bins_melted)

                    Time  Bin  count_pred
0    2022-09-25 01:00:00    1          10
1    2022-09-25 05:00:00    1           0
2    2022-09-25 09:00:00    1           2
3    2022-09-25 13:00:00    1           2
4    2022-09-25 17:00:00    1           5
...                  ...  ...         ...
6187 2023-08-18 05:00:00   12           1
6188 2023-08-18 09:00:00   12          15
6189 2023-08-18 13:00:00   12          17
6190 2023-08-18 17:00:00   12          26
6191 2023-08-18 21:00:00   12          19

[6192 rows x 3 columns]

### Now we need to calculate the bins for join this information back to the original submission csv

In [138]:
import pandas as pd

TEMP_PATH = '/projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata'

# Load the DataFrame from the saved CSV file
sub_df = pd.read_csv(f'{TEMP_PATH}/subark.csv')

# Display the loaded DataFrame
print("Loaded DataFrame:")
display(sub_df)

Loaded DataFrame:

                         ID  Value airport_code             datetime  minutes_past  bin
0       KDEN_220925_0100_15     99         KDEN  2022-09-25 01:00:00            15    1
1       KDEN_220925_0100_30     99         KDEN  2022-09-25 01:00:00            30    2
2       KDEN_220925_0100_45     99         KDEN  2022-09-25 01:00:00            45    3
3       KDEN_220925_0100_60     99         KDEN  2022-09-25 01:00:00            60    4
4       KDEN_220925_0100_75     99         KDEN  2022-09-25 01:00:00            75    5
...                     ...    ...          ...                  ...           ...  ...
61915  KJFK_230818_2100_120     99         KJFK  2023-08-18 21:00:00           120    8
61916  KJFK_230818_2100_135     99         KJFK  2023-08-18 21:00:00           135    9
61917  KJFK_230818_2100_150     99         KJFK  2023-08-18 21:00:00           150   10
61918  KJFK_230818_2100_165     99         KJFK  2023-08-18 21:00:00           165   11
61919  KJFK_230818_2100_180     99         KJFK  2023-08-18 21:00:00           180   12

[61920 rows x 6 columns]

In [139]:
sub_df_filtered = sub_df[sub_df['airport_code'] == 'KJFK']

# Display the filtered DataFrame
print("Filtered DataFrame (only KJFK airport code):")
display(sub_df_filtered)

Filtered DataFrame (only KJFK airport code):

                         ID  Value airport_code             datetime  minutes_past  bin
55728   KJFK_220925_0100_15     99         KJFK  2022-09-25 01:00:00            15    1
55729   KJFK_220925_0100_30     99         KJFK  2022-09-25 01:00:00            30    2
55730   KJFK_220925_0100_45     99         KJFK  2022-09-25 01:00:00            45    3
55731   KJFK_220925_0100_60     99         KJFK  2022-09-25 01:00:00            60    4
55732   KJFK_220925_0100_75     99         KJFK  2022-09-25 01:00:00            75    5
...                     ...    ...          ...                  ...           ...  ...
61915  KJFK_230818_2100_120     99         KJFK  2023-08-18 21:00:00           120    8
61916  KJFK_230818_2100_135     99         KJFK  2023-08-18 21:00:00           135    9
61917  KJFK_230818_2100_150     99         KJFK  2023-08-18 21:00:00           150   10
61918  KJFK_230818_2100_165     99         KJFK  2023-08-18 21:00:00           165   11
61919  KJFK_230818_2100_180     99         KJFK  2023-08-18 21:00:00           180   12

[6192 rows x 6 columns]

In [150]:
# Convert both 'date_time' and 'time' columns to datetime format if they are not already
sub_df_filtered.loc[:, 'datetime'] = pd.to_datetime(sub_df_filtered['datetime'])
pred_bins_melted['Time'] = pd.to_datetime(pred_bins_melted['Time'])

# Merge pred_bins_melted with sub_df_filtered on 'date_time' and 'bin' columns
tempy5 = sub_df_filtered.merge(pred_bins_melted[['Time', 'Bin', 'count_pred']], 
                                  left_on=['datetime', 'bin'], 
                                  right_on=['Time', 'Bin'], 
                                  how='left')

# Now, update the 'value' column with the 'count_pred' values
tempy5['Value'] = tempy5['count_pred']

# Drop the extra columns (like 'Time' and 'count_pred') that were added during the merge
#tempy5 = tempy5.drop(columns=['Time', 'count_pred'])

# Display the updated DataFrame
print(tempy5.dtypes)
display(tempy5)

ID                      object
Value                    int64
airport_code            object
datetime        datetime64[ns]
minutes_past             int64
bin                      int64
Time            datetime64[ns]
Bin                      int64
count_pred               int64
dtype: object

                        ID  Value airport_code            datetime  minutes_past  bin                Time  Bin  count_pred
0      KJFK_220925_0100_15     10         KJFK 2022-09-25 01:00:00            15    1 2022-09-25 01:00:00    1          10
1      KJFK_220925_0100_30     11         KJFK 2022-09-25 01:00:00            30    2 2022-09-25 01:00:00    2          11
2      KJFK_220925_0100_45     13         KJFK 2022-09-25 01:00:00            45    3 2022-09-25 01:00:00    3          13
3      KJFK_220925_0100_60      7         KJFK 2022-09-25 01:00:00            60    4 2022-09-25 01:00:00    4           7
4      KJFK_220925_0100_75     10         KJFK 2022-09-25 01:00:00            75    5 2022-09-25 01:00:00    5          10
...                    ...    ...          ...                 ...           ...  ...                 ...  ...         ...
6187  KJFK_230818_2100_120      6         KJFK 2023-08-18 21:00:00           120    8 2023-08-18 21:00:00    8           6
6188  KJFK_230818_2100_135     23         KJFK 2023-08-18 21:00:00           135    9 2023-08-18 21:00:00    9          23
6189  KJFK_230818_2100_150     14         KJFK 2023-08-18 21:00:00           150   10 2023-08-18 21:00:00   10          14
6190  KJFK_230818_2100_165      6         KJFK 2023-08-18 21:00:00           165   11 2023-08-18 21:00:00   11           6
6191  KJFK_230818_2100_180     19         KJFK 2023-08-18 21:00:00           180   12 2023-08-18 21:00:00   12          19

[6192 rows x 9 columns]

In [157]:
# Merge the DataFrames
final_df = sub_df.merge(tempy5[['ID', 'Value']], on='ID', how='left', suffixes=('', '_temp'))

# Fill NaN values in 'Value_temp' with the original 'Value' from sub_df
final_df['Value'] = final_df['Value_temp'].fillna(final_df['Value'])

# Drop the temporary 'Value_temp' column
final_df = final_df.drop(columns=['Value_temp'])

# Convert the 'Value' column to int64 (after filling NaN)
final_df['Value'] = final_df['Value'].astype('int64')

# Display the final DataFrame
display(final_df)

                         ID  Value airport_code             datetime  minutes_past  bin
0       KDEN_220925_0100_15     99         KDEN  2022-09-25 01:00:00            15    1
1       KDEN_220925_0100_30     99         KDEN  2022-09-25 01:00:00            30    2
2       KDEN_220925_0100_45     99         KDEN  2022-09-25 01:00:00            45    3
3       KDEN_220925_0100_60     99         KDEN  2022-09-25 01:00:00            60    4
4       KDEN_220925_0100_75     99         KDEN  2022-09-25 01:00:00            75    5
...                     ...    ...          ...                  ...           ...  ...
61915  KJFK_230818_2100_120      6         KJFK  2023-08-18 21:00:00           120    8
61916  KJFK_230818_2100_135     23         KJFK  2023-08-18 21:00:00           135    9
61917  KJFK_230818_2100_150     14         KJFK  2023-08-18 21:00:00           150   10
61918  KJFK_230818_2100_165      6         KJFK  2023-08-18 21:00:00           165   11
61919  KJFK_230818_2100_180     19         KJFK  2023-08-18 21:00:00           180   12

[61920 rows x 6 columns]

In [158]:
file_path = '/projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata/finalSub.csv'

# Write the DataFrame to a CSV file
final_df.to_csv(file_path, index=False)

print(f"DataFrame saved to {file_path}")

DataFrame saved to /projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata/finalSub.csv

In [159]:

loaded_df = pd.read_csv(file_path)

# Display the loaded DataFrame
display(loaded_df)

                         ID  Value airport_code             datetime  minutes_past  bin
0       KDEN_220925_0100_15     99         KDEN  2022-09-25 01:00:00            15    1
1       KDEN_220925_0100_30     99         KDEN  2022-09-25 01:00:00            30    2
2       KDEN_220925_0100_45     99         KDEN  2022-09-25 01:00:00            45    3
3       KDEN_220925_0100_60     99         KDEN  2022-09-25 01:00:00            60    4
4       KDEN_220925_0100_75     99         KDEN  2022-09-25 01:00:00            75    5
...                     ...    ...          ...                  ...           ...  ...
61915  KJFK_230818_2100_120      6         KJFK  2023-08-18 21:00:00           120    8
61916  KJFK_230818_2100_135     23         KJFK  2023-08-18 21:00:00           135    9
61917  KJFK_230818_2100_150     14         KJFK  2023-08-18 21:00:00           150   10
61918  KJFK_230818_2100_165      6         KJFK  2023-08-18 21:00:00           165   11
61919  KJFK_230818_2100_180     19         KJFK  2023-08-18 21:00:00           180   12

[61920 rows x 6 columns]