### ChatGPT was used to generate some of the code in this file. 
In this notebook we will pull the model for JFK and use it to predict

In [1]:
TRAIN_PATH = '/projectnb/cs640grp/projects/noahark/preprocess/train'
TEST_PATH = '/projectnb/cs640grp/projects/noahark/preprocess/test'

from pathlib import Path
file_paths = [str(f) for f in Path(TRAIN_PATH).rglob("*") if f.is_file()]
#print("\n".join(file_paths))

airport_codes = ['KJFK','KATL', 'KCLT', 'KDEN', 'KDFW',  'KMEM', 'KMIA', 'KORD', 'KPHX', 'KSEA']

BASE  = 'test' # dont touch 
ACODE = airport_codes[1]

In [4]:
import os
import glob

def get_correct_file(base_dir=BASE, airport_code=ACODE, file_name="MFS_df.parquet"):
    """
    Retrieve the correct file from a given directory based on the airport code and file name.

    Args:
        base_dir (str): The base directory containing the files (default is "train").
        airport_code (str): The airport code, e.g., 'KMEM', 'KMIA' (default is "KMEM").
        file_name (str): The specific file name, e.g., 'MFS_df.parquet' (default is "MFS_df.parquet").

    Returns:
        str: The full path to the matching file or None if not found.
    """
    root_dir = "/projectnb/cs640grp/projects/noahark/preprocess"
    search_pattern = os.path.join(root_dir, base_dir, "fuser", airport_code, file_name)
    matching_files = glob.glob(search_pattern)

    if matching_files:
        return matching_files[0]  # Return the first matching file
    else:
        return None


# Using the default base directory ("train")
result = get_correct_file(base_dir = BASE, airport_code=ACODE)

if result:
    print(f"File found: {result}")
else:
    print("File not found.")

File found: /projectnb/cs640grp/projects/noahark/preprocess/test/fuser/KATL/MFS_df.parquet

In [5]:
FD =  {
    "MFS": "MFS_df.parquet",
    "TBFM": "TBFM_df.parquet",
    "RNWY": "runway_df.parquet",
    "FPOS": "first_position.parquet",
    "LMAP": "lamp.parquet",
    "TFM": "tfm_df.parquet",
}

In [6]:
get_correct_file(base_dir=BASE, airport_code=ACODE, file_name="MFS_df.parquet")

'/projectnb/cs640grp/projects/noahark/preprocess/test/fuser/KATL/MFS_df.parquet'

## Let's look at some of this data

In [7]:
import pandas as pd
def load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name="MFS_df.parquet"):
    """
    Load a Parquet file into a DataFrame and display its contents.

    Args:
        base_dir (str): The base directory containing the files (default is "train").
        airport_code (str): The airport code, e.g., 'KMEM' (default is "KMEM").
        file_name (str): The specific file name, e.g., 'MFS_df.parquet' (default is "MFS_df.parquet").
    """
    # Use the function to get the file path
    file_path = get_correct_file(base_dir=base_dir, airport_code=airport_code, file_name=file_name)
    
    if file_path:
        try:
            # Load the Parquet file into a DataFrame
            df = pd.read_parquet(file_path)
            
            # Display the DataFrame
            display(df)
            return df 
        except Exception as e:
            print(f"An error occurred while loading the Parquet file: {e}")
    else:
        print(f"File not found: {base_dir}/{airport_code}/{file_name}")
        return None

# Example usage
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["MFS"])

,aircraft_engine_class,aircraft_type,arrival_aerodrome_icao_name,major_carrier,flight_type
gufi,,,,,
SWA30.STL.ATL.230609.2255.0081.TFM,JET,B738,KATL,None,SCHEDULED_AIR_TRANSPORT
DAL810.SFO.ATL.230609.1855.0135.TFM,JET,B753,KATL,DAL,SCHEDULED_AIR_TRANSPORT
QTR2X.FRA.ATL.230609.1515.0090.TFM,JET,B77L,KATL,None,SCHEDULED_AIR_TRANSPORT
NKS2702.DFW.ATL.230609.2205.0118.TFM,JET,A20N,KATL,None,SCHEDULED_AIR_TRANSPORT
DAL1096.ATL.JAX.230610.0005.0035.TFM,JET,B752,KJAX,DAL,SCHEDULED_AIR_TRANSPORT
...,...,...,...,...,...
DAL2243.ATL.MDW.230202.2020.0059.TFM,JET,A320,KMDW,DAL,SCHEDULED_AIR_TRANSPORT
DAL526.ATL.SLC.230202.2015.0139.TFM,JET,A321,KSLC,DAL,SCHEDULED_AIR_TRANSPORT
DAL2729.ATL.STL.230202.2040.0139.TFM,JET,A319,KSTL,DAL,SCHEDULED_AIR_TRANSPORT
DAL73.AMS.ATL.230202.0945.0032.TFM,JET,A333,KATL,DAL,SCHEDULED_AIR_TRANSPORT
DAL2904.EYW.ATL.230202.1835.0059.TFM,JET,A319,KATL,DAL,SCHEDULED_AIR_TRANSPORT

,aircraft_engine_class,aircraft_type,arrival_aerodrome_icao_name,major_carrier,flight_type
gufi,,,,,
SWA30.STL.ATL.230609.2255.0081.TFM,JET,B738,KATL,None,SCHEDULED_AIR_TRANSPORT
DAL810.SFO.ATL.230609.1855.0135.TFM,JET,B753,KATL,DAL,SCHEDULED_AIR_TRANSPORT
QTR2X.FRA.ATL.230609.1515.0090.TFM,JET,B77L,KATL,None,SCHEDULED_AIR_TRANSPORT
NKS2702.DFW.ATL.230609.2205.0118.TFM,JET,A20N,KATL,None,SCHEDULED_AIR_TRANSPORT
DAL1096.ATL.JAX.230610.0005.0035.TFM,JET,B752,KJAX,DAL,SCHEDULED_AIR_TRANSPORT
...,...,...,...,...,...
DAL2243.ATL.MDW.230202.2020.0059.TFM,JET,A320,KMDW,DAL,SCHEDULED_AIR_TRANSPORT
DAL526.ATL.SLC.230202.2015.0139.TFM,JET,A321,KSLC,DAL,SCHEDULED_AIR_TRANSPORT
DAL2729.ATL.STL.230202.2040.0139.TFM,JET,A319,KSTL,DAL,SCHEDULED_AIR_TRANSPORT
DAL73.AMS.ATL.230202.0945.0032.TFM,JET,A333,KATL,DAL,SCHEDULED_AIR_TRANSPORT
DAL2904.EYW.ATL.230202.1835.0059.TFM,JET,A319,KATL,DAL,SCHEDULED_AIR_TRANSPORT

In [8]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["MFS"])

,aircraft_engine_class,aircraft_type,arrival_aerodrome_icao_name,major_carrier,flight_type
gufi,,,,,
SWA30.STL.ATL.230609.2255.0081.TFM,JET,B738,KATL,None,SCHEDULED_AIR_TRANSPORT
DAL810.SFO.ATL.230609.1855.0135.TFM,JET,B753,KATL,DAL,SCHEDULED_AIR_TRANSPORT
QTR2X.FRA.ATL.230609.1515.0090.TFM,JET,B77L,KATL,None,SCHEDULED_AIR_TRANSPORT
NKS2702.DFW.ATL.230609.2205.0118.TFM,JET,A20N,KATL,None,SCHEDULED_AIR_TRANSPORT
DAL1096.ATL.JAX.230610.0005.0035.TFM,JET,B752,KJAX,DAL,SCHEDULED_AIR_TRANSPORT
...,...,...,...,...,...
DAL2243.ATL.MDW.230202.2020.0059.TFM,JET,A320,KMDW,DAL,SCHEDULED_AIR_TRANSPORT
DAL526.ATL.SLC.230202.2015.0139.TFM,JET,A321,KSLC,DAL,SCHEDULED_AIR_TRANSPORT
DAL2729.ATL.STL.230202.2040.0139.TFM,JET,A319,KSTL,DAL,SCHEDULED_AIR_TRANSPORT
DAL73.AMS.ATL.230202.0945.0032.TFM,JET,A333,KATL,DAL,SCHEDULED_AIR_TRANSPORT
DAL2904.EYW.ATL.230202.1835.0059.TFM,JET,A319,KATL,DAL,SCHEDULED_AIR_TRANSPORT

,aircraft_engine_class,aircraft_type,arrival_aerodrome_icao_name,major_carrier,flight_type
gufi,,,,,
SWA30.STL.ATL.230609.2255.0081.TFM,JET,B738,KATL,None,SCHEDULED_AIR_TRANSPORT
DAL810.SFO.ATL.230609.1855.0135.TFM,JET,B753,KATL,DAL,SCHEDULED_AIR_TRANSPORT
QTR2X.FRA.ATL.230609.1515.0090.TFM,JET,B77L,KATL,None,SCHEDULED_AIR_TRANSPORT
NKS2702.DFW.ATL.230609.2205.0118.TFM,JET,A20N,KATL,None,SCHEDULED_AIR_TRANSPORT
DAL1096.ATL.JAX.230610.0005.0035.TFM,JET,B752,KJAX,DAL,SCHEDULED_AIR_TRANSPORT
...,...,...,...,...,...
DAL2243.ATL.MDW.230202.2020.0059.TFM,JET,A320,KMDW,DAL,SCHEDULED_AIR_TRANSPORT
DAL526.ATL.SLC.230202.2015.0139.TFM,JET,A321,KSLC,DAL,SCHEDULED_AIR_TRANSPORT
DAL2729.ATL.STL.230202.2040.0139.TFM,JET,A319,KSTL,DAL,SCHEDULED_AIR_TRANSPORT
DAL73.AMS.ATL.230202.0945.0032.TFM,JET,A333,KATL,DAL,SCHEDULED_AIR_TRANSPORT
DAL2904.EYW.ATL.230202.1835.0059.TFM,JET,A319,KATL,DAL,SCHEDULED_AIR_TRANSPORT

In [9]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["TBFM"])

,arrival_runway_sta_time_stamp,arrival_runway_sta
gufi,,
AAL2779.ORD.ATL.230812.2330.0238.TFM,2023-08-14 00:00:00,2023-08-14 01:13:40
DAL893.SEA.ATL.230812.2050.0124.TFM,2023-08-14 00:00:00,2023-08-14 01:40:26
DAL1705.OKC.ATL.230812.2110.0102.TFM,2023-08-14 00:00:00,2023-08-14 01:12:03
DAL545.LGA.ATL.230812.2300.0156.TFM,2023-08-14 00:00:00,2023-08-14 01:02:44
DAL801.YUL.ATL.230812.2300.0147.TFM,2023-08-14 00:00:00,2023-08-14 01:44:32
...,...,...
DAL1478.GNV.ATL.221026.2121.0085.TFM,2022-10-27 20:59:36,2022-10-27 22:26:07
BAW7TG.LHR.ATL.221026.1500.0103.TFM,2022-10-27 20:59:36,2022-10-28 00:22:40
BAW7TG.LHR.ATL.221026.1500.0103.TFM,2022-10-27 20:59:40,2022-10-28 00:22:40
DAL1820.LIR.ATL.221026.1920.0134.TFM,2022-10-27 21:00:00,2022-10-27 22:33:49
DAL634.SJU.ATL.221026.1850.0061.TFM,2022-10-27 21:00:00,2022-10-27 22:44:53

,arrival_runway_sta_time_stamp,arrival_runway_sta
gufi,,
AAL2779.ORD.ATL.230812.2330.0238.TFM,2023-08-14 00:00:00,2023-08-14 01:13:40
DAL893.SEA.ATL.230812.2050.0124.TFM,2023-08-14 00:00:00,2023-08-14 01:40:26
DAL1705.OKC.ATL.230812.2110.0102.TFM,2023-08-14 00:00:00,2023-08-14 01:12:03
DAL545.LGA.ATL.230812.2300.0156.TFM,2023-08-14 00:00:00,2023-08-14 01:02:44
DAL801.YUL.ATL.230812.2300.0147.TFM,2023-08-14 00:00:00,2023-08-14 01:44:32
...,...,...
DAL1478.GNV.ATL.221026.2121.0085.TFM,2022-10-27 20:59:36,2022-10-27 22:26:07
BAW7TG.LHR.ATL.221026.1500.0103.TFM,2022-10-27 20:59:36,2022-10-28 00:22:40
BAW7TG.LHR.ATL.221026.1500.0103.TFM,2022-10-27 20:59:40,2022-10-28 00:22:40
DAL1820.LIR.ATL.221026.1920.0134.TFM,2022-10-27 21:00:00,2022-10-27 22:33:49
DAL634.SJU.ATL.221026.1850.0061.TFM,2022-10-27 21:00:00,2022-10-27 22:44:53

In [10]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["RNWY"])

,arrival_runway_actual_time,arrival_runway_actual
gufi,,
DAL1323.GPT.ATL.221228.2310.0146.TFM,2022-12-30 00:00:34,9R
SWA3498.STL.ATL.221228.2235.0136.TFM,2022-12-30 00:01:18,8L
SWA2884.MDW.ATL.221228.2230.0184.TFM,2022-12-30 00:03:57,8L
FFT2002.LAS.ATL.221228.1910.0094.TFM,2022-12-30 00:05:47,9R
DAL426.MSP.ATL.221228.2155.0122.TFM,2022-12-30 00:06:22,8L
...,...,...
QTR755.DOH.ATL.230202.1509.0006.TMA,2023-02-02 20:56:27,28
QTR755.DOH.ATL.230131.0450.0030.TFM,2023-02-02 20:56:31,28
DAL2320.CLT.ATL.230201.2005.0165.TFM,2023-02-02 20:57:37,26R
DAL1043.MCO.ATL.230201.1930.0148.TFM,2023-02-02 20:58:47,28
DAL1696.PIT.ATL.230201.1935.0061.TFM,2023-02-02 20:59:46,26R

,arrival_runway_actual_time,arrival_runway_actual
gufi,,
DAL1323.GPT.ATL.221228.2310.0146.TFM,2022-12-30 00:00:34,9R
SWA3498.STL.ATL.221228.2235.0136.TFM,2022-12-30 00:01:18,8L
SWA2884.MDW.ATL.221228.2230.0184.TFM,2022-12-30 00:03:57,8L
FFT2002.LAS.ATL.221228.1910.0094.TFM,2022-12-30 00:05:47,9R
DAL426.MSP.ATL.221228.2155.0122.TFM,2022-12-30 00:06:22,8L
...,...,...
QTR755.DOH.ATL.230202.1509.0006.TMA,2023-02-02 20:56:27,28
QTR755.DOH.ATL.230131.0450.0030.TFM,2023-02-02 20:56:31,28
DAL2320.CLT.ATL.230201.2005.0165.TFM,2023-02-02 20:57:37,26R
DAL1043.MCO.ATL.230201.1930.0148.TFM,2023-02-02 20:58:47,28
DAL1696.PIT.ATL.230201.1935.0061.TFM,2023-02-02 20:59:46,26R

In [11]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["FPOS"])

                                       time_first_tracked
gufi
AAL582.PHL.ATL.230607.2250.0187.TFM   2023-06-08 23:20:42
ACA7258.YYZ.ATL.230607.2200.0131.TFM  2023-06-08 22:57:12
AFR686.CDG.ATL.230607.1530.0131.TFM   2023-06-08 16:55:07
ASA492.SEA.ATL.230607.2310.0096.TFM   2023-06-08 23:26:17
BAW7TG.LHR.ATL.230607.1510.0034.TFM   2023-06-08 16:15:27
...                                                   ...
UPS3302.SDF.ATL.230201.2028.0008.TFM  2023-02-02 09:42:27
UPS5540.SDF.ATL.230202.0703.0005.TFM  2023-02-02 22:07:04
USC414.SUS.ATL.230202.1517.0049.TMA   2023-02-02 19:02:53
VIR103M.LHR.ATL.230201.0925.0019.TFM  2023-02-02 09:47:05
WJA1590.YYC.ATL.230201.1700.0023.TFM  2023-02-02 17:34:54

[94251 rows x 1 columns]

                                       time_first_tracked
gufi
AAL582.PHL.ATL.230607.2250.0187.TFM   2023-06-08 23:20:42
ACA7258.YYZ.ATL.230607.2200.0131.TFM  2023-06-08 22:57:12
AFR686.CDG.ATL.230607.1530.0131.TFM   2023-06-08 16:55:07
ASA492.SEA.ATL.230607.2310.0096.TFM   2023-06-08 23:26:17
BAW7TG.LHR.ATL.230607.1510.0034.TFM   2023-06-08 16:15:27
...                                                   ...
UPS3302.SDF.ATL.230201.2028.0008.TFM  2023-02-02 09:42:27
UPS5540.SDF.ATL.230202.0703.0005.TFM  2023-02-02 22:07:04
USC414.SUS.ATL.230202.1517.0049.TMA   2023-02-02 19:02:53
VIR103M.LHR.ATL.230201.0925.0019.TFM  2023-02-02 09:47:05
WJA1590.YYC.ATL.230201.1700.0023.TFM  2023-02-02 17:34:54

[94251 rows x 1 columns]

In [12]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["LMAP"])

,timestamp,forecast_timestamp,temperature,wind_direction,wind_speed,wind_gust,cloud_ceiling,visibility,cloud,lightning_prob,precip
0,2023-07-17 00:30:00,2023-07-17 01:00:00,85.0,34.0,7.0,0.0,8.0,7.0,BK,N,False
1,2023-07-17 00:30:00,2023-07-17 02:00:00,83.0,34.0,7.0,0.0,8.0,7.0,SC,N,False
2,2023-07-17 00:30:00,2023-07-17 03:00:00,81.0,34.0,6.0,0.0,8.0,7.0,BK,N,False
3,2023-07-17 00:30:00,2023-07-17 04:00:00,79.0,34.0,5.0,0.0,8.0,7.0,SC,N,False
4,2023-07-17 00:30:00,2023-07-17 05:00:00,78.0,33.0,5.0,0.0,8.0,7.0,BK,N,False
...,...,...,...,...,...,...,...,...,...,...,...
145,2022-09-29 20:30:00,2022-09-30 17:00:00,67.0,3.0,15.0,23.0,7.0,7.0,BK,N,False
146,2022-09-29 20:30:00,2022-09-30 18:00:00,69.0,3.0,13.0,20.0,6.0,7.0,SC,N,False
147,2022-09-29 20:30:00,2022-09-30 19:00:00,70.0,2.0,12.0,20.0,7.0,7.0,FW,N,False
148,2022-09-29 20:30:00,2022-09-30 20:00:00,71.0,1.0,12.0,20.0,8.0,7.0,FW,N,False
149,2022-09-29 20:30:00,2022-09-30 21:00:00,71.0,36.0,11.0,19.0,8.0,7.0,CL,N,False

,timestamp,forecast_timestamp,temperature,wind_direction,wind_speed,wind_gust,cloud_ceiling,visibility,cloud,lightning_prob,precip
0,2023-07-17 00:30:00,2023-07-17 01:00:00,85.0,34.0,7.0,0.0,8.0,7.0,BK,N,False
1,2023-07-17 00:30:00,2023-07-17 02:00:00,83.0,34.0,7.0,0.0,8.0,7.0,SC,N,False
2,2023-07-17 00:30:00,2023-07-17 03:00:00,81.0,34.0,6.0,0.0,8.0,7.0,BK,N,False
3,2023-07-17 00:30:00,2023-07-17 04:00:00,79.0,34.0,5.0,0.0,8.0,7.0,SC,N,False
4,2023-07-17 00:30:00,2023-07-17 05:00:00,78.0,33.0,5.0,0.0,8.0,7.0,BK,N,False
...,...,...,...,...,...,...,...,...,...,...,...
145,2022-09-29 20:30:00,2022-09-30 17:00:00,67.0,3.0,15.0,23.0,7.0,7.0,BK,N,False
146,2022-09-29 20:30:00,2022-09-30 18:00:00,69.0,3.0,13.0,20.0,6.0,7.0,SC,N,False
147,2022-09-29 20:30:00,2022-09-30 19:00:00,70.0,2.0,12.0,20.0,7.0,7.0,FW,N,False
148,2022-09-29 20:30:00,2022-09-30 20:00:00,71.0,1.0,12.0,20.0,8.0,7.0,FW,N,False
149,2022-09-29 20:30:00,2022-09-30 21:00:00,71.0,36.0,11.0,19.0,8.0,7.0,CL,N,False

In [13]:
load_and_display_parquet(base_dir=BASE, airport_code=ACODE, file_name=FD["TFM"])

,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
gufi,,
DAL841.PDX.ATL.221228.2050.0148.TFM,2022-12-30 00:00:00,2022-12-30 01:19:27
DAL662.MEM.ATL.221228.2330.0204.TFM,2022-12-30 00:00:00,2022-12-30 00:55:50
DAL921.GEG.ATL.221228.2055.0039.TFM,2022-12-30 00:00:03,2022-12-30 01:49:26
UAL753.SFO.ATL.221228.1845.0145.TFM,2022-12-30 00:00:03,2022-12-30 01:40:12
RPA3394.JFK.ATL.221229.1235.0022.TFM,2022-12-30 00:00:03,2022-12-30 01:02:42
...,...,...
DAL270.GRU.ATL.230201.1255.0042.TFM,2023-02-02 20:59:54,2023-02-02 22:19:31
DAL31.LHR.ATL.230201.1230.0187.TFM,2023-02-02 20:59:57,2023-02-02 22:18:39
DAL26.ICN.ATL.230201.0930.0046.TFM,2023-02-02 20:59:58,2023-02-02 22:46:34
SKW3569.ASE.ATL.230201.2045.0080.TFM,2023-02-02 20:59:58,2023-02-02 23:48:22
DAL1756.SJO.ATL.230201.2030.0062.TFM,2023-02-02 20:59:58,2023-02-03 00:13:40

,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
gufi,,
DAL841.PDX.ATL.221228.2050.0148.TFM,2022-12-30 00:00:00,2022-12-30 01:19:27
DAL662.MEM.ATL.221228.2330.0204.TFM,2022-12-30 00:00:00,2022-12-30 00:55:50
DAL921.GEG.ATL.221228.2055.0039.TFM,2022-12-30 00:00:03,2022-12-30 01:49:26
UAL753.SFO.ATL.221228.1845.0145.TFM,2022-12-30 00:00:03,2022-12-30 01:40:12
RPA3394.JFK.ATL.221229.1235.0022.TFM,2022-12-30 00:00:03,2022-12-30 01:02:42
...,...,...
DAL270.GRU.ATL.230201.1255.0042.TFM,2023-02-02 20:59:54,2023-02-02 22:19:31
DAL31.LHR.ATL.230201.1230.0187.TFM,2023-02-02 20:59:57,2023-02-02 22:18:39
DAL26.ICN.ATL.230201.0930.0046.TFM,2023-02-02 20:59:58,2023-02-02 22:46:34
SKW3569.ASE.ATL.230201.2045.0080.TFM,2023-02-02 20:59:58,2023-02-02 23:48:22
DAL1756.SJO.ATL.230201.2030.0062.TFM,2023-02-02 20:59:58,2023-02-03 00:13:40

# Now lets predict using a XGD - Based Model

In [14]:
def return_parquet(base_dir=BASE, airport_code=ACODE, file_name="MFS_df.parquet"):
    file_path = get_correct_file(base_dir=base_dir, airport_code=airport_code, file_name=file_name)
    
    if file_path:
        try:
            # Load the Parquet file into a DataFrame
            df = pd.read_parquet(file_path)
            
            # Display the DataFrame
            return df 
        except Exception as e:
            print(f"An error occurred while loading the Parquet file: {e}")
    else:
        print(f"File not found: {base_dir}/{airport_code}/{file_name}")
        return None

#### But we need to take in a date and an airport and fetch some columns, for our first model we only care about estimated time of arrival and bin (something we create based on time)

In [15]:
jfk_tm = return_parquet(file_name = FD["TFM"])

In [16]:
jfk_tm

,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
gufi,,
DAL841.PDX.ATL.221228.2050.0148.TFM,2022-12-30 00:00:00,2022-12-30 01:19:27
DAL662.MEM.ATL.221228.2330.0204.TFM,2022-12-30 00:00:00,2022-12-30 00:55:50
DAL921.GEG.ATL.221228.2055.0039.TFM,2022-12-30 00:00:03,2022-12-30 01:49:26
UAL753.SFO.ATL.221228.1845.0145.TFM,2022-12-30 00:00:03,2022-12-30 01:40:12
RPA3394.JFK.ATL.221229.1235.0022.TFM,2022-12-30 00:00:03,2022-12-30 01:02:42
...,...,...
DAL270.GRU.ATL.230201.1255.0042.TFM,2023-02-02 20:59:54,2023-02-02 22:19:31
DAL31.LHR.ATL.230201.1230.0187.TFM,2023-02-02 20:59:57,2023-02-02 22:18:39
DAL26.ICN.ATL.230201.0930.0046.TFM,2023-02-02 20:59:58,2023-02-02 22:46:34
SKW3569.ASE.ATL.230201.2045.0080.TFM,2023-02-02 20:59:58,2023-02-02 23:48:22
DAL1756.SJO.ATL.230201.2030.0062.TFM,2023-02-02 20:59:58,2023-02-03 00:13:40

In [17]:
import pandas as pd

def has_repeated_index(df):
    """
    Checks if the DataFrame has repeated indices (i.e., multiple rows with the same index).
    
    Args:
        df (pd.DataFrame): The DataFrame to check.
        
    Returns:
        bool: True if there are repeated indices, False otherwise.
    """
    # Check if the index has duplicates
    duplicated_index = df.index.duplicated().any()
    
    return duplicated_index

# Example usage:
data = {
    'A': [4, 2, 3, 1],
    'B': [1, 2, 3, 4]
}

# Create a DataFrame with repeated index
df = pd.DataFrame(data, index=[0, 1, 2, 1])  # Index 1 is repeated

# Check if there are repeated indices
result = has_repeated_index(jfk_tm)

print(f"Are there repeated indices? {result}")

Are there repeated indices? True

## Features 

the model operates on some dataset D. We are given a timestamp t and and airport. We need to pull the expect number of incoming flights that are estimated to arive between t, and t + 4hrs. Why four hours? 

Then for each of those flights we will pull some static features : 

computed features: time delta

In [18]:
import pandas as pd

def is_sorted_by_column(df, column_name):
    """
    Check if the DataFrame is sorted by a specific column.

    Args:
        df (pd.DataFrame): The DataFrame to check.
        column_name (str): The column name to check for sorting.

    Returns:
        bool: True if the DataFrame is sorted by the specified column, otherwise False.
    """
    return df[column_name].is_monotonic_increasing or df[column_name].is_monotonic_decreasing

# Example usage
data = {
    'A': [1, 5, 2, 4],
    'B': [4, 3, 2, 1]
}

df = pd.DataFrame(data)

# Check if 'A' column is sorted
print(is_sorted_by_column(df, 'A'))  # Output: True (sorted in increasing order)

# Check if 'B' column is sorted
print(is_sorted_by_column(df, 'B'))  # Output: True (sorted in decreasing order)

False
True

In [19]:
print(is_sorted_by_column(jfk_tm, 'timestamp_arrival_runway_estimate'))  # Output: True (sorted in decreasing order)
# We have to sort the df

False

In [20]:
import pandas as pd

def sort_df_by_column(df, column_name, ascending=True):
    """
    Sort the DataFrame by a specific column.

    Args:
        df (pd.DataFrame): The DataFrame to sort.
        column_name (str): The column name to sort by.
        ascending (bool): Whether to sort in ascending order (default is True).

    Returns:
        pd.DataFrame: A new DataFrame sorted by the specified column.
    """
    return df.sort_values(by=column_name, ascending=ascending).reset_index(drop=False)

# Example usage
data = {
    'A': [4, 2, 3, 1],
    'B': [1, 2, 3, 4]
}

df = pd.DataFrame(data)

# Sort by column 'A' in ascending order
sorted_df = sort_df_by_column(df, 'A', ascending=False)
print(sorted_df)

# Sort by column 'B' in descending order
sorted_df_desc = sort_df_by_column(df, 'B', ascending=False)
print(sorted_df_desc)

   index  A  B
0      0  4  1
1      2  3  3
2      1  2  2
3      3  1  4
   index  A  B
0      3  1  4
1      2  3  3
2      1  2  2
3      0  4  1

In [21]:
jfk_sorted = sort_df_by_column(jfk_tm, "timestamp_arrival_runway_estimate")

In [22]:
jfk_sorted

,gufi,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
0,FFT24.PUJ.ATL.220923.2050.0111.TFM,2022-09-25 00:00:03,2022-09-25 00:18:26
1,DAL2112.ECP.ATL.220923.2330.0127.TFM,2022-09-25 00:00:03,2022-09-25 00:12:38
2,DAL1785.UVF.ATL.220923.1955.0065.TFM,2022-09-25 00:00:03,2022-09-25 00:11:40
3,DAL929.ORD.ATL.220923.2235.0038.TFM,2022-09-25 00:00:03,2022-09-25 00:11:42
4,DAL2744.HSV.ATL.220923.2345.0143.TFM,2022-09-25 00:00:03,2022-09-25 00:11:31
...,...,...,...
3954495,DAL395.LAX.ATL.230817.2045.0121.TFM,2023-08-18 20:59:59,2023-08-19 01:01:25
3954496,DAL406.BZN.ATL.230817.1935.0183.TFM,2023-08-18 21:00:00,2023-08-18 23:08:12
3954497,DAL581.AUA.ATL.230817.1945.0150.TFM,2023-08-18 21:00:00,2023-08-18 23:23:40
3954498,DAL323.ONT.ATL.230817.1945.0140.TFM,2023-08-18 21:00:00,2023-08-19 00:38:17
3954499,DAL810.SFO.ATL.230817.1905.0149.TFM,2023-08-18 21:00:00,2023-08-18 23:52:22

In [23]:
print(jfk_sorted.columns)
print("Data types of columns:\n", jfk_sorted.dtypes)

Index(['gufi', 'timestamp_arrival_runway_estimate',
       'arrival_runway_estimated_time'],
      dtype='object')
Data types of columns:
 gufi                                 object
timestamp_arrival_runway_estimate    object
arrival_runway_estimated_time        object
dtype: object

In [24]:
import pandas as pd

def preprocess_timestamps(df):
    """
    Preprocess the DataFrame to convert timestamp columns to datetime format.
    
    Args:
        df (pd.DataFrame): The DataFrame with timestamp columns.
        
    Returns:
        pd.DataFrame: The DataFrame with datetime columns.
    """
    # Convert timestamp columns to datetime format once
    df['timestamp_arrival_runway_estimate'] = pd.to_datetime(df['timestamp_arrival_runway_estimate'], errors='coerce')
    df['arrival_runway_estimated_time'] = pd.to_datetime(df['arrival_runway_estimated_time'], errors='coerce')
    return df

def filter_rows_by_timestamp(df, t):
    """
    Filters rows in the DataFrame based on the given timestamp 't'.
    
    Args:
        df (pd.DataFrame): The DataFrame to filter (preprocessed).
        t (pd.Timestamp): The timestamp value to compare against.
        
    Returns:
        pd.DataFrame: A DataFrame with rows matching the conditions.
    """
    # Condition 1: 'timestamp_arrival_runway_estimate' < t
    condition_1 = df['timestamp_arrival_runway_estimate'] < t
    
    # Condition 2: 'arrival_runway_estimated_time' > t and < t + 4 hours
    condition_2 = (df['arrival_runway_estimated_time'] > t) & (df['arrival_runway_estimated_time'] < (t + pd.Timedelta(hours=4)))
    
    # Combine the conditions
    filtered_df = df[condition_1 & condition_2]
    
    return filtered_df

# Example usage:
data = {
    'timestamp_arrival_runway_estimate': ['2022-11-18 00:00:00', '2022-11-18 01:00:00', '2022-11-18 02:00:00'],
    'arrival_runway_estimated_time': ['2022-11-18 03:00:00', '2022-11-18 04:00:00', '2022-11-18 06:00:00']
}

df = pd.DataFrame(data)

# Preprocess timestamps once
df = preprocess_timestamps(df)

# Set the timestamp `t`
t = pd.to_datetime('2022-11-18 01:30:00')

# Call the function to filter rows
filtered_df = filter_rows_by_timestamp(df, t)
print(filtered_df)

  timestamp_arrival_runway_estimate arrival_runway_estimated_time
0               2022-11-18 00:00:00           2022-11-18 03:00:00
1               2022-11-18 01:00:00           2022-11-18 04:00:00

In [25]:
jfk_sorted = preprocess_timestamps(jfk_sorted)

In [26]:
jfk_sorted

,gufi,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
0,FFT24.PUJ.ATL.220923.2050.0111.TFM,2022-09-25 00:00:03,2022-09-25 00:18:26
1,DAL2112.ECP.ATL.220923.2330.0127.TFM,2022-09-25 00:00:03,2022-09-25 00:12:38
2,DAL1785.UVF.ATL.220923.1955.0065.TFM,2022-09-25 00:00:03,2022-09-25 00:11:40
3,DAL929.ORD.ATL.220923.2235.0038.TFM,2022-09-25 00:00:03,2022-09-25 00:11:42
4,DAL2744.HSV.ATL.220923.2345.0143.TFM,2022-09-25 00:00:03,2022-09-25 00:11:31
...,...,...,...
3954495,DAL395.LAX.ATL.230817.2045.0121.TFM,2023-08-18 20:59:59,2023-08-19 01:01:25
3954496,DAL406.BZN.ATL.230817.1935.0183.TFM,2023-08-18 21:00:00,2023-08-18 23:08:12
3954497,DAL581.AUA.ATL.230817.1945.0150.TFM,2023-08-18 21:00:00,2023-08-18 23:23:40
3954498,DAL323.ONT.ATL.230817.1945.0140.TFM,2023-08-18 21:00:00,2023-08-19 00:38:17
3954499,DAL810.SFO.ATL.230817.1905.0149.TFM,2023-08-18 21:00:00,2023-08-18 23:52:22

In [27]:
def drop_rows_with_nat(df):
    """
    Drop rows with NaT (Not a Time) values and print how many rows were dropped.
    
    Args:
        df (pd.DataFrame): The DataFrame to process.
        
    Returns:
        pd.DataFrame: The DataFrame with rows containing NaT values removed.
    """
    # Count the number of rows with NaT values
    initial_row_count = len(df)
    
    # Drop rows with NaT values
    df_cleaned = df.dropna(subset=['timestamp_arrival_runway_estimate', 'arrival_runway_estimated_time'])
    
    # Calculate how many rows were dropped
    rows_dropped = initial_row_count - len(df_cleaned)
    
    # Print the number of rows dropped
    print(f"Rows dropped: {rows_dropped}")
    
    return df_cleaned

In [28]:
jfk_sorted = drop_rows_with_nat(jfk_sorted)

Rows dropped: 0

In [29]:

file_path = f'tempdata/{BASE}_{ACODE}_sorted.parquet'

jfk_sorted.to_parquet(file_path, engine='pyarrow', index=False)

print(f"DataFrame successfully saved to {file_path}.")

DataFrame successfully saved to tempdata/test_KATL_sorted.parquet.

In [30]:
jfk_sorted.head()

,gufi,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
0,FFT24.PUJ.ATL.220923.2050.0111.TFM,2022-09-25 00:00:03,2022-09-25 00:18:26
1,DAL2112.ECP.ATL.220923.2330.0127.TFM,2022-09-25 00:00:03,2022-09-25 00:12:38
2,DAL1785.UVF.ATL.220923.1955.0065.TFM,2022-09-25 00:00:03,2022-09-25 00:11:40
3,DAL929.ORD.ATL.220923.2235.0038.TFM,2022-09-25 00:00:03,2022-09-25 00:11:42
4,DAL2744.HSV.ATL.220923.2345.0143.TFM,2022-09-25 00:00:03,2022-09-25 00:11:31

# A safe checkpoint

In [38]:
# import pandas as pdACODE

# # Specify the file path where the DataFrame was saved
# file_path = f'tempdata/{BASE}_{ACODE}_sorted.parquet'
# print("Reading from " , file_path)
# # Read the Parquet file back into a DataFrame
# jfk_sorted = pd.read_parquet(file_path, engine='pyarrow')

Reading from  tempdata/test_KJFK_sorted.parquet

In [31]:
jfk_sorted.dtypes

gufi                                         object
timestamp_arrival_runway_estimate    datetime64[ns]
arrival_runway_estimated_time        datetime64[ns]
dtype: object

In [32]:
import pandas as pd

def filter_rows_by_timestamp(df, t, time_window=4):
    """
    Filter rows where the timestamp is within a specified range from t.
    
    Args:
        df (pd.DataFrame): DataFrame to filter.
        t (str): The timestamp to compare against (in 'YYYY-MM-DD HH:MM:SS' format).
        time_window (int): The time range in hours for filtering (default is 4 hours).
        
    Returns:
        pd.DataFrame: DataFrame with rows filtered based on the timestamp range.
    """
    # Ensure 't' is a datetime object
    t = pd.to_datetime(t)
    
    # Filter the DataFrame based on the specified time window
    filtered_df = df[(df['timestamp_arrival_runway_estimate'] < t) & 
                     (df['arrival_runway_estimated_time'] > t) & 
                     (df['arrival_runway_estimated_time'] < t + pd.Timedelta(hours=time_window))]
    
    return filtered_df

def select_latest_entry_for_each_gufi(filtered_df):
    """
    Select the latest entry for each gufi based on timestamp_arrival_runway_estimate.
    
    Args:
        filtered_df (pd.DataFrame): DataFrame containing the filtered rows.
        
    Returns:
        pd.DataFrame: DataFrame with one entry for each gufi, having the latest timestamp.
    """
    # Group by 'gufi' and get the row with the latest 'timestamp_arrival_runway_estimate'
    latest_entries = filtered_df.loc[filtered_df.groupby('gufi')['timestamp_arrival_runway_estimate'].idxmax()]
    
    return latest_entries

# Example usage:

# Sample data (replace with your actual DataFrame)
data = {
    'gufi': ['RPA5716.BOS.JFK.220830.2250.0064.TFM', 'RPA5716.BOS.JFK.220830.2250.0064.TFM', 'RPA5717.BOS.JFK.220830.2250.0065.TFM'],
    'timestamp_arrival_runway_estimate': ['2022-09-01 00:00:00', '2022-09-01 00:02:18', '2022-09-01 00:05:00'],
    'arrival_runway_estimated_time': ['2022-09-01 00:02:18', '2022-09-01 00:04:00', '2022-09-01 00:06:00'],
}
df = pd.DataFrame(data)
display(df)
# Convert timestamps to datetime (this is necessary if the data was originally in string format)
df['timestamp_arrival_runway_estimate'] = pd.to_datetime(df['timestamp_arrival_runway_estimate'])
df['arrival_runway_estimated_time'] = pd.to_datetime(df['arrival_runway_estimated_time'])

# Timestamp t
t = '2022-09-01 00:00:01'

# Filter rows within the timestamp range
filtered_df = filter_rows_by_timestamp(df, t)

# Select the latest entry for each gufi
latest_entries = select_latest_entry_for_each_gufi(filtered_df)

display(latest_entries)

,gufi,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
0,RPA5716.BOS.JFK.220830.2250.0064.TFM,2022-09-01 00:00:00,2022-09-01 00:02:18
1,RPA5716.BOS.JFK.220830.2250.0064.TFM,2022-09-01 00:02:18,2022-09-01 00:04:00
2,RPA5717.BOS.JFK.220830.2250.0065.TFM,2022-09-01 00:05:00,2022-09-01 00:06:00

,gufi,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
0,RPA5716.BOS.JFK.220830.2250.0064.TFM,2022-09-01,2022-09-01 00:02:18

In [33]:
jfk_sorted

,gufi,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
0,FFT24.PUJ.ATL.220923.2050.0111.TFM,2022-09-25 00:00:03,2022-09-25 00:18:26
1,DAL2112.ECP.ATL.220923.2330.0127.TFM,2022-09-25 00:00:03,2022-09-25 00:12:38
2,DAL1785.UVF.ATL.220923.1955.0065.TFM,2022-09-25 00:00:03,2022-09-25 00:11:40
3,DAL929.ORD.ATL.220923.2235.0038.TFM,2022-09-25 00:00:03,2022-09-25 00:11:42
4,DAL2744.HSV.ATL.220923.2345.0143.TFM,2022-09-25 00:00:03,2022-09-25 00:11:31
...,...,...,...
3954495,DAL395.LAX.ATL.230817.2045.0121.TFM,2023-08-18 20:59:59,2023-08-19 01:01:25
3954496,DAL406.BZN.ATL.230817.1935.0183.TFM,2023-08-18 21:00:00,2023-08-18 23:08:12
3954497,DAL581.AUA.ATL.230817.1945.0150.TFM,2023-08-18 21:00:00,2023-08-18 23:23:40
3954498,DAL323.ONT.ATL.230817.1945.0140.TFM,2023-08-18 21:00:00,2023-08-19 00:38:17
3954499,DAL810.SFO.ATL.230817.1905.0149.TFM,2023-08-18 21:00:00,2023-08-18 23:52:22

In [34]:
print(jfk_sorted['timestamp_arrival_runway_estimate'].min(), jfk_sorted['timestamp_arrival_runway_estimate'].max())

2022-09-25 00:00:03 2023-08-18 21:00:00

In [35]:
# Timestamp t
t = '2022-09-25 00:00:05'

# Filter rows within the timestamp range
filtered_df = filter_rows_by_timestamp(jfk_sorted, t)

# Select the latest entry for each gufi
latest_entries = select_latest_entry_for_each_gufi(filtered_df)

display(latest_entries)

,gufi,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
11,DAL1507.BUF.ATL.220923.2300.0160.TFM,2022-09-25 00:00:04,2022-09-25 01:03:49
2,DAL1785.UVF.ATL.220923.1955.0065.TFM,2022-09-25 00:00:03,2022-09-25 00:11:40
9,DAL1809.STX.ATL.220923.1840.0137.TFM,2022-09-25 00:00:04,2022-09-25 01:41:33
1,DAL2112.ECP.ATL.220923.2330.0127.TFM,2022-09-25 00:00:03,2022-09-25 00:12:38
8,DAL2499.PNS.ATL.220923.2255.0031.TFM,2022-09-25 00:00:03,2022-09-25 00:10:58
4,DAL2744.HSV.ATL.220923.2345.0143.TFM,2022-09-25 00:00:03,2022-09-25 00:11:31
6,DAL595.CUN.ATL.220923.2135.0080.TFM,2022-09-25 00:00:03,2022-09-25 00:13:23
10,DAL801.YUL.ATL.220923.2250.0077.TFM,2022-09-25 00:00:04,2022-09-25 01:14:39
3,DAL929.ORD.ATL.220923.2235.0038.TFM,2022-09-25 00:00:03,2022-09-25 00:11:42
7,DAL994.HOU.ATL.220923.2225.0061.TFM,2022-09-25 00:00:03,2022-09-25 00:02:03
0,FFT24.PUJ.ATL.220923.2050.0111.TFM,2022-09-25 00:00:03,2022-09-25 00:18:26
5,SWA671.DCA.ATL.220923.2245.0115.TFM,2022-09-25 00:00:03,2022-09-25 00:16:23

In [36]:
def process_and_select_latest(df, t):
    """
    Filters rows within the timestamp range and selects the latest entry for each gufi.

    Args:
        df (pd.DataFrame): The input DataFrame.
        t (str): The reference timestamp as a string.

    Returns:
        pd.DataFrame: A DataFrame with the latest entry for each gufi.
    """
    # Filter rows within the timestamp range
    filtered_df = filter_rows_by_timestamp(df, t)

    # Select the latest entry for each gufi
    latest_entries = select_latest_entry_for_each_gufi(filtered_df)

    return latest_entries

# Example usage
t = '2022-09-25 00:00:05'
latest_entries = process_and_select_latest(jfk_sorted, t)

# Display the result
display(latest_entries)

,gufi,timestamp_arrival_runway_estimate,arrival_runway_estimated_time
11,DAL1507.BUF.ATL.220923.2300.0160.TFM,2022-09-25 00:00:04,2022-09-25 01:03:49
2,DAL1785.UVF.ATL.220923.1955.0065.TFM,2022-09-25 00:00:03,2022-09-25 00:11:40
9,DAL1809.STX.ATL.220923.1840.0137.TFM,2022-09-25 00:00:04,2022-09-25 01:41:33
1,DAL2112.ECP.ATL.220923.2330.0127.TFM,2022-09-25 00:00:03,2022-09-25 00:12:38
8,DAL2499.PNS.ATL.220923.2255.0031.TFM,2022-09-25 00:00:03,2022-09-25 00:10:58
4,DAL2744.HSV.ATL.220923.2345.0143.TFM,2022-09-25 00:00:03,2022-09-25 00:11:31
6,DAL595.CUN.ATL.220923.2135.0080.TFM,2022-09-25 00:00:03,2022-09-25 00:13:23
10,DAL801.YUL.ATL.220923.2250.0077.TFM,2022-09-25 00:00:04,2022-09-25 01:14:39
3,DAL929.ORD.ATL.220923.2235.0038.TFM,2022-09-25 00:00:03,2022-09-25 00:11:42
7,DAL994.HOU.ATL.220923.2225.0061.TFM,2022-09-25 00:00:03,2022-09-25 00:02:03
0,FFT24.PUJ.ATL.220923.2050.0111.TFM,2022-09-25 00:00:03,2022-09-25 00:18:26
5,SWA671.DCA.ATL.220923.2245.0115.TFM,2022-09-25 00:00:03,2022-09-25 00:16:23

In [37]:
jfk_sorted.dtypes

gufi                                         object
timestamp_arrival_runway_estimate    datetime64[ns]
arrival_runway_estimated_time        datetime64[ns]
dtype: object

In [38]:
import pandas as pd

final_sub_path = '/projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata/finalSub.csv'


# Load the DataFrame from the saved CSV file
sub_df = pd.read_csv(final_sub_path)
# Filter the DataFrame to keep only rows where 'airport_code' is 'KJFK'
sub_df = sub_df[sub_df['airport_code'] == ACODE]

sub_df['datetime'] = pd.to_datetime(sub_df['datetime'])
# Display the loaded DataFrame
print("Loaded DataFrame:")
display(sub_df.columns)
display(sub_df)

Loaded DataFrame:

Index(['ID', 'Value', 'airport_code', 'datetime', 'minutes_past', 'bin'], dtype='object')

,ID,Value,airport_code,datetime,minutes_past,bin
43344,KATL_220925_0100_15,99,KATL,2022-09-25 01:00:00,15,1
43345,KATL_220925_0100_30,99,KATL,2022-09-25 01:00:00,30,2
43346,KATL_220925_0100_45,99,KATL,2022-09-25 01:00:00,45,3
43347,KATL_220925_0100_60,99,KATL,2022-09-25 01:00:00,60,4
43348,KATL_220925_0100_75,99,KATL,2022-09-25 01:00:00,75,5
...,...,...,...,...,...,...
49531,KATL_230818_2100_120,99,KATL,2023-08-18 21:00:00,120,8
49532,KATL_230818_2100_135,99,KATL,2023-08-18 21:00:00,135,9
49533,KATL_230818_2100_150,99,KATL,2023-08-18 21:00:00,150,10
49534,KATL_230818_2100_165,99,KATL,2023-08-18 21:00:00,165,11
49535,KATL_230818_2100_180,99,KATL,2023-08-18 21:00:00,180,12

In [39]:
def get_unique_times(df):
    """
    Get all unique datetime values from the 'datetime' column of the DataFrame.

    Args:
        df (pd.DataFrame): The input DataFrame containing a 'datetime' column.

    Returns:
        List of unique timestamps.
    """
    # Extract the 'datetime' column and drop duplicates to get unique values
    unique_times = df['datetime'].drop_duplicates().to_list()
    
    return unique_times

# Example usage:
# Assuming sub_df is your DataFrame
unique_times = get_unique_times(sub_df)

# Display the result
print("Unique Times:")
display(unique_times)

Unique Times:

[Timestamp('2022-09-25 01:00:00'),
 Timestamp('2022-09-25 05:00:00'),
 Timestamp('2022-09-25 09:00:00'),
 Timestamp('2022-09-25 13:00:00'),
 Timestamp('2022-09-25 17:00:00'),
 Timestamp('2022-09-25 21:00:00'),
 Timestamp('2022-09-26 01:00:00'),
 Timestamp('2022-09-26 05:00:00'),
 Timestamp('2022-09-26 09:00:00'),
 Timestamp('2022-09-26 13:00:00'),
 Timestamp('2022-09-26 17:00:00'),
 Timestamp('2022-09-26 21:00:00'),
 Timestamp('2022-09-27 01:00:00'),
 Timestamp('2022-09-27 05:00:00'),
 Timestamp('2022-09-27 09:00:00'),
 Timestamp('2022-09-27 13:00:00'),
 Timestamp('2022-09-27 17:00:00'),
 Timestamp('2022-09-27 21:00:00'),
 Timestamp('2022-09-28 01:00:00'),
 Timestamp('2022-09-28 05:00:00'),
 Timestamp('2022-09-28 09:00:00'),
 Timestamp('2022-09-28 13:00:00'),
 Timestamp('2022-09-28 17:00:00'),
 Timestamp('2022-09-28 21:00:00'),
 Timestamp('2022-09-29 01:00:00'),
 Timestamp('2022-09-29 05:00:00'),
 Timestamp('2022-09-29 09:00:00'),
 Timestamp('2022-09-29 13:00:00'),
 Timestamp('2022-09-29 17:00:00'),
 Timestamp('2022-09-29 21:00:00'),
 Timestamp('2022-09-30 01:00:00'),
 Timestamp('2022-09-30 05:00:00'),
 Timestamp('2022-09-30 09:00:00'),
 Timestamp('2022-09-30 13:00:00'),
 Timestamp('2022-09-30 17:00:00'),
 Timestamp('2022-09-30 21:00:00'),
 Timestamp('2022-10-01 01:00:00'),
 Timestamp('2022-10-01 05:00:00'),
 Timestamp('2022-10-01 09:00:00'),
 Timestamp('2022-10-01 13:00:00'),
 Timestamp('2022-10-01 17:00:00'),
 Timestamp('2022-10-01 21:00:00'),
 Timestamp('2022-10-02 01:00:00'),
 Timestamp('2022-10-02 05:00:00'),
 Timestamp('2022-10-02 09:00:00'),
 Timestamp('2022-10-02 13:00:00'),
 Timestamp('2022-10-02 17:00:00'),
 Timestamp('2022-10-02 21:00:00'),
 Timestamp('2022-10-27 01:00:00'),
 Timestamp('2022-10-27 05:00:00'),
 Timestamp('2022-10-27 09:00:00'),
 Timestamp('2022-10-27 13:00:00'),
 Timestamp('2022-10-27 17:00:00'),
 Timestamp('2022-10-27 21:00:00'),
 Timestamp('2022-10-30 01:00:00'),
 Timestamp('2022-10-30 05:00:00'),
 Timestamp('2022-10-30 09:00:00'),
 Timestamp('2022-10-30 13:00:00'),
 Timestamp('2022-10-30 17:00:00'),
 Timestamp('2022-10-30 21:00:00'),
 Timestamp('2022-10-31 01:00:00'),
 Timestamp('2022-10-31 05:00:00'),
 Timestamp('2022-10-31 09:00:00'),
 Timestamp('2022-10-31 13:00:00'),
 Timestamp('2022-10-31 17:00:00'),
 Timestamp('2022-10-31 21:00:00'),
 Timestamp('2022-11-01 01:00:00'),
 Timestamp('2022-11-01 05:00:00'),
 Timestamp('2022-11-01 09:00:00'),
 Timestamp('2022-11-01 13:00:00'),
 Timestamp('2022-11-01 17:00:00'),
 Timestamp('2022-11-01 21:00:00'),
 Timestamp('2022-11-02 01:00:00'),
 Timestamp('2022-11-02 05:00:00'),
 Timestamp('2022-11-02 09:00:00'),
 Timestamp('2022-11-02 13:00:00'),
 Timestamp('2022-11-02 17:00:00'),
 Timestamp('2022-11-02 21:00:00'),
 Timestamp('2022-11-03 01:00:00'),
 Timestamp('2022-11-03 05:00:00'),
 Timestamp('2022-11-03 09:00:00'),
 Timestamp('2022-11-03 13:00:00'),
 Timestamp('2022-11-03 17:00:00'),
 Timestamp('2022-11-03 21:00:00'),
 Timestamp('2022-11-28 01:00:00'),
 Timestamp('2022-11-28 05:00:00'),
 Timestamp('2022-11-28 09:00:00'),
 Timestamp('2022-11-28 13:00:00'),
 Timestamp('2022-11-28 17:00:00'),
 Timestamp('2022-11-28 21:00:00'),
 Timestamp('2022-11-29 01:00:00'),
 Timestamp('2022-11-29 05:00:00'),
 Timestamp('2022-11-29 09:00:00'),
 Timestamp('2022-11-29 13:00:00'),
 Timestamp('2022-11-29 17:00:00'),
 Timestamp('2022-11-29 21:00:00'),
 Timestamp('2022-11-30 01:00:00'),
 Timestamp('2022-11-30 05:00:00'),
 Timestamp('2022-11-30 09:00:00'),
 Timestamp('2022-11-30 13:00:00'),
 Timestamp('2022-11-30 17:00:00'),
 Timestamp('2022-11-30 21:00:00'),
 Timestamp('2022-12-01 01:00:00'),
 Timestamp('2022-12-01 05:00:00'),
 Timestamp('2022-12-01 09:00:00'),
 Timestamp('2022-12-01 13:00:00'),
 Timestamp('2022-12-01 17:00:00'),
 Timestamp('2022-12-01 21:00:00'),
 Timestamp('2022-12-02 01:00:00'),
 Timestamp('2022-12-02 05:00:00'),
 Timestamp('2022-12-02 09:00:00'),
 Timestamp('2022-12-02 13:00:00'),
 Timestamp('2022-12-02 17:00:00'),
 Timestamp('2022-12-02 21:00:00'),
 Timestamp('2022-12-03 01:00:00'),
 Timestamp('2022-12-03 05:00:00'),
 Timestamp('2022-12-03 09:00:00'),
 Timestamp('2022-12-03 13:00:00'),
 Timestamp('2022-12-03 17:00:00'),
 Timestamp('2022-12-03 21:00:00'),
 Timestamp('2022-12-04 01:00:00'),
 Timestamp('2022-12-04 05:00:00'),
 Timestamp('2022-12-04 09:00:00'),
 Timestamp('2022-12-04 13:00:00'),
 Timestamp('2022-12-04 17:00:00'),
 Timestamp('2022-12-04 21:00:00'),
 Timestamp('2022-12-05 01:00:00'),
 Timestamp('2022-12-05 05:00:00'),
 Timestamp('2022-12-05 09:00:00'),
 Timestamp('2022-12-05 13:00:00'),
 Timestamp('2022-12-05 17:00:00'),
 Timestamp('2022-12-05 21:00:00'),
 Timestamp('2022-12-30 01:00:00'),
 Timestamp('2022-12-30 05:00:00'),
 Timestamp('2022-12-30 09:00:00'),
 Timestamp('2022-12-30 13:00:00'),
 Timestamp('2022-12-30 17:00:00'),
 Timestamp('2022-12-30 21:00:00'),
 Timestamp('2022-12-31 01:00:00'),
 Timestamp('2022-12-31 05:00:00'),
 Timestamp('2022-12-31 09:00:00'),
 Timestamp('2022-12-31 13:00:00'),
 Timestamp('2022-12-31 17:00:00'),
 Timestamp('2022-12-31 21:00:00'),
 Timestamp('2023-01-01 01:00:00'),
 Timestamp('2023-01-01 05:00:00'),
 Timestamp('2023-01-01 09:00:00'),
 Timestamp('2023-01-01 13:00:00'),
 Timestamp('2023-01-01 17:00:00'),
 Timestamp('2023-01-01 21:00:00'),
 Timestamp('2023-01-02 01:00:00'),
 Timestamp('2023-01-02 05:00:00'),
 Timestamp('2023-01-02 09:00:00'),
 Timestamp('2023-01-02 13:00:00'),
 Timestamp('2023-01-02 17:00:00'),
 Timestamp('2023-01-02 21:00:00'),
 Timestamp('2023-01-03 01:00:00'),
 Timestamp('2023-01-03 05:00:00'),
 Timestamp('2023-01-03 09:00:00'),
 Timestamp('2023-01-03 13:00:00'),
 Timestamp('2023-01-03 17:00:00'),
 Timestamp('2023-01-03 21:00:00'),
 Timestamp('2023-01-04 01:00:00'),
 Timestamp('2023-01-04 05:00:00'),
 Timestamp('2023-01-04 09:00:00'),
 Timestamp('2023-01-04 13:00:00'),
 Timestamp('2023-01-04 17:00:00'),
 Timestamp('2023-01-04 21:00:00'),
 Timestamp('2023-01-05 01:00:00'),
 Timestamp('2023-01-05 05:00:00'),
 Timestamp('2023-01-05 09:00:00'),
 Timestamp('2023-01-05 13:00:00'),
 Timestamp('2023-01-05 17:00:00'),
 Timestamp('2023-01-05 21:00:00'),
 Timestamp('2023-01-06 01:00:00'),
 Timestamp('2023-01-06 05:00:00'),
 Timestamp('2023-01-06 09:00:00'),
 Timestamp('2023-01-06 13:00:00'),
 Timestamp('2023-01-06 17:00:00'),
 Timestamp('2023-01-06 21:00:00'),
 Timestamp('2023-01-31 01:00:00'),
 Timestamp('2023-01-31 05:00:00'),
 Timestamp('2023-01-31 09:00:00'),
 Timestamp('2023-01-31 13:00:00'),
 Timestamp('2023-01-31 17:00:00'),
 Timestamp('2023-01-31 21:00:00'),
 Timestamp('2023-02-01 01:00:00'),
 Timestamp('2023-02-01 05:00:00'),
 Timestamp('2023-02-01 09:00:00'),
 Timestamp('2023-02-01 13:00:00'),
 Timestamp('2023-02-01 17:00:00'),
 Timestamp('2023-02-01 21:00:00'),
 Timestamp('2023-02-02 01:00:00'),
 Timestamp('2023-02-02 05:00:00'),
 Timestamp('2023-02-02 09:00:00'),
 Timestamp('2023-02-02 13:00:00'),
 Timestamp('2023-02-02 17:00:00'),
 Timestamp('2023-02-02 21:00:00'),
 Timestamp('2023-02-03 01:00:00'),
 Timestamp('2023-02-03 05:00:00'),
 Timestamp('2023-02-03 09:00:00'),
 Timestamp('2023-02-03 13:00:00'),
 Timestamp('2023-02-03 17:00:00'),
 Timestamp('2023-02-03 21:00:00'),
 Timestamp('2023-02-04 01:00:00'),
 Timestamp('2023-02-04 05:00:00'),
 Timestamp('2023-02-04 09:00:00'),
 Timestamp('2023-02-04 13:00:00'),
 Timestamp('2023-02-04 17:00:00'),
 Timestamp('2023-02-04 21:00:00'),
 Timestamp('2023-02-05 01:00:00'),
 Timestamp('2023-02-05 05:00:00'),
 Timestamp('2023-02-05 09:00:00'),
 Timestamp('2023-02-05 13:00:00'),
 Timestamp('2023-02-05 17:00:00'),
 Timestamp('2023-02-05 21:00:00'),
 Timestamp('2023-02-06 01:00:00'),
 Timestamp('2023-02-06 05:00:00'),
 Timestamp('2023-02-06 09:00:00'),
 Timestamp('2023-02-06 13:00:00'),
 Timestamp('2023-02-06 17:00:00'),
 Timestamp('2023-02-06 21:00:00'),
 Timestamp('2023-02-07 01:00:00'),
 Timestamp('2023-02-07 05:00:00'),
 Timestamp('2023-02-07 09:00:00'),
 Timestamp('2023-02-07 13:00:00'),
 Timestamp('2023-02-07 17:00:00'),
 Timestamp('2023-02-07 21:00:00'),
 Timestamp('2023-03-04 01:00:00'),
 Timestamp('2023-03-04 05:00:00'),
 Timestamp('2023-03-04 09:00:00'),
 Timestamp('2023-03-04 13:00:00'),
 Timestamp('2023-03-04 17:00:00'),
 Timestamp('2023-03-04 21:00:00'),
 Timestamp('2023-03-05 01:00:00'),
 Timestamp('2023-03-05 05:00:00'),
 Timestamp('2023-03-05 09:00:00'),
 Timestamp('2023-03-05 13:00:00'),
 Timestamp('2023-03-05 17:00:00'),
 Timestamp('2023-03-05 21:00:00'),
 Timestamp('2023-03-06 01:00:00'),
 Timestamp('2023-03-06 05:00:00'),
 Timestamp('2023-03-06 09:00:00'),
 Timestamp('2023-03-06 13:00:00'),
 Timestamp('2023-03-06 17:00:00'),
 Timestamp('2023-03-06 21:00:00'),
 Timestamp('2023-03-07 01:00:00'),
 Timestamp('2023-03-07 05:00:00'),
 Timestamp('2023-03-07 09:00:00'),
 Timestamp('2023-03-07 13:00:00'),
 Timestamp('2023-03-07 17:00:00'),
 Timestamp('2023-03-07 21:00:00'),
 Timestamp('2023-03-08 01:00:00'),
 Timestamp('2023-03-08 05:00:00'),
 Timestamp('2023-03-08 09:00:00'),
 Timestamp('2023-03-08 13:00:00'),
 Timestamp('2023-03-08 17:00:00'),
 Timestamp('2023-03-08 21:00:00'),
 Timestamp('2023-03-09 01:00:00'),
 Timestamp('2023-03-09 05:00:00'),
 Timestamp('2023-03-09 09:00:00'),
 Timestamp('2023-03-09 13:00:00'),
 Timestamp('2023-03-09 17:00:00'),
 Timestamp('2023-03-09 21:00:00'),
 Timestamp('2023-03-10 01:00:00'),
 Timestamp('2023-03-10 05:00:00'),
 Timestamp('2023-03-10 09:00:00'),
 Timestamp('2023-03-10 13:00:00'),
 Timestamp('2023-03-10 17:00:00'),
 Timestamp('2023-03-10 21:00:00'),
 Timestamp('2023-03-11 01:00:00'),
 Timestamp('2023-03-11 05:00:00'),
 Timestamp('2023-03-11 09:00:00'),
 Timestamp('2023-03-11 13:00:00'),
 Timestamp('2023-03-11 17:00:00'),
 Timestamp('2023-03-11 21:00:00'),
 Timestamp('2023-04-05 01:00:00'),
 Timestamp('2023-04-05 05:00:00'),
 Timestamp('2023-04-05 09:00:00'),
 Timestamp('2023-04-05 13:00:00'),
 Timestamp('2023-04-05 17:00:00'),
 Timestamp('2023-04-05 21:00:00'),
 Timestamp('2023-04-06 01:00:00'),
 Timestamp('2023-04-06 05:00:00'),
 Timestamp('2023-04-06 09:00:00'),
 Timestamp('2023-04-06 13:00:00'),
 Timestamp('2023-04-06 17:00:00'),
 Timestamp('2023-04-06 21:00:00'),
 Timestamp('2023-04-07 01:00:00'),
 Timestamp('2023-04-07 05:00:00'),
 Timestamp('2023-04-07 09:00:00'),
 Timestamp('2023-04-07 13:00:00'),
 Timestamp('2023-04-07 17:00:00'),
 Timestamp('2023-04-07 21:00:00'),
 Timestamp('2023-04-08 01:00:00'),
 Timestamp('2023-04-08 05:00:00'),
 Timestamp('2023-04-08 09:00:00'),
 Timestamp('2023-04-08 13:00:00'),
 Timestamp('2023-04-08 17:00:00'),
 Timestamp('2023-04-08 21:00:00'),
 Timestamp('2023-04-09 01:00:00'),
 Timestamp('2023-04-09 05:00:00'),
 Timestamp('2023-04-09 09:00:00'),
 Timestamp('2023-04-09 13:00:00'),
 Timestamp('2023-04-09 17:00:00'),
 Timestamp('2023-04-09 21:00:00'),
 Timestamp('2023-04-10 01:00:00'),
 Timestamp('2023-04-10 05:00:00'),
 Timestamp('2023-04-10 09:00:00'),
 Timestamp('2023-04-10 13:00:00'),
 Timestamp('2023-04-10 17:00:00'),
 Timestamp('2023-04-10 21:00:00'),
 Timestamp('2023-04-11 01:00:00'),
 Timestamp('2023-04-11 05:00:00'),
 Timestamp('2023-04-11 09:00:00'),
 Timestamp('2023-04-11 13:00:00'),
 Timestamp('2023-04-11 17:00:00'),
 Timestamp('2023-04-11 21:00:00'),
 Timestamp('2023-04-12 01:00:00'),
 Timestamp('2023-04-12 05:00:00'),
 Timestamp('2023-04-12 09:00:00'),
 Timestamp('2023-04-12 13:00:00'),
 Timestamp('2023-04-12 17:00:00'),
 Timestamp('2023-04-12 21:00:00'),
 Timestamp('2023-05-07 01:00:00'),
 Timestamp('2023-05-07 05:00:00'),
 Timestamp('2023-05-07 09:00:00'),
 Timestamp('2023-05-07 13:00:00'),
 Timestamp('2023-05-07 17:00:00'),
 Timestamp('2023-05-07 21:00:00'),
 Timestamp('2023-05-08 01:00:00'),
 Timestamp('2023-05-08 05:00:00'),
 Timestamp('2023-05-08 09:00:00'),
 Timestamp('2023-05-08 13:00:00'),
 Timestamp('2023-05-08 17:00:00'),
 Timestamp('2023-05-08 21:00:00'),
 Timestamp('2023-05-09 01:00:00'),
 Timestamp('2023-05-09 05:00:00'),
 Timestamp('2023-05-09 09:00:00'),
 Timestamp('2023-05-09 13:00:00'),
 Timestamp('2023-05-09 17:00:00'),
 Timestamp('2023-05-09 21:00:00'),
 Timestamp('2023-05-10 01:00:00'),
 Timestamp('2023-05-10 05:00:00'),
 Timestamp('2023-05-10 09:00:00'),
 Timestamp('2023-05-10 13:00:00'),
 Timestamp('2023-05-10 17:00:00'),
 Timestamp('2023-05-10 21:00:00'),
 Timestamp('2023-05-11 01:00:00'),
 Timestamp('2023-05-11 05:00:00'),
 Timestamp('2023-05-11 09:00:00'),
 Timestamp('2023-05-11 13:00:00'),
 Timestamp('2023-05-11 17:00:00'),
 Timestamp('2023-05-11 21:00:00'),
 Timestamp('2023-05-12 01:00:00'),
 Timestamp('2023-05-12 05:00:00'),
 Timestamp('2023-05-12 09:00:00'),
 Timestamp('2023-05-12 13:00:00'),
 Timestamp('2023-05-12 17:00:00'),
 Timestamp('2023-05-12 21:00:00'),
 Timestamp('2023-05-13 01:00:00'),
 Timestamp('2023-05-13 05:00:00'),
 Timestamp('2023-05-13 09:00:00'),
 Timestamp('2023-05-13 13:00:00'),
 Timestamp('2023-05-13 17:00:00'),
 Timestamp('2023-05-13 21:00:00'),
 Timestamp('2023-05-14 01:00:00'),
 Timestamp('2023-05-14 05:00:00'),
 Timestamp('2023-05-14 09:00:00'),
 Timestamp('2023-05-14 13:00:00'),
 Timestamp('2023-05-14 17:00:00'),
 Timestamp('2023-05-14 21:00:00'),
 Timestamp('2023-06-08 01:00:00'),
 Timestamp('2023-06-08 05:00:00'),
 Timestamp('2023-06-08 09:00:00'),
 Timestamp('2023-06-08 13:00:00'),
 Timestamp('2023-06-08 17:00:00'),
 Timestamp('2023-06-08 21:00:00'),
 Timestamp('2023-06-09 01:00:00'),
 Timestamp('2023-06-09 05:00:00'),
 Timestamp('2023-06-09 09:00:00'),
 Timestamp('2023-06-09 13:00:00'),
 Timestamp('2023-06-09 17:00:00'),
 Timestamp('2023-06-09 21:00:00'),
 Timestamp('2023-06-10 01:00:00'),
 Timestamp('2023-06-10 05:00:00'),
 Timestamp('2023-06-10 09:00:00'),
 Timestamp('2023-06-10 13:00:00'),
 Timestamp('2023-06-10 17:00:00'),
 Timestamp('2023-06-10 21:00:00'),
 Timestamp('2023-06-11 01:00:00'),
 Timestamp('2023-06-11 05:00:00'),
 Timestamp('2023-06-11 09:00:00'),
 Timestamp('2023-06-11 13:00:00'),
 Timestamp('2023-06-11 17:00:00'),
 Timestamp('2023-06-11 21:00:00'),
 Timestamp('2023-06-12 01:00:00'),
 Timestamp('2023-06-12 05:00:00'),
 Timestamp('2023-06-12 09:00:00'),
 Timestamp('2023-06-12 13:00:00'),
 Timestamp('2023-06-12 17:00:00'),
 Timestamp('2023-06-12 21:00:00'),
 Timestamp('2023-06-13 01:00:00'),
 Timestamp('2023-06-13 05:00:00'),
 Timestamp('2023-06-13 09:00:00'),
 Timestamp('2023-06-13 13:00:00'),
 Timestamp('2023-06-13 17:00:00'),
 Timestamp('2023-06-13 21:00:00'),
 Timestamp('2023-06-14 01:00:00'),
 Timestamp('2023-06-14 05:00:00'),
 Timestamp('2023-06-14 09:00:00'),
 Timestamp('2023-06-14 13:00:00'),
 Timestamp('2023-06-14 17:00:00'),
 Timestamp('2023-06-14 21:00:00'),
 Timestamp('2023-06-15 01:00:00'),
 Timestamp('2023-06-15 05:00:00'),
 Timestamp('2023-06-15 09:00:00'),
 Timestamp('2023-06-15 13:00:00'),
 Timestamp('2023-06-15 17:00:00'),
 Timestamp('2023-06-15 21:00:00'),
 Timestamp('2023-07-10 01:00:00'),
 Timestamp('2023-07-10 05:00:00'),
 Timestamp('2023-07-10 09:00:00'),
 Timestamp('2023-07-10 13:00:00'),
 Timestamp('2023-07-10 17:00:00'),
 Timestamp('2023-07-10 21:00:00'),
 Timestamp('2023-07-11 01:00:00'),
 Timestamp('2023-07-11 05:00:00'),
 Timestamp('2023-07-11 09:00:00'),
 Timestamp('2023-07-11 13:00:00'),
 Timestamp('2023-07-11 17:00:00'),
 Timestamp('2023-07-11 21:00:00'),
 Timestamp('2023-07-12 01:00:00'),
 Timestamp('2023-07-12 05:00:00'),
 Timestamp('2023-07-12 09:00:00'),
 Timestamp('2023-07-12 13:00:00'),
 Timestamp('2023-07-12 17:00:00'),
 Timestamp('2023-07-12 21:00:00'),
 Timestamp('2023-07-13 01:00:00'),
 Timestamp('2023-07-13 05:00:00'),
 Timestamp('2023-07-13 09:00:00'),
 Timestamp('2023-07-13 13:00:00'),
 Timestamp('2023-07-13 17:00:00'),
 Timestamp('2023-07-13 21:00:00'),
 Timestamp('2023-07-14 01:00:00'),
 Timestamp('2023-07-14 05:00:00'),
 Timestamp('2023-07-14 09:00:00'),
 Timestamp('2023-07-14 13:00:00'),
 Timestamp('2023-07-14 17:00:00'),
 Timestamp('2023-07-14 21:00:00'),
 Timestamp('2023-07-15 01:00:00'),
 Timestamp('2023-07-15 05:00:00'),
 Timestamp('2023-07-15 09:00:00'),
 Timestamp('2023-07-15 13:00:00'),
 Timestamp('2023-07-15 17:00:00'),
 Timestamp('2023-07-15 21:00:00'),
 Timestamp('2023-07-16 01:00:00'),
 Timestamp('2023-07-16 05:00:00'),
 Timestamp('2023-07-16 09:00:00'),
 Timestamp('2023-07-16 13:00:00'),
 Timestamp('2023-07-16 17:00:00'),
 Timestamp('2023-07-16 21:00:00'),
 Timestamp('2023-07-17 01:00:00'),
 Timestamp('2023-07-17 05:00:00'),
 Timestamp('2023-07-17 09:00:00'),
 Timestamp('2023-07-17 13:00:00'),
 Timestamp('2023-07-17 17:00:00'),
 Timestamp('2023-07-17 21:00:00'),
 Timestamp('2023-08-11 01:00:00'),
 Timestamp('2023-08-11 05:00:00'),
 Timestamp('2023-08-11 09:00:00'),
 Timestamp('2023-08-11 13:00:00'),
 Timestamp('2023-08-11 17:00:00'),
 Timestamp('2023-08-11 21:00:00'),
 Timestamp('2023-08-12 01:00:00'),
 Timestamp('2023-08-12 05:00:00'),
 Timestamp('2023-08-12 09:00:00'),
 Timestamp('2023-08-12 13:00:00'),
 Timestamp('2023-08-12 17:00:00'),
 Timestamp('2023-08-12 21:00:00'),
 Timestamp('2023-08-13 01:00:00'),
 Timestamp('2023-08-13 05:00:00'),
 Timestamp('2023-08-13 09:00:00'),
 Timestamp('2023-08-13 13:00:00'),
 Timestamp('2023-08-13 17:00:00'),
 Timestamp('2023-08-13 21:00:00'),
 Timestamp('2023-08-14 01:00:00'),
 Timestamp('2023-08-14 05:00:00'),
 Timestamp('2023-08-14 09:00:00'),
 Timestamp('2023-08-14 13:00:00'),
 Timestamp('2023-08-14 17:00:00'),
 Timestamp('2023-08-14 21:00:00'),
 Timestamp('2023-08-15 01:00:00'),
 Timestamp('2023-08-15 05:00:00'),
 Timestamp('2023-08-15 09:00:00'),
 Timestamp('2023-08-15 13:00:00'),
 Timestamp('2023-08-15 17:00:00'),
 Timestamp('2023-08-15 21:00:00'),
 Timestamp('2023-08-16 01:00:00'),
 Timestamp('2023-08-16 05:00:00'),
 Timestamp('2023-08-16 09:00:00'),
 Timestamp('2023-08-16 13:00:00'),
 Timestamp('2023-08-16 17:00:00'),
 Timestamp('2023-08-16 21:00:00'),
 Timestamp('2023-08-17 01:00:00'),
 Timestamp('2023-08-17 05:00:00'),
 Timestamp('2023-08-17 09:00:00'),
 Timestamp('2023-08-17 13:00:00'),
 Timestamp('2023-08-17 17:00:00'),
 Timestamp('2023-08-17 21:00:00'),
 Timestamp('2023-08-18 01:00:00'),
 Timestamp('2023-08-18 05:00:00'),
 Timestamp('2023-08-18 09:00:00'),
 Timestamp('2023-08-18 13:00:00'),
 Timestamp('2023-08-18 17:00:00'),
 Timestamp('2023-08-18 21:00:00')]

In [40]:
import pandas as pd
import numpy as np



def process_multiple_samples(df):
    """
    Process multiple timestamp samples and combine the results into a single DataFrame.

    Args:
        df (pd.DataFrame): The input DataFrame.
        start_time (str): The start time for generating samples.
        end_time (str): The end time for generating samples.
        num_samples (int): Number of timestamp samples to generate.

    Returns:
        pd.DataFrame: A DataFrame with combined results and a 't' column for each sample.
    """
    # Generate timestamp samples
    t_samples = unique_times
    #display(t_samples)
    # Process each timestamp and append results
    combined_df = pd.DataFrame()
    for t in t_samples:
        filtered_df = process_and_select_latest(df, t)
        filtered_df['t'] = t  # Add the timestamp as a column
        combined_df = pd.concat([combined_df, filtered_df], ignore_index=True)

    return combined_df


tempy = process_multiple_samples(jfk_sorted)

# Display result
display(tempy)

,gufi,timestamp_arrival_runway_estimate,arrival_runway_estimated_time,t
0,AAL1045.MIA.ATL.220923.2340.0093.TFM,2022-09-25 00:59:57,2022-09-25 01:32:08,2022-09-25 01:00:00
1,AAL2290.MIA.ATL.220924.0140.0059.TFM,2022-09-25 00:24:14,2022-09-25 03:38:00,2022-09-25 01:00:00
2,AAL2749.DFW.ATL.220924.0145.0083.TFM,2022-09-25 00:32:47,2022-09-25 03:41:00,2022-09-25 01:00:00
3,AAL763.CLT.ATL.220924.0110.0056.TFM,2022-09-25 00:35:31,2022-09-25 02:07:00,2022-09-25 01:00:00
4,ASA260.SEA.ATL.220923.2310.0118.TFM,2022-09-25 00:59:28,2022-09-25 03:47:01,2022-09-25 01:00:00
...,...,...,...,...
74781,SWA940.LGA.ATL.230817.2150.0224.TFM,2023-08-18 20:06:48,2023-08-19 00:00:00,2023-08-18 21:00:00
74782,THY31K.IST.ATL.230818.1113.0015.TFM,2023-08-18 20:59:48,2023-08-18 22:14:19,2023-08-18 21:00:00
74783,UAL2290.ORD.ATL.230817.1915.0051.TFM,2023-08-18 20:53:47,2023-08-18 21:01:07,2023-08-18 21:00:00
74784,UAL2616.IAH.ATL.230817.1930.0281.TFM,2023-08-18 20:59:15,2023-08-18 21:31:36,2023-08-18 21:00:00
74785,UAL487.SFO.ATL.230817.1800.0228.TFM,2023-08-18 20:59:12,2023-08-18 22:37:33,2023-08-18 21:00:00

In [41]:

result_df = process_multiple_samples(jfk_sorted)

# Display result
from IPython.display import display, HTML

# Set pandas display options to show more rows
pd.set_option('display.max_rows', 1000)  # Show 1000 rows (or adjust as needed)
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', 1000)  # Adjust width for better readability
pd.set_option('display.max_colwidth', None)  # Display full content of each cell

# Use HTML to create a scrollable view for the DataFrame
display(HTML(result_df.to_html(classes='table table-bordered table-striped', max_rows=1000)))

In [42]:
len(result_df)

74786

## LETS GET PLANE FEATURES

In [43]:
plane_df = return_parquet(file_name = FD["MFS"])
plane_df # we dont want to use all of this, lets just get the jet engine class and

                                     aircraft_engine_class aircraft_type arrival_aerodrome_icao_name major_carrier              flight_type
gufi
SWA30.STL.ATL.230609.2255.0081.TFM                     JET          B738                        KATL          None  SCHEDULED_AIR_TRANSPORT
DAL810.SFO.ATL.230609.1855.0135.TFM                    JET          B753                        KATL           DAL  SCHEDULED_AIR_TRANSPORT
QTR2X.FRA.ATL.230609.1515.0090.TFM                     JET          B77L                        KATL          None  SCHEDULED_AIR_TRANSPORT
NKS2702.DFW.ATL.230609.2205.0118.TFM                   JET          A20N                        KATL          None  SCHEDULED_AIR_TRANSPORT
DAL1096.ATL.JAX.230610.0005.0035.TFM                   JET          B752                        KJAX           DAL  SCHEDULED_AIR_TRANSPORT
...                                                    ...           ...                         ...           ...                      ...
DAL2243.ATL.MDW.230202.2020.0059.TFM                   JET          A320                        KMDW           DAL  SCHEDULED_AIR_TRANSPORT
DAL526.ATL.SLC.230202.2015.0139.TFM                    JET          A321                        KSLC           DAL  SCHEDULED_AIR_TRANSPORT
DAL2729.ATL.STL.230202.2040.0139.TFM                   JET          A319                        KSTL           DAL  SCHEDULED_AIR_TRANSPORT
DAL73.AMS.ATL.230202.0945.0032.TFM                     JET          A333                        KATL           DAL  SCHEDULED_AIR_TRANSPORT
DAL2904.EYW.ATL.230202.1835.0059.TFM                   JET          A319                        KATL           DAL  SCHEDULED_AIR_TRANSPORT

[43438 rows x 5 columns]

In [44]:
subset_df = plane_df[['aircraft_engine_class']]
subset_df

                                     aircraft_engine_class
gufi
SWA30.STL.ATL.230609.2255.0081.TFM                     JET
DAL810.SFO.ATL.230609.1855.0135.TFM                    JET
QTR2X.FRA.ATL.230609.1515.0090.TFM                     JET
NKS2702.DFW.ATL.230609.2205.0118.TFM                   JET
DAL1096.ATL.JAX.230610.0005.0035.TFM                   JET
...                                                    ...
DAL2243.ATL.MDW.230202.2020.0059.TFM                   JET
DAL526.ATL.SLC.230202.2015.0139.TFM                    JET
DAL2729.ATL.STL.230202.2040.0139.TFM                   JET
DAL73.AMS.ATL.230202.0945.0032.TFM                     JET
DAL2904.EYW.ATL.230202.1835.0059.TFM                   JET

[43438 rows x 1 columns]

In [45]:
# lets merge with result_df
subset_df = subset_df.reset_index()

# Merge with result_df on the 'gufi' column
feat_df = result_df.merge(subset_df, on='gufi', how='left')
feat_df['aircraft_engine_class'] = feat_df['aircraft_engine_class'].fillna('unknown')
# Display the merged DataFrame
display(feat_df)

                                       gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                   t aircraft_engine_class
0      AAL1045.MIA.ATL.220923.2340.0093.TFM               2022-09-25 00:59:57           2022-09-25 01:32:08 2022-09-25 01:00:00               unknown
1      AAL2290.MIA.ATL.220924.0140.0059.TFM               2022-09-25 00:24:14           2022-09-25 03:38:00 2022-09-25 01:00:00               unknown
2      AAL2749.DFW.ATL.220924.0145.0083.TFM               2022-09-25 00:32:47           2022-09-25 03:41:00 2022-09-25 01:00:00               unknown
3       AAL763.CLT.ATL.220924.0110.0056.TFM               2022-09-25 00:35:31           2022-09-25 02:07:00 2022-09-25 01:00:00               unknown
4       ASA260.SEA.ATL.220923.2310.0118.TFM               2022-09-25 00:59:28           2022-09-25 03:47:01 2022-09-25 01:00:00               unknown
...                                     ...                               ...                           ...                 ...                   ...
74781   SWA940.LGA.ATL.230817.2150.0224.TFM               2023-08-18 20:06:48           2023-08-19 00:00:00 2023-08-18 21:00:00               unknown
74782   THY31K.IST.ATL.230818.1113.0015.TFM               2023-08-18 20:59:48           2023-08-18 22:14:19 2023-08-18 21:00:00               unknown
74783  UAL2290.ORD.ATL.230817.1915.0051.TFM               2023-08-18 20:53:47           2023-08-18 21:01:07 2023-08-18 21:00:00                   JET
74784  UAL2616.IAH.ATL.230817.1930.0281.TFM               2023-08-18 20:59:15           2023-08-18 21:31:36 2023-08-18 21:00:00               unknown
74785   UAL487.SFO.ATL.230817.1800.0228.TFM               2023-08-18 20:59:12           2023-08-18 22:37:33 2023-08-18 21:00:00               unknown

[74786 rows x 5 columns]

In [46]:
# Display the counts of unique values in the 'aircraft_engine_class' column
aircraft_class_counts = feat_df['aircraft_engine_class'].value_counts()

# Display the result
print("Counts of Aircraft Engine Class:")
display(aircraft_class_counts)

Counts of Aircraft Engine Class:

aircraft_engine_class
unknown    61491
JET        13258
TURBO         33
PISTON         4
Name: count, dtype: int64

## now lets pull the actual time

In [87]:
# WE DON'T PULL THIS!
rnwydf = return_parquet(file_name = FD["RNWY"])

In [88]:

rnwydf

                                     arrival_runway_actual_time arrival_runway_actual
gufi
JBU1674.BNA.JFK.221201.2150.0101.TFM        2022-12-03 00:00:49                   22L
AAL1092.AUS.JFK.221201.2035.0156.TFM        2022-12-03 00:01:06                   22R
JBU2884.MCO.JFK.221201.2045.0149.TFM        2022-12-03 00:01:55                   22L
DAL4.LHR.JFK.221201.1600.0130.TFM           2022-12-03 00:03:14                   22L
FIN15.HEL.JFK.221202.1529.0027.TFM          2022-12-03 00:04:46                   22L
...                                                         ...                   ...
KLM641.AMS.JFK.221030.1235.0041.TFM         2022-10-31 20:52:39                   22L
AMX402.MEX.JFK.221030.1640.0088.TFM         2022-10-31 20:54:22                   22L
ETD11B.AUH.JFK.221031.0149.0001.TFM         2022-10-31 20:56:33                   22L
JBU1568.PUJ.JFK.221030.1705.0131.TFM        2022-10-31 20:57:36                   22R
JBU2330.RSW.JFK.221030.1810.0087.TFM        2022-10-31 20:59:41                   22L

[12835 rows x 2 columns]

In [83]:
rnwydf['arrival_runway_actual_time'] = pd.to_datetime(rnwydf['arrival_runway_actual_time'])

In [84]:
print(rnwydf.dtypes)
print(result_df.dtypes)
print(len(result_df))

arrival_runway_actual_time    datetime64[ns]
arrival_runway_actual                 object
dtype: object
gufi                                         object
timestamp_arrival_runway_estimate    datetime64[ns]
arrival_runway_estimated_time        datetime64[ns]
t                                    datetime64[ns]
dtype: object
53728

In [85]:
rnwy_df_reset = rnwydf.reset_index().rename(columns={'index': 'gufi'})
rnwy_df_reset

                                       gufi arrival_runway_actual_time arrival_runway_actual
0      JBU1674.BNA.JFK.221201.2150.0101.TFM        2022-12-03 00:00:49                   22L
1      AAL1092.AUS.JFK.221201.2035.0156.TFM        2022-12-03 00:01:06                   22R
2      JBU2884.MCO.JFK.221201.2045.0149.TFM        2022-12-03 00:01:55                   22L
3         DAL4.LHR.JFK.221201.1600.0130.TFM        2022-12-03 00:03:14                   22L
4        FIN15.HEL.JFK.221202.1529.0027.TFM        2022-12-03 00:04:46                   22L
...                                     ...                        ...                   ...
12830   KLM641.AMS.JFK.221030.1235.0041.TFM        2022-10-31 20:52:39                   22L
12831   AMX402.MEX.JFK.221030.1640.0088.TFM        2022-10-31 20:54:22                   22L
12832   ETD11B.AUH.JFK.221031.0149.0001.TFM        2022-10-31 20:56:33                   22L
12833  JBU1568.PUJ.JFK.221030.1705.0131.TFM        2022-10-31 20:57:36                   22R
12834  JBU2330.RSW.JFK.221030.1810.0087.TFM        2022-10-31 20:59:41                   22L

[12835 rows x 3 columns]

In [86]:
import pandas as pd


# Sample data for rnwy_df with 'gufi' as the index

# Perform the merge
merged_df = pd.merge(feat_df, rnwy_df_reset, on='gufi', how='left')

# Display the merged DataFrame
print("Merged DataFrame:")
#display(merged_df)

# Check if the merge worked by displaying the number of matched rows
display(merged_df.head())

Merged DataFrame:

                                        gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                   t aircraft_engine_class arrival_runway_actual_time arrival_runway_actual
0  AAL1247.MCO.JFK.220924.2248.0011.TFM_TFDM               2022-09-25 00:59:57           2022-09-25 02:28:25 2022-09-25 01:00:00               unknown                        NaT                   NaN
1       AAL1261.MIA.JFK.220924.0000.0090.TFM               2022-09-25 00:59:32           2022-09-25 02:36:09 2022-09-25 01:00:00               unknown                        NaT                   NaN
2       AAL1357.MIA.JFK.220924.0105.0094.TFM               2022-09-25 00:58:40           2022-09-25 03:51:00 2022-09-25 01:00:00               unknown                        NaT                   NaN
3       AAL1388.PHX.JFK.220923.2151.0016.TFM               2022-09-25 00:59:40           2022-09-25 02:03:47 2022-09-25 01:00:00               unknown                        NaT                   NaN
4        AAL141.LHR.JFK.220922.1834.0049.TFM               2022-09-25 00:59:50           2022-09-25 01:10:47 2022-09-25 01:00:00               unknown                        NaT                   NaN

In [107]:
print(merged_df.columns)
print(len(merged_df))
print((merged_df.dtypes))

Index(['gufi', 'timestamp_arrival_runway_estimate', 'arrival_runway_estimated_time', 't', 'aircraft_engine_class', 'arrival_runway_actual_time', 'arrival_runway_actual'], dtype='object')
53728
gufi                                         object
timestamp_arrival_runway_estimate    datetime64[ns]
arrival_runway_estimated_time        datetime64[ns]
t                                    datetime64[ns]
aircraft_engine_class                        object
arrival_runway_actual_time           datetime64[ns]
arrival_runway_actual                        object
dtype: object

# STOP SKIP

In [47]:
merged_df = feat_df.copy()
merged_df

                                       gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                   t aircraft_engine_class
0      AAL1045.MIA.ATL.220923.2340.0093.TFM               2022-09-25 00:59:57           2022-09-25 01:32:08 2022-09-25 01:00:00               unknown
1      AAL2290.MIA.ATL.220924.0140.0059.TFM               2022-09-25 00:24:14           2022-09-25 03:38:00 2022-09-25 01:00:00               unknown
2      AAL2749.DFW.ATL.220924.0145.0083.TFM               2022-09-25 00:32:47           2022-09-25 03:41:00 2022-09-25 01:00:00               unknown
3       AAL763.CLT.ATL.220924.0110.0056.TFM               2022-09-25 00:35:31           2022-09-25 02:07:00 2022-09-25 01:00:00               unknown
4       ASA260.SEA.ATL.220923.2310.0118.TFM               2022-09-25 00:59:28           2022-09-25 03:47:01 2022-09-25 01:00:00               unknown
...                                     ...                               ...                           ...                 ...                   ...
74781   SWA940.LGA.ATL.230817.2150.0224.TFM               2023-08-18 20:06:48           2023-08-19 00:00:00 2023-08-18 21:00:00               unknown
74782   THY31K.IST.ATL.230818.1113.0015.TFM               2023-08-18 20:59:48           2023-08-18 22:14:19 2023-08-18 21:00:00               unknown
74783  UAL2290.ORD.ATL.230817.1915.0051.TFM               2023-08-18 20:53:47           2023-08-18 21:01:07 2023-08-18 21:00:00                   JET
74784  UAL2616.IAH.ATL.230817.1930.0281.TFM               2023-08-18 20:59:15           2023-08-18 21:31:36 2023-08-18 21:00:00               unknown
74785   UAL487.SFO.ATL.230817.1800.0228.TFM               2023-08-18 20:59:12           2023-08-18 22:37:33 2023-08-18 21:00:00               unknown

[74786 rows x 5 columns]

In [112]:
merged_df.columns
#merged_df = merged_df.drop(columns=['index'])

# Display the DataFrame after dropping the column
display(merged_df)

                                            gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                   t aircraft_engine_class
0      AAL1247.MCO.JFK.220924.2248.0011.TFM_TFDM               2022-09-25 00:59:57           2022-09-25 02:28:25 2022-09-25 01:00:00               unknown
1           AAL1261.MIA.JFK.220924.0000.0090.TFM               2022-09-25 00:59:32           2022-09-25 02:36:09 2022-09-25 01:00:00               unknown
2           AAL1357.MIA.JFK.220924.0105.0094.TFM               2022-09-25 00:58:40           2022-09-25 03:51:00 2022-09-25 01:00:00               unknown
3           AAL1388.PHX.JFK.220923.2151.0016.TFM               2022-09-25 00:59:40           2022-09-25 02:03:47 2022-09-25 01:00:00               unknown
4            AAL141.LHR.JFK.220922.1834.0049.TFM               2022-09-25 00:59:50           2022-09-25 01:10:47 2022-09-25 01:00:00               unknown
...                                          ...                               ...                           ...                 ...                   ...
53723          THY1.IST.JFK.230818.1947.0008.TFM               2023-08-18 20:59:48           2023-08-18 21:40:05 2023-08-18 21:00:00               unknown
53724        UAE4PV.MXP.JFK.230818.1433.0018.TFM               2023-08-18 20:59:56           2023-08-18 22:31:57 2023-08-18 21:00:00               unknown
53725       UPS9882.SYR.JFK.230818.0800.0014.TFM               2023-08-18 08:00:35           2023-08-18 23:52:00 2023-08-18 21:00:00               unknown
53726        VIR153.LHR.JFK.230817.1525.0041.TFM               2023-08-18 20:59:56           2023-08-18 22:34:03 2023-08-18 21:00:00               unknown
53727         VIR9J.LHR.JFK.230818.1405.0039.TFM               2023-08-18 20:59:35           2023-08-18 21:07:28 2023-08-18 21:00:00               unknown

[53728 rows x 5 columns]

In [48]:
import numpy as np

# Define a function to categorize the minute_diff into target values
def assign_target(minute_diff):
    if minute_diff < 0:
        return 13
    elif minute_diff <= 15:
        return 1
    elif 15 < minute_diff <= 30:
        return 2
    elif 30 < minute_diff <= 45:
        return 3
    elif 45 < minute_diff <= 60:
        return 4
    elif 60 < minute_diff <= 75:
        return 5
    elif 75 < minute_diff <= 90:
        return 6
    elif 90 < minute_diff <= 105:
        return 7
    elif 105 < minute_diff <= 120:
        return 8
    elif 120 < minute_diff <= 135:
        return 9
    elif 135 < minute_diff <= 150:
        return 10
    elif 150 < minute_diff <= 165:
        return 11
    elif 165 < minute_diff <= 180:
        return 12
    elif minute_diff > 180:
        return 13
    else:
        return 13  # Return NaN if the value is not valid

In [49]:
merged_df.head()

                                   gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                   t aircraft_engine_class
0  AAL1045.MIA.ATL.220923.2340.0093.TFM               2022-09-25 00:59:57           2022-09-25 01:32:08 2022-09-25 01:00:00               unknown
1  AAL2290.MIA.ATL.220924.0140.0059.TFM               2022-09-25 00:24:14           2022-09-25 03:38:00 2022-09-25 01:00:00               unknown
2  AAL2749.DFW.ATL.220924.0145.0083.TFM               2022-09-25 00:32:47           2022-09-25 03:41:00 2022-09-25 01:00:00               unknown
3   AAL763.CLT.ATL.220924.0110.0056.TFM               2022-09-25 00:35:31           2022-09-25 02:07:00 2022-09-25 01:00:00               unknown
4   ASA260.SEA.ATL.220923.2310.0118.TFM               2022-09-25 00:59:28           2022-09-25 03:47:01 2022-09-25 01:00:00               unknown

In [50]:
print(len(merged_df))

74786

In [51]:
# Calculate the time difference between 't' and 'arrival_runway_estimated_time'
merged_df['time_diff_estimate'] = (merged_df['arrival_runway_estimated_time'] - merged_df['t']).dt.total_seconds() / 60

# Display the updated DataFrame with the new column
display(merged_df)

                                       gufi timestamp_arrival_runway_estimate arrival_runway_estimated_time                   t aircraft_engine_class  time_diff_estimate
0      AAL1045.MIA.ATL.220923.2340.0093.TFM               2022-09-25 00:59:57           2022-09-25 01:32:08 2022-09-25 01:00:00               unknown           32.133333
1      AAL2290.MIA.ATL.220924.0140.0059.TFM               2022-09-25 00:24:14           2022-09-25 03:38:00 2022-09-25 01:00:00               unknown          158.000000
2      AAL2749.DFW.ATL.220924.0145.0083.TFM               2022-09-25 00:32:47           2022-09-25 03:41:00 2022-09-25 01:00:00               unknown          161.000000
3       AAL763.CLT.ATL.220924.0110.0056.TFM               2022-09-25 00:35:31           2022-09-25 02:07:00 2022-09-25 01:00:00               unknown           67.000000
4       ASA260.SEA.ATL.220923.2310.0118.TFM               2022-09-25 00:59:28           2022-09-25 03:47:01 2022-09-25 01:00:00               unknown          167.016667
...                                     ...                               ...                           ...                 ...                   ...                 ...
74781   SWA940.LGA.ATL.230817.2150.0224.TFM               2023-08-18 20:06:48           2023-08-19 00:00:00 2023-08-18 21:00:00               unknown          180.000000
74782   THY31K.IST.ATL.230818.1113.0015.TFM               2023-08-18 20:59:48           2023-08-18 22:14:19 2023-08-18 21:00:00               unknown           74.316667
74783  UAL2290.ORD.ATL.230817.1915.0051.TFM               2023-08-18 20:53:47           2023-08-18 21:01:07 2023-08-18 21:00:00                   JET            1.116667
74784  UAL2616.IAH.ATL.230817.1930.0281.TFM               2023-08-18 20:59:15           2023-08-18 21:31:36 2023-08-18 21:00:00               unknown           31.600000
74785   UAL487.SFO.ATL.230817.1800.0228.TFM               2023-08-18 20:59:12           2023-08-18 22:37:33 2023-08-18 21:00:00               unknown           97.550000

[74786 rows x 6 columns]

In [52]:
columns_to_select = ['gufi', 'time_diff_estimate',  't', 'aircraft_engine_class']

# Create a new DataFrame with only the specified columns
selected_columns_df = merged_df[columns_to_select]

# Display the new DataFrame
print(len(selected_columns_df))
print((selected_columns_df.dtypes))
print(selected_columns_df.columns)

74786
gufi                             object
time_diff_estimate              float64
t                        datetime64[ns]
aircraft_engine_class            object
dtype: object
Index(['gufi', 'time_diff_estimate', 't', 'aircraft_engine_class'], dtype='object')

In [53]:

# Step 1: Get unique values from the 'aircraft_engine_class' column
unique_values = selected_columns_df['aircraft_engine_class'].unique()

# Step 2: Manually create a mapping from each unique value to an integer
#manual_map = {value: index for index, value in enumerate(unique_values, start=1)}
manual_map = {'JET': 1, 'TURBO': 2, 'unknown': 3, 'PISTON': 4}

# Step 3: Apply the mapping to the 'aircraft_engine_class' column using .loc[] to avoid the warning
selected_columns_df = selected_columns_df.copy()
selected_columns_df['engine_class_int'] = selected_columns_df['aircraft_engine_class'].map(manual_map)



# Display the updated DataFrame
display(selected_columns_df)

                                       gufi  time_diff_estimate                   t aircraft_engine_class  engine_class_int
0      AAL1045.MIA.ATL.220923.2340.0093.TFM           32.133333 2022-09-25 01:00:00               unknown                 3
1      AAL2290.MIA.ATL.220924.0140.0059.TFM          158.000000 2022-09-25 01:00:00               unknown                 3
2      AAL2749.DFW.ATL.220924.0145.0083.TFM          161.000000 2022-09-25 01:00:00               unknown                 3
3       AAL763.CLT.ATL.220924.0110.0056.TFM           67.000000 2022-09-25 01:00:00               unknown                 3
4       ASA260.SEA.ATL.220923.2310.0118.TFM          167.016667 2022-09-25 01:00:00               unknown                 3
...                                     ...                 ...                 ...                   ...               ...
74781   SWA940.LGA.ATL.230817.2150.0224.TFM          180.000000 2023-08-18 21:00:00               unknown                 3
74782   THY31K.IST.ATL.230818.1113.0015.TFM           74.316667 2023-08-18 21:00:00               unknown                 3
74783  UAL2290.ORD.ATL.230817.1915.0051.TFM            1.116667 2023-08-18 21:00:00                   JET                 1
74784  UAL2616.IAH.ATL.230817.1930.0281.TFM           31.600000 2023-08-18 21:00:00               unknown                 3
74785   UAL487.SFO.ATL.230817.1800.0228.TFM           97.550000 2023-08-18 21:00:00               unknown                 3

[74786 rows x 5 columns]

In [54]:
manual_map

{'JET': 1, 'TURBO': 2, 'unknown': 3, 'PISTON': 4}

In [55]:
selected_columns_df.columns
selected_columns_df.dtypes

gufi                             object
time_diff_estimate              float64
t                        datetime64[ns]
aircraft_engine_class            object
engine_class_int                  int64
dtype: object

In [57]:
#Lets get teh model 
import xgboost as xgb
SAVE_PATH = "/projectnb/cs640grp/projects/noahark/523Proj/data/models"
# Define the model file path
model_file_path = f"{SAVE_PATH}/xgboost_model_{ACODE}.json"

# Load the model
loaded_model = xgb.XGBRegressor()  # Instantiate the XGBRegressor or use the appropriate model type
loaded_model.load_model(model_file_path)

print(f"Model loaded from {model_file_path}")

Model loaded from /projectnb/cs640grp/projects/noahark/523Proj/data/models/xgboost_model_KATL.json

In [58]:
import pandas as pd
from xgboost import XGBRegressor

from sklearn.impute import SimpleImputer
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor

# Assuming selected_columns_df is already defined
test_df = selected_columns_df.copy()

# Separate the features (X) and target (y) for train and test sets

test_X = test_df.select_dtypes(exclude=['object','datetime64[ns]'])

display(test_X)

# Initialize SimpleImputer to handle missing values
my_imputer = SimpleImputer(strategy='mean')
test_X_imputed = my_imputer.fit_transform(test_X)

#test_X_imputed = my_imputer.transform(test_X)

# Convert the imputed arrays back to DataFrames and restore column names and original indices
test_X_df = pd.DataFrame(test_X_imputed, columns=test_X.columns, index=test_df.index)  # Use original indices

# Make predictions
predictions = loaded_model.predict(test_X_df)

# Round or process the predictions as needed (for example, flooring them)
predictions_floor = predictions.astype(int)

# Merge the predictions and the true values into a new DataFrame, keeping the original index
result_df_now = pd.DataFrame({
    'Predictions': predictions_floor
}, index=test_df.index)  # Keep the original indices for result_df

# Display the result DataFrame
display(result_df_now)

# Optionally, merge with the original selected_columns_df using the indices
#final_result_df = selected_columns_df.loc[result_df_now.index, ['gufi', 'time_diff_estimate','target']].join(result_df_now)

# Display final merged DataFrame
#display(final_result_df)

       time_diff_estimate  engine_class_int
0               32.133333                 3
1              158.000000                 3
2              161.000000                 3
3               67.000000                 3
4              167.016667                 3
...                   ...               ...
74781          180.000000                 3
74782           74.316667                 3
74783            1.116667                 1
74784           31.600000                 3
74785           97.550000                 3

[74786 rows x 2 columns]

       Predictions
0                2
1               11
2               12
3                5
4               12
...            ...
74781           13
74782            6
74783            9
74784            2
74785           10

[74786 rows x 1 columns]

In [59]:
test_final_df = pd.concat([test_df, result_df_now], axis=1)
test_final_df

                                       gufi  time_diff_estimate                   t aircraft_engine_class  engine_class_int  Predictions
0      AAL1045.MIA.ATL.220923.2340.0093.TFM           32.133333 2022-09-25 01:00:00               unknown                 3            2
1      AAL2290.MIA.ATL.220924.0140.0059.TFM          158.000000 2022-09-25 01:00:00               unknown                 3           11
2      AAL2749.DFW.ATL.220924.0145.0083.TFM          161.000000 2022-09-25 01:00:00               unknown                 3           12
3       AAL763.CLT.ATL.220924.0110.0056.TFM           67.000000 2022-09-25 01:00:00               unknown                 3            5
4       ASA260.SEA.ATL.220923.2310.0118.TFM          167.016667 2022-09-25 01:00:00               unknown                 3           12
...                                     ...                 ...                 ...                   ...               ...          ...
74781   SWA940.LGA.ATL.230817.2150.0224.TFM          180.000000 2023-08-18 21:00:00               unknown                 3           13
74782   THY31K.IST.ATL.230818.1113.0015.TFM           74.316667 2023-08-18 21:00:00               unknown                 3            6
74783  UAL2290.ORD.ATL.230817.1915.0051.TFM            1.116667 2023-08-18 21:00:00                   JET                 1            9
74784  UAL2616.IAH.ATL.230817.1930.0281.TFM           31.600000 2023-08-18 21:00:00               unknown                 3            2
74785   UAL487.SFO.ATL.230817.1800.0228.TFM           97.550000 2023-08-18 21:00:00               unknown                 3           10

[74786 rows x 6 columns]

In [60]:
test_final_df.columns

Index(['gufi', 'time_diff_estimate', 't', 'aircraft_engine_class', 'engine_class_int', 'Predictions'], dtype='object')

In [61]:
extracted_test_df = test_final_df[['t', 'Predictions']]
extracted_test_df

                        t  Predictions
0     2022-09-25 01:00:00            2
1     2022-09-25 01:00:00           11
2     2022-09-25 01:00:00           12
3     2022-09-25 01:00:00            5
4     2022-09-25 01:00:00           12
...                   ...          ...
74781 2023-08-18 21:00:00           13
74782 2023-08-18 21:00:00            6
74783 2023-08-18 21:00:00            9
74784 2023-08-18 21:00:00            2
74785 2023-08-18 21:00:00           10

[74786 rows x 2 columns]

In [62]:
import pandas as pd


df_temp = extracted_test_df.copy()
display(df_temp)
# Define the bins (1 through 12)
bins = range(1, 13)

# Initialize dictionaries to store bin sums for each unique 't'
pred_bins_by_t = {}

# Group by unique 't' and calculate bin sums
for t_value, group in df_temp.groupby('t'):
    # Sum Predictions for each bin
    pred_bins = group['Predictions'].value_counts().reindex(bins, fill_value=0)
    pred_bins_by_t[t_value] = pred_bins.tolist()  # Convert to list for storage

# Convert results to DataFrames for better visualization
pred_bins_df = pd.DataFrame.from_dict(pred_bins_by_t, orient='index', columns=[f'Bin {i}' for i in bins])


print("\nPrediction Bins by 't':")
display(pred_bins_df)

                        t  Predictions
0     2022-09-25 01:00:00            2
1     2022-09-25 01:00:00           11
2     2022-09-25 01:00:00           12
3     2022-09-25 01:00:00            5
4     2022-09-25 01:00:00           12
...                   ...          ...
74781 2023-08-18 21:00:00           13
74782 2023-08-18 21:00:00            6
74783 2023-08-18 21:00:00            9
74784 2023-08-18 21:00:00            2
74785 2023-08-18 21:00:00           10

[74786 rows x 2 columns]

Prediction Bins by 't':

                     Bin 1  Bin 2  Bin 3  Bin 4  Bin 5  Bin 6  Bin 7  Bin 8  Bin 9  Bin 10  Bin 11  Bin 12
2022-09-25 01:00:00      6     14      9      1      4      2      2      0      5       2       1      10
2022-09-25 05:00:00      0      0      1      0      0      1      0      0      0       1       0       6
2022-09-25 09:00:00      0      3      3      1      2      6      5      0      5       6       8      34
2022-09-25 13:00:00      4     12      8     11     13     12      8      1     14       7       8      39
2022-09-25 17:00:00      8     23     16      8     17     19      8      3     23      22      13      65
2022-09-25 21:00:00      6     11     14      8     10     21     12      3     30      27      16      63
2022-09-26 01:00:00      7     34     14      7      7      7      5      5      8       7       8      13
2022-09-26 05:00:00      1      3      1      1      1      1      1      2      0       0       1       6
2022-09-26 09:00:00      1      4      3      3      3      5      7      1      4       7       4      40
2022-09-26 13:00:00      2     13     15     16     17      8      6      1      9      17      12      42
2022-09-26 17:00:00      8     21     22     13     10     20     11      7     16      22       8      66
2022-09-26 21:00:00      6     21     14      3     10     20     15      5     36      29      15      60
2022-09-27 01:00:00     13     23     17     12     13      6      1      2     12      12       8      17
2022-09-27 05:00:00      2      1      3      0      1      0      0      0      0       2       1       8
2022-09-27 09:00:00      1      7      5      1      2      4      7      0      6       9       5      44
2022-09-27 13:00:00      3     14     17     13      9      6      9      1     15       9       4      42
2022-09-27 17:00:00      5     16     24     13     12     17     14      6     24      15       9      60
2022-09-27 21:00:00      3     19     10      8     11     20     16      4     26      24      12      63
2022-09-28 01:00:00      9     26     13      6      3      5      3      1      7       8       2      15
2022-09-28 05:00:00      0      2      2      0      0      0      0      1      0       0       0       4
2022-09-28 09:00:00      2      5      1      2      5      5      7      1      3       6       4      34
2022-09-28 13:00:00      6     15     14     17     10      8      5      2     14      16       5      43
2022-09-28 17:00:00      9     15     16     15     17     18     10      2     19      14       9      51
2022-09-28 21:00:00      8      8     16     10      5     15      9      4     31      26      12      61
2022-09-29 01:00:00      6     29     15      4      1      2      2      3      9       5       9      13
2022-09-29 05:00:00      1      0      1      1      2      1      0      0      2       1       0       8
2022-09-29 09:00:00      2      5      5      1      0      5      3      0      4      11      13      33
2022-09-29 13:00:00     10     17     18      9      9     12      8      1     13      11       5      43
2022-09-29 17:00:00      6     19     20     12     12     12     11      2     28      16      14      55
2022-09-29 21:00:00      5     14     14     10     16     15     12      5     22      31      14      66
2022-09-30 01:00:00     13     30     17     11      6      6      4      2      9       8       4       9
2022-09-30 05:00:00      0      3      3      2      1      1      0      1      0       1       0      11
2022-09-30 09:00:00      0      6      5      5      2      7      3      1      4      12       6      40
2022-09-30 13:00:00      6     16     16     11      5      6      8      1     16      10       5      44
2022-09-30 17:00:00      4     14     23     11     18     13      9      1     20      16       7      60
2022-09-30 21:00:00      5     17     12     16     14     14     13      2     17      24      17      57
2022-10-01 01:00:00     10     21     24     11      5      7      7      3      9      13       4      14
2022-10-01 05:00:00      0      3      0      0      1      0      0      1      2       1       0       5
2022-10-01 09:00:00      0      4      4      2      4      7      5      0      3       9       5      39
2022-10-01 13:00:00      1     11     18      9      9     13     12      4     13      11       6      42
2022-10-01 17:00:00      8     19     12     14     11     13      8      4     21      12      17      62
2022-10-01 21:00:00      9     14     10     10      6     23     14      1     19      22      15      55
2022-10-02 01:00:00      5     11     11      1      5      2      5      2      4       4       7      12
2022-10-02 05:00:00      1      1      1      1      1      1      1      0      0       1       1       4
2022-10-02 09:00:00      0      2      3      0      1      4      7      1      5       9       6      39
2022-10-02 13:00:00      2     10     14      8     15     14      9      1     15      12       6      43
2022-10-02 17:00:00      5     18     19     13     12     22     12      2     21      27      15      61
2022-10-02 21:00:00      5     14     13      6     12     20     17      1     20      27      19      40
2022-10-27 01:00:00      7     22     16      5      2      4      6      1      6       6       7      16
2022-10-27 05:00:00      0      0      1      1      1      1      2      0      1       0       1       2
2022-10-27 09:00:00      4      5      3      0      1      4      6      0      2      12       6      38
2022-10-27 13:00:00     10     15     15     11      5      8      6      2     10      11      12      41
2022-10-27 17:00:00      7     14     21      8     17     17      8      3     15      18      16      63
2022-10-27 21:00:00      4      7     13      7     11     13     12      4     20      34      15      44
2022-10-30 01:00:00      2      8      6      3      1      4      5      1      6       5       3       7
2022-10-30 05:00:00      0      3      0      0      1      0      0      0      1       0       0       5
2022-10-30 09:00:00      0      4      2      1      1      4      7      0      2       6       9      49
2022-10-30 13:00:00     14     24      8     18     11     13     10      4     14       9       7      43
2022-10-30 17:00:00      6     18     14      9     10     16     13      3     16      23       9      66
2022-10-30 21:00:00      4     24      8     11      8     19     14      4     21      24      16      52
2022-10-31 01:00:00      8     12     12      7      3      3      5      2      5      10       5      12
2022-10-31 05:00:00      1      0      0      2      2      0      0      1      0       0       1       3
2022-10-31 09:00:00      1      2      2      1      0      9      2      2      5      14       5      64
2022-10-31 13:00:00      7     13     14     11      6      6      4      3     11      12       4      52
2022-10-31 17:00:00      5     16     18     12     16     12      8      2     28      21       9      58
2022-10-31 21:00:00      7      8     10      5     11     20     10      2     16      24      13      53
2022-11-01 01:00:00      3      9     13      6      4      3      3      1      6       4       6      12
2022-11-01 05:00:00      2      3      0      0      0      0      1      0      1       0       1       5
2022-11-01 09:00:00      2      6      3      2      0      6      3      1      5      10       2      21
2022-11-01 13:00:00      3     16     13      8     11      8      7      4     17      14       8      54
2022-11-01 17:00:00      3     14     21     21     12     15     12      4     21      23       7      56
2022-11-01 21:00:00      3     12     15      4      9     13     14      4     17      22      16      65
2022-11-02 01:00:00     10     20     15      5      5      6      3      0     11       9       6      17
2022-11-02 05:00:00      0      3      0      0      1      0      0      1      0       0       1       6
2022-11-02 09:00:00      2      4      3      2      0      4      6      1      3      12       5      26
2022-11-02 13:00:00      2     17     16      8      9      6      5      0     15       9       5      42
2022-11-02 17:00:00      5     22     20     15     13     14      6      3     12      25      18      61
2022-11-02 21:00:00      6     15     11      8      9     14     15      6     21      24      11      62
2022-11-03 01:00:00     11     22      8      6      3      6      5      1      7       8       6      13
2022-11-03 05:00:00      0      0      2      3      1      0      0      1      0       0       2       5
2022-11-03 09:00:00      1      7      3      3      2      3      4      2      4      11       8      38
2022-11-03 13:00:00      6     16     15     12      5      6     10      3     19      13       7      44
2022-11-03 17:00:00     11     16     20     16     15     14     10      2     19      21      15      58
2022-11-03 21:00:00      4     14     13      6      9     19     20      3     16      27      14      42
2022-11-28 01:00:00      7     25     12      9     16     13     14      3     13      21      16      32
2022-11-28 05:00:00      0      7      1      2      2      1      1      0      3       1       1       5
2022-11-28 09:00:00      0      0      1      2      3      5      2      0      5       7       3      27
2022-11-28 13:00:00      7     29     27     16     16     10     11      3     19      11       8      34
2022-11-28 17:00:00      6     20     19     11     12     13     12      1     25      19      14      50
2022-11-28 21:00:00      7     17     17     10      6     14     10      3     22      18      16      67
2022-11-29 01:00:00      5     25     16     13      8     14     14      4     18      20      10      26
2022-11-29 05:00:00      1      1      3      1      1      0      0      0      1       2       0       1
2022-11-29 09:00:00      1      0      3      1      1      2      5      1      5       6       3      38
2022-11-29 13:00:00     12     28     30     15      9     12      3      2     24      14       4      29
2022-11-29 17:00:00      6     17     23      9      9      9      6      4     24      24      10      40
2022-11-29 21:00:00      9     18     13     14      5     10     11      1     19      25      10      54
2022-11-30 01:00:00      8     23     20     13      9     14     12      6     12       9       6      27
2022-11-30 05:00:00      1      4      3      2      0      1      2      3      0       0       0       4
2022-11-30 09:00:00      1      0      1      0      5      4      1      0      2      12       1      24
2022-11-30 13:00:00      8     35     20     13     14     15      9      3     26      25       7      34
2022-11-30 17:00:00      6     22     14     10      9     11      8      1     21      18      14      51
2022-11-30 21:00:00      7     16     22      7     10      9      4      3     15      27      15      71
2022-12-01 01:00:00      4     19     19     15      9     15      9      1     10      18       4      29
2022-12-01 05:00:00      1      5      2      2      2      1      0      2      1       2       1       1
2022-12-01 09:00:00      1      2      0      2      2      6      0      0      3       5       2      34
2022-12-01 13:00:00      7     31     28     10      6     12     11      7     18      14       4      27
2022-12-01 17:00:00      8     21     21      9     14     13      6      1     17      20      13      57
2022-12-01 21:00:00     13     12     21     11      4     13     12      1     17      19      15      61
2022-12-02 01:00:00      8     23     18     10     17     17     13      4     11      21      10      30
2022-12-02 05:00:00      0      4      1      0      0      3      0      0      1       1       0       0
2022-12-02 09:00:00      0      1      1      3      2      4      2      0      2       8       4      33
2022-12-02 13:00:00      9     31     35      8      7     13      6      4     22      11       8      26
2022-12-02 17:00:00      7     21     15     11     15      6     14      5     13      20      13      48
2022-12-02 21:00:00      7     16     24      9     10     14      3      0     18      29       9      68
2022-12-03 01:00:00     12     24     18      9     11     19     14      4     15      14       7      25
2022-12-03 05:00:00      2      2      2      0      1      0      1      0      1       2       0       1
2022-12-03 09:00:00      0      0      2      2      1      3      1      0      8       3       2      37
2022-12-03 13:00:00     11     28     25     11      8     10     10      6     13      19       5      31
2022-12-03 17:00:00      5     22     15     10     11     14      5      5     17      21      11      39
2022-12-03 21:00:00      9     20     23     12      6     16      7      2     14      23       9      67
2022-12-04 01:00:00     12     13     11      8      4     10     10      4      7       6       2      16
2022-12-04 05:00:00      1      1      1      1      1      2      1      0      3       3       1       2
2022-12-04 09:00:00      1      0      1      1      3      0      1      0      3       5       3      41
2022-12-04 13:00:00     10     24     30     12     11     15      6      0     22      16       8      24
2022-12-04 17:00:00      9     21     14     10      6     13     11      2     19      20      18      48
2022-12-04 21:00:00      8     21     20     10      7     11      5      6     18      33      14      61
2022-12-05 01:00:00     10     27     16     10     15     16      5      2     18      18       9      24
2022-12-05 05:00:00      3      5      1      1      0      0      1      0      1       1       1       0
2022-12-05 09:00:00      0      4      1      0      0      5      1      0      2       4       4      37
2022-12-05 13:00:00      9     37     24     11      5     16      7      5     25      14       6      31
2022-12-05 17:00:00     10     17     18      9     12     13      9      2     20      19      15      59
2022-12-05 21:00:00     10     20     21     11      6     11      6      1     25      20      10      36
2022-12-30 01:00:00     13     22     12     14      9     18     17      5     15      17       7      26
2022-12-30 05:00:00      0      2      0      2      0      0      0      1      4       1       1       1
2022-12-30 09:00:00      2      2      0      0      2      1      1      0      5      10       5      24
2022-12-30 13:00:00      7     27     28     14      7     12      8      6     14      14      11      24
2022-12-30 17:00:00      8     18     19      9     17      9      7      2     27      17      13      52
2022-12-30 21:00:00      8     15     14      9     13     14     11      2     15      23      22      72
2022-12-31 01:00:00      6     23     16      8     15     19     11     11     12      24       7      20
2022-12-31 05:00:00      1      4      1      0      2      2      1      1      0       3       2       1
2022-12-31 09:00:00      0      1      0      1      1      0      2      1      3       8       5      27
2022-12-31 13:00:00     15     22     27     15      9     16      9      0     13      12       7      25
2022-12-31 17:00:00      5     12     15     11      6      9     13      2     25      21       4      31
2022-12-31 21:00:00      9     23     24     14     14     17      4      4     14      19       8      56
2023-01-01 01:00:00      3     12     12      5      5     11      7      3      7       4       1      21
2023-01-01 05:00:00      3      1      3      2      0      1      0      0      3       3       0       3
2023-01-01 09:00:00      0      0      0      1      0      3      1      0      2       2       4      35
2023-01-01 13:00:00      9     16     29     14     11     16      6      1     12      19       9      19
2023-01-01 17:00:00      4     18     14      9     10      5      8      3     21      17      13      39
2023-01-01 21:00:00      4     20     22     21     12      9      6      2     15      21      13      58
2023-01-02 01:00:00      5     12     15     10      5     14      8      4      9       5       4      13
2023-01-02 05:00:00      1      2      5      1      0      0      1      0      3       3       0       2
2023-01-02 09:00:00      0      0      1      1      0      1      0      0      0       6       2      27
2023-01-02 13:00:00     10     28     30     12     12      5      5      6     15      13       7      37
2023-01-02 17:00:00      2     18     17     10      9     16      7      3     24      18      13      60
2023-01-02 21:00:00      8     13     22     12      7      8     12      2     25      20      18      67
2023-01-03 01:00:00     11     22     17     11     17      8     15      4     22      20      20      34
2023-01-03 05:00:00      1     12      0      3      0      2      0      0      4       3       2       4
2023-01-03 09:00:00      0      0      1      0      1      1      2      0      2       3       3      46
2023-01-03 13:00:00     11     22     24     15      9      8     14      6     15      20       5      33
2023-01-03 17:00:00      7     15     13     13     11      8      9      4     22      26       9      47
2023-01-03 21:00:00      6     25     21     12      8     16      6      6     19      28      16      51
2023-01-04 01:00:00     11     31     21     11     14     25     20      8     33      13      14      42
2023-01-04 05:00:00      3      5      3      2      1      2      2      1      3       0       1       4
2023-01-04 09:00:00      0      1      1      0      1      3      2      0      3       7       5      31
2023-01-04 13:00:00     10     24     22     18     18     19      9      4     20      19       2      34
2023-01-04 17:00:00      5      8     23     15     10     12      7      2     23      27      13      57
2023-01-04 21:00:00      4     16     16      9      8     16     15      3     21      22      16      72
2023-01-05 01:00:00     10     18     18     16     10     19     15      4     22      30       9      31
2023-01-05 05:00:00      2      3      3      5      1      2      3      0      0       2       0       8
2023-01-05 09:00:00      1      0      0      3      1      0      3      0      2       7       3      34
2023-01-05 13:00:00      4     25     21     18     12      9     10      7     17      14       6      28
2023-01-05 17:00:00      6     18     17      7      7      9     10      4     25      18      14      51
2023-01-05 21:00:00      3     14     21     14     12      7      9      3     19      28      14      68
2023-01-06 01:00:00      9     17     26     10      5     16     22      2     10      10       9      22
2023-01-06 05:00:00      3      5      0      4      2      0      1      1      1       1       0       0
2023-01-06 09:00:00      0      1      1      1      4      2      1      1      2       7       4      36
2023-01-06 13:00:00      9     28     27     11     12      4     10      5     15      15      10      33
2023-01-06 17:00:00      7     20     21     12      5      8     11      1     17      22       9      49
2023-01-06 21:00:00     10     12     15      7     11      8     15      1     14      25      11      46
2023-01-31 01:00:00      8      9     19     10     12     19     11      4     22      20      15      24
2023-01-31 05:00:00      1     11      5      2      3      5      0      0      3       0       1       1
2023-01-31 09:00:00      0      1      2      0      2      4      4      1      5       5       3      20
2023-01-31 13:00:00      6     26     24     13     11     10     10      8     19      12      15      35
2023-01-31 17:00:00      5     21     16     16     10      8      7      2     20      18       8      54

In [63]:
# Convert pred_bins_df into a 3-column DataFrame with count_pred
pred_bins_melted = pred_bins_df.reset_index().melt(
    id_vars='index', 
    var_name='Bin', 
    value_name='count_pred'
)
pred_bins_melted.rename(columns={'index': 'Time'}, inplace=True)

# Convert Bin column to integers (remove "Bin " prefix)
pred_bins_melted['Bin'] = pred_bins_melted['Bin'].str.extract(r'(\d+)').astype(int)

# Display the result
display(pred_bins_melted)

                    Time  Bin  count_pred
0    2022-09-25 01:00:00    1           6
1    2022-09-25 05:00:00    1           0
2    2022-09-25 09:00:00    1           0
3    2022-09-25 13:00:00    1           4
4    2022-09-25 17:00:00    1           8
...                  ...  ...         ...
6187 2023-08-18 05:00:00   12           2
6188 2023-08-18 09:00:00   12          19
6189 2023-08-18 13:00:00   12          39
6190 2023-08-18 17:00:00   12          57
6191 2023-08-18 21:00:00   12          46

[6192 rows x 3 columns]

### Now we need to calculate the bins for join this information back to the original submission csv

In [65]:
import pandas as pd


final_sub_path = '/projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata/finalSub.csv'

# Load the DataFrame from the saved CSV file
sub_df = pd.read_csv(final_sub_path)

# Display the loaded DataFrame
print("Loaded DataFrame:")
display(sub_df)

Loaded DataFrame:

                         ID  Value airport_code             datetime  minutes_past  bin
0       KDEN_220925_0100_15     99         KDEN  2022-09-25 01:00:00            15    1
1       KDEN_220925_0100_30     99         KDEN  2022-09-25 01:00:00            30    2
2       KDEN_220925_0100_45     99         KDEN  2022-09-25 01:00:00            45    3
3       KDEN_220925_0100_60     99         KDEN  2022-09-25 01:00:00            60    4
4       KDEN_220925_0100_75     99         KDEN  2022-09-25 01:00:00            75    5
...                     ...    ...          ...                  ...           ...  ...
61915  KJFK_230818_2100_120      6         KJFK  2023-08-18 21:00:00           120    8
61916  KJFK_230818_2100_135     23         KJFK  2023-08-18 21:00:00           135    9
61917  KJFK_230818_2100_150     14         KJFK  2023-08-18 21:00:00           150   10
61918  KJFK_230818_2100_165      6         KJFK  2023-08-18 21:00:00           165   11
61919  KJFK_230818_2100_180     19         KJFK  2023-08-18 21:00:00           180   12

[61920 rows x 6 columns]

In [72]:
sub_df_filtered = sub_df[sub_df['airport_code'] == ACODE].copy()

# Display the filtered DataFrame
print(f"Filtered DataFrame (only {ACODE} airport code):")
display(sub_df_filtered)

Filtered DataFrame (only KATL airport code):

                         ID  Value airport_code             datetime  minutes_past  bin
43344   KATL_220925_0100_15     99         KATL  2022-09-25 01:00:00            15    1
43345   KATL_220925_0100_30     99         KATL  2022-09-25 01:00:00            30    2
43346   KATL_220925_0100_45     99         KATL  2022-09-25 01:00:00            45    3
43347   KATL_220925_0100_60     99         KATL  2022-09-25 01:00:00            60    4
43348   KATL_220925_0100_75     99         KATL  2022-09-25 01:00:00            75    5
...                     ...    ...          ...                  ...           ...  ...
49531  KATL_230818_2100_120     99         KATL  2023-08-18 21:00:00           120    8
49532  KATL_230818_2100_135     99         KATL  2023-08-18 21:00:00           135    9
49533  KATL_230818_2100_150     99         KATL  2023-08-18 21:00:00           150   10
49534  KATL_230818_2100_165     99         KATL  2023-08-18 21:00:00           165   11
49535  KATL_230818_2100_180     99         KATL  2023-08-18 21:00:00           180   12

[6192 rows x 6 columns]

In [76]:
sub_df_filtered.dtypes

ID                      object
Value                    int64
airport_code            object
datetime        datetime64[ns]
minutes_past             int64
bin                      int64
dtype: object

In [77]:
# Convert both 'date_time' and 'time' columns to datetime format if they are not already
sub_df_filtered['datetime'] = pd.to_datetime(sub_df_filtered['datetime'])
pred_bins_melted['Time'] = pd.to_datetime(pred_bins_melted['Time'])

# Merge pred_bins_melted with sub_df_filtered on 'date_time' and 'bin' columns
tempy5 = sub_df_filtered.merge(pred_bins_melted[['Time', 'Bin', 'count_pred']], 
                                  left_on=['datetime', 'bin'], 
                                  right_on=['Time', 'Bin'], 
                                  how='left')

# Now, update the 'value' column with the 'count_pred' values
tempy5['Value'] = tempy5['count_pred']

# Drop the extra columns (like 'Time' and 'count_pred') that were added during the merge
#tempy5 = tempy5.drop(columns=['Time', 'count_pred'])

# Display the updated DataFrame
print(tempy5.dtypes)
display(tempy5)

ID                      object
Value                    int64
airport_code            object
datetime        datetime64[ns]
minutes_past             int64
bin                      int64
Time            datetime64[ns]
Bin                      int64
count_pred               int64
dtype: object

                        ID  Value airport_code            datetime  minutes_past  bin                Time  Bin  count_pred
0      KATL_220925_0100_15      6         KATL 2022-09-25 01:00:00            15    1 2022-09-25 01:00:00    1           6
1      KATL_220925_0100_30     14         KATL 2022-09-25 01:00:00            30    2 2022-09-25 01:00:00    2          14
2      KATL_220925_0100_45      9         KATL 2022-09-25 01:00:00            45    3 2022-09-25 01:00:00    3           9
3      KATL_220925_0100_60      1         KATL 2022-09-25 01:00:00            60    4 2022-09-25 01:00:00    4           1
4      KATL_220925_0100_75      4         KATL 2022-09-25 01:00:00            75    5 2022-09-25 01:00:00    5           4
...                    ...    ...          ...                 ...           ...  ...                 ...  ...         ...
6187  KATL_230818_2100_120      6         KATL 2023-08-18 21:00:00           120    8 2023-08-18 21:00:00    8           6
6188  KATL_230818_2100_135     26         KATL 2023-08-18 21:00:00           135    9 2023-08-18 21:00:00    9          26
6189  KATL_230818_2100_150     35         KATL 2023-08-18 21:00:00           150   10 2023-08-18 21:00:00   10          35
6190  KATL_230818_2100_165      9         KATL 2023-08-18 21:00:00           165   11 2023-08-18 21:00:00   11           9
6191  KATL_230818_2100_180     46         KATL 2023-08-18 21:00:00           180   12 2023-08-18 21:00:00   12          46

[6192 rows x 9 columns]

In [78]:
# Merge the DataFrames
final_df = sub_df.merge(tempy5[['ID', 'Value']], on='ID', how='left', suffixes=('', '_temp'))

# Fill NaN values in 'Value_temp' with the original 'Value' from sub_df
final_df['Value'] = final_df['Value_temp'].fillna(final_df['Value'])

# Drop the temporary 'Value_temp' column
final_df = final_df.drop(columns=['Value_temp'])

# Convert the 'Value' column to int64 (after filling NaN)
final_df['Value'] = final_df['Value'].astype('int64')

# Display the final DataFrame
display(final_df)

                         ID  Value airport_code             datetime  minutes_past  bin
0       KDEN_220925_0100_15     99         KDEN  2022-09-25 01:00:00            15    1
1       KDEN_220925_0100_30     99         KDEN  2022-09-25 01:00:00            30    2
2       KDEN_220925_0100_45     99         KDEN  2022-09-25 01:00:00            45    3
3       KDEN_220925_0100_60     99         KDEN  2022-09-25 01:00:00            60    4
4       KDEN_220925_0100_75     99         KDEN  2022-09-25 01:00:00            75    5
...                     ...    ...          ...                  ...           ...  ...
61915  KJFK_230818_2100_120      6         KJFK  2023-08-18 21:00:00           120    8
61916  KJFK_230818_2100_135     23         KJFK  2023-08-18 21:00:00           135    9
61917  KJFK_230818_2100_150     14         KJFK  2023-08-18 21:00:00           150   10
61918  KJFK_230818_2100_165      6         KJFK  2023-08-18 21:00:00           165   11
61919  KJFK_230818_2100_180     19         KJFK  2023-08-18 21:00:00           180   12

[61920 rows x 6 columns]

In [80]:
file_path = '/projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata/finalSub.csv'

# Write the DataFrame to a CSV file
final_df.to_csv(file_path, index=False)

print(f"DataFrame saved to {file_path}")

DataFrame saved to /projectnb/cs640grp/projects/noahark/523Proj/notebooks/tempdata/finalSub.csv

In [81]:

loaded_df = pd.read_csv(file_path)

# Display the loaded DataFrame
display(loaded_df)

                         ID  Value airport_code             datetime  minutes_past  bin
0       KDEN_220925_0100_15     99         KDEN  2022-09-25 01:00:00            15    1
1       KDEN_220925_0100_30     99         KDEN  2022-09-25 01:00:00            30    2
2       KDEN_220925_0100_45     99         KDEN  2022-09-25 01:00:00            45    3
3       KDEN_220925_0100_60     99         KDEN  2022-09-25 01:00:00            60    4
4       KDEN_220925_0100_75     99         KDEN  2022-09-25 01:00:00            75    5
...                     ...    ...          ...                  ...           ...  ...
61915  KJFK_230818_2100_120      6         KJFK  2023-08-18 21:00:00           120    8
61916  KJFK_230818_2100_135     23         KJFK  2023-08-18 21:00:00           135    9
61917  KJFK_230818_2100_150     14         KJFK  2023-08-18 21:00:00           150   10
61918  KJFK_230818_2100_165      6         KJFK  2023-08-18 21:00:00           165   11
61919  KJFK_230818_2100_180     19         KJFK  2023-08-18 21:00:00           180   12

[61920 rows x 6 columns]