# In this we will look at the submission csv

In [3]:
import pandas as pd

# Specify the file path to your CSV file
file_path = 'submission_format.csv'

# Read the CSV file into a DataFrame
sub_df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print(len(sub_df))
print(sub_df.head(20))

61920
                      ID  Value
0    KDEN_220925_0100_15     99
1    KDEN_220925_0100_30     99
2    KDEN_220925_0100_45     99
3    KDEN_220925_0100_60     99
4    KDEN_220925_0100_75     99
5    KDEN_220925_0100_90     99
6   KDEN_220925_0100_105     99
7   KDEN_220925_0100_120     99
8   KDEN_220925_0100_135     99
9   KDEN_220925_0100_150     99
10  KDEN_220925_0100_165     99
11  KDEN_220925_0100_180     99
12   KDEN_220925_0500_15     99
13   KDEN_220925_0500_30     99
14   KDEN_220925_0500_45     99
15   KDEN_220925_0500_60     99
16   KDEN_220925_0500_75     99
17   KDEN_220925_0500_90     99
18  KDEN_220925_0500_105     99
19  KDEN_220925_0500_120     99

In [18]:
import pandas as pd
from datetime import datetime


# Create a DataFrame
df = sub_df

# Extract airport code (first 4 characters before the underscore)
df['airport_code'] = df['ID'].str.extract(r'(^[A-Z]{4})')

# Extract date-time from the string
def parse_datetime(datetime_str):
    # Split by underscore and extract the date and time
    parts = datetime_str.split('_')
    date_str, time_str = parts[1], parts[2]  # Extract date and time

    # Convert to proper datetime format
    try:
        return datetime.strptime(date_str + time_str, '%y%m%d%H%M')
    except ValueError:
        # Return None if the datetime format doesn't match
        return None

# Apply the parsing function to create the datetime column
df['datetime'] = df['ID'].apply(parse_datetime)

# Display the resulting DataFrame
display(df.head())

                    ID  Value airport_code            datetime
0  KDEN_220925_0100_15     99         KDEN 2022-09-25 01:00:00
1  KDEN_220925_0100_30     99         KDEN 2022-09-25 01:00:00
2  KDEN_220925_0100_45     99         KDEN 2022-09-25 01:00:00
3  KDEN_220925_0100_60     99         KDEN 2022-09-25 01:00:00
4  KDEN_220925_0100_75     99         KDEN 2022-09-25 01:00:00