# In this we will look at the submission csv

In [15]:
import pandas as pd

# Specify the file path to your CSV file
file_path = 'submission_format.csv'

# Read the CSV file into a DataFrame
sub_df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print(sub_df.head())

                    ID  Value
0  KDEN_220925_0100_15     99
1  KDEN_220925_0100_30     99
2  KDEN_220925_0100_45     99
3  KDEN_220925_0100_60     99
4  KDEN_220925_0100_75     99

In [18]:
import pandas as pd
from datetime import datetime


# Create a DataFrame
df = sub_df

# Extract airport code (first 4 characters before the underscore)
df['airport_code'] = df['ID'].str.extract(r'(^[A-Z]{4})')

# Extract date-time from the string
def parse_datetime(datetime_str):
    # Split by underscore and extract the date and time
    parts = datetime_str.split('_')
    date_str, time_str = parts[1], parts[2]  # Extract date and time

    # Convert to proper datetime format
    try:
        return datetime.strptime(date_str + time_str, '%y%m%d%H%M')
    except ValueError:
        # Return None if the datetime format doesn't match
        return None

# Apply the parsing function to create the datetime column
df['datetime'] = df['ID'].apply(parse_datetime)

# Display the resulting DataFrame
display(df.head())

                    ID  Value airport_code            datetime
0  KDEN_220925_0100_15     99         KDEN 2022-09-25 01:00:00
1  KDEN_220925_0100_30     99         KDEN 2022-09-25 01:00:00
2  KDEN_220925_0100_45     99         KDEN 2022-09-25 01:00:00
3  KDEN_220925_0100_60     99         KDEN 2022-09-25 01:00:00
4  KDEN_220925_0100_75     99         KDEN 2022-09-25 01:00:00

In [19]:
df_sample = df.sample(n=100)

# Display the result
display(df_sample)

                         ID  Value airport_code            datetime
1900    KDEN_230103_0900_75     99         KDEN 2023-01-03 09:00:00
51732   KMIA_230131_1300_15     99         KMIA 2023-01-31 13:00:00
31027  KPHX_220925_2100_120     99         KPHX 2022-09-25 21:00:00
35690   KPHX_230611_1700_45     99         KPHX 2023-06-11 17:00:00
21007  KSEA_230203_1700_120     99         KSEA 2023-02-03 17:00:00
...                     ...    ...          ...                 ...
56857   KJFK_221129_1700_30     99         KJFK 2022-11-29 17:00:00
41060  KCLT_230507_0500_135     99         KCLT 2023-05-07 05:00:00
13288   KORD_221102_1300_75     99         KORD 2022-11-02 13:00:00
33009  KPHX_230105_0900_150     99         KPHX 2023-01-05 09:00:00
55448  KMIA_230815_0100_135     99         KMIA 2023-08-15 01:00:00

[100 rows x 4 columns]